[2020-10-19 05:29] Tritpi opened #1215 "Can there be two different circuitbreakers (resilience4j) in the same application"
Resilience4j version:1.5.0

Java version:1.8

Can we have two different circuitbreakers in the same application. One circuit breaker is setup using annotation and the config settings are given through the application.properties file. The other circuit breaker is created using functional programming from cricuitbreaker registry. When we test for both the circuitbreakers it doesnt seem to be working

[2020-10-19 05:33] Tritpi commented on #1215
Also, for the circuitbreaker that has been created the functional way using circuitBreakerRegistry the circuitbreaker events are not getting recorded in the actuator endpoint. Please confirm if this is expected.

[2020-10-19 06:22] RobWin commented on #1215
Hi,
what you describe should be possible. Could you describe what you mean by: "it doesn't seem to be working"?
What exactly is not wroking? Did you create your own CircuitBreakerRegistry (which you shouldn't do), or do you inject the auto-created CircuitBreakerRegistry into you class?

[2020-10-19 06:51] RobWin commented on #1214
Hi, thank you.
I'm not sure whether throwing an `IllegalArgumentException` or `IllegalStateException` is correct.
Neither an illegal argument is used nor an illegal state is produced.
The method `waitDurationInOpenState` is rather a simplification (and predecessor) of `waitIntervalFunctionInOpenState`.
We should adjust the JavaDoc that both methods shouldn't be used at the same time
and we can add

[2020-10-19 07:09] #1212 closed

[2020-10-19 07:15] RobWin commented on #1211
You are missing different versions of Resilience4j. You should exlude the older Resilience4j version which are coming from `spring-cloud-dependencies`.

[2020-10-19 07:18] #1205 closed

[2020-10-19 07:19] RobWin commented on #1194
The Singleton should return an instance of `CircuitBreakerRegistry`, not the concrete implementation.

[2020-10-19 07:19] #1194 closed

[2020-10-19 07:20] RobWin commented on #1186
Did it help?

[2020-10-19 07:44] Tritpi commented on #1215
There is one circuitbreaker implemented using @CircuitBreaker and the config settings for this are mentioned in the properties file. This works when tested. Now I add one more circuitbreaker implementation created as below:

 CircuitBreakerRegistry cbr = CircuitBreakerRegistry.ofDefaults();
cbr.addConfiguration(CB_CONFIG_NAME, cbc); -- where cbc is the CircuitBreakerConfig

This also works when te

[2020-10-19 07:54] RobWin commented on #1215
Yes, as I said. You are not allowed to create your own CircuitBreakerRegistry.
You can just configure the second CircuitBreaker instance in the properties file as well and then inject / autowire the auto-created CircuitBreakerRegistry into your class.

[2020-10-19 08:16] Tritpi commented on #1215
The CircuitBreakerRegistry, circuitBreaker and circuitBreakerConfig are being created as Beans in the Configuration class using auto configuration and thus these Beans are available in the application context, which is further used in our implementation.
As mentioned above if this is not allowed,will simply autowiring the CircuitBreakerRegistry to the Configuration class  be enough.

[2020-10-19 08:17] Tritpi commented on #1215
Please share any example if available

[2020-10-19 08:18] RobWin commented on #1215
There is no need to create your own AutoConfiguration.
Just use our Spring Boot 2 starter. Have a look at the Spring Boot Demo -> https://github.com/resilience4j/resilience4j-spring-boot2-demo

[2020-10-19 08:40] likhoman commented on #1214
Hi  @RobWin .
Thanks a lot for the quick response!
I agree that `IllegalArgumentException` and `IllegalStateException` is not correct. Maybe want a specific type of error like `ConfigException` or something  similar?
Where do you want to add verification? When calling a method that sets a property, or when calling an assembly method?
Can I develop this algorithm, or don't you need my help? If you

[2020-10-19 08:42] RobWin commented on #1214
I think validation/verification should happen when the `build()` method is invoked.

Yes, your help is much appreciated.

[2020-10-19 18:57] dilipsundarraj1 opened #1220 "Suspending Function in the FallBack call"
Resilience4j version: 1.6.1

Kotlin: 1.3.72

I would like decorate a Kotlin Coroutine code with a FallBack which is also a suspending function. I looked in to the website but there are no examples provided in the website.

The `helloWorld_withRecovery` function is the one which I would like to decorate with a fallback. I have provided the same code below.

But I am not sure this is the right way t

[2020-10-20 05:46] #1203 closed

[2020-10-20 06:14] #1186 closed

[2020-10-20 17:35] laksnv opened #1221 "RateLimiter Question/Enhancement: Reduce memory footprint of high cardinality keys"
I'd like to rate limit access to an operation that's relatively expensive. My intention is to prevent some customers from over-utilizing my application since that could potentially result in degraded performance for other customers (multi-tenant application).

My application creates a wide key space for each of my customer; about 100 keys on average. I'd like to rate limit on these customer keys r

[2020-10-21 07:09] RobWin commented on #1221
Hi,
simplest solution is to override the RegistryStore. Please see:
https://resilience4j.readme.io/docs/examples-4#override-the-registrystore

[code]

You can use any Cache implementation to implement the `RegistryStore` interface.

[2020-10-21 07:11] RobWin commented on #1221
What we could do is provide a default implementation based on [caffeine](https://github.com/ben-manes/caffeine).

[2020-10-21 07:26] RobWin commented on #1220
Isn't that a Kotlin-related question? Not sure how this is related to Resilience4j?

[2020-10-21 11:19] laksnv commented on #1221
Thanks for getting back! Yes, that is exactly what I had in mind. I did the same thing when I integrated with circuit breaker (pre-RegistryStore).

[2020-10-21 13:40] mkopylec commented on #384
@albertllousas Any progress on this? I'd love to see it finally done :)

[2020-10-21 17:03] HarshitaYeole1 commented on #958
Hi @RobWin , I am getting an error Failed to bind properties.

[code]

This is my yml configuration :
[code]

[2020-10-21 19:11] shapan1 opened #1223 "unable to use the @CircuitBreaker annotation"
Resilience4j version: 1.6.1

Java version: 15

I have added dependencies for resilience4j in my gradle build as follows:

    compile("io.github.resilience4j:resilience4j-all:${resilience4jVersion}")
    compile("io.github.resilience4j:resilience4j-reactor:${resilience4jVersion}")

However, I am unable to use to the `@CircuitBreaker` annotation
Error being `Cannot resolve symbol 'CircuitBreaker'`

[2020-10-21 19:14] shapan1 commented on #1223
NVM, IntelliJ issue! had to restart and reload all gradle projects.

[2020-10-21 19:14] #1223 closed

[2020-10-22 03:19] laksnv commented on #1221
Hi Rob, would you like me to create a PR or is someone already working on this?

[2020-10-22 04:54] RobWin commented on #1221
You could create a PR. But it should be a new module.

[2020-10-22 11:54] Tritpi commented on #1215
After removing the circuitBreakerRegistry that was being created manually, and reading the CircuitBreakerRegistry from ApplicationContext it worked. But now the issue is that when both the circuits open, the fallback of the CircuitBreaker implemented through annotation is overriding the fallback behavior of the CircuitBreaker which is implemented using functional programming.

The circuitBreaker i

[2020-10-22 12:00] Tritpi commented on #1215
Also when both the circuitbreakers are enabled, and if only one circuit is open and the other one still closed, the NOT_PERMITTED of one circuitbreaker is being recorded as ERROR for the other circuitbreaker. Is this expected?

[2020-10-22 12:24] RobWin commented on #1215
Sounds like a simple problem when you don't use annotations at all, but simple functional programming (and try/catch).
By default any exception is recorded as an ERROR, but you can configure it. You can add any exception to the list of ignored exceptions so that they neither count as an ERROR or SUCCESS.

[2020-10-22 12:33] asarkar opened #1224 "Cool off period"
I’ve a use case where the provider wants us to throttle the calls not by some fixed rate/second, but by individual user ids. In other words, a user must wait for a period x before making a call again. So it’s more like a cool off period than the usual rate limiting.

One obvious way to approach this problem is to create a rate limiter per user. But there will be many such limiters, and very short

[2020-10-22 13:56] RobWin commented on #1224
I think your issue is related to -> https://github.com/resilience4j/resilience4j/issues/1221

[2020-10-22 14:24] laksnv commented on #1221
My initial thought was to implement a Caffeine backed registry store in `resilience4j-cache` module, which users can use to build their RateLimiterRegistry.

Are you concerned about adding Caffeine as a dependency in `resilience4j-cache` module?

[2020-10-22 14:55] RobWin commented on #1221
Yes, the purpose of resilience4j-cache is a different one and just have a dependency to JCache, but no implementation of JCache.

If you can make a CacheRegistryStore which only uses Jcache. That would be fine. Users could then use any Jcache compliment implementation.

[2020-10-23 01:51] asarkar commented on #1221
@laksnv I've a similar requirement (https://github.com/resilience4j/resilience4j/issues/1224) to limit based on keys, and was referred to this ticket. I'm new to resilience4j, and it's not clear to me how a `CacheRegistryStore` would solve this problem, or why's it even needed. Do you want the user to wait for a period x before making a call again, or do you want to limit a user to making not more

[2020-10-23 05:52] RobWin commented on #1221
If you need many short-lived RateLimiter instances, e.g. a RateLimiter instance per customer session, or even multiple RateLimiter instances per customer session, they have to be cleaned-up in the RateLimiterRegistry --> Cache Eviction

The default RateLimiterRegistry uses a ConcurrentHashMap to store instances, therefore instances are never evicted.
We plan to provide a RegistryStore which is bas

[2020-10-23 06:13] RobWin commented on #958
Please update to Resilience4j 1.6.1 and use

[code]

`contextPropagator` was deprecated and renamed to `contextPropagators`

[2020-10-23 06:42] asarkar commented on #1221
@RobWin I see, so the idea is to use many rate limiters (presumably one per user), but have them “garbage collected”, if you may, after expiration. Now it makes sense to me.

[2020-10-23 06:43] RobWin commented on #1221
Yes, exactly

[2020-10-23 06:50] RobWin commented on #384
Unfortunately the PR is not in progress anymore.

[2020-10-23 22:47] laksnv commented on #1221
The specifications of `JCache` cannot be easily mapped to the contract of `RegistryStore` without introducing additional complexity in `CacheRegistryStore` (thread safety), making it unattractive for wider use.

1. `JCache` implementations don't necessarily need to support `E computeIfAbsent(String key, Function<? super String, ? extends E> mappingFunction)`.
2. Contract of `JCache`'s `putIfAbsent

[2020-10-23 23:23] asarkar commented on #1221
Hi @laksnv
I'm not a contributor but as a user interested in this feature, following are my thoughts:

What exactly is different? The method signatures match, and there's nothing in the [RegistryStore Javadoc](https://javadoc.io/doc/io.github.resilience4j/resilience4j-core/latest/io/github/resilience4j/core/RegistryStore.html) at all about a contract vs [JCache Javadoc](https://javadoc.io/doc/java

[2020-10-24 06:39] RobWin commented on #1221
OK, sounds fine to me. Thanks for checking.

[2020-10-24 15:46] laksnv commented on #1221
Hi @asarkar, Thanks for the feedback.

That would be a backward incompatible change, breaking existing consumers of this library. `JCache.putIfAbsent` returns a boolean, while `RegistryStore.putIfAbsent` is expected to return the original value at the time of update.

If a class implements `RegistryStore` interface, it must support all the operations of its interface.

Having said that, I just rea

[2020-10-24 20:32] patpatpat123 opened #1226 "Enhancement request - properties in application.properties format alongside application.yml"
Resilience4j version: 1.6.1

Java version: 11

This is just an enhancement request.
Is it possible to have alongside the very good application.yml found in https://resilience4j.readme.io/docs/getting-started-3 a application.properties version of it?

Just asking if this is possible, since not everyone uses .yml format.

Many thanks, and this project is really awesome.

[2020-10-24 20:35] patpatpat123 commented on #1226
![Uploading Screen Shot 2020-10-25 at 4.29.59 AM.png…]()

[2020-10-24 20:39] patpatpat123 opened #1227 "Warning - Endpoint ID 'stream-circuitbreaker-events' 'hystrix-stream-circuitbreaker-events' contains invalid characters, please migrate to a valid format."
Resilience4j version: 1.6.1

Java version: 11

I am currently using resilience4j-spring-boot2 1.6.1.
Also, using spring-boot-starter-actuator + spring-boot-starter-aop + resilience4j-micrometer +  resilience4j-reactor defaulted version with Spring boot 2.3.4 + Hoxton.SR8

On application startup, I face those two warning.

[code]

How to fix those two warning please?

Thank you

[2020-10-24 20:57] hexmind commented on #1227
Hi, it has been fixed in the following version. https://github.com/resilience4j/resilience4j/pull/1202

[2020-10-24 21:46] walec51 opened #1228 "RateLimiter.closePeriod - new method block any new permits for the given period"
There are situation when despite using a RateLimiter the underlining called service will say that you passed the maximum number of calls for a given period. For example an application that uses RateLimiter for its calls to a REST API can be restated and in consequence be not aware of the number previous calls done to that API. In this case despite having a properly defined RateLimiter config in ac

[2020-10-26 02:06] #1227 closed

[2020-10-26 08:55] RobWin commented on #1226
Sure, would you like to contribute it?

[2020-10-26 08:56] #949 closed

[2020-10-26 08:58] RobWin commented on #1226
Lists look as follows:

[code]

[2020-10-26 09:00] RobWin commented on #1224
Can I close it as a duplicate?

[2020-10-26 09:04] patpatpat123 commented on #1226
Yes, I would like to give this a try.

However, I am more user of this project than contributor. I can do a yml to .properties conversion and start a PR, and will be glad to do so.

The code to publish it to the website, next to the .yml, and the reviewing, and probably other sub tasks, those will probably need some help.

[2020-10-26 09:09] RobWin commented on #1226
Sure, you can just convert the yml to a .properties file and post it here and I copy it to the docs site.

[2020-10-26 09:10] RobWin commented on #1226
Seems Intellj has even a plugin -> https://plugins.jetbrains.com/plugin/13804-convert-yaml-and-properties-file

[2020-10-26 09:10] patpatpat123 commented on #1226
I was about to use this one yes :D

[2020-10-26 10:09] #1224 closed

[2020-10-26 10:18] patpatpat123 commented on #1226
A first draft @RobWin

[code]

I tried to put spaces for readability, you probably should take the decision on how to display it on the website, since it is more user facing.

As we lose the hierarchy with .properties, the display is quite important. But I think an alternative for people using .properties instead of .yml in the website can be helpful.

[2020-10-26 10:21] patpatpat123 commented on #1226
And here is the second part:

Maybe you can change it to something like:
You can also override the default configuration, define shared configurations and overwrite them in Spring Boot’s application.yml or application.properties config file.
For example:

[code]

I mean, just trying to help viewers that still uses .properties instead of .yml. Still some of them out there.

[2020-10-26 10:25] patpatpat123 commented on #1226
also, just a note, the plugin converts this

[code]

to

[code]
 and not [0][1]

Some quick Google search showed both are equivalent. You should probably chose between which one is the best to use, and have them consistent across the website, since it is user facing

[2020-10-26 10:27] RobWin commented on #1228
Hi,

what do you think about calling it the new method:

`rateLimiter.drainPermissions()`

The method acquires and returns all permits that are available. Like `reservePermission`, but without a "number of permits" parameter.

I wonder if we should allow to the user to configure a result handler (`Either<Throwable,T> result`) so that he can even change other config parameters dynamically, eg. by u

[2020-10-26 11:52] RobWin commented on #1226
Could you please add a final comment which includes all your findings in one config example.

[2020-10-26 12:08] patpatpat123 commented on #1226
That was all I had to say. You want my three previous post in one "super combined comment"?

[2020-10-26 12:13] RobWin commented on #1226
Yes ;)

[2020-10-26 12:28] patpatpat123 commented on #1226
Configuration

You can configure your CircuitBreaker, Retry, RateLimiter, Bulkhead, Thread pool bulkhead and TimeLimiter instances in Spring Boot’s application.yml or application.properties config file.
For example

resilience4j.bulkhead.instances.backendA.maxConcurrentCalls=10

resilience4j.bulkhead.instances.backendB.maxWaitDuration=10ms
resilience4j.bulkhead.instances.backendB.maxConcurrentCall

[2020-10-26 13:01] RobWin commented on #1226
Thx

[2020-10-26 13:06] #1226 closed

[2020-10-27 08:24] RobWin commented on #1214
merged.
Thank you very much

[2020-10-27 08:24] #1214 closed

[2020-10-27 09:05] #1211 closed

[2020-10-27 09:18] RobWin commented on #1100
You can use `resilience4j-spring`. It provides a lot of @Configuration classes for you.

You need to import the Configuration classes:

`@Import({ CircuitBreakerConfiguration.class, RetryConfiguration.class, TimeLimiterConfiguration, BulkheadConfiguration }`

I think, you have to create a @Bean which uses your external configuration properties file and fills and returns `CircuitBreakerConfiguratio

[2020-10-27 09:26] likhoman commented on #1214
@RobWin thanks for giving the opportunity to make a commit

[2020-10-27 09:28] RobWin commented on #1214
Contributions are welcome ;)

[2020-10-27 09:34] RobWin commented on #384
@mkopylec Would you like to complete this PR?

[2020-10-27 11:52] RobWin commented on #1221
Thank you for this PR

[2020-10-27 11:52] #1221 closed

[2020-10-27 12:08] RobWin commented on #1221
[code]

[2020-10-27 12:09] RobWin commented on #1221
I think we need another PR to fix `CircuitBreakerRegistry.custom().withRegistryStore`, because the generic type is missing.

[2020-10-27 12:10] laksnv commented on #1221
I'll take a look now

[2020-10-27 12:11] RobWin commented on #1221
Instead of

`private RegistryStore registryStore;`

it should be

`private RegistryStore<CircuitBreaker> registryStore;`

[2020-10-27 19:48] laksnv commented on #1221
Hi Rob, do you have an approx. ETA for the next release?

[2020-10-28 21:40] walec51 commented on #1228
ok, I'll use `drainPermissions` and `drainPermissionsOnResult`

[2020-10-29 12:15] #1220 closed

[2020-10-29 12:16] #1116 closed

[2020-10-29 12:16] #909 closed

[2020-10-29 12:22] RobWin commented on #755
Duplicate of https://github.com/resilience4j/resilience4j/issues/1228

[2020-10-29 12:22] #755 closed

[2020-10-29 12:24] #1149 closed

[2020-10-29 12:46] #1215 closed

[2020-10-29 12:48] #1041 closed

[2020-10-29 17:29] magnus-larsson opened #1233 "The Reactor based RetryOperator uses a deprecated method that is removed in Reactor 3.4.0 used by Spring Boot 2.4.0"
Resilience4j version: 1.6.1

Java version: 1.8

## Description of the error

When runnning the `resilience4j-spring-boot2-demo` - project using Spring Boot 2.4.0-M3 a lot of tests fails on:

[code]

Called from:

[code]

From what I can understand the RetryOperator - class calls a deprecated method: `Mono.retryWhen(Function<Flux<Throwable>, ? extends Publisher<?>> whenFactory)` that has been remov

[2020-10-30 08:50] RobWin commented on #384
I completed the PR. It's in review.
The PR adds a predicate to the CircuitBreakerConfig

[code]

We can't use generics, because the CircuitBreaker can potentially be used for different types of results.

[2020-10-30 10:32] #1100 closed

[2020-10-30 14:24] mkopylec commented on #384
Nice! Thanks

[2020-10-30 22:12] Nikolas-Charalambidis opened #1234 "Retry support for Feign clients"
Feign client is a very popular alternative to `RestTemplate` or newer REST-based clients.

As far as I see in the current guide website [Feign Guide for v1.6.1](https://resilience4j.readme.io/docs/feign), Resilience4j provides no support of the Retry module for Feign clients:

<sub>I have found no issue discussing or proposing this.</sub>

[2020-11-03 07:58] astubbs commented on #350
There are more scenarios I think where shared state rate limiting is a good option - for example where you don't control the target system and where your source system scales dynamically for other reasons. I've found this interesting: https://github.com/vladimir-bukhtoyarov/bucket4j/blob/master/doc-pages/jcache-usage.md

[2020-11-03 08:52] RobWin commented on #350
Yes, but this would require a complete revision (overhaul) of our metric calculation and storage components.
We are open for contributions for Resilience4j 2.0.

[2020-11-03 08:58] astubbs commented on #350
Haha yes ok understood, but that's not what was being pointed out previously. I'm just on the hunt for such a solution and came across all this stuff, so wanted to link them together for other people to also find :)

[2020-11-04 02:56] Nicqiang opened #1236 "a question about permittedNumberofCallsInHalfOpenstate"
Resilience4j version:
1.1.0

Java version:
jdk1.8

[code]

If all the previous requests fail, when the service is restored, CircuitBreaker will enter a half-open state, allowing 10 requests to pass. if all of them are successful. Will the CircuitBreaker enter the closed state at this time?
if the only refer failureRateThreshold, the  CircuitBreaker will enter the open state at this time.
how it wo

[2020-11-04 08:40] RobWin commented on #1236
Hi,

please have a look at the documentation: https://resilience4j.readme.io/docs/circuitbreaker#introduction

If you have further questions, please ask them here.

[2020-11-04 12:22] Nicqiang commented on #1236
i known this doc, but could not find more detail description

[2020-11-04 12:36] RobWin commented on #1236
The CircuitBreaker rejects calls with a CallNotPermittedException when it is OPEN. After a wait time duration has elapsed, the CircuitBreaker state changes from OPEN to HALF_OPEN and permits a configurable number of calls to see if the backend is still unavailable or has become available again. Further calls are rejected with a CallNotPermittedException, until all permitted calls have completed.
I

[2020-11-04 12:43] Romeh commented on #1234
@Nikolas-Charalambidis  yes it is supported via FeignDecorators , for example of usage please check the unit test here :

https://github.com/resilience4j/resilience4j/blob/9546fac42426e50517480507ec3ccae7ae268a49/resilience4j-feign/src/test/java/io/github/resilience4j/feign/Resilience4jFeignRetryTest.java

Resilience4jFeignRetryTest class has unit testing examples about the usage of retry .

[2020-11-04 14:23] patpatpat123 opened #1237 "Global fallback method cannot be triggered if refactored onto a Utility class?"
Resilience4j version: 1.6.1

Java version: 11

Hello Resilience4j Team,

In the doc here: https://resilience4j.readme.io/docs/getting-started-3 It mentions: "You can define one global fallback method with an exception parameter only if multiple methods has the same return type and you want to define the same fallback method for them once and for all."

Via stack overflow question: an answer in ord

[2020-11-04 15:04] RobWin commented on #1237
No, that's not what I meant.
You need:

First class:
[code]

Second class
[code]

Utility class
[code]

[2020-11-04 18:04] Nikolas-Charalambidis commented on #1234
@Romeh Thanks for the reply and the sample. However, I am interested particularly in the annotations usage as long as I use Spring Boot, i.e. using `@Retry` as described at [Getting started with resilience4j-spring-boot2]( https://resilience4j.readme.io/docs/getting-started-3)

Does exist such support? If so, is an example of the usage available? Otherwise, is this feature planned?

[2020-11-04 19:47] wdroste opened #1238 "Feature: Provide configuration for RejectedExecutionHandler"
Resilience4j version:
1.6.1

Java version:
1.8.0_222

The FixedThreadPoolBulkhead has all the configuration for a thread pool except, the rejection handler and it defaults to abort and throws an exception when its full.. I'm trying to figure out how Resilience4j likes to handle this.. is there's a specific retry because it would indicate that this bulkhead could throw at anytime the buffer is full

[2020-11-04 21:40] patpatpat123 commented on #1237
Thank you @RobWin!

In my case, I would need to duplicate

[code]

In 20 classes, and avoiding unnecessary code duplication is a basic principle of software design.
May I ask if there is a "better" way to achieve this?

Either maybe an enhancement request on fallbackMethod, like some kind on fallbackMethodGlabal = "some.package.Util. monoFallback"

Or can you suggest a way to achieve this? If you

[2020-11-05 02:39] Nicqiang commented on #1236
I known CircuitBreaker state change. In this case,  slidingWindowSize is 500, permittedNumberOfCallsInHalfOpenState is 10. when backend server not available, the failure rate will quickly greater than the configured threshold, then the failure rate reach 100%. In this time, backend server available, CircuitBreaker state changes from OPEN to HALF_OPEN and permits 10 calls to backend server, all of

[2020-11-05 07:46] RobWin commented on #1237
No, there is no better way to achieve this right now.
But of course it would be possible to enhance it.

[2020-11-05 08:00] RobWin commented on #1238
Hi,

i'm not sure. The ThreadPoolExecutor does not throw a RejectedExecutionException anymore, if we don't use the default "AbortPolicy".
That means the ThreadPoolBulkhead does not throw a `BulkheadFullException` anymore.
Currently a client can catch the `BulkheadFullException` and run the `Callable` or `Supplier` in it's own thread as a fallback.

[2020-11-05 08:02] RobWin commented on #1236
No, the CircuitBreaker resets the failure rate when it transitions to HALF_OPEN. As soon as `permittedNumberOfCallsInHalfOpenState ` calls (10)  have been recorded, the failure rate is calculated. Which would be 0%, if the backend server is available again.

[2020-11-05 08:15] patpatpat123 commented on #1237
Understood @RobWin.
This is quite a drawback I am trying to weight pros and cons.
No worries at all.

May I ask, if the fallback method is not specified, is it possible to "rewrap" a method with a default let's say Resilience4JException, that the controller advice or exception handler can catch?

Something like: (no fallback specified)

[code]

and after all retry exhausted, would throw a default

[2020-11-05 08:49] Nicqiang commented on #1236
get,  thank you.

[2020-11-05 08:56] #1236 closed

[2020-11-05 09:22] RobWin commented on #1237
Retry rethrows the last catched exceptions thrown by your WebClient.
Retry doesn't and never will map exceptions. But you can add an exception mapper to your code.
See: https://stackoverflow.com/questions/64335573/handle-exception-after-reaching-max-attempts-in-resilience4j-retry-using-spring

[2020-11-05 09:24] RobWin commented on #1237
For WebClient please see: https://www.baeldung.com/spring-webflux-errors

[2020-11-05 09:30] RobWin commented on #1237
For WebClient please see: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/reactive/function/client/WebClient.ResponseSpec.html#onStatus-java.util.function.Predicate-java.util.function.Function-

[2020-11-05 23:08] wdroste commented on #1238
Here's the code, from the "FixedThreadPoolBulkhead":

`
        this.executorService = new ThreadPoolExecutor(config.getCoreThreadPoolSize(),
            config.getMaxThreadPoolSize(),
            config.getKeepAliveDuration().toMillis(), TimeUnit.MILLISECONDS,
            new ArrayBlockingQueue<>(config.getQueueCapacity()),
            new NamingThreadFactory(name));
`

Therefore the default hand

[2020-11-05 23:10] wdroste commented on #1238
[https://github.com/resilience4j/resilience4j/pull/1239](url)

[2020-11-05 23:21] wdroste commented on #1238
@RobWin ok, now I understand your comment, but I think **Exception** is a poor control for this and removes control from the consumer.. If I have to use Retry around it that's fine I understand but `Fallback`.. seems weird because what do you fallback to .. that's something i would expect out of CircuitBreaker not Bulkhead. Also I expect anything i use BulkHead on to have a timeout so the queue sh

[2020-11-06 07:36] RobWin commented on #1238
The purpose of the Bulkhead pattern is to limit the capacity a certain task is allowed to use from your overall system.
The Bulkhead pattern is not only about isolating thread pools.

Think of Little's law: `L = λ * W`

Where:

`L` – the average number of concurrent tasks in a queuing system

`λ` – the average number of tasks arriving at a queuing system per unit of time

`W` – the average service

[2020-11-06 07:48] RobWin commented on #1238
What about

[code]

It would try to run the task in a ThreadPoolBulkhead, but as a fallback run in your current Thread.

[2020-11-06 07:55] RobWin commented on #1238
But I'm still thinking about merging your PR, because it gives full flexibility to the user.

[2020-11-06 08:31] #384 closed

[2020-11-06 08:45] Romeh commented on #1234
@Nikolas-Charalambidis  you can find an example how to use spring annotation with feign client here as well :

https://github.com/resilience4j/resilience4j/blob/1f0e62ffffd651bd818ed3bbdf55369fea590b94/resilience4j-spring-boot2/src/test/java/io/github/resilience4j/service/test/retry/RetryDummyFeignClient.java

where the unit test for it in RetryAutoConfigurationTest  class

[2020-11-06 11:56] Nikolas-Charalambidis commented on #1234
That is what I was looking for! I wonder there is not the **retry** module mentioned at [Feign Guide for v1.6.1](https://resilience4j.readme.io/docs/feign) as the sample you provided looks like rather an experimental feature than the officially supported one.

Shall I suggest an edit in that page through https://dash.readme.io/?

[2020-11-06 11:59] RobWin commented on #1234
Yes please. You are right. The documentation is not up-to-date.

[2020-11-06 12:07] Nikolas-Charalambidis commented on #1234
@RobWin I'll take care after that. Sadly, such edit is not related to the GitHub repository, so I suggest labeling this issue with the purple `documentation update` or anything more appropriate and I would inform you all here and close this issue once the edit is done and merged. What do you think?

[2020-11-06 12:18] RobWin commented on #1234
Fine for me

[2020-11-06 15:53] wdroste commented on #1238
@RobWin I appreciate your time and attention on this and I understand the logic and the theory.

I think if they override the RejectionExecutionHandler, they are stating they want something different from the default behaviour of throwing an exception when its full. IMO they are saying I want to better control when or if that exception is fired. So basically they are opting in for when they want t

[2020-11-09 07:06] patpatpat123 commented on #1237
Hello @RobWin,

Many thanks for your answer.
Also, I do agree with your comment in StackOverflow: "I think mapping an exception to another exception is not a "fallback"."

However, I am not entirely sure if the current Resilience4J can allow:
- After the N retries has been exhausted, and only after the retries has been exhausted, if the third party API I am invoking is still returning an error, I

[2020-11-10 13:21] Tritpi opened #1241 "Is it possible to keep two circuitbreakers in the same application completely independent of each another"
Resilience4j version:1.5.0

Java version:1.8

There are two circuitbreaker implementations in the application and the requirement is to keep both independent of each another.

One circuitbreaker will act as a generic circuitbreaker and will open the circuit when the set configurations are exceeded. The other circuitbreaker is specifically set to open only when the redis cache goes down. In order t

[2020-11-10 13:33] RobWin commented on #1241
You could add `CallNotPermittedException` to the list of ignore exceptions to the generic CircuitBreaker.

[2020-11-10 14:09] Tritpi commented on #1241
Adding CallNotPermittedException to ignore exceptions of the generic circuitbreaker is still causing the same issue.

Specific circuitbreaker implementation:
-------------------------------------------
This will open when there is a call to a method annotated with @Cacheable annotation, and redis is down. With one call that fails to connect to redis the circuit opens. Retry has been enabled, so af

[2020-11-10 15:30] RobWin commented on #1241
I don't understand it :( What do you mean by "causes the method body to execute and return the result as the cache is down".

If the cache is down, how do you produce the result? Do you invoke a remote service or do you just crunch some numbers?

[2020-11-11 05:19] asthinasthi commented on #820
@FraneJelavic Do the threads cross the `maxPoolSize` that you allocate? They will not be killed unless you have implemented in a `try-with-resources` block

[2020-11-11 05:24] asthinasthi opened #1242 "Can we use timelimiter with Semaphore Bulkhead?"
Resilience4j version: 1.5.0

Java version: 11

I am trying to use a bulkhead with time limiter. Is this the correct way ? Does it have any effect in Semaphore bulkhead?
[code]

[2020-11-11 05:46] Tritpi commented on #1241
As the method is annotated with @Cacheable annotation,  when the api is called if the cache is down it will execute the method to return the result by connecting to the Redis DB. Sample snippet:
`@RequestMapping("/sample")
@Cacheable
public String testMethod(){
//logic to connect to db and return result
}
`
I want the generic circuitbreaker to be independent of the specific circuitbreaker, hence t

[2020-11-11 07:29] RobWin commented on #1242
Yes, that works.
But you could also use the ThreadPoolBulkhead as an alternative.

[2020-11-11 08:56] RobWin commented on #1241
I thought you are using Spring Cache backed by Redis. Which Cache provider do you use? A local cache or do you use the same Redis instance as a Cache Provider and database?

I assume you want achieve the following goal:
- Your application should be unaffected if the cache goes down
- You want to fail fast, if the cache is down. That means invoke the DB directly, if the cache is down.
- You want to

[2020-11-11 12:36] soham9 commented on #1074
Even I'm facing the same issue

[2020-11-11 15:42] RobWin commented on #1074
Did you set
`resilience4j.circuitbreaker.configs.default.register-health-indicator=true`

[2020-11-12 05:33] Tritpi commented on #1241
In the above scenario when the DB is not down, the dbAccessMethod will get called and return a response. Will this response not get recorded as a SUCCESS event in the Database circuitbreaker events.

[2020-11-12 07:28] RobWin commented on #1241
No, because the fallback is outside of the scope of the CircuitBreaker. The fallback mechanism is not a feature if a CircuitBreaker, but of the Spring Boot Aspect. A result or exception of a fallback method is not counted as a success or error.

It's like a try/catch.

The following is:

[code]

is comparable to:

[code]

[2020-11-13 08:46] springfan commented on #509
Can you guys give an example regarding the usage / has that been documented anywhere?

[2020-11-13 09:05] RobWin commented on #509
In Spring Boot:

[code]

[2020-11-13 10:13] springfan commented on #509
Thanks. I assume for instance specific tags it works similar?

[2020-11-13 15:21] springfan commented on #509
Is there a way to use the Spring boot annotations with a dynamic tag? I would like to add the user as tag to dinstinguish the metric calls by user.

[2020-11-14 19:51] storozhukBM commented on #1242
I think this question is answered; I'll close the issue.

[2020-11-14 19:51] #1242 closed

[2020-11-15 01:43] dlsrb6342 commented on #509
Not supported but it would be nice feature.
And if you would like more questions or suggestions, please do not write on closed issue and create new issue.

[2020-11-16 07:37] RobWin commented on #509
Hi, you should never use a user ID as a tag. If your system must scale to thousands of users, your metric system would be in trouble.
See Prometheus for example: https://prometheus.io/docs/practices/instrumentation/#do-not-overuse-labels

[2020-11-16 07:46] oscarcitoz opened #1244 "AtomicRateLimiter: nanotimestart is not independent instance"
Resilience4j version:
1.6.1
Java version:
1.8

When you instance more than one AtomicRateLimiter everyone AtomicRateLimiter has the nanoTimeStart equals, that is a error because nanoTimeStart is used for caclualted the time for an activate cycle then nanoTimeStart should inicialize when start first cycle the limiter (not before).

Pr link fix https://github.com/resilience4j/resilience4j/pull/1243

[2020-11-16 08:38] springfan commented on #509
Hi. Yes in my case the number of users would be very limited < 30. My initital thought was why should I setup a new metric when resilience4j already measures all the requests. But I think it's better to spin up a seperate metric for API/user calls that does not measure fault tolerance related behavior to limit the cardinality and isolate the use case.

[2020-11-17 17:15] #1238 closed

[2020-11-18 07:31] #1244 closed

[2020-11-18 07:32] #1241 closed

[2020-11-18 07:33] RobWin commented on #1237
Yes, Resilience4j can do that, but not if you use annotations, but Spring Reactor and our Reactor operators directly.

[2020-11-20 19:13] wschlichtig opened #1247 "SpringBoot2 retry prometheus endpoint not showing up"
Resilience4j version:
1.6.1
Java version:
1.8

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.2.4.RELEASE</version>
		<relativePath />
	</parent>

		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-actuator</artifactId>
		</dependency>
 		<dependency>
			<groupId>io.micrometer<

[2020-11-24 20:01] gwimmel commented on #1074
I have a similar / maybe the same problem (I use resilience4j 1.6.1, Spring Boot 2.2.4). I set
`resilience4j.circuitbreaker.configs.default.register-health-indicator=false`
(as in the example above), as I explicitly do not want to have circuitbreaker health indicators.

But then I get a health item `"circuitBreakers":{"status":"UNKNOWN"}`  on the health endpoint (which has an effect on the overall

[2020-11-24 21:29] alexygao opened #1249 "help needed, not able to run reactor retry example with latest version"
Resilience4j version: 1.6.1

Java version: 1.8

Hi I'm new to resilience4j, and I've been trying to run the example code from https://resilience4j.readme.io/docs/examples-1 but couldn't get it to work with the latest version. I have my code as

[code]

However, if I modify the `error()` method into the code below and use resilience4j version 1.2.0, it works. Though even with this modified code, no

[2020-11-26 01:21] erandacr opened #1250 "[HELP] Use resilience4j CB with async callback"
Resilience4j version: 1.6.1

Java version: 1.8

Hi, I'm trying to use resilience4j circuit breaker with a library that makes async callback. (this third party library does the downstream call)
I need to pass the callback when I invoke the execute in the library, the callback will be invoked-back upon success/failure. Is it possible to wrap this resilience4j CB?
I was thinking if there is a way to

[2020-11-26 08:27] erandacr commented on #1250
After digging into the code, found that I can use CB low-level APIs for this,
tryAcquirePermission, onError, onSuccess
I assume this is the correct way to go, please advise if there is any better alternative.

[2020-11-26 19:16] RobWin commented on #1250
Yes, that's fine. Just have a look at our CompletionStage decorator.

[2020-11-27 04:46] erandacr commented on #1250
sure, Thanks @RobWin

[2020-11-27 08:25] BVBlove9 commented on #667
if now the failureRateThreshold is 60% and the slowCallRateThreshold is 60%. window is 4. now we have 2 fail and 2 slowcall. so the current failureRate is 50% and current slowCallRate is 50%. so the circuitbreaker is still close.Is there a problem here?

[2020-11-27 08:36] RobWin commented on #667
No, because only 2 calls have been slow, but still successful and 2 calls failed, but not because of a timeout exception.

[2020-11-27 08:52] BVBlove9 commented on #667
But i still have some problems.The resilence4j set the default slowCallRateThreshhold value with 100%.Now suppose the window size is 100,and failureRateThreshoud is 50% . Now 99 slow events happens and one fail event happen.In this situation,circuitbreaker consider this service is all right just because it return a failure.

[2020-11-27 09:15] BVBlove9 commented on #667
In my opinon, if consider a fail as a slow call. Maybe can fix this problem.

[2020-11-29 08:52] kuldeepsingh99 opened #1252 "Circuit breaker with Annotation and with Spring Cloud gateway does not work the same way"
Circuit Breaker when used with annotation it works perfectly. After minimum no of call, circuit breaker opens

[code]

[code]

ms2WebClient will always throws exception, and after 5th call Circuit beaker will open, as per the configuration

But when the same configuration is used with Spring Cloud gateway, circuit breaker does not opens

[code]
Here Route **/ms2/get-data** will throw Exception, ev

[2020-11-30 07:33] #1250 closed

[2020-11-30 07:39] RobWin commented on #1252
Spring Cloud Gateway and resilience4j-spring-boot2 are not integrated by default.

The integration can be done as follows:

[code]

[2020-11-30 07:45] RobWin commented on #1249
Hi,

this method is not correct reactive code:

[code]

You are mixing imperative and reactive code.
Use `doOnNext`,  `doOnError` or `doOnEach` to log something.

[2020-11-30 08:39] kuldeepsingh99 commented on #1252
@RobWin I did the same, sorry forget to mention the same in initial Question

[code]
Even i tried this also, but no luck

[code]

[2020-12-01 08:43] Chr3is opened #1253 "How to modify/close the retried object if there's any"
We use resilience4j to retry requests to our backend. For example we want to retry the request if the response object contains a status 500 (jaxrs). However I haven't seen a solution to call .close() on the response object  before a new try is done. I'm missing an optional postAction-BiConsumer with the current attemptCount & the received object T (the response in this case) which can be registere

[2020-12-01 09:07] RobWin commented on #1253
Hi,
can't you automatically unmarshalls the response?

[code]

In that case the client framework converts any HTTP error code into an exception. JAX-RS 2.0 has added an exception hierarchy for various HTTP error conditions.

You can then then retry based on the exception which is thrown. In your case it should be an `InternalServerErrorException`.

[2020-12-01 14:21] Chr3is commented on #1253
This is not an option for us because we invoke for a response (retry until we receive a response object under the given conditions or after the last try) and then evaluate for example the headers. The post validation is not and should not be part of the retry mechanism. To free the connections we have to call .close() or bufferEntity(). A quick hack would be following:

[code]
but this is not clea

[2020-12-01 14:35] amoffet opened #1254 "Release date for 1.7.0?"
When will the next version be released?  We have been waiting for a bug fix that was implemented in 1.6.2. I don't want to seem impatient - as I appreciate the quality of the code base and the efforts of all of the contributors - I trust the judgement of the maintainers.  Just hoping to be able to plan.  Thanks!

[2020-12-01 14:38] RobWin commented on #1254
Almost all PRs have been merged. I'm waiting for a final PR for issue  https://github.com/resilience4j/resilience4j/issues/1228

[2020-12-01 14:38] RobWin commented on #1254
But we might release 1.7.0 earlier. I wait until Friday and then release it.

[2020-12-02 07:31] SidekickJohn commented on #905
@RobWin I'm trying to understand this, but I struggle with the following:

- I tried the @TimeLimiter-Annotation on a method simply returning an object/String/whatever --> I get an error that the TimeLimiter-Annotation needs a future return type --> fine with me

- on the other hand you mention, that the @TimeLimiter-Annotation cannot cancel running CompletableFutures and therefore doesn't work as

[2020-12-02 07:44] RobWin commented on #905
Hi @SidekickJohn

You can use a TimeLimiter to decorate a method which returns a `Future`.  A `future` can be canceled.
But unfortunately Futures are not yet supported via annotations/aspects, but only via the functional style.

[2020-12-02 08:08] SidekickJohn commented on #905
@RobWin thanks for clarifying.

Just to make sure I understood you correctly:
Doesnt't that actually mean that there is currently no way to make the `@TimeLimiter`-Annotation work? No matter what return-type I would choose, the annotation would not work --> correct?

[2020-12-02 08:10] RobWin commented on #905
No, TimeLimiter still throws a TimeoutException. See our Spring Boot 2 demo.
But TimeLimiter cannot cancel a CompletableFuture. Otherwise we would have to implement our own CompletableFuture, but that is too cumbersome to maintain.

[2020-12-02 08:18] SidekickJohn commented on #905
Ah alright, now I get it. Thank you.

The TimeoutException is thrown, but the CompletableFuture is still running.

In this case: would you expect a `@Retry`-Annotation which has the TimeoutException configured as a `retryException` to take action?

Example:
[code]

[2020-12-02 08:29] RobWin commented on #905
Yes, check out our demo:

https://github.com/resilience4j/resilience4j-spring-boot2-demo/blob/master/src/main/java/io/github/robwin/service/BackendAService.java#L141-L148

[2020-12-02 15:35] piyushmor commented on #1233
Since 2.4.0 is now GA, this can now be considered as a bug

[2020-12-02 22:18] li-darren opened #1256 "Help with implementing circuit breaker with Async API"
Hi,

Sorry if this is not the right place to comment, but I was taking a look at this below, and I'm not sure if it solves the problem I have. I also do not know how to mark this as a question.
https://github.com/resilience4j/resilience4j/issues/823

I have an async publishing API that I want to use a circuit breaker and retries with. I looked at some of the methods used with creating Thread Pools

[2020-12-02 22:30] wtango-d opened #1257 "@Retry not working"
Resilience4j version: 1.6.1

Java version: 1.8

I ran into issue with Retry, and tested on clone from https://github.com/resilience4j/resilience4j-spring-boot2-demo.git
The issue has been narrow down to following (based on above demo code):

1> Changes to produce my issue: @Retry is annotated on makeFailure function, makeFailure is called from failure function
2> Issue and behavior:
  a> controlle

[2020-12-02 23:39] wtango-d commented on #1257
Played around more, and seems this works: refactor the makeFailure into a different class. Why?
public class BackendAService implements Service {
@Autowrired
BackendAService2 s2
@override
//@Retry(name = BACKEND_A)
public String failure() {
return s2.makeFailure();
}
}
public class BackendAService2 {
@Retry(name = BACKEND_A)
public String makeFailure() {
throw new HttpServerErrorException(HttpStat

[2020-12-03 07:24] RobWin commented on #1257
Hi,
it's because of how Spring Proxies work. Proxies wrap your `Service` interface and therefore only calls from outside of the class.
If you call methods from inside the class, the Spring Proxies are bypassed.

[2020-12-03 07:25] #1257 closed

[2020-12-03 07:41] RobWin commented on #1256
Hi,
do you use any specific framework like Spring Boot?

I need more context, since there are different strategies. Do you control the method/function which returns a `CompletableFuture`?

You can either decorate the inner `Supplier` function:

[code]

Or you can run the retry attempts in a different thread asynchronously. But in that case you need a `ScheduledExecutorService` to schedule retry at

[2020-12-03 14:45] li-darren commented on #1256
Thanks for the reply. I am using Spring Boot. The API I am calling is a void method, so it is almost like a send it and forget it kind of thing, I'm not sure anything returns a completable future. It returns a callback though. I guess it doesn't hurt to just share, I am using an async Kafka producer.
I guess it may be possible to wrap the function like this to get a completable future?
https://git

[2020-12-03 15:24] RobWin commented on #1256
You should never do retry on application-level when using a Kafka producer. Please use the Kafka client options to retry.

[2020-12-03 15:26] li-darren commented on #1256
Would it not be good to utilize the circuit breaker?

[2020-12-03 15:29] RobWin commented on #1256
Yes, a CircuitBreaker makes sense. If you use  our Spring Boot2 starter, you can also use Annotations on class or method level, when your class is a bean

[2020-12-03 15:33] li-darren commented on #1256
Yep, so that is what I am trying to configure. So i'm wondering, how should I configure the circuit breaker in this case with an async api? It seems like all of the circuit breaker code decorators is for synchronous methods. Would you recommend manually calling acquirepermission() and the onSuccess(...) and onError(...) methods? Or is there some better way to do this?

[2020-12-03 15:35] RobWin commented on #1256
Thr annotations also work on methods which return a CompletableFuture. See your Spring Boot 2 demo

https://github.com/resilience4j/resilience4j-spring-boot2-demo/blob/master/src/main/java/io/github/robwin/service/BackendAService.java#L126

[2020-12-03 15:50] li-darren commented on #1256
Does it make sense to use another Thread pool to deal with sending messages to the API, when Kafka producer has it's own thread pool in it's implementation? In addition, how would resilience4j know whether the API call was successful or not? Does it call get on the completablefuture?

[2020-12-03 17:16] RobWin commented on #1256
No, I think another ThreadPool doesn't make sense, if you monitor your existing one.
If the CompletableFuture is completed successfully, the CB records as a success.
If the future is completed exceptionally, the CB checks the exception and based on your configuration either records the exception as a failure, as a success or ingores it.

[2020-12-03 17:24] nkmaroju08 opened #1258 "I have done coding for circuit breaker feature from resilience4j libraries, my requirement is full end to end testing, Our framework for acceptance tests is cucumber and Gherkin language, in that scenarios not working properly"
Resilience4j version:1.3.1

Java version:1.8

I am unable to write end to end acceptance tests fully, I am getting weird behaviour in my tests, It is half success only for me, unable to assert circuit breaker statuses in scenarios. if one has written ample acceptance tests, please share their examples which help us to focus on more feature implementations.

any samples links or examples that anyon

[2020-12-03 17:59] #1258 closed

[2020-12-04 02:30] earce opened #1260 "Release of 1.6.2"
Hi, wanted to get an idea of when this version may be cut? Been some time since 1.6.1?

Thanks again this is a great project!

[2020-12-04 03:03] nkmaroju08 opened #1261 "I getting issues when writing acceptance tests on circuit breaker statuses, my requirement is need end to end acceptance tests on this resilience4j libraries. My acceptance tests frame work uses Cucumber and Gherkin languages.."
Resilience4j version: 1.3.1

Java version:1.8

I am sorry to raise my issue in this place because I do not know whether it is right place for this. I getting issues when writing acceptance tests on circuit breaker statuses, my requirement is I need end to end acceptance tests on this resilience4j libraries. acceptance tests frame work which I am running uses Cucumber and Gherkin tools. if anyone a

[2020-12-04 05:26] BVBlove9 opened #1262 "why the slowFailCall didn't reset to 0 when get the last measurement?"
When refresh the sliding window,the resilience4j get the last measurement and set it to blank.It set the
        totalDurationInMillis = 0;
        this.numberOfSlowCalls = 0;
        this.numberOfFailedCalls = 0;
        this.numberOfCalls = 0;
but didn't set the numberOfSlowFailedCalls to 0. In fact,this caused the numberOfSlowFailedCalls even bigger than numberOfFailedCalls in some measurement.

[2020-12-04 07:47] RobWin commented on #1262
Good finding. I create a bugfix PR

[2020-12-04 09:02] RobWin commented on #1261
Please describe your issue better. I've no idea how I should help you.
I don't even understand what issues your are facing.

[2020-12-04 12:20] #1262 closed

[2020-12-04 12:21] RobWin commented on #1260
see #1254

[2020-12-04 12:21] #1260 closed

[2020-12-04 16:08] nkmaroju08 commented on #1261
Hi Robwin,

 I have written scenarios in gherkin language. Scenario is a collection of steps, each step linked with cucumber code. This project is separate. we are able to send requests to the locally running spring boot application. This request will hit circuit breaker method. In the acceptance test scenarios, our step is defined as mock which defined to return 504 or 500. that is  working as ex

[2020-12-06 18:43] earce commented on #1254
So are you releasing it this week or next friday?

[2020-12-07 10:19] RobWin commented on #1254
The PR I was waiting for was created on Friday: https://github.com/resilience4j/resilience4j/pull/1264
I have to review the PR now.

[2020-12-07 11:57] #1193 closed

[2020-12-07 15:00] coold opened #1265 "Context propagators and async retry"
Resilience4j version:
1.6.1
Java version:
8

`Decorators.ofCallable(callable).withThreadPoolBulkhead(threadPoolBulkhead).withBulkhead(bulkhead).withRetry(retry, scheduledExecutorService)`

When I use async retry (with separate scheduled thread pool executor) second call of my supplier happens in scheduled executor thread (and not original thread) and ContextPropagator not work as intended. Is it e

[2020-12-07 15:49] earce commented on #1254
Ah I see thanks!

[2020-12-07 17:30] dalegaspi commented on #1211
make sure that the `resilience4j-spring-boot2` version that you use is compatible with the release you are using...in your case that is `2.3.4.RELEASE` you should be using version 1.3.1

[2020-12-07 17:45] RobWin commented on #1265
Yes, wille be part of 1.7.0
#1204

[2020-12-07 17:45] #1265 closed

[2020-12-09 23:16] li-darren commented on #1256
Hey I'm a bit stuck again. I tried wrapping the method

[2020-12-09 23:20] li-darren commented on #1256
![image](https://user-images.githubusercontent.com/43430567/101700343-dfb36900-3a4a-11eb-862a-f5bfee196211.png)
Hey I'm a bit stuck again...

In the function that returns a Completable Future, I declare a completable future at the top, and through the Kafka callback, I either complete() or completeExceptionally(), depending on if the callback returns an exception.

In the circuit breaker code abov

[2020-12-10 00:07] li-darren commented on #1256
In addition, won't the supplier always be able to get the completable future? So that means the completedExceptionally case will never happen...
![image](https://user-images.githubusercontent.com/43430567/101703949-b0ecc100-3a51-11eb-815e-4696969a2deb.png)

[2020-12-10 08:02] RobWin commented on #1256
See my code example above.
If your method already returns a `CompletableFuture`, you must not use `Decorators.ofSupplier`, but instead

[code]

[2020-12-10 12:24] marceloeliseufountainledge commented on #1105
Retry metrics also need reset capability for junit testing

[2020-12-10 15:11] wschlichtig commented on #1247
bump - any help would be appreciated.

Thanks

[2020-12-11 10:40] dejewskipiotr opened #1267 "resilience4j circut breaker not working with coroutines"
Resilience4j version: 1.6.1

Java version: 11

I am trying to setup resilience4j circuit breaker with coroutines application. I am using default configuration of circuit breaker.

    suspend fun function(request: ServerRequest): ServerResponse {
        for (i in 0..300) {
            try {
                CircuitBreaker.ofDefaults("default").executeSuspendFunction {
                    log.error

[2020-12-11 11:21] #1267 closed

[2020-12-11 11:22] dejewskipiotr commented on #1267
I figured it out. I was using differrent circuit breaker every time.

[2020-12-14 07:29] RobWin commented on #1247
Hi,
how do you use retry? Can you please show me an example?

[2020-12-14 07:53] #1249 closed

[2020-12-14 15:21] wschlichtig commented on #1247
Thanks Rob
Just to note - retry works great I just don't see the metrics like I do with CircuitBreaker, RateLimiter, Timelimiter...

//code
	@Retry(name = "ProviderService.getRatingRetry", fallbackMethod = "fallbackretry")
	public String getRatingRetry(String npi) {
		return restTemplate.getForObject(this.getRatingUrl + npi, String.class);
	}

	public String fallbackretry(String npi, Throwable ex)

[2020-12-14 16:49] vijaycse opened #1268 "Stream events from springboot2 stopped SSE after the 1st message."
Resilience4j version:
1.6.1

Java version:
8

Desc:
`/actuator/stream-circuitbreaker-events` stops/terminates the connection right after consuming the 1st message. I could not trace out to any exception from producer side or consumer side. I tried consuming from curl , postman etc.  I verified that consumer is not terminating the connection.

This experience is only from Springboot2. ratpack is pr

[2020-12-14 16:56] vijaycse opened #1269 "SSE producing a lot of messages under circuitBreakerRecentEvent/creationTime/zone/rules/transition"
Resilience4j version:
1.6.1
Java version:
8

There are huge no of transitions recorded under `circuitBreakerRecentEvent/creationTime/zone/rules/transition `. this data is coming off of `eventPublisher` .

Do we really need them? it's more of a question than an issue?

e.g

![HystrixStream_JSON_VIEW](https://user-images.githubusercontent.com/4589748/102110687-14cd0c00-3dfb-11eb-9f6d-71929d0f1df6.pn

[2020-12-15 02:51] patpatpat123 opened #1270 "Spring Boot 2 with Resilience4J annotations (for instance @TimeLimiter) does not work on method that are not public?"
Resilience4j version: 1.6.1

Java version: 11

Thanks for raising a Resilience4j issue.
Spring Boot 2 with Resilience4J **annotations** (for instance @TimeLimiter) does not work on method that are not public?

Hello Resilience4J Team,

It seems the annotation way of using time limiter (only one I tried) on works for public methods.
When I annotate the public method with @Timelimiter, working like

[2020-12-15 03:01] patpatpat123 opened #1271 "SpringBoot2 + resilience4J annotation working on annotated method, but does not work on the method calling annotated method"
Resilience4j version: 1.6.1

Java version: 11

Thanks for raising a Resilience4j issue.
SpringBoot2 + resilience4J annotation working on annotated method, but does not work on the method calling annotated method.

I am observing a strange behavior, hope I will describe it correctly.

I have an @Controller class calling a @Service layer for computation. (here the method doHttpCall() )
Within the @S

[2020-12-15 04:23] patpatpat123 opened #1272 "[Enhancement request] @CircuitBreaker(name = "myName", fallbackException="com.exception.MyException")"
Resilience4j version: 1.6.1

Java version: 11

This is just an enhancement request to the community.
Currently, the annotation offers a fallbackMethod, which is already doing a tremendous job.

Would it be possible to enhance with a new **fallbackException** please?
For instance, for a @TimeLimiter, to "re-map" the TimeoutException to MyException, and directly from the annotation parameter.

Thank

[2020-12-15 09:05] RobWin commented on #1270
Yes, the Spring AOP Pointcuts currently only work for public methods:

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/timelimiter/configure/TimeLimiterAspect.java#L71

[2020-12-15 09:06] RobWin commented on #1271
Spring AOP cannot proxy internal method invocation. It's how Spring AOP works.
You have to move the logic into another `@Service` class.

[2020-12-15 09:06] #1271 closed

[2020-12-15 09:11] patpatpat123 commented on #1270
Got it Rob, thank you for your input.

At least, I know the root cause! Many thanks.

Is it ok for me to ask if you can suggest a workaround?
Basically, I am isolating my outbound http calls into a private utility method in the class, where I annotate with resilience4J.
Hence, this is not working. But I kinda like
[code]

Where I can isolate the retry and time out to really the line of code that n

[2020-12-15 09:13] patpatpat123 commented on #1271
Got it, thanks you

😭

[2020-12-15 09:15] RobWin commented on #1270
No, you cannot use static methods.
You need to create a bean:

[code]

[2020-12-15 09:19] RobWin commented on #1268
Thanks,
could you please try to debug it?

[2020-12-15 09:31] RobWin commented on #1247
Somehow it must be related to your set-up.
Our Spring Boot 2 demo seems to work fine:

![image](https://user-images.githubusercontent.com/5815046/102196390-25938580-3ec0-11eb-82de-87ddd95826f8.png)

![image](https://user-images.githubusercontent.com/5815046/102196295-0268d600-3ec0-11eb-8a23-21ae4a7fc709.png)

Could you please debug and check if `RetryMetricsAutoConfiguration` is invoked. The bean

[2020-12-15 09:36] RobWin commented on #1269
Where does this url come from `circuitBreakerRecentEvent/creationTime/zone/rules/transitions`?

[2020-12-15 14:27] vijaycse commented on #1269
That was just a nested object path. sorry if it was confusing.  the `circuitBreakerRecentEvent` is coming from eventPublisher.

[2020-12-15 14:29] vijaycse commented on #1268
Sure. Will do

[2020-12-16 08:42] #1270 closed

[2020-12-16 08:53] patpatpat123 commented on #1270
Forgot to say, yes, working fine like this. Many thanks

[2020-12-16 10:01] patpatpat123 opened #1273 "java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono reactor.core.publisher.Mono.retryWhen(java.util.function.Function)'"
Resilience4j version: 1.6.1

Java version: 11

SpringBoot 2.4.1 + Ilford RC1

Hello Resilience4J Team,

On a very @Service Webclient wrapper, following Rob's advice:

[code]

I am facing this error message:
The entire stack does not have any of my code.
One thing to note in the stack trace: I can see "spring-cloud-sleuth-instrumentation-3.0.0-M6.jar", note sure if it is related.
Also, I went to th

[2020-12-16 12:32] RobWin commented on #1273
Duplicate of #1233

[2020-12-16 12:32] #1273 closed

[2020-12-16 12:34] patpatpat123 commented on #1273
Thank you for the dupe, did not know

[2020-12-16 16:17] amoffet commented on #1254
The response to reviews on [#1264](https://github.com/resilience4j/resilience4j/pull/1264) seems to be stalling... No response in over a week.   Is it an important addition to 1.7.0?

[2020-12-16 23:44] vnwhlr opened #1274 "Support alternative Retry wait implementations"
### Resilience4j version:
1.6.1

### Java version:
14.0.2_12 (Kotlin 1.3.72)

### Use Case

We're developing a job scheduling system. These jobs pull from a worker thread pool. We decided to use resilience4j to handle things like transient network errors. However, the [default Retry implementation `RetryImpl`](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-retry/src/main/jav

[2020-12-17 00:02] vnwhlr opened #1275 "Async Retry doesn't emit `RetryOnRetryEvent` on non-exceptional retried result"
### Resilience4j version:
1.6.1

### Java version:
14.0.2_12 (Kotlin 1.3.72)

Ran into this while working on #1274 - I ended up with a solution that may or may not have looked a lot like [this](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-kotlin/src/main/kotlin/io/github/resilience4j/kotlin/retry/Retry.kt#L29). However, I found that when retrying a result that wasn't a thr

[2020-12-17 07:12] RobWin commented on #1074
Would someone like to contribute a bugfix?

[2020-12-17 11:33] RobWin commented on #1275
Hi,

thank you.
Would you like to create a bugfix PR?

[2020-12-17 11:35] RobWin commented on #1274
Hi,

I'm not sure about making the sleep function configurable, since it's only used when you use Retry to decorate a sync function. The sleep function is not used when you are decorating async functions. Might be confusing to the user.

[2020-12-17 11:42] RobWin commented on #1272
Hi,
I don't want to introduce too many features into our Aspects/Annotations. Otherwise it becomes unmaintainable, if we have to support the same features for all frameworks like Micronaut, Spring Boot, Ratpack.

[2020-12-17 11:58] patpatpat123 commented on #1272
Make sense

[2020-12-17 11:58] #1272 closed

[2020-12-17 15:20] vnwhlr commented on #1274
Gotcha - that does make sense. My solution looked a lot like [this](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-kotlin/src/main/kotlin/io/github/resilience4j/kotlin/retry/Retry.kt#L29), with a few modifications (instead of `delay`, a `Consumer<Long>` that took the wait interval and scheduled the job for later, and a subclass of `RetryImpl` that made `asyncContext()` retur

[2020-12-18 06:54] lmhmhl opened #1276 "Translate the guide in to chinese version."
It seems that there is no chinese version of R4J guide, and there are many chinese programers whose English is not so good and may have some reading barrier about this guide, I can volunteer to translate it into chinese, but I do not know who to contact, and submit in what kind of form like Word file or PDF file or else. Thank u.

Thanks for raising a Resilience4j issue.
Please replace this text w

[2020-12-18 07:09] RobWin commented on #1276
Hi, someone from the community also maintains a separate documention repo in Japanese. You could maintain a Chinese version and we link it in our readme.

[2020-12-18 07:09] RobWin commented on #1276
https://github.com/resilience4j-docs-ja/resilience4j-docs-ja

[2020-12-18 10:55] DXGAMING commented on #1236
https://camel.apache.org/components/latest/eips/resilience4jConfiguration-eip.html You can find some description here

[2020-12-18 13:54] Stephan246 opened #1277 "Issue with Resilience 4j and spring boot"
Hallo,

Earlier, i used CircuitBreaker and Retry annotations with void method. It worked.
But Timelimiter was not working.
       @TimeLimiter(name = "example_tl")
       @CircuitBreaker(name = "example_cb", fallbackMethod = "sendDataFallBack")
       @Retry(name = "example_retry", fallbackMethod = "sendDataFallBack")
       public void methodData(JsonObject jsondata)

I read that it is only suppo

[2020-12-21 13:01] dagguh opened #1278 "Explicit SemVer support"
Related to https://github.com/resilience4j/resilience4j/issues/266#issuecomment-479458408

It'd be awesome if the lib would follow [SemVer](https://semver.org/spec/v2.0.0.html). It's not about avoiding breaking compat, but communicating that clearly with the version itself. Note that the first rule of SemVer is declaring what is the public API. As a lib consumer I would then know what I can rely o

[2020-12-21 13:11] dagguh commented on #1278
As a lib consumer, SemVer is useful when I have to fix a transitive dependency conflict. If my deps conflict on `resilience4j` 1.5.0 and 1.6.1 then I know I can force the 1.6.1 version, because it's backwards compatible. I'd also know I couldn't choose 1.5.0, because 1.6.0 has more API.

Such bogus conflicts would be even automated away by depending on a version range. For example `[1.6.0, 2.0.0)`

[2020-12-22 13:16] AlirezaHakamian commented on #1090
Hello @RobWin,
I very recently started to read the documentation regarding CircuitBreaker provided in https://resilience4j.readme.io/docs/circuitbreaker#
I Formally specified the explained CircuitBreaker behavioral design (sliding window type) in TLA+.

[2020-12-22 23:22] jjathman opened #1280 "Question: Share default configs?"
Resilience4j version:
1.6.1

Java version:
8 & 11

I am writing a small wrapper library to make it easier for others at my company to use Resilience4j with the Spring Boot 2 module and as part of that I would like to adjust a few of the default configuration values.

In the documentation I see usage of `baseConfig: default` when trying to utilize the default configuration as the base. But is this

[2020-12-23 07:14] Kaustavd commented on #565
I am not able to get the dependency of ContextPropagator.java while adding latest version (1.6.1) of resilience4j-core in pom.xml. I decompiled the jar file where the above class is not present there also. Pasting the content below

" zip.vim version v28
" Browsing zipfile /Users/kaustav.das/.m2/repository/io/github/resilience4j/resilience4j-core/1.6.1/resilience4j-core-1.6.1.jar
" Select a file w

[2020-12-23 10:37] izrobin opened #1281 "[Idea] Retry - throw on max retries reached"
Resilience4j version: `1.6.1`

Java version: `openjdk 15 2020-09-15`

**Here's a feature suggestion which I would gladly open a PR for:**
Whenever the `Retry` logic reaches it's configured `maxAttempts`, it would be nice for a configurability option to throw an exception, instead of returning the last result back to the caller.

I found it unintuitive to configure a `retryOnResult`, only to find o

[2020-12-23 20:59] pwlan opened #1282 "Add support for AsyncFeign"
Feign 10.8 introduces a new builder AsyncFeign that allow methods to return CompletableFuture instances.
Is anyone working on integrating this in the Feign extension?

[2020-12-25 16:42] RobWin commented on #1282
No, not yet.

[2020-12-26 15:07] pwlan commented on #1282
Looks like the current resilience4j support for async functions is limited to `Supplier<CompletionStage<T>>`.
For example, `Retry.decorateCompletionStage`.
If we want to decorate AsyncFeign methods, we will need at least support for `CheckedFunction1<T, CompletionStage<T>>`.
Any plans for that? @RobWin

[2020-12-27 07:15] Ollamo opened #1283 "AtomicRateLimiter quesetion: When calculating whether the permission can be obtained, if the calculated time is greater than the timeout time, why not return false directly, but wait for the specified timeout time and then return false?"
Resilience4j version: master

Java version: 1.8

AtomicRateLimiter question:
io.github.resilience4j.ratelimiter.internal.AtomicRateLimiter#acquirePermission
io.github.resilience4j.ratelimiter.internal.AtomicRateLimiter#waitForPermissionIfNecessary

When calculating whether the permission can be obtained, if the calculated time is greater than the timeout time, why not return false directly, but wa

[2020-12-28 01:14] kitkars opened #1284 "Resilienc4j centralized config"
I am playing with resilience4j for sometime, It is good.

I have a question/feature request: For example, circuit breaker, If we run multiple instances of the same app, each instance is calculating their own count based sliding window, failure rate etc.

Is there anyway centralize this - by using redis?

[2020-12-28 03:00] lmhmhl opened #1285 "Add failure rate in half open state."
In the half open state, is it necessary to make more fine-grained control  to judge whether the state transition is carried out through define failure ratio under this state?

[2020-12-28 10:02] lmhmhl commented on #1276
I have completed translation of resilience4j's guide in my repository, please check it out the chinese version guide. I would be very glad to have your advices. Looking forward your early reply.
https://github.com/lmhmhl/Resilience4j-Guides-Chinese

[2020-12-28 15:10] sasinandan opened #1287 "When using TimeLimiter along with CircuitBreaker as a part of REST API, Response Times are very high"
Resilience4J Version: 1.6.1

Java version: 8

Spring Framework: 4.3.22

Camel Framework: 2.25(Could not use Resilience4j EIP Feature, that is available only from 3.0)

We have a REST API that makes some backend calls. We have a use case to use Time Limiter and Circuit Breaker with a fallback

The below code is part of init() method (Spring) of a bean:

	scheduler = Executors.newScheduledThreadPool

[2020-12-30 15:31] RobWin commented on #1276
Thx, unfortunately I can't verify the content. I don't understand Chinese  :)

[2020-12-30 15:31] RobWin commented on #1285
Is it a question or statement?

[2020-12-30 15:44] lmhmhl commented on #1276
I want let more chinese programmers know this project, but there are no chinese guide, If it is possible I hope you can add a link  in your readme. Thx.

[2020-12-30 15:45] RobWin commented on #1276
I will do it. Thx

[2021-01-04 09:49] RobWin commented on #1284
No, there is no way to centralize the sliding window calculation.
It's by design. The performance implication per request would be too high.

[2021-01-04 09:51] RobWin commented on #1283
Hi,

`reservePermission` does what you are looking for.

[2021-01-04 09:51] #1283 closed

[2021-01-04 09:51] RobWin commented on #1276
Added to readme

[2021-01-04 09:51] #1276 closed

[2021-01-04 10:11] RobWin commented on #1281
Hi, sry for the late response. We were on vacation.

I like the idea. But If you would like to provide a PR, please take care that the reactive modules like Reactor, RxJava2 and RxJava3 are also modified and tested.

[2021-01-04 10:20] RobWin commented on #1280
Hi,

no, unfortunately there is no other way to configure the default configuration of the CircuitBreakerRegistry right now.
But in Spring Boot 2.4 there are some config file processing changes: https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4

[2021-01-04 10:23] RobWin commented on #1277
Hi,
could you please show me how you returned the Mono.
Did you add `resilience4j-reactor` as a depenency?

[2021-01-04 10:42] RobWin commented on #1282
Let's have a call Pat when you are back from vacation.
You are planing to create an `AsyncFeignDecorator`  interface and `AsyncFeignDecorators` class, correct?

[2021-01-04 14:11] amoffet commented on #1254
Still at 1.6.1.  Any progress?

[2021-01-04 14:26] kitkars commented on #1284
Ok. Understood. Thanks.

[2021-01-04 14:26] #1284 closed

[2021-01-04 16:14] Stephan246 commented on #1277
Hi, thanks for looking into the issue:

here is the method:

@TimeLimiter(name = "exampleService_tl", fallbackMethod = "sendDataFallBack")
@CircuitBreaker(name = "exampleService_cb", fallbackMethod = "sendDataFallBack")
@Retry(name = "exampleService_retry", fallbackMethod = "sendDataFallBack")
    public Mono<ClientResponse> sendData(JsonObject jsondata) {

        ClientResponse clientResponse =

[2021-01-04 16:16] Stephan246 commented on #1277
method name is
public Mono..ClientResponse.. sendData(JsonObject jsondata)
.......control barckets are not displayed here..

[2021-01-04 16:17] RobWin commented on #1277
You can't throw exceptions when you use reactive code.
Use Mono.error(...) instead.

[2021-01-04 16:43] Stephan246 commented on #1277
I have replaced code with following:

 else if (clientResponse.statusCode().is4xxClientError())
            {  Mono.error(new NotAuthorizedException()); }
else if (clientResponse.statusCode().is5xxServerError()) {
                Mono.error(new InternalErrorException()); }

but now, no exception is thrown. Can you please guide me further ?

[2021-01-05 09:13] pwlan commented on #1282
Unfortunately, our current approach does not work with the current implementation of AsyncFeign.
I have been looking into a new, more generic way, to solve this problem.
I will give you a ping when I have time.

[2021-01-05 09:34] RobWin commented on #1287
You are using `CompletableFuture.supplyAsync` which is not using any dedicated ThreadPool for this task, but a default shared one.
If you don't use TimeLimiter,CircuitBreaker, you are also using `CompletableFuture.supplyAsync` or are you doing sync calls?

[2021-01-05 10:47] izrobin commented on #1281
Thanks for the feedback @RobWin ! I'll see if I can get a PR up later!

[2021-01-05 15:39] sasinandan commented on #1287
Thank you for the reply, I had to introduce **CompletableFuture.supplyAsync** only because I am using TimeLimiter, if not yes they are sync calls inside the REST API.

[2021-01-05 15:40] RobWin commented on #1287
I guess that's the difference. You might need a dedicated pool. Its not the TimeLimiter or CircuitBreaker which is introducing latency

[2021-01-06 08:16] RobWin commented on #1277
What do you mean by: no exception is thrown? In Reactive Programming exceptions are not thrown anymore.
I can suggest the Documentation of Reactor about [Reactive Programming](https://projectreactor.io/docs/core/release/reference/#intro-reactive).

[2021-01-06 16:24] laconicmonk opened #1292 "[Idea] Having a warning percentage in Bulkhead"
The idea is to basically keep a track of the concurrent call rate in the Bulkhead and also take in a warning percentage `X`. If the current call rate is `X %` of the maxConcurrentCalls, we raise an event like CONCURRENCY_THRESHOLD_APPROACHING.

Additionally if keep a track of the current call rate it can also be exposed for users to publish metrics on.

[2021-01-06 16:59] Stephan246 commented on #1277
Ok, I will go through it. In addition, can you give me hint how to write exceptions in Reactive so that, resilience catches it. Sorry, i am not expert in Reactive programming. your input will be helpfull to me.

[2021-01-07 08:25] #1261 closed

[2021-01-07 08:29] #1233 closed

[2021-01-07 08:29] #1237 closed

[2021-01-07 08:29] #905 closed

[2021-01-07 08:32] #1059 closed

[2021-01-07 08:34] #1285 closed

[2021-01-07 08:38] #1247 closed

[2021-01-07 08:39] RobWin commented on #1268
Any progress ? :)

[2021-01-07 09:56] izrobin commented on #1281
One way of solving this without adding support in the library, would be to do the following:

[code]

Not super pretty. I was actually surprised by the existance of `MaxRetriesExceeded`. I feel like it should be standard to throw it after max attempts has been reached. But it would be a breaking change, so maybe not.

[2021-01-07 09:59] RobWin commented on #1281
Yes, throwing a MaxRetriesExceeded exception would be a breaking change.
But keep in mind that the event consumer might run in a different thread than your function, if you would use a CompletableFuture.
It's more of a workaround than a solution :(
I would prefer your initial proposal.

[2021-01-07 15:07] Stephan246 commented on #1277
To start with, i have followed link:  https://resilience4j.readme.io/docs/getting-started-3
According to it, i have created method:
    @TimeLimiter(name = "backendADS", fallbackMethod = "fallback")
    @CircuitBreaker(name = "backendADS", fallbackMethod = "fallback")
    @Retry(name = "backendADS", fallbackMethod = "fallback")
    public Mono<String> method12(String param1) {
        return Mono.

[2021-01-07 15:09] Stephan246 commented on #1277
Method name is:
public Mono..String.. method12(String param1)

[2021-01-07 15:45] kkalaiselvan commented on #347
@RobWin Is there a way to close and open the resilience4j circuit breaker via REST API call ? I mean any API already there to make use of it without doing coding?

[2021-01-08 08:43] RobWin commented on #347
Yes, there is an actuator endpoint `/acutator/circuitbreakers/<circuitBreakerName>` which you can use to update the state to CLOSE, FORCE_OPEN, DISABLE, but not open :(

You can post a request with the following body

[code]

[2021-01-08 13:28] Stephan246 commented on #1277
Hallo, i am stuck with my implementation. I just started with simple Reactive code, as per example in link:  https://resilience4j.readme.io/docs/getting-started-3  with method mentioned above.
In application.yml, i have not specified any record exceptions or retry exceptions.  In pom file, i have all the recommended dependencies. Is there any other settings which needs to be enabled for resilience

[2021-01-08 13:30] RobWin commented on #1277
Did you add `org.springframework.boot:spring-boot-starter-aop`?
It's difficult to remotely debug your application.

[2021-01-08 13:35] Stephan246 commented on #1277
Yes...          <dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-aop</artifactId>
			<version>2.4.1</version>

[2021-01-08 13:45] Stephan246 commented on #1277
<dependencies>

		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-validation</artifactId>
		</dependency>
		<dependency>
			<groupId> org.springframework.boot</groupId>
			<artifactId>spring-boot-actuator</artifactId>
		</dependency>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-actuator-autoconfigure</artifa

[2021-01-08 13:47] Stephan246 commented on #1277
As this application will run on CF, i have also included spring cloud dependencies. But it did not help.

[2021-01-08 13:49] RobWin commented on #1277
Please don't use an old version of `resilience4j-spring-cloud2`.
Be aware the the Spring Cloud dependencies might introduce an old version of resilience4j. Please check that you don't have an old version in your classpath at runtime.

Please debug if `CircuitBreakerAspect.proceed` is invoked.

[2021-01-08 14:33] Stephan246 commented on #1277
I have updated version of resilience4j-spring-cloud2. It did not resolve the issue.
Then, i removed TimeLImiter and Retry annotations to test for CircuitBreaker only. But, circuit breaked is not even invoked.

Question is that CircuitBreaker and Retry works well when method is void or non reactive return type. But in case of Reactive return type, resilience does not work.

[2021-01-08 14:38] RobWin commented on #1277
Something seems to be really wrong, because Spring Boot 2.4.1 is not yet supported.
Your application should throw an exception. Spring Boot 2.4.1 will be supported in Resilience4j v1.7.0
See: https://github.com/resilience4j/resilience4j/pull/1259

Which reactor version are you using?

[2021-01-08 14:49] Stephan246 commented on #1277
<spring.reactor.version>1.0.1.RELEASE</spring.reactor.version>
<resilience4j.boot.version>1.5.0</resilience4j.boot.version>
<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.3.4.RELEASE</version>
	</parent>

Do i need to downgrade any versions (except spring boot) ?

[2021-01-08 19:07] kkalaiselvan commented on #347
Thanks @RobWin  , that's what I was looking for.  Can you share me the link or doc where i can refer for further information?

[2021-01-08 21:21] vxr8919 commented on #1097
#root.args[0] is not working to create circuit breaker instance on fly. Can any one please help me on this

[2021-01-08 21:31] chranki commented on #1097
Not able to create circuit breaker instances on the fly using #root.args[0] . Do we need to set root to context before using SpEL?. Can any one help on this?

[2021-01-09 14:20] gwimmel commented on #1074
I could take a closer look now and found out that I overlooked that the CircuitBreaker health indicator can be disabled completely via the configuration `management.health.circuitbreakers.enabled=false` (or by not setting `management.health.circuitbreakers.enabled` at all). That's sufficient for my use case.

That there is a CircuitBreaker health indicator with UNKNOWN status if  `management.healt

[2021-01-11 07:19] RobWin commented on #1277
You can stick with Resilience4j 1.6.1

[2021-01-11 07:21] RobWin commented on #1097
@chranki Are you using Spring Boot?

[2021-01-11 08:28] #1281 closed

[2021-01-11 08:52] laconicmonk commented on #1292
@RobWin any feedback?

[2021-01-11 09:02] RobWin commented on #1292
Hi,
I think monitoring and alerting based on thresholds should be done with additional tools like Prometheus, Graphana.
You can monitor the metric `resilience4j.bulkhead.available.concurrent.calls` which is the number of available permissions.

The call rate is not monitored by a Bulkhead.

[2021-01-11 12:00] Stephan246 commented on #1277
In the end, i have changed method return type to  CompletableFuture

@Timelimiter(name = "exampleService_tl", fallbackMethod = "sendDataFallBack")
@CIRCUITBREAKER(name = "exampleService_cb", fallbackMethod = "sendDataFallBack")
@Retry(name = "exampleService_retry", fallbackMethod = "sendDataFallBack")
public CompletableFuture..String.. sendData(JsonObject jsondata) {

....
return CompletableFuture

[2021-01-11 18:24] chranki commented on #1097
Yes we are using spring boot

[2021-01-12 07:29] RobWin commented on #1097
Can you show me your method signature please?

[2021-01-12 12:35] #1292 closed

[2021-01-12 19:08] svankamamidi opened #1294 "How to define resilience4j Fallback method when my actual methods has varargs"
Resilience4j version: 1.3.1

Java version: 11

We are using resilience4j Circuit Breaker, our monitored methods have varargs and return types are different so how can we define Fallback methods as I cant use last parameter as Exception as I have varargs as the last parameter.

[2021-01-12 19:42] asthinasthi opened #1295 "CircuitBreaker.decorateSupplier catches Exception but Supplier can only throw RuntimeException"
Resilience4j version: 1.5.0

Java version: 1.11

Thanks for raising a Resilience4j issue.

I see that we catch a general Exception from `supplier.get()` & publish an Error event. But Supplier only throws RuntimeExceptions.

**If the Supplier can only throw RuntimeException, why not catch `RuntimeException` and be explicit?**

https://github.com/resilience4j/resilience4j/blob/7fe040e1bf852ccaaaa831

[2021-01-13 07:26] RobWin commented on #1295
Hi,
true, but do you think it provides any benefit?
`circuitBreaker.onError()`  handles `Throwable` anyway.

[2021-01-13 07:45] RobWin commented on #1294
Hi,
first of all please update to the latest version. It contains a lot of new features, but also bug fixes.
I think varargs are not supported yet.
@Romeh Do you know if we support varargs?

[2021-01-13 16:29] quim3ra opened #1296 "resilience4j-spring-boot2 annotation does not works alongside spring-boot-starter-quartz"
Resilience4j version: 1.6.1

Java version: java15

We have setup our project with `resilience4j-spring-boot2:1.6.1` to be used inside a job running within spring-boot-starter-quartz

The configuration is plain simple right now:

[code]

And in one of our services that are running under a quartz job we have put the annotation to a method:

[code]

Looks like because quartz job is running in a diffe

[2021-01-14 08:11] RobWin commented on #1296
Hi,
what is your goal?

I think you should not use Resilience4j if you want to retry the whole job.
You should use the capabilities of Quartz to schedule a retry attempt.

Have a look at this:
https://github.com/jasonesteele/quartz-demo/blob/master/src/main/java/sss/quartz/jobs/RetryJobWrapper.java

If you want to retry because of a temporary error, you can also use the functional style of Resilie

[2021-01-14 08:18] cbelizone2y commented on #1296
Our job is connecting to an external API, and we simply want to ensure a retry in case the API timeouts, not the whole job, that's why we wanted to use resilient4j.

[2021-01-14 10:20] hariomgarg99 commented on #1227
Hi All,
 I am getting in logs "Endpoint ID 'hystrix.stream' contains invalid characters, please migrate to a valid format."
even my fallbackmethod is not trigger.

Please provide solution.

Thanks In advance

[2021-01-14 11:35] Romeh commented on #1294
@RobWin  No we do not support varargs yet for the fallback !

[2021-01-14 15:30] amoffet commented on #1254
Now that we have that pull request in, do we think we'll get a release this Friday?

[2021-01-14 15:45] RobWin commented on #1254
One PR is missing. Reactor, RxJava2 and RxJava3 operators haven't been extended by the new functionality.

[2021-01-14 19:17] sbilello opened #1298 "[question] can it be used for rate limiting server-side and not client-side?"
https://reflectoring.io/rate-limiting-with-resilience4j/
I was reading this guide and it was mentioning that the rate-limiter can be used on the client-side and not on the server-side.
Is this true?
Do I need to use Bucket4j and a filter if I want to make it work https://blog.davidvassallo.me/2020/09/18/rate-limiting-spring-reactive-web-apis-bucket4j/ on the server-side of things?

[2021-01-14 20:12] paltanmoy commented on #1254
Eagerly waiting for CB recordResult predicate.  Until the V1.7.0 is released is there any other alternative (work around) to this ?

[2021-01-14 20:47] asthinasthi commented on #1295
It is more of a self documentation & warning thing.

While debugging why `retryOnExceptions` was not getting triggered, I learnt that we were using Suppliers and not CheckedFunctions. In the Retry modules, we catch only RuntimeExceptions for Suppliers & Exceptions for CheckedFunctions. So it helped there.

Similarly, In CircuitBreaker we have `recordExceptions` that won't be _recorded_ if we use S

[2021-01-15 07:27] RobWin commented on #1295
Which exceptions are part of `recordExceptions` and aren't recorded?
Could you please give me an example?

[2021-01-15 07:44] RobWin commented on #1254
@paltanmoy It depends on your usecase, maybe you can create another issue and explain your questions there. I can give you some recommendations.
 Besides that you could use the SNAPSHOT version in the meantime.

[2021-01-15 08:12] RobWin commented on #1298
Hi,

this is a nice blog post about rate limiting: https://konghq.com/blog/how-to-design-a-scalable-rate-limiting-algorithm/
You should read it.
A global rate limit when you are using a cluster of nodes is a difficult task to implement (race conditions) which might increase a latency and introduce a single point of failure.
There are good API gateways on the market which try to solve this challeng

[2021-01-15 21:36] sbilello commented on #1298
Yes, I was looking for a rate-limiter per node at the moment. I didn't find an example on how to make it I will figure it out thanks!

[2021-01-18 16:36] gentlelegant opened #1302 "[Question] How to use in Spring Cloud Gateway"
Resilience4j version:
spring-cloud-starter-circuitbreaker-resilience4j/1.0.4.RELEASE
Java version:
1.8
I tried to configure in the application.yml, but it was invalid

resilience4j:
  retry:
    retry-aspect-order: 399
  backends:
    maxRetryAttempts: 5
    waitDuration: 500
    exponentialBackoffMultiplier: 1.1
    retryExceptions:
      - java.lang.RuntimeException

[2021-01-20 16:19] LalitGoud11 commented on #1227
I have also been facing the same issue

[2021-01-20 17:09] vijaycse commented on #1268
Not yet. Tried  few weeks ago and will resume the work  sometimes soon

[2021-01-21 08:03] huaweihulk opened #1304 "feign support with discovery and load blance"
Resilience4j version: 1.6

Java version: 1.8

when use resilience4j with spring cloud feign , i found  i have two problem, and i can't slove them properly.

     MyService requestFailedFallback = () -> "fallback greeting";
        MyService circuitBreakerFallback = () -> "CircuitBreaker is open!";
        CircuitBreaker circuitBreaker = CircuitBreaker.ofDefaults("backendName");
        FeignDecora

[2021-01-21 09:35] hexmind commented on #1304
Hi,
had you try to configure your Spring Cloud OpenFeign using Spring (configuration) instead of Resilience4jFeign.builder?
See https://github.com/resilience4j/resilience4j/issues/645 for the example.

[2021-01-21 13:09] #1228 closed

[2021-01-21 13:09] #742 closed

[2021-01-21 13:10] RobWin commented on #1254
1.7.0 has been released

[2021-01-21 13:10] #1254 closed

[2021-01-21 14:35] FedorSymkin commented on #905
Hello! Thank you for explanation for this issue. I'd like to clarify my understanding.

I need to use a ThreadPoolBulkhead combined with CircuitBreaker and TimeLimiter, something like example from docs
[code]

So, in this case (because of CompletableFuture) I cannot use interrupting of ThreadPoolBulkhead's thread by timeout. Is there some way to use ThreadPoolBulkhead + TimeLimiter with ability to

[2021-01-21 14:41] monika112 opened #1305 "retry with circuit breaker using annotation"
I am trying to use retry with circuit breaker but circuit breaker never triggers.
My use case is: In case of first system error, retry should trigger first and if retry is successful, return the response to user else go to retry fallback. If no system error but business exception then circuit breaker should trigger and after failure threshold should move to open state and all call should route to

[2021-01-21 14:48] RobWin commented on #1305
My use case is: In case of first system error, retry should trigger first and if retry is successful, return the response to user else go to retry fallback. If no system error but business exception then circuit breaker should trigger and after failure threshold should move to open state and all call should route to circuit breaker fallback.

Coud you please rephrase you text or paint a diagram? I

[2021-01-21 15:00] RobWin commented on #905
Unfortunately the ThreadPoolBulkhead always returns a CompletionStage backed by a CompletableFuture.
You can only combine an ExecutorService  and TimeLimniter:

[code]

[2021-01-21 15:15] Romeh commented on #1302
you  can have a look in that example : https://github.com/Romeh/spring-cloud-gateway-resilience4j

[2021-01-21 15:25] monika112 commented on #1305
I want to invoke Circuit breaker fallback only when it is open.

[2021-01-21 22:39] asthinasthi opened #1307 "Missing ThreadpoolBulkhead decorator in Decorators.DecorateCheckedSupplier ?"
Resilience4j version: 1.5.0

Java version: 11

Is there a reason why we don't have a `withThreadpoolBulkhead` decorator in DecorateCheckedSupplier ?

[2021-01-21 22:56] asthinasthi commented on #1295
We have an internal `ThrowingSupplier` which is a wrapper around Supplier to allow checked exception in the lambda expressions. We _sneakyThrow_ Exceptions as RuntimeExceptions.

We were using `recordExceptions` list & assuming that retry would work for Suppliers. 🤦 My Bad.

This is just an observation that we could catch only RuntimeExceptions because Suppliers can only throw RuntimeException.

@

[2021-01-22 05:04] FedorSymkin commented on #905
OK, thank you. Are there some plans to support it in thread pool bulhkead in future for compatibility of migrating from hystrix?

[2021-01-22 07:48] RobWin commented on #905
No, currently there are no plans to support Future since blocking code should be prevented.
We also do not strive for compatibility to Hystrix.

[2021-01-22 07:55] RobWin commented on #1307
Yes, ThreadPoolBulkhead does not support `CheckedFunction0`  alias `CheckedSupplier` yet.

[2021-01-22 08:05] RobWin commented on #1295
Yes, you can use

[code]

[2021-01-22 10:16] FedorSymkin commented on #905
OK, if I understand correctly, to use TimeLimiter with interruptable thread pool I can use ExecutorService instead of ThreadPoolBulkhead with almost same features (core threads, max threads, intercepting cases when there are no free workers), and I have to implement getting thread pool by name using ConcurrentHashMap directly instead of ThreadPoolBulkheadRegistry?

[2021-01-22 10:21] RobWin commented on #905
If you like you can try to create a PR and add a `<T> Future<T> submit(Callable<T> task)` and `Supplier<Future<T>> decorateCallable(...)` method to the `ThreadPoolBulkhead` interface.

[2021-01-22 11:17] Romeh commented on #1074
for me it make sense what @gwimmel  just explained , @RobWin  what do u think ?

[2021-01-22 11:21] RobWin commented on #1074
Yes, I think we won't change the implementation because of backwards compatibility.

[2021-01-22 18:46] #1307 closed

[2021-01-22 18:47] #1295 closed

[2021-01-22 18:53] #1305 closed

[2021-01-23 17:43] pwlan commented on #1304
Hi,
I would also suggest using Spring Cloud OpenFeign.
Otherwise, you should be able to configure a Ribbon Client as follows:
`
MyService myService = Resilience4jFeign
            .builder(decorators)
            .client(new RibbonClient())
            .target(MyService.class, "http://myapp", fallback)
`
See https://github.com/OpenFeign/feign/tree/master/ribbon for more information.

[2021-01-24 19:06] sunchaser-lilu opened #1309 "[Question] A question about the code example of resilience4j-rxjava2"
Resilience4j version: 1.6.1

Java version: Java8

The following are my maven dependencies:

[code]
I tried to run the rxjava2 code example in the readme.md file of the resilience4j project, and found that the return value of the CircuitBreakerOperator.of() method cannot match the input parameters of the Observable#compose method.

[code]

then, I tried to run the sample code in the User Guide and

[2021-01-24 19:45] vijaycse commented on #1268
Opened PR here

[2021-01-25 01:30] huaweihulk commented on #1304
thx bro, i will try it.

[2021-01-25 10:11] mrraghavendra opened #1311 "Application run failed"
Resilience4j version: 1.6.1

Java version: 8

Thanks for raising a Resilience4j issue.
I am working on Spring boot application, after adding the reslience4J by app is crashing.
build.gradle
springBootVersion = '2.1.2.RELEASE'

compile "io.github.resilience4j:resilience4j-reactor:1.6.1"
 compile "io.github.resilience4j:resilience4j-spring-boot2:1.6.1"

Property file (application.yaml)
resilience4j.

[2021-01-25 10:55] hfgbarrigas opened #1312 "Release v1.7.0"
I noticed that release v1.7.0 (which supports the latest version of reactor core) came out 4 days ago but its not on maven central, only on github.
When can we expect it to be available?

[2021-01-25 12:53] RobWin commented on #1312
True.

[code]
Strange. I have to investigate it.

[2021-01-25 12:54] MrCoderYu commented on #1116
hi, can you tell me pls,before replace(),how to create a new CircuitBreaker?in method getLastVersion()

[2021-01-25 12:59] RobWin commented on #1312
Ok, synced now.
Should be available soon.

[2021-01-25 12:59] #1312 closed

[2021-01-25 15:44] fededonna opened #1313 "[Idea] - CircuitBreakerConfig and RetryConfig incorrect use of builder."
Resilience4j version: 1.5.0

Java version: 1.11

Hi Team, I have been using resilience4j and faced an issue. Since I have a sprig discovery use case where I want to discover all the configs from the context I found that configs do not have names so I went ahead and inherited from this classes to find out that the Builder pattern is not correctly used. Builder should call private constructor with a

[2021-01-25 18:33] vijaycse commented on #1268
Closing this issue as PR is merged

[2021-01-25 18:33] #1268 closed

[2021-01-25 18:34] RobWin commented on #1313
Hi, feel free to propose or create improvements (PRs).
Improvements are always welcome.

[2021-01-25 18:35] RobWin commented on #1313
Btw, why do you need to read configs from context? What is your use case?

[2021-01-26 10:06] Romeh commented on #1309
can you please check https://github.com/resilience4j/resilience4j-spring-boot2-demo and compare your setup with the demo example .

[2021-01-26 10:07] Romeh commented on #1311
can you please check https://github.com/resilience4j/resilience4j-spring-boot2-demo and compare your setup with the demo example .

[2021-01-26 10:18] Romeh commented on #1309
I did try ur exmaple for rxJava2 , it return flowable just fine :

[code]

[2021-01-26 11:15] RobWin commented on #1309
@sunchaser-lilu
The module `resilience4j-rxjava2` does not introduce rxjava2 as a transitive dependency.
You need to add you rxjava2 version manually.

[code]

[2021-01-26 16:15] #1309 closed

[2021-01-26 21:17] Claxtastic opened #1315 "RateLimiter not working with Spring"
Resilience4j version: 1.7.0
Java version: 11
Spring: 2.4.1

I have a project where the goal is to read records from a database, manipulate those records, and then insert them into another table. I want to implement rate limiter on the batch insertion process to not overload the database.

I'm trying with the most simple example just to see it in action, and then I will change the values. But so fa

[2021-01-26 23:35] fededonna commented on #1313
Hi @RobWin my actual use case is I created a rest client with circuit breakers and retries and all the configs can be in the classpath so spring discovers them. For that case I had to create a wrapper class which just holds a config and has an extra string as the name when I should have inherited the CircuitBreaker config and called it like "NamedCircuitBreakerConfig" and then call the super with

[2021-01-27 07:11] RobWin commented on #1313
Du you use Spring Boot or barebone Spring Framework?
If you use Spring Boot, please have a look at our starter. It might already do what you want to do.

https://resilience4j.readme.io/docs/getting-started-3

[2021-01-27 07:57] RobWin commented on #1315
The problem is Spring AOP. Spring AOP wraps your public methods from the bean with a proxy.  But the proxy is only invoked if you call the public method from outside the bean, e.g. from another bean.
You are calling the method locally from within the same bean. That does not work.

[2021-01-27 22:20] Claxtastic commented on #1315
@RobWin thank you, that was it. I refactored to have the RateLimiter annotation in another class and immediately I started seeing events fire.

[2021-01-28 07:12] RobWin commented on #1315
You are welcome

[2021-01-28 07:12] #1315 closed

[2021-01-28 10:02] MrCoderYu commented on #398
hi, is this feature removed in 1.7.0?and is there any new feature to replace this one?

[2021-01-28 10:18] MrCoderYu commented on #398
i find it, now i can listien EntryAddedEvent,and add event listener to the new entry, am i right?

[2021-01-28 10:26] RobWin commented on #398
Yes

[2021-01-28 17:19] chaitanya-meesho opened #1316 "Springboot fallback chaining"
Resilience4j version:
1.6.1
Java version:
8
SpringBoot version:
2.4.1

I am trying to move from Hystrix to Resilience4J, hystrix supports fallback chaining with annotations and i tried doing the same with resilience4J but the fallback of fallback is not getting triggered

    `
    @CircuitBreaker(name = "service", fallbackMethod = "getDataFallback")
    @Bulkhead(name = "service", type = Bulkhead

[2021-01-28 18:05] hexmind commented on #1316
You cannot use annotations with private methods
https://docs.spring.io/spring-framework/docs/4.2.x/spring-framework-reference/html/aop.html

[2021-01-28 18:22] hatharom opened #1317 "How to pause a retry flow?"
Is there a way to pause it based on an external condition than resume it?

[2021-01-28 20:50] PraveenaBala opened #1318 "Resilence4j - Using @Retry and @CircuitBreaker annotation together"
Resilience4j version:1.6.1 , using the springboot version

Java version:11

I am trying to check the feasibility of using the @Retry and @CircuitBreaker annotation together.
Have a service1, which calls service2.

resilience4j.circuitbreaker.instances.exampleA.slidingWindowSize=2
resilience4j.circuitbreaker.instances.exampleA.minimumNumberOfCalls=2
resilience4j.circuitbreaker.instances.exampleA.wa

[2021-01-29 04:20] chaitanya-meesho commented on #1316
@hexmind i tried with public method as well, its still not working

[2021-01-29 07:12] RobWin commented on #1316
Yes, unfortunately this doesn't work.
You can only invoke a method from another bean inside of you fallback method so that the proxies work.

[code]

[2021-01-29 07:21] RobWin commented on #1318
Which exception are you seeing after the 3rd retry attempt?
Usually you should add `CallNotPermittedException` to the list of `ignoreExceptions` in your RetryConfig, because it doesn't make sense to retry if the CircuitBreaker is open.

[2021-01-29 07:24] RobWin commented on #1317
Hi,
what do you mean by pause? Block until something happens?

RetryConfig has a `intervalBiFunction`. You could use this function to calculate the wait interval based on your needs.
But there is no "block until something happens".

[2021-01-29 08:48] hexmind commented on #1317
I theory you could simulate pausing with high numer or retries and stateful intervalBiFunction.
In practice maybe you could achieve your goal, in the better way, combining a fallback and task scheduling.

[2021-01-29 09:31] chaitanya-meesho commented on #1316
Thanks for the reply.
I will study https://docs.spring.io/spring-framework/docs/4.2.x/spring-framework-reference/html/aop.html again.

@RobWin the same flows works on hystrix, is the implementation different in case of resilience4j.

[2021-01-29 10:57] kiararip91 opened #1320 "maxRetryAttempts not working as expected"
Resilience4j version:
1.3.1
Java version:
1.8

Hi there I have configured a method to be retried 2 times, I have put a log inside that method but I only see it executed 2 times, I was expecting that after the first failure 2 more executions where happening (so method executed 3 times in total).

Is the maxRetryAttempts params supposed to work like this? In this case it would be sort of maxAttempts

[2021-01-29 13:15] PraveenaBala commented on #1318
@RobWin ,  My circuitbreaker is **not open** after the 3rd retry attempt is the issue, I am **not** seeing the 'io.github.resilience4j.circuitbreaker.CallNotPermittedException: CircuitBreaker 'exampleA' is OPEN and does not permit further calls'
When using the @CircuitBreaker (I mean without the @Retry)alone I am seeing the callNotPermittedException during my 3 attempt.

Exception with @Retry and

[2021-01-29 17:10] fededonna commented on #1313
Hi @RobWin this is my PR to accomplish this, please take a look.
https://github.com/resilience4j/resilience4j/pull/1321
Thank you very much.

[2021-01-30 22:26] patrick-vonsteht opened #1322 "Classes NonNull, NonNullApi, NonNullFields, Nullable: copyright infringement?"
It seems that the following files are modifications of files originally published as part of the Spring framework:

- https://github.com/resilience4j/resilience4j/blob/master/resilience4j-core/src/main/java/io/github/resilience4j/core/lang/NonNull.java
- https://github.com/resilience4j/resilience4j/blob/master/resilience4j-core/src/main/java/io/github/resilience4j/core/lang/NonNullApi.java
- https

[2021-01-31 13:53] patrick-vonsteht opened #1324 "Inconsistent Parameter Name "interval" in io.github.resilience4j.core.IntervalFunction"
There's an inconsistent parameter name in one of the static methods of interface io.github.resilience4j.core.IntervalFunction. It uses "interval" as the name for passing a number of milliseconds as long. But in all other methods the name "intervalMillis" is used in that case, while the name "interval" is used for passing Duration objects.

As its a very small issue, I'll attach a pull request in a

[2021-01-31 17:12] vijaycse opened #1326 "Adding micrometer support for ratpack"
Resilience4j version:
latest
Java version:
11

- Adding micrometer support for ratpack module

[2021-01-31 18:15] vijaycse commented on #1326
@RobWin @drmaas I opened up PR here to add support for micrometer in ratpack module

[2021-02-01 05:22] Ipuvi opened #1327 "Using resilience4jRetry with retrofit client"
Resilience4j version: 1.6.1 or higher
Java version: 8
Retrofit Version: 2.5.0

Hi Team,
If I want to use resilience4j-retry along with the retrofit based client, I have to create separate RetryCallAdapter and RetrofitRetry classes the way it is used for circuitBreaker and RateLimiter. Thus, I would like to contribute to these changes, as they can be used by any user using resilience4j-retry with a

[2021-02-01 07:52] #1324 closed

[2021-02-01 07:53] RobWin commented on #1327
Hi,
sure. Feel free to create a PR

[2021-02-01 08:03] RobWin commented on #1322
Thx. I will have a look at it.
Seems my review was sloppy. Someone introduces the classes and attached my name on the license header :(
I have to be more careful. I have to check what I have to do now.

https://github.com/resilience4j/resilience4j/blob/4755232ea79842944faf75891e5f1dfe41a0e664/resilience4j-core/src/main/java/io/github/resilience4j/core/lang/NonNullApi.java

[2021-02-01 10:27] kiararip91 commented on #1320
hi guys any updates/clarification on this? thank you

[2021-02-01 10:57] RobWin commented on #1320
Hi,
yes, you are right it's confusing. I wonder why we forgot to add JavaDoc for  [maxAttempts](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-retry/src/main/java/io/github/resilience4j/retry/RetryConfig.java#L192) and
`waitDuration` in `RetryConfig`.

`maxAttempts` is the total number of attempts, including the first failed call. That means `maxAttempts=3` results in 3 call

[2021-02-01 13:28] kiararip91 commented on #1320
Hi @RobWin thanks for your answer, I tried to use maxAttempts instead in the retry configuration but is ignoring that value and is retrying twice (maxAttempt = 3 as Default).
This is my config, am I missing something?
![image](https://user-images.githubusercontent.com/9994164/106464998-b1c23200-6499-11eb-8096-22e548c3dcca.png)

[2021-02-01 13:33] RobWin commented on #1320
Which version of resilience4j are you using?

[2021-02-01 13:45] kiararip91 commented on #1320
I am using and it seems that 1.3.1 is the last version for this resilience4j-spring-boot https://mvnrepository.com/artifact/io.github.resilience4j/resilience4j-spring-boot

[2021-02-01 13:54] RobWin commented on #1320
Ok, you still have to use Spring Boot 1.x?
We don't maintain Spring Boot 1 anymore only Spring Boot 2.

[2021-02-01 17:35] patrick-vonsteht commented on #1322
From my understanding, it should be enough to
- add the original copyright header back in
- add the [at]author annotations in the java-doc back in (as the header references them)
- add a remark about any modifications that were made to the file

I'm not an expert on these matters, though. I just stumbled upon it, because I'm currently digging through your code for learning purposes and googled the

[2021-02-01 17:51] vijaycse commented on #1326
After discussing with @drmaas we decided to hold off this change until raptack is ready with ratpack module.
then we need to upgrade ratpack version in resilence4j before merging.

[2021-02-01 18:39] alecl commented on #1044
This is a nice feature and I only found it digging through the source as it wasn't on https://resilience4j.readme.io/docs/retry

[2021-02-02 07:24] RobWin commented on #1326
ok

[2021-02-02 07:31] #1322 closed

[2021-02-03 09:48] gentlelegant opened #1328 "How to configure a generic Bulkhead and Retry in Spring Cloud Gateway?"
I configured the circuit breaker through the Resilience4JCircuitBreakerFactory, but I didn't seem to be able to do the same for the rest of the Resilience4J

Resilience4j version:
    <dependency>
            <groupId>io.github.resilience4j</groupId>
            <artifactId>resilience4j-spring-boot2</artifactId>
            <version>1.4.0</version>
        </dependency>
Java version:  1.8

[2021-02-04 06:31] tanderer commented on #1252
Hello,

I'm also verify much interested in a solution here. We have similar issue trying to integration spring-cloud-openfeign using resilience4j via spring-cloud into our spring-boot-stack. We would like to define our configuration for resilience4j in the application.yml as describe for resilience4j-spring-boot2. The above mentioned ReactiveResilience4JCircuitBreakerFactory-Bean does not work for

[2021-02-04 07:21] RobWin commented on #1328
Hi, I guess you are talking about Spring Cloud Circuit Breaker. Please ask your questions here: https://github.com/spring-cloud/spring-cloud-circuitbreaker

We provide our own Spring Boot 2 Starter.

[2021-02-04 07:22] #1328 closed

[2021-02-04 07:23] RobWin commented on #1252
Hi, please ask your questions here: https://github.com/spring-cloud/spring-cloud-circuitbreaker
We provide our own Spring Boot 2 Starter and resilience4j-feign integration..

[2021-02-04 09:57] Romeh commented on #1252
hey @tanderer  @kuldeepsingh99  small example of how use application yaml with gateway and resilience4j that can give u some pointers  : https://github.com/Romeh/spring-cloud-gateway-resilience4j

[2021-02-04 11:29] kuldeepsingh99 commented on #1252
https://github.com/kuldeepsingh99/spring-cloud-gateway

[2021-02-08 15:40] jettro commented on #750
We are running into this issue at the moment as well. We cannot really include the com.google.code.findbugs:jsr305:3.0.2 which seems to be required in an OSGi container. The problem is that this jar includes the javax.annotation-api.Resource which is also included in the javax.annontation-api.jar. So we get OOM errors when running in felix. Not an easy way around it. Would it be possible to remove

[2021-02-09 15:34] carbotaniuman opened #1330 "resilience4j micrometer stats turns into NaN"
[code]
This occurs in my Prometheus stats when using Micrometer.

`io.github.resilience4j:resilience4j-micrometer:1.6.1`
`io.micrometer:micrometer-registry-prometheus:1.6.2`
`io.micrometer:micrometer-core:1.6.3`

[2021-02-10 14:40] Romeh commented on #1330
@carbotaniuman  any more information about your code setup  , is it spring boot application ,,ect , if you can share any small code samples or snippets it will be help to validate your issue

[2021-02-10 14:44] Romeh commented on #750
I will have a deeper look on that this week to see what what we can do

[2021-02-10 21:04] sergey-morenets opened #1332 "failAfterMaxAttempts usage in Resilience4j Retry"
Resilience4j version: 1.7.0
Java version:
JDK 15.0.2

Hi

I have very simple use-case where api.sendRequest can throw RuntimeException:

		Retry retry = Retry.ofDefaults("config");
		String res = retry.executeCallable(api::sendRequest);

Since I use default retry config the value of failAfterMaxAttempts property is false (not to fail). However after I reach maximum number of attempts(3) retry.exec

[2021-02-10 21:51] storozhukBM commented on #1332
Hmmm, I think the current behavior is safer. Probably we need to change documentation to reflect that.

[2021-02-11 05:12] sergey-morenets commented on #1332
That's fine. But can I implement the scenario I need?
I mean don't throw exception if I reach maximum number of attempts and exception still occurs?

[2021-02-11 08:15] RobWin commented on #1332
Hi @sergey-morenets,
no, there is not option, you have to create your own decorator around retry to catch exceptions.
Retry is either rethrowing the original exception or is throwing a MaxRetriesExceededException, if the remote service returns a result which signals an error.

[2021-02-11 15:49] carbotaniuman commented on #1330
It's just a manual passing of a registry. I can't seem to reproduce the bug anymore though.

[code]

[2021-02-12 07:33] RobWin commented on #1330
Hi,
try to bind the registry and metrics before your are creating your first CircuitBreaker instance.

[2021-02-14 10:11] sergey-morenets opened #1333 "Documentation for Retry (Event consuming)"
Resilience4j version: 1.7.0

Java version:
JDK 15.0.2

Hi

Resilience4j Retry module has support for the events, for example if retry attempt occurs or process finally completed.

		retry.getEventPublisher().onError(event -> System.out.println("Error: " + event.getEventType()));

It's very useful to monitor/analyze internals of our application by subscribing to these events. However documentation

[2021-02-15 10:08] swalendzik opened #1334 "Retry max attempts configuration not resolved from base config"
Base configuration of max attemps is not resolved properly from base config here is an example
default-config has configured max attempts = 4
all-exceptions-config extends default-config and overrides only retryExceptions
maxAttempts configuration is not taken from baseConfig and it's resolved to 3, which is default

I did not test other configuration properties

configuration:
[code]

following a

[2021-02-16 08:34] jaemok opened #1335 "CircuitBreakerMetrics.getNumberOfSlowFailedCalls returns wrong negative values."
Resilience4j version: 1.6.1

Java version: openjdk 11

When I monitor "resilience4j_circuitbreaker_slow_calls", it is fine.
When I monitor "resilience4j_circuitbreaker_slow_calls[kind=\"failed\"]"  or "resilience4j_circuitbreaker_slow_calls[kind=\"successful\"]", they show quadratic decrease and increase.

getNumberOfSlowSuccessfulCalls returns positive numbers and it increases quadratically.
getN

[2021-02-16 09:38] jaemok commented on #1335
This is same issue here. https://github.com/resilience4j/resilience4j/issues/1262
https://github.com/resilience4j/resilience4j/commit/e95c4773d1bf23d2995792a8db18770f071781c3 fixed SlidingTimeWindowMetrics.
But the problem remains for FixedSizeSlidingWindowMetrics which uses Measurement instead of PartialAggregation.

[2021-02-16 09:59] yogeshss opened #1336 "How to set .waitDurationInOpenState() at runtime"
Resilience4j version: 1.6.1

Java version:1.8

Thanks for raising a Resilience4j issue.

We have specific requirement , where we want to set waitDurationInOpenState() at runtime.

My requirement,

My circuit breaker configuration:
CircuitBreaker createCircuitBreaker(String name) {
  log.info("Creating circuit breaker with name: ", name);
  return CircuitBreaker.of(name, CircuitBreakerConfig.custom

[2021-02-16 10:47] jonathannaguin commented on #350
@RobWin do you have a general idea of what components we would need to change to support this? I also came across this thread and althoguh there seem to be alternatives, they don't seem as good as resilience4j.

[2021-02-17 09:54] Ferioney opened #1337 "[Idea] Support of default ignored exception"
Resilience4j version: 1.6.1

I'm planning to migrate from Hystrix to resilience4j.
Hystrix has [HystrixBadRequestException](https://netflix.github.io/Hystrix/javadoc/com/netflix/hystrix/exception/HystrixBadRequestException.html) which is always ignored. It is very helpful to skip for example 4xx errors.

In resilience4j I can use property `ignore-exceptions` to ignore any exceptions.

But I have a

[2021-02-17 10:14] dlsrb6342 commented on #1334
Hi @swalendzik

I tested it and it is a bug.
If a instance(`retryBackendE`) has base config(`all-exceptions-config`) which has also base config(`default-config`), base config(`all-exceptions-config`)'s base config(`default-config`) is ignored.

Would you like to raise a PR?
Thank you for reporting.

[2021-02-17 12:50] laksnv opened #1338 "[Enhancement] Customize how Circuit Breaker metrics are recorded"
I'd like to have the ability to customize the way Circuit Breaker metrics are recorded. I'm currently exploring the possibility of adding weights to each exception type.

e.g. 1 occurrence of _ExceptionTypeA_ gets recorded as 1 Fault, 3 occurrences of _ExceptionTypeB_ gets recorded as 1 Fault, etc.

A possible solution is to expose an interface, [CircuitBreakerMetricsRecorder](https://github.com/r

[2021-02-17 19:23] Romeh commented on #1333
@sergey-morenets  thanks for your remark , you can suggest edits on https://resilience4j.readme.io/docs/retry# to add the needed missing documentation if you like to help the community more :)

[2021-02-17 19:28] Romeh commented on #1337
@Ferioney  is you application is spring managed or normal Java applciation , as we have base configuration which serve the same common configuration for different back ends , explanation for spring boot example is here:
 https://resilience4j.readme.io/docs/getting-started-3

[2021-02-18 08:21] dlsrb6342 commented on #1336
Hi @yogeshss
You can solve what you want by using `waitIntervalFunctionInOpenState`.

[code]

[2021-02-18 08:24] dlsrb6342 commented on #1335
Hi @jaemok

Right. Thank you for reporting. Would you like to raise a PR?

[2021-02-18 08:31] dlsrb6342 commented on #1338
Hi @laksnv

You can make your custom [`MetricsPublisher`](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-core/src/main/java/io/github/resilience4j/core/metrics/MetricsPublisher.java).
For your custom metrics, please have a look `AbstractCircuitBreakerMetrics` for how we register metrics.

[2021-02-18 08:59] Ferioney commented on #1337
Im using spring boot.
Yes, I can configure some common configuration for different backends in one application (client).
But I have a lot of client applications so I need to do that in each of them.

[2021-02-18 09:09] Miles-Ahead-Digital opened #1340 "Release SpringBoot 2.4.2 / resilience4j 1.7.0 : Could not find class [org.springframework.boot.actuate.autoconfigure.health.HealthIndicatorAutoConfiguration]"
Resilience4j version: 1.7.0
SpringBoot version: 2.4.2

Hi,
with the release Combination above I get the following Error
**Could not find class [org.springframework.boot.actuate.autoconfigure.health.HealthIndicatorAutoConfiguration]**

Is there a fixed version of Resilience4j already which uses the new Spring Boot Actuator Classes?

Best regards
Stefan

[2021-02-18 10:27] Romeh commented on #1337
you can use spring cloud config where it your shared common configuration for different spring boot applications , we have spring cloud support here :
https://github.com/resilience4j/resilience4j/tree/master/resilience4j-spring-cloud2
exmple :
https://github.com/resilience4j/resilience4j-spring-cloud2-demo

[2021-02-18 10:29] Romeh commented on #1280
closing for inactivity

[2021-02-18 10:29] #1280 closed

[2021-02-18 10:32] Romeh commented on #1074
ok closing the ticket as nothing more is required from our side , feel free to open new if you have new questions

[2021-02-18 10:32] #1074 closed

[2021-02-18 10:32] Romeh commented on #1294
ok closing the ticket as nothing more is required from our side , feel free to open new if you have new questions

[2021-02-18 10:32] #1294 closed

[2021-02-18 10:33] Romeh commented on #1298
ok closing the ticket as nothing more is required from our side , feel free to open new if you have new questions

[2021-02-18 10:33] #1298 closed

[2021-02-18 10:33] Romeh commented on #1302
ok closing the ticket as nothing more is required from our side , feel free to open new if you have new questions

[2021-02-18 10:33] #1302 closed

[2021-02-18 10:34] Romeh commented on #1317
ok closing the ticket as nothing more is required from our side , feel free to open new if you have new questions

[2021-02-18 10:34] #1317 closed

[2021-02-18 10:35] Romeh commented on #1320
ok closing the ticket as nothing more is required from our side , feel free to open new issue if you have new questions

[2021-02-18 10:35] #1320 closed

[2021-02-18 10:35] Romeh commented on #1332
ok closing the ticket as nothing more is required from our side , feel free to open new issue if you have new questions

[2021-02-18 10:35] #1332 closed

[2021-02-18 10:38] Romeh commented on #898
ok closing the ticket as nothing more is required from our side , feel free to open new issue if you have new questions

[2021-02-18 10:38] #898 closed

[2021-02-18 10:54] alfonz19 opened #1341 "Misleading RateLimiter samples?"
Resilience4j version: 1.7.0

Java version: 11

I don't know if it's misleading samples or I totally don't undestand or what. I'm complete reactive beginner. Please advise.

In section `Decorate and execute a functional interface` you wrote:

[code]

which suggest, that it can fail. But it does not seems to fail, and it seems to block...

[code]

won't fail. If I try to change it to hot publisher:

[2021-02-18 11:56] laksnv commented on #1338
Thank for you for getting back.

I'm not referring to the way metrics are published, but the way they are recorded. Current implementation users either _FixedSizeSlidingWindowMetrics_ or _SlidingTimeWindowMetrics_ based on Circuit Breaker config. I'd like to have the existing ones as default implementations and have the ability to write my own.

[2021-02-18 15:53] alfonz19 opened #1343 "puzzling/impredictable behavior of rate limiter"
Resilience4j version: 1.7.0

Java version: 11

In code below I read data from kafka topic and sending data got from there via rest. I'm trying to limit the rate to 3/10s. The problem is, that it fails immediately with RequestNotPermitted, after reading 4th record. **BUT** if I specify `concurrency` of `flatMap` to be `10` (which is still well above limit 3/10s, so there is still well opened window

[2021-02-19 01:39] dlsrb6342 commented on #1338
Oh I got it wrong.

What about setting `recordExceptionPredicate`?

[2021-02-19 02:36] laksnv commented on #1338
`recordExceptionPredicate` lets the caller define a Predicate to test if a given Exception type should be counted as success / failure, correct?

I'd like to add weights to each Exception type. e.g. I'd like to increment failure counter by 2 if I receive `HttpConnectionTimeoutException` and increment counter by 1 if I receive `HttpTimeoutException`. Is this possible with current implementation?

[2021-02-19 09:05] Romeh commented on #1338
No it is not possible with the current implementation unfortunately

[2021-02-19 10:27] Romeh commented on #1256
closing this ticket due to inactivity , please feel free to open a new one if you still have questions

[2021-02-19 10:27] #1256 closed

[2021-02-19 10:29] Romeh commented on #1340
@Miles-Ahead-Digital  can u please check the demo example for spring boot here and compare  with ur setup :

https://github.com/resilience4j/resilience4j-spring-boot2-demo

[2021-02-19 11:23] laksnv commented on #1338
What do you think of my proposal?

Expose an interface, CircuitBreakerMetricsRecorder, and provide the ability to inject a CircuitBreakerMetricsRecorder instance via CircuitBreakerRegistry

[2021-02-19 17:04] Miles-Ahead-Digital commented on #1340
Hi,
i could not reproduce the error. My application works now with SpringBoot 2.4.2
Yesterday I had to switch back to 2.3.8.RELEASE, because of the error above.

I will close the message and create a new one with a reproducable example if it occurs again.

Thanks for Support
Stefan

[2021-02-19 17:04] #1340 closed

[2021-02-19 21:33] JoyceDoctor opened #1344 "java.net.SocketTimeoutException: connect timed out"
Hi,
I am using Spring boot 2.3.6.RELEASE.

First, I have two sides. side A and side B both hosting the same SOAP Service.
If I am able to execute the Soap service on side A then there is no need to execute side B. But if site A failed like I give it a wrong IP address then it should execute the soap service on side B.

I am implementing ClientInterceptor handleFault to handle soap fault message an

[2021-02-20 00:21] carbotaniuman commented on #1330
That worked, thanks!

[2021-02-20 00:21] #1330 closed

[2021-02-20 15:51] yogeshss commented on #1336
Thax a lot for the response.  Sure will use this.

Yogesh SS

On Thu, 18 Feb 2021, 1:52 pm Ingyu Hwang, <notifications@github.com> wrote:

[2021-02-21 02:02] #1336 closed

[2021-02-21 13:12] dlsrb6342 commented on #1341
Hi @alfonz19 .

I think `https://stackoverflow.com/a/65075755/1534084` won't fail either. Could you give a `RequestNotPermitted ` failed example?

[code]
With your rate limiter config, you can call 3 times in 5 sec. If a request limited, a request will be hold because you set 1min as Timeout Duration. After 5 sec, you can call 3 times more again. So request cannot fail.

[2021-02-21 15:33] alfonz19 commented on #1341
I didn't understand the behavior correctly. The given example fails (at least for me), and it's because of flatMap behavior, resp. it's default concurrentcy value which is, unless told otherwise, 255. So 3/5s equals 36/min, and since 36<255 concurrency value, it will fail immediately, because for 37 request we know immediately, that it won't fit into 1 minute window.

At least that is how I unders

[2021-02-22 07:40] xingzheone opened #1345 "clojure for Resilience4j"
Any other plans to clojure for Resilience4j  ?

[2021-02-22 07:47] RobWin commented on #1345
No, but you can have a look at this
https://github.com/ylgrgyq/resilience-for-clojure

[2021-02-22 21:53] pspjzy opened #1346 "Type issue"
Resilience4j version:1.7.0

Java version:
8

![~b445056](https://user-images.githubusercontent.com/35339475/108774869-3995dc00-752e-11eb-97ae-7b4a5b5d36f5.png)

[2021-02-22 23:51] jattisha opened #1347 "How to consume per-request metrics from R4J"
Resilience4j version: Latest

Java version: 11

My team and I are trying build an integration for R4J with our own internal Metrics object that is per-request. What we want to do is be able to consume Events published by the resilience object (Retry, CircuitBreaker, etc) and emit these as per-request Metrics. However, this is a bit confusing in R4J since the resilience object is a single instance

[2021-02-23 12:42] rahuldeshmukh81 opened #1348 "Resilience4j bulkhead issue"
Resilience4j version: 1.5.0
Implementation : Annotation based

Java version:1.8

I am trying to implement semaphore bulkhead but it is only working  first time after that I am not getting expected output.

My api is very fast may be 200ms it took , if  I add thread.sleep of 1 second then it work but without that it wont.
MaxConcurrentCall is 5 and I am sending 10 concurrent request so it should pa

[2021-02-23 19:02] Romeh commented on #1344
@JoyceDoctor  I do not understand why this is created here on resilience4j , i see nothing related into the description to the library we support here , are you sure u are writing to the write project ?

[2021-02-23 19:07] Romeh commented on #1346
@pspjzy I guess maybe u r using  the wrong module ,  make  sure to use RxJava3 module , example here :
https://github.com/resilience4j/resilience4j/blob/master/resilience4j-rxjava3/src/test/java/io/github/resilience4j/rxjava3/circuitbreaker/operator/SingleCircuitBreakerTest.java

[2021-02-23 19:09] Romeh commented on #1348
@rahuldeshmukh81  can u share code example with ur spring configuration for better validation ?

[2021-02-23 21:32] mehulpopat opened #1349 "Issue with minimum number of calls"
Resilience4j version: 1.7.0

Java version: 1.8

I have below set of properties in my application.properties for resilience4j.

`resilience4j.circuitbreaker.instances.myService.minimum-number-of-calls=10
resilience4j.circuitbreaker.instances.myService.sliding-window-size=5
resilience4j.circuitbreaker.instances.myService.failure-rate-threshold=50
resilience4j.circuitbreaker.instances.myService.wait-

[2021-02-23 21:56] laksnv commented on #1338
Hey, I'm checking in to see if you agree with my proposal.

[2021-02-24 08:29] Romeh commented on #1338
Hey , I do not think we will enable that for now , what u can do in ur side , is to have a custom CircuitBreakerStateMachine wrapper of CircuitBreakerStateMachine which implement the same interface of  the final CircuitBreakerStateMachine implementation we have , do ur custom weight logic in ur wrapper class and delegate the rest to the final default class .

Then use ur custom wrapper in the circ

[2021-02-24 08:32] Romeh commented on #1349
because u r setting ur window size to 5 here :
resilience4j.circuitbreaker.instances.myService.sliding-window-size=5

[2021-02-24 08:39] mehulpopat commented on #1349
but minimum number of calls to be recorded is set to 10. As per doc it should not open the circuit even for straight 9 failures.
correct me if I am wrong.

[2021-02-24 08:47] #1344 closed

[2021-02-24 09:03] Romeh commented on #1318
can u set that to 3 and try ?
resilience4j.circuitbreaker.instances.exampleA.slidingWindowSize=2
resilience4j.circuitbreaker.instances.exampleA.minimumNumberOfCalls=2

[2021-02-24 09:14] Romeh commented on #1349
for the fixed  sliding window,  circuit breaker state will take the minimum of  the min number of calls and windows size , in ur case as window size is 5 , so it will consider min number of calls to 5 , this is only for fixed window size case  , for time based window , it will take what u configure for min number of calls .

[2021-02-24 09:31] mehulpopat commented on #1349
Do you mean that minimum number of calls will be considered only when we have sliding window type as time based ?
Here I am using count based so it will consider sliding window size right ?

[2021-02-24 10:06] dlsrb6342 commented on #1335
Fixed by #1342
Thanks for your contribution.

[2021-02-24 10:06] #1335 closed

[2021-02-24 10:15] dlsrb6342 commented on #1341
@alfonz19
I tested with [given example](https://stackoverflow.com/a/65075755/1534084) and it is not failed.
Can u share code example that failed with given example?

[2021-02-24 10:21] dlsrb6342 commented on #1349
No

If you set `sliding-window-size` greater than `minimum-number-of-calls`, CircuitBreakerState take your config as it.
But if you set `sliding-window-size` less than `minimum-number-of-calls`, CircuitBreakerState take `sliding-window-size` as `minimum-number-of-calls`

Below is our implementation that I explained.
https://github.com/resilience4j/resilience4j/blob/9ffb76906ac45d48cbcc0b1876d139ed

[2021-02-24 11:34] alfonz19 commented on #1341
Ok, my bad. Keep the example you used, just replace:

`Flux.range(1, 16)`

with

`Flux.range(1, 50)`

then it will fail. Because 3/5s = 36/min. So values ≤ 36 will work with default flux concurrency 256. Values > 37 will fail. Thus `Flux.range(1, 16)` works, because 256 concurrency will fed all items ~ at the same time, but even that will not deplete the rate limiter.

[2021-02-24 11:38] #1334 closed

[2021-02-24 13:50] pgandhi2802 opened #1350 "Caused by: java.lang.IllegalArgumentException: Could not find class [org.springframework.boot.actuate.autoconfigure.health.HealthIndicatorAutoConfiguration]"
Resilience4j version: 1.7.0
Spring version: 2.4.2
Java version: 1.8

Thanks for raising a Resilience4j issue.
I am using the mentioned combination to run my application and the application couldn't start with below error
[code]

Can I get some help here?

Regards,
Piyush Gandhi

[2021-02-24 15:32] Romeh commented on #1341
Thanks for your example , closing the issue now

[2021-02-24 15:32] #1341 closed

[2021-02-24 15:36] Romeh commented on #1350
duplicate of https://github.com/resilience4j/resilience4j-spring-boot2-demo/issues/51

[2021-02-24 15:36] #1350 closed

[2021-02-24 21:51] pspjzy commented on #1346
Yes, was rxjava version

[2021-02-24 21:51] #1346 closed

[2021-02-25 10:48] simonDeHero opened #1351 "Please clarify behaviour of "permittedNumberOfCallsInHalfOpenState""
Resilience4j version: io.github.resilience4j:resilience4j-spring-boot2:1.7.0

Java version: OpenJDK 11.0.2

Hi there!

According to https://resilience4j.readme.io/docs/circuitbreaker, i interpret this "permittedNumberOfCallsInHalfOpenState" basically as a count-based window of the last N calls. After a certain error rate in this window is reached the state switches back to OPEN. If for all calls i

[2021-02-25 11:09] RobWin commented on #1351
Hi, could try to you remove
`enableAutomaticTransitionFromOpenToHalfOpen()` in you test? Maybe the thread which schedules the automatic transition does not work properly if the transition is also done manually in parallel.

[2021-02-25 11:22] RobWin commented on #1351
Hi,
Could you try to remove  `enableAutomaticTransitionFromOpenToHalfOpen()`.
Maybe the scheduled thread does not work properly, if you also transition manually to half open.

[2021-02-25 11:25] simonDeHero commented on #1351
Hi,
i commented it out, but the behaviour is the same. i also did the state transition by actually failed calls, still same behaviour.

[code]

[2021-02-25 12:23] simonDeHero opened #1352 "Define CircuitBreaker YAML config with name-prefix?"
Resilience4j version: io.github.resilience4j:resilience4j-spring-boot2:1.7.0

Java version: OpenJDK 11.0.2

Hi there,
we are using circuit breakers via annotation and SpEL:
[code]

So the actual name of the circuit breaker is not known in advance, but during runtime only.

The YAML config allows specifying a config for an instance by concrete name only, which i cannot do in my case.

Is there mayb

[2021-02-25 12:37] RobWin commented on #1352
Hi,
Unfortunately it's not possible at the moment.
The list of external APIs is dynamic?

[2021-02-25 12:50] simonDeHero commented on #1352
yes, unfortunately. then i will solve it via custom registry for CB creation. no issue, just wanted to ask, if i may have overlooked something :-) thx!

[2021-02-25 14:54] RobWin commented on #1351
Ah sry,
I didn't see on my smartphone that you set `minimumNumberOfCalls` to `1`. which is not advised.
The setting `minimumNumberOfCalls` is also used in HALF_OPEN state.
That means after the first call the error rate is already calculated. Up to maximum of 4 calls.
You should set  `minimumNumberOfCalls` >= `permittedNumberOfCallsInHalfOpenState`

[2021-02-25 14:55] #1351 closed

[2021-02-25 16:31] simonDeHero commented on #1351
Hi,
yes, works now :-) thx very much for clarifying!

[2021-02-25 19:44] #1352 closed

[2021-02-25 20:19] hexmind commented on #1347
Hi,
have you thought about many instances from [RetryRegistry](https://github.com/resilience4j/resilience4j/blob/9aa18f8f4f04ea55177acef8a51c2c3a82203266/resilience4j-retry/src/main/java/io/github/resilience4j/retry/RetryRegistry.java)?
What you can also do is an investigation of [ContextPropagator ](https://github.com/resilience4j/resilience4j/issues/565#issuecomment-607734218) topic.

[2021-02-26 03:07] Mkabaka opened #1353 "Integer overflow of AbstractAggregation#numberOfCalls"
Resilience4j version:
1.7.0
Java version:
1.8

An `int` number `numberOfCalls` in `AbstractAggregation ` is used to record the total
call number of a specified resource. Is it possible to cause the numeric overflow for
those resource which has high throughput?

[2021-02-26 07:36] RobWin commented on #1353
Hi,
highly depends on your window size.

[2021-02-26 19:49] tapioko opened #1356 "Rate limiter let's pending requests pass too soon"
Resilience4j version: 1.7.0
Java version: jdk-15, language level 11

Rate limiter lets more than specified amount of requests pass in given time when timeout is long enough.

Test code (it doesn't fail, just prints to log):

[code]

Output:
[code]
In my case it doesn't matter if rate limiter lets requests pass a few milliseconds before their time, but hundreds of milliseconds defeat the purpose. :

[2021-02-27 21:51] storozhukBM commented on #1356
@tapioko
The reason is the following https://github.com/resilience4j/resilience4j/blob/81c758e177f954bf0f2580fa3ddd28f86a62a3d9/resilience4j-ratelimiter/src/main/java/io/github/resilience4j/ratelimiter/internal/AtomicRateLimiter.java#L40

RateLimiter splits time into cycles that depend on the rate limiter creation time, razer then from when you started to call it.
With random waits between  cycles

[2021-02-28 06:51] cmakinen opened #1357 "Propagated context in Threadpool Bulkheads getting cleared before fallback method runs"
Resilience4j version: 1.7.0
Java version: openjdk 1.8.0_282

The context propagator is being applied to the Callable/Runnable as expected but once it has completed running (exceptionally), the context is being cleared and is not available in the fallback method.

The same problem doesn't apply to TimeLimiter threads. I have enabled Context Aware scheduled threadpool and the context gets copied ove

[2021-03-01 08:32] adrianbob commented on #703
Could you also update the documentation for Bulkhead with the example of how to add a custom RegistryStore?

[2021-03-01 09:01] tapioko commented on #1356
So rate limiter guarantees that on average requests don't get executed more often than configured, but it's normal that within a refresh period there might be up to 2x executions compared to the given limit? And if I want to make sure it doesn't happen, I should just halve my `limitForPeriod`? E.g. if I want that there are never more than two requests in any time window of one second, I should set

[2021-03-01 09:09] Mkabaka commented on #1353
@RobWin  Thanks a lot. I ignored that the `numberOfCalls` will decrease when
`moveWindowByone` is invoked before. It's my mistake.

[2021-03-01 09:09] #1353 closed

[2021-03-01 09:37] storozhukBM commented on #1356
No, rate limiter guarantees exact limiting within cycles, and cycles start from the point in time when rate limiter is created.

The only problem is that cycles on your server and target API aren't synchronized, so from the API perspective, it is one cycle, but on your server, you were in between 2 cycles.

<img width="1222" alt="Screenshot 2021-03-01 at 09 36 32" src="https://user-images.githubus

[2021-03-01 10:33] Romeh commented on #703
feel free to suggest edits for that here : https://resilience4j.readme.io/

[2021-03-01 11:16] tapioko commented on #1356
Alright. So it works as intended, but I just understood/wished it worked a little bit differently.

[2021-03-01 11:16] #1356 closed

[2021-03-01 12:15] patpatpat123 opened #1358 "Java Spring Webflux + Resilience4J Time limiter + metrics."
Hello Resilience4J Team,

I am currently using a Spring Webflux 2.4.2 with reactor Resilience4J 1.6.1.
Most of all, I have the ```resilience4j-micrometer``` for the metrics.

(small parenthesis, the micrometer integration is amazing, lots of great insights, many thanks)

I am currently annotating my outbound http call as follow:

[code]

When this is taking too long, the time limit kicks in, very

[2021-03-01 12:37] RobWin commented on #1358
Currently you can use the CircuitBreaker to measure request duration.
Since the CircuitBreaker existed before TimeLimiter, we didn't want to add the same measurements a second time.

[2021-03-01 12:42] patpatpat123 commented on #1358
Understood @RobWin ,

Many thanks, giving this a try.

For our use case, the third party API is known to be just slow, because of the compute they have to do.

But the service is super reliable, this is why we didn't try with circuit breaker.

Nonetheless, we are going to follow your good advices, and try with a combination of Circuit Breaker and slow call in order to see if we can get the elapsed

[2021-03-01 15:11] patpatpat123 commented on #1358
If you do not mind me asking:

I went to change my time limiter to circuit breaker, and I am now seeing much more metrics.

In particular, I am seeing:

[code]

And this is just a sample.
Actually, within minutes, there is a plethora of those metrics being generated. May I ask if this normal?
Most of all, the value for most of them is 0.0

Just wondering if those were the ones you were thinking ab

[2021-03-01 16:22] RobWin commented on #1358
Yes, the granularity of the buckets can be configured via spring boot micrometer.

[2021-03-02 08:37] AtticusLv opened #1359 "Reactor CircuitBreakerOperator don't capture Mono.error operator"
Resilience4j version: latest

Java version: 8

In reactor scenario, resilience4j's tool CircuitBreakerOperator cannot capture Mono.error.
Is there any way to capture that?

example codes:

`
Mono.just(item)
                .map(i -> {
                    if (condition that passes) {
                        return i;
                    }
                    return Mono.error(new RuntimeException("

[2021-03-02 09:51] pxmartin747 opened #1360 "Logging to console when using Resilience4j annotations with Spring Boot"
Resilience4j version: 1.7

Java version: 8

How do you configure logging of events to the console when using Resilience4j Annotations with Spring Boot, eg with Circuit Breaker and Retry, as I cannot see anything on this and the Annotation Circuit Breaker does not seem to have an Event Publisher.
Thanks

[2021-03-02 12:07] RobWin commented on #1359
If you want to return a Mono, you have to use flatMap instead of map.

[2021-03-02 13:09] patpatpat123 commented on #1358
Many thanks @RobWin

[2021-03-02 13:09] #1358 closed

[2021-03-03 10:24] mortezalatifi opened #1361 "Spring Boot 2.4.3 and Resilience4j 1.7.0"
Resilience4j version: io.github.resilience4j:resilience4j-spring-boot2:1.7.0
Spring Boot version: 2.4.3

After Upgrading to Spring Boot 2.4.3, I get this Error Message:

`java.lang.IllegalStateException: Failed to introspect Class [io.github.resilience4j.retry.autoconfigure.AbstractRetryConfigurationOnMissingBean] from ClassLoader [jdk.internal.loader.ClassLoaders$AppClassLoader@2c13da15]
	at org.

[2021-03-03 14:29] patpatpat123 opened #1362 "Resilience4J - circuit breaker opened after only one failure, and stating opened for too long"
Resilience4j version: 1.6.1

Java version: 11

Hello Resilience4J Team,

I just wanted to state an observation using Resilience4j.
Especially, the circuit breaker opens only after one failure, and stay opened for long.

We first used Circuit breaker, as our colleagues from TeamBravo had a very flaky service.
Therefore, when TeamBravo's service was down, throwing exception due to their DB issue, et

[2021-03-03 22:16] jattisha commented on #1347
Multiple instances of Retry (or the other Decorator instances) doesn't work for 2 reasons:
1. Other usages like CircuitBreaker cannot have multiple instances since they have state across requests
2. The RetryRegistry still stores the Retrys in a map that's keyed off of the Retry name, so even that doesn't help for getting new instances either.

The ContextPropagator isn't there for Async wrapping.

[2021-03-04 09:44] Romeh commented on #1349
closing the issue please if u have any new question create a new one

[2021-03-04 09:44] #1349 closed

[2021-03-04 09:44] Romeh commented on #1348
closing for inactivity

[2021-03-04 09:44] #1348 closed

[2021-03-04 09:45] Romeh commented on #1345
closing the issue please if u have any new question create a new one

[2021-03-04 09:45] #1345 closed

[2021-03-04 09:45] Romeh commented on #1338
closing the issue please if u have any new question create a new one

[2021-03-04 09:45] #1338 closed

[2021-03-04 09:45] Romeh commented on #1337
closing the issue please if u have any new question create a new one

[2021-03-04 09:45] #1337 closed

[2021-03-04 09:46] Romeh commented on #1311
closing the issue please if u have any new question create a new one

[2021-03-04 09:46] #1311 closed

[2021-03-04 09:49] Romeh commented on #1252
closing the issue please if u have any new question create a new one

[2021-03-04 09:49] #1252 closed

[2021-03-04 09:50] Romeh commented on #978
closing the issue please if u have any new question create a new one

[2021-03-04 09:50] #978 closed

[2021-03-04 09:51] Romeh commented on #975
closing the issue please if u have any new question create a new one

[2021-03-04 09:51] #975 closed

[2021-03-04 09:55] Romeh commented on #1361
you need to align your resilience4j versions for all resilience4j dependencies , you can not mix 1.6.1 with 1.7.0 , so either u have all based into 1.7.0 or 1.6.1

[2021-03-04 10:00] Romeh commented on #1362
@patpatpat123 ,

you set the min calls to 1 and window size to 5 , that is why it open after one failed call , plus u put 50 seconds to for duration in open state . please check the comments here https://github.com/resilience4j/resilience4j/issues/1349

to get better understanding about the min number of calls with window count size .

[2021-03-04 12:10] #1360 closed

[2021-03-04 12:56] pxmartin747 opened #1363 "OpenFeign retry vs Resilience4J Retry"
I am using the Resilience4J CircuitBreaker with OpenFeign FeignClient and while testing out with the target service unavailable, it correctly went to the fallback method, but I noticed that the Exception was feign.RetryableException. I believe this is because the Feign Client will retry by default.
I now want to add the Resilience4J Retry mechanism. Does this mean that both the Feign and the Resil

[2021-03-04 13:49] ismailazerty opened #1364 "Can I use Resilience4j with pure TCP/IP sockets ?"
Hello,

   Can I use Resilience4j with pure TCP/IP sockets ?

Regards

[2021-03-05 03:10] AtticusLv commented on #1359
sorry for the misunderstanding codes, change map operator to flatMap.

The feature I want is to record the Mono error as a failure and thus increase the circuit breaker's failure rate.

Check the CircuitBreakerConfig's fields, there is only "private Class<? extends Throwable>[] recordExceptions = new Class[0];" can be used to mark the failure.

Any plan to support the native reactor Mono/Flux erro

[2021-03-05 03:42] dlsrb6342 commented on #1359
Hi @AtticusLv

Did you check `circuitBreaker.getMetrics().getNumberOfFailedCalls()`?
If your total calls is less then `minimumNumberOfCalls`, failure rate is always -1. We start to calculate failure rate after total calls count is greater than `minimumNumberOfCalls`

I tested below code and number of failed calls is increased. Tests with sufficient calls that is greater than `minimumNumberOfCalls`

[2021-03-05 06:08] AtticusLv commented on #1359
@dlsrb6342 Thx for the tip.
In the case, does the CircuitBreakerConfig's recordExceptions field contains RuntimeException?

[2021-03-05 06:14] dlsrb6342 commented on #1359
No I didn't change any config and used default value(https://resilience4j.readme.io/docs/circuitbreaker#create-and-configure-a-circuitbreaker).
If you don't set `recordExceptions`, all exceptions are count as failure.

[2021-03-05 12:10] RobWin commented on #1364
Yes

[2021-03-05 12:14] ismailazerty commented on #1364
Any example to share with us please ?

[2021-03-05 12:17] ismailazerty opened #1365 "Load balancing"
It would be great if resilience4j , could also do client side load balancing.
Any plan for this ?

[2021-03-05 12:17] RobWin commented on #1364
I've no examples at hand. Did you try it by your own?

[2021-03-05 12:19] RobWin commented on #1365
No, there are other libraries which are doing it.

[2021-03-05 12:20] ismailazerty commented on #1364
Not yet , I am trying to find the best framework to do that.
Thx.

[2021-03-05 12:21] RobWin commented on #1364
A framework to develop a TCP client or server?
Have a look at Netty or Vert.x

[2021-03-05 12:24] ismailazerty commented on #1365
Could you name one with health check and socket TCP/ip, Ribbon is no longer supported, and that is very annoying.

[2021-03-05 17:20] ItzLazyTechie opened #1366 "CircuitBreaker Not Changing State from HALF_OPEN to CLOSED"
Resilience4j version: 1.7.0

Java version: 8

Hi,
I am inplementing the circuit breaker over a apache http client call. evrrything works except once the circuit breaker goes in to half open state within in the permitted number of calls(2) still the state transition is showing as Half Open to Open. The http client calls are successful calls in the half open state.  i kept an event and onsuccess eve

[2021-03-06 07:13] ItzSyed commented on #1366
Any suggestions?

[2021-03-07 09:44] #1304 closed

[2021-03-07 18:05] ItzSyed commented on #1366
Any idea what can be the issue?

[2021-03-08 03:13] dlsrb6342 commented on #1366
Hi @ItzSyed
Can u share code example for better validation?

[2021-03-08 07:59] #1359 closed

[2021-03-08 09:39] Romeh commented on #1365
outside the scope of resilience4j project here , please you can find some answers on stackoverflow and and u r using spring cloud , u can check also : https://spring.io/guides/gs/spring-cloud-loadbalancer/

[2021-03-08 09:39] #1365 closed

[2021-03-08 09:40] Romeh commented on #1364
closing the issue as it is not related to resiliecne4j features

[2021-03-08 09:40] #1364 closed

[2021-03-08 09:48] Romeh commented on #1363
@pxmartin747 how you configure ur feign client ?

Did u do something like the following where retry instance here is resilience4j retry  :

[code]

[2021-03-08 10:41] ngDevendra commented on #826
Hi RobWin - Can you please explain this point with the help of example?

I've two downstream services which I want to call in a resilient manner i.e. Allow certain threads allocated to call to Service A and certain to call Service B. I understood the 'maxWaitDuration' and 'maxConcurrentCalls' very well. But not able to differentiate 'maxThreadPoolSize, coreThreadPoolSize, queueCapacity' from 'maxW

[2021-03-08 20:41] sagebind commented on #1278
Maybe slightly off topic, but still relevant: If you do decide to explicitly follow semver, I recommend applying semver to your binary API and not just your source-code API. Please read [this article](http://codefhtagn.blogspot.com/2010/11/java-binary-compatibility-more-than.html) for an explanation of what binary compatibility means in Java if you don't know, but essentially what it means is that

[2021-03-09 04:00] ngDevendra opened #1367 "practical different between bulkhead vs threadpoolbulkhead"
Bulkhead -> Semaphore-based Bulkhead
ThreadPoolBulkhead -> Threadpool-based Bulkhead

The Semaphore-based Bulkhead runs your code in the current Thread and controls the number of concurrent threads by a Semaphore.
The Threadpool-based Bulkhead runs your code in a Thread from a Thread Pool and controls the number of concurrent threads by a bounded queue and thread pool.

Hi RobWin - Can you please

[2021-03-09 07:06] RobWin commented on #1278
Thx

[2021-03-09 07:08] RobWin commented on #1367
`maxWaitDuration` and `maxConcurrentCalls` belong to the  Semaphore-based Bulkhead  -> https://resilience4j.readme.io/docs/bulkhead#create-and-configure-a-bulkhead

`maxThreadPoolSize`, `coreThreadPoolSize` and `queueCapacity`  belong to the  Threadpool-based Bulkhead  -> https://resilience4j.readme.io/docs/bulkhead#create-and-configure-a-threadpoolbulkhead

I think it doesn't make sense to use th

[2021-03-09 07:14] ItzLazyTechie commented on #1366
public String run() throws Throwable {
cb = createCB();
CheckedFunction0<String> sup = () -> apachehttpclient.post(request, headers);
String output = cb.executeCheckedSupplier(sup);
}

[2021-03-09 08:39] ngDevendra commented on #1367
I understood that from documentation but few points are missing on documentation. So can you please help me with following queries:

1. why ThreadPoolBulkHead is only applicable for CompletableFuture?

2. In Threadpool-based bulkhead, coreThreadPoolSize number of threads  will be ulitilised first, followed by requests will be queued and remaining requests (if any) will get extra threads which are

[2021-03-09 12:10] chas678 commented on #1361
They are mixed - spring-boot-2 at 1.7.0 is still built on 1.6.1 for transitive dependencies. `mvn dependency:tree -Dverbose "-Dincludes=*:resilience4j-circuitbreaker"`

`[INFO] \- io.github.resilience4j:resilience4j-spring-boot2:jar:1.7.0:compile
[INFO]    \- io.github.resilience4j:resilience4j-spring:jar:1.6.1:compile (version managed from 1.7.0)
[INFO]       \- io.github.resilience4j:resilience4

[2021-03-09 12:55] ItzLazyTechie commented on #1366
I think i got it. due to the slowcallrate is going to 100 percent it is going from half open to open even if the service call is success. can you let me know half open to open state is also depends on the slowcallrate percentage?

[2021-03-09 13:12] ItzLazyTechie commented on #1366
Thanks for the clarification! yes its due to slow call it treats as a failure. i can close the issue

[2021-03-09 13:12] #1366 closed

[2021-03-09 17:25] dagguh commented on #1278
I found these [OpenJDK compatibility notes](http://cr.openjdk.java.net/~darcy/OpenJdkDevGuide/OpenJdkDevelopersGuide.v0.777.html#binary_compatibility) useful when declaring and maintaining our SemVer libs.

[2021-03-09 19:50] jattisha commented on #1347
As of now, we have figured out a way to tie into the underlying implementation details of the individual modules (Retry, CircuitBreaker, etc) in order to collect and aggregate the emitted events across threads for a single request and then emit these metrics for our request, but I think what we are really looking for here is an API from R4J that will provide all of the events that happened for a g

[2021-03-10 08:01] mortezalatifi commented on #1361
Yes exactly. I have pinned the version (1.7.0) by each sub-dependecy of the spring-boot2 and it works.

`    implementation("io.github.resilience4j:resilience4j-spring-boot2:1.7.0")
    implementation("io.github.resilience4j:resilience4j-spring:1.7.0")
    implementation("io.github.resilience4j:resilience4j-timelimiter:1.7.0")
    implementation("io.github.resilience4j:resilience4j-retry:1.7.0")

[2021-03-10 08:11] chas678 commented on #1361
actually - Thinking about it in my example, it could be spring-cloud that is version pinning 1.6.1 of resilience4j-spring - so pinning to 1.7.0 of all the dependencies is probably the correct thing to do.  Its a shame there isn't a BOM to do them all though.

[2021-03-10 10:37] ZhuoSiChen opened #1368 "How to change the RateLimiter limitRefreshPeriod？"
Resilience4j version: 1.7.0

Java version: 8
As the titile。
What I had find is io.github.resilience4j.ratelimiter.RateLimiter#changeTimeoutDuration
and
io.github.resilience4j.ratelimiter.RateLimiter#changeLimitForPeriod
but didn’t find the method to io.github.resilience4j.ratelimiter.RateLimiter#limitRefreshPeriod

[2021-03-11 06:00] dlsrb6342 commented on #1368
@ZhuoSiChen
I think we can add a method.
@RobWin @Romeh wdyt?

[2021-03-11 22:02] asthinasthi opened #1369 "MeterBinder: Add Metrics per circuitBreaker instead of the entire circuitBreakerRegistry?"
Resilience4j version: 1.6.0

Java version: 11

Currently when we bind Metrics we do it at the registry level. i.e. Every circuitBreaker in the registry gets added.

[code]
In our Implementation, we keep adding circuitBreakers to the registry. But as of now we can't individually bind them. So everytime we are forced to bind all the circuitBreakers in the circuitBreakerRegistry

**Question**
Are the

[2021-03-12 17:55] cmakinen commented on #1357
Does someone have an idea of what I might be doing wrong or confirm that this is a bug?

[2021-03-13 02:10] dlsrb6342 commented on #1369
Hi @asthinasthi
You can bind CircuitBreaker instance by using `TaggedCircuitBreakerMetricsPublisher`.

[2021-03-14 18:03] hendrikstill opened #1372 "Kotlin Timelimiter executeSuspendFunction throws TimeoutException after coroutine is canceled"
Resilience4j version: v1.7.0

Java version: 11.0.9
Kotlin version: 1.4.30

The `executeSuspendFunction` of the `Timelimiter` throws a `TimeoutException` after the main coroutine was canceled.

In a real world scenario of a server-application this could lead to the execute of a fallback, after the client terminated the connection.

Here an Example:
[code]

Output:
[code]

**Expected behavior:**
The

[2021-03-15 15:30] mukundjalan opened #1373 "Springboot 2.4.x application failing on startup with version 1.7.0"
Resilience4j version: 1.7.0

Java version: 1.8

Spring Boot Version 2.4.2

We have an application which was running fine with spring boot 2.3.x & resilience4j 1.7.0. Today I made an upgrade to Spring boot 2.4.2 and the application context is failing to load. Can you please assist on this?

I see that the method signature expected here is a bit different, do I need to add any additional configurati

[2021-03-15 16:21] Romeh commented on #1361
@chas678
You can create a ticket to spring cloud starter about it meanwhile for reilience4j we have our BOM for it here for maven for example:
https://mvnrepository.com/artifact/io.github.resilience4j/resilience4j-bom/1.7.0

[2021-03-15 16:22] Romeh commented on #1373
@mukundjalan  please check https://github.com/resilience4j/resilience4j/issues/1361

[2021-03-15 16:22] Romeh commented on #1368
fine by me @RobWin  ?

[2021-03-15 19:41] shharma-vipin commented on #1013
I am still not seeing call duration metrics even in Prometheus. I believe it is an issue with CircuitBreaker not emitting these metrics.
I am using Resiliency4J-prometheus dependency.
My setup is this --> dropwizard application + kotlin

[2021-03-16 00:13] storozhukBM commented on #1368
@ZhuoSiChen  can you please explain why do you want to change limitRefreshPeriod in runtime and what is your use case?

[2021-03-16 11:21] mukundjalan commented on #1373
@Romeh that was indeed the issue in my case, spring boot was importing 1.6.1 related dependencies and I had 1.7.0. I could solve it by including the suggested BOM. Although it is necessary that the BOM is included in the pom before the spring boot starters otherwise spring boot would take precedence. Thanks for helping me solve this issue.

[2021-03-16 11:21] #1373 closed

[2021-03-18 01:19] ZhuoSiChen commented on #1368
Because the people had the day and night,
I was write a offline program and I want to larger the RateLimiter on the night。

[2021-03-18 05:28] shashanka981 opened #1374 "resilience4j-micronaut unable to read slowCallDurationThreshold property"
Resilience4j version: 1.7.0

Java version: 1.8

I am using resilience4j-Micronaut for implementing fault tolerance. I am setting following circuit breakers in application.yml of micronaut framwork.

application.yml

resilience4j:
  circuitbreaker:
    enabled: true
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 3

[2021-03-18 13:25] rakeshsai opened #1375 "How to configure Circuitbreaker without application.properties file for Multi-Module Projects"
Resilience4j version:1.6.0

Java version: 8

 I have a multi-module spring boot project setup, so the child project cannot have its own application.properties file. Although I can configure it in parent's application.properties  and use them in the child project but I want to keep the circuit breaker configuration within the child project itself. Can I configure it in a java class within the child

[2021-03-18 13:48] Romeh commented on #1374
@pollend can you please have a look ?

[2021-03-18 13:56] pollend commented on #1374
I'll have a look later today

[2021-03-18 14:34] shashanka981 commented on #1374
Issue is with value passed to "slowCallDurationThreshold" property in application.yml . I have given it incorrectly. Fixing this resolved the issue..

[2021-03-18 14:34] #1374 closed

[2021-03-18 15:18] shashanka981 opened #1376 "Hooks in resilience4j library to listen and respond to circuit state events"
Resilience4j version: 1.7.0

Java version: 1.8

This is more of question. Are there any hooks in resilience4j library by which we can listen and respond to various circuit state events - circuit open, closed, halfopen etc ?

[2021-03-18 17:41] devdatto opened #1377 "CircuitBreaker advice taking 2s to execute"
Resilience4j version: 1.2

Java version: 1.8

SpringBoot version: 1.5.2

We are using resilience4j for circuit breaker setup and observing CircuitBreakerAspect.circuitBreakerAroundAdvice taking close to 2 seconds to execute, quite consistently. Any idea what could be the reason for a slow response time? Here's the config related to the circuit breaker

resilience4j.circuitbreaker.instances.service

[2021-03-18 20:23] hexmind commented on #1376
Yes, read how to [consume emitted CircuitBreakerEvents](https://resilience4j.readme.io/docs/circuitbreaker#consume-emitted-circuitbreakerevents).

[code]

[2021-03-18 20:30] hexmind commented on #1375
Yes, you have several ways like shared JAR, [custom Spring starter](https://docs.spring.io/spring-boot/docs/2.0.0.M3/reference/html/boot-features-developing-auto-configuration.html) or even [Spring Cloud Config](https://resilience4j.readme.io/docs/getting-started-6).

[2021-03-19 03:18] shashanka981 commented on #1376
Thanks, that was helpful

I am configuring circuit breaker using resilience4j-micronaut circuitbreaker annotation. I am not creating the circuit breaker using the CircuitBreakerRegsitry or other apis, creation is declarative.

How do i retrieve the declaratively created circuitbreaker instance programatically.

[2021-03-19 08:14] Ferioney opened #1378 "resilience4j-spring-boot2: Create circuit breaker based on default configuration"
Resilience4j version: 1.6.1.

I have default resilience4j configuration:
[code]

and some specific:
[code]
In that case, the circuit breaker was created based on a specific configuration without using the default configuration.
To override the default configuration I should use `baseConfig` property.

As for me it more reasonable to override the default configuration without `baseConfig` property.

[2021-03-19 09:15] rurouniwallace opened #1379 "JVM running out of threads when I use a Time Limiter (circuit breaker + thread pool bulkhead + time limiter)"
Resilience4j version: 1.7

Java version: 8

I'm new to resilience4j (though I have moderate experience with Hystrix) and am trying to learn how to use it to optimize performance under load. Currently the code I've written uses: a circuit breaker, a thread pool bulkhead, and a TimeLimiter. I've observed that when I decorate the supplier using a Time Limiter, under medium load (around 90 requests pe

[2021-03-19 10:53] #1376 closed

[2021-03-20 14:24] davidkarlsen opened #1380 "wrong metric in grafana dashboard"
Resilience4j version: 1.7.0

Java version: N/A

The current dashboard seems to use resilience4j_retry_calls but the metric seems to be actually named `resilience4j_retry_calls_total`

[2021-03-21 23:43] MichalVavrikMuJ commented on #1233
Hello,

is this somehow related?

java.lang.NoSuchMethodError: 'reactor.core.publisher.Flux reactor.core.publisher.Flux.retryWhen(java.util.function.Function)'
	at io.github.resilience4j.reactor.retry.RetryOperator.apply(RetryOperator.java:63) ~[resilience4j-reactor-1.6.1.jar:1.6.1]
	at io.github.resilience4j.reactor.retry.RetryOperator.apply(RetryOperator.java:32) ~[resilience4j-reactor-1.6.1.jar

[2021-03-22 07:41] RobWin commented on #1378
Hi, sry. I didn't get your last sentence.
What do you propose?

[2021-03-22 07:46] RobWin commented on #1380
Hi, would you like to create a PR and fix it?

[2021-03-22 07:47] RobWin commented on #1379
Hi,

try the following:

[code]

How did you configure your ThreadPoolBulkhead?

[2021-03-22 07:48] RobWin commented on #1379
How did you configure your ThreadPoolBulkhead?

[2021-03-22 07:53] RobWin commented on #1377
Hi,

just for my understanding.
The ServiceA takes in average 5-15 seconds? The call is done sync and not async?
Do you mean the circuitBreakerAroundAdvice adds 1.5-2.2 seconds to the 5-15 seconds ot ServiceA?

[2021-03-22 08:33] davidkarlsen commented on #1380
@RobWin - sure - NP - assign it to me please.

[2021-03-22 08:34] RobWin commented on #1380
thx

[2021-03-22 08:43] #1380 closed

[2021-03-22 12:00] fdw opened #1383 "Lazily registering circuit breaker with additional tags results in IllegalArgumentException"
Resilience4j version: 1.6.1

Java version: 11

Similar to #327, I want to register circuit breakers one by one, lazily (since I don't know which ones are configured). So far, this worked quite well, but now I wanted to add some tags to the Prometheus metrics:
[code]

This now fails with `java.lang.IllegalArgumentException: Collector already registered that provides name: resilience4j_circuitbreake

[2021-03-22 12:09] fdw commented on #1383
It now seems to work, after I changes something that should not have an impact. Closing until I can find out if this is an actual bug.

[2021-03-22 12:09] #1383 closed

[2021-03-22 20:44] rurouniwallace commented on #1379
coreThreadPoolSize: 2
maxThreadPoolSize: 8
queueCapacity: 50

Everything else is default

[2021-03-23 07:30] RobWin commented on #1379
Do you monitor the thread utilization via Prometheus/Grafana or some other tooling?
How many thread pool bulkhead instances do you have? Only one?

[2021-03-23 08:03] RobWin commented on #1372
Hi thx,
would you like to create a PR?

[2021-03-23 16:11] devdatto commented on #1377
This call is synchronous, circuit breaker is adding up those extra seconds along with the actual round trip call while invoking the serviceA

[2021-03-23 22:06] storozhukBM commented on #1368
@ZhuoSiChen can you provide your exact settings of limit and period for night and day?

[2021-03-24 02:04] rurouniwallace commented on #1379
No thread utilization monitoring. I'm not familiar with any of the tools needed to do that (though that'll probably be worth learning for this project). I just have the one instance that's used globally. The idea behind my design is to have one circuit breaker and one thread pool per dependency (similar to Hystrix)

[2021-03-24 10:45] Ferioney commented on #1379
@rurouniwallace I had a similar issue.
My application was run for 30 min, and I had 8000 threads (with Hystrix I had 200-300 threads).
After analysis of threads dumb, I found the root cause.
The reason was in `ScheduledExecutorService scheduler = Executors.newSingleThreadScheduledExecutor();`.
Each time when I decorate supplier by timeLimiter I created a new `ScheduledExecutorService `.
All execut

[2021-03-24 11:01] RobWin commented on #1379
You should not create a new SingleThreadScheduledExecutor per TimeLimiter, but use a ScheduledThreadPoolExecutor to schedule timeouts in a production system.

[2021-03-25 02:11] ZhuoSiChen commented on #1368
[code]

[2021-03-25 05:29] rurouniwallace commented on #1379
I'll give this a try. This makes me wonder then, what role does this scheduler play as far as thread allocation goes? Isn't there already a thread pool already managed by the resilience4j thread pool bulkhead? Pardon my ignorance if these are basic questions.

[2021-03-25 09:05] RobWin commented on #1368
Better use the RateLimiterRegistry in your code to get an RateLimiter instance.
Then you could replace the ratelimiter instance in the RateLimiterRegistry whenever it's necessary.

[2021-03-25 09:08] RobWin commented on #1379
The Timelimiter needs as `ScheduledThreadPoolExecutor` to schedule TimeoutExceptions. The ScheduledThreadPoolExecutor only allows to configure a `corePoolSize`.
The ThreadPoolBulkhead needs a `ThreadPoolExecutor` which allows more configuration options. But you can't use a `ThreadPoolExecutor` to schedule tasks.

[2021-03-25 13:47] walec51 opened #1387 "New feture: open CircuitBreaker for a time based on the decorated calls response"
Problem:

We have a client class that uses resiliance4j decorators. The underlining API, which the client calls, can ban our IP for some time for multiple reasons. The underlining API in its error response returns the duration of the given ban and expects that we will stop any further communication during it. Not doing so could result in an even longer ban.

Solution:

This is an ideal use case fo

[2021-03-25 14:43] RobWin commented on #1387
I like the idea that you can handle results and based on the result you can force a transition to open.
Comparable to `RateLimiterConfig.drainPermissionsOnResult` predicate, we could add a `CircuitBreakerConfig.forceOpenOnResult()` predicate.

[2021-03-25 15:37] walec51 commented on #1387
@RobWin to handle my use case I would need something more then a predicate - I'm thinking more of an `Function<ForceOpenChecksResult, Either<Throwable, T>>` as shown in the example

[2021-03-25 15:39] walec51 commented on #1387
in `ForceOpenChecksResult` one would pass if a force open is needed and optionally until which point in time should it be opened

[2021-03-26 08:30] RobWin commented on #1387
Ok,
some ideas:

1) We have to add a `private void transitionToOpenState(long waitDurationInMillis)` to the `CircuitBreakerStateMachine` and add another constructor to `CircuitBreakerStateMachine.OpenState` so that you can use a fixed waitDurationInMillis and not use the `waitIntervalFunctionInOpenState` from the CircuitBreakerConfig.

2) We should not call the methd `forceOpenOnResult`, because `

[2021-03-26 10:59] ZhuoSiChen commented on #1368
I was used like this
[code]

[2021-03-26 11:09] RobWin commented on #1368
Use our Spring Boot starter and inject the RateLimiterRegistry bean, or create a Singleton RateLimiterRegistry.

[code]

and change at night

[code]

and change at day

[code]

[2021-03-26 15:37] obarat opened #1388 "How to externalize the registry store?"
Resilience4j version: `1.7.0`

Java version: `1.8`

I have a service that proxies all requests to my other services and provides rate limiting using this fantastic library, it's working great.  The rate limiting service currently uses the default in-memory registry store.  If I were to add an extra instance of this service, then each instance would have it's own registry store and would allow doub

[2021-03-27 10:54] anuragagarwal561994 opened #1389 "Circuit breaker stuck in half open state"
Resilience4j version: 1.6.1

Java version: 8

Thanks for raising a Resilience4j issue.
Please replace this text with a brief description of your problem along with the versions you are using.
If possible, please also consider putting together a complete JUnit test that reproduces the issue.

[code]

I am using the above config.
I am decorating a completable future in my circuit breaker.

Sometimes

[2021-03-29 07:02] RobWin commented on #1389
Hi,

you should never catch an Error. But I don't that anything library is throwing an `OutOfMemoryError`.
Could you show me a snippet of your code, how you are using the CircuitBreaker?

[2021-03-29 07:07] RobWin commented on #1389
How did you configure SLIDING_WINDOW_SIZE and MIN_NUM_CALLS?

[2021-03-29 07:13] RobWin commented on #1388
Unfortunatley a distributed RateLimiter is not supported yet.
Please see: https://github.com/resilience4j/resilience4j/issues/350

An alternative for you could be: https://github.com/vladimir-bukhtoyarov/bucket4j

[2021-03-29 10:27] anuragagarwal561994 commented on #1389
[code]

This is the factory class so finally we use it like:

[code]

[2021-03-29 10:33] anuragagarwal561994 commented on #1389
[code]

[code]

This is more or less the snippet we are using. Do let me know if you need anything else.
My point is that circuit breaker if doesn't update the metrics of half_open state in case there is an Error then it will let the decorated supplier flow.
In this case if I have exceptionally block I might just log the Error case (because it is not that common logic to handle Errors) and proceed

[2021-03-29 10:52] RobWin commented on #1389
Are you calling the same remote service, even if the CircuitBreaker is OPEN?

[code]

What is `abortRequest(ex);` doing?

[2021-03-29 11:32] ZhuoSiChen commented on #1368
Thanks a lot！
But I still think this method should be added!

[2021-03-29 11:32] #1368 closed

[2021-03-29 13:40] anuragagarwal561994 commented on #1389
So will give you a snapshot of the two main methods used here:

[code]

Here I am using httpasyncclient-4.1.2 version.

[code]

httpRequest.abort() actually calls FutureCallback's cancelled

So ideally the flow is ->

CompletableFuture<Void> future = new CompletableFuture<>();
f1 = CircuitBreaker.decorate((dmmService.getHttpResponse() -> thenApply [dmmService.getResponse()]))
f1 -> exceptionally(E

[2021-03-29 13:46] anuragagarwal561994 commented on #1389
So from the above example, in some critical case I am assuming that httpAsyncClient is throwing error under very high load, but I never encountered such an issue when I was not using futures here.

I was earlier using deocrateSupplier when the calls I was making weren't async.

In decorateSupplier we assume that exception will be thrown and so when handling otherwise I handle for Exceptions only t

[2021-03-29 15:04] obarat commented on #1388
I see, thanks for your response.  I saw more details about this on issue https://github.com/resilience4j/resilience4j/issues/350.

[2021-03-29 15:04] #1388 closed

[2021-03-30 12:51] RobWin commented on #1389
How do you handle exceptions in the CircuitBreaker? It seems you are always completing the future?

[code]

[2021-03-31 08:03] whatthefrog commented on #561
https://stackoverflow.com/a/66883879/457589

[code]

LOG messages are done within the same thread as the one calling the `@Retry(name = "myRetry")` method

[2021-03-31 08:30] Ankit-Mund opened #1390 "Method is not throwing exception when annotated with @Retry/@CircuitBreaker"
Resilience4j version: 1.5.0

Java version: 1.8

@RobWin
I am trying to throw an exception from the method that is annotated with @Retry. While Retry is working fine, the method is not throwing any exception back to the caller. Can you please help here? Below is my code :

[code]

In the above code, restTemplate.postForEntity will throw runtime exceptions (RestClientException/RemoteAccessException)

[2021-03-31 09:00] RobWin commented on #1390
Could you pleas show me the rest of your code?
I assume you fallbackmethod has a signature which catches every `Exception`. You have to narrow down the scope.
Fallback methods work like a try/catch.

[2021-03-31 09:02] Ankit-Mund commented on #1390
[code]

This is my fallback method for Retry. I think this issue is because I am catching all RunTimeException in the fallback method !

[2021-03-31 09:21] RobWin commented on #1389
Could there be any situation where the `httpAsyncClient` is not invoking a `FutureCallback` method?
In that case the future is never completed, but the call is increasing `permittedNumberOfCallsInHalfOpenState`. but not increasing the number of recorded calls (buffered_calls) ;/

[2021-03-31 10:00] RobWin commented on #1390
Are you using annotations?
Your `callService` is void that means your fallback method must also be void. You can't return anything, if  `callService` is not returning anything.
What do you want to do in the callback?

[2021-04-01 06:29] RobWin commented on #1389
The CirucitBreaker is not using any threads.
The CircuitBreaker provides  hooks which must be invoked within `completionStage.whenComplete` which is done in `CircuitBreaker.decorateCompletionStage`.

Handle exception:
[code]

Handle success (with result) since 1.7.0:

[code]

Handle success (void):
[code]

I think what would be helpful is to add `permittedNumberOfCalls` to the Metrics as well.
The

[2021-04-01 08:32] anuragagarwal561994 commented on #1389
@RobWin I am still seeing the issue post updating http async client and resilience4j libraries:

[code]

[2021-04-01 09:16] anuragagarwal561994 commented on #1389
Regarding the future logging, well I can do that temporarily but this service is coming from another internal library, so I will need some time to make the updates and revert back to you on this.

[2021-04-03 13:20] LinShunKang opened #1391 "CircuitBreakerStateMachine#publishSuccessEvent(long, TimeUnit) has performance issues"
Resilience4j version: 1.7.0

Java version: 1.8.0_181

In most scenarios, `eventProcessor.hasConsumers()` returns false. If `CircuitBreakerStateMachine.onSuccess(long, TimeUnit)` is called every time a `CircuitBreakerOnSuccessEvent` object is generated, it will waste a lot of memory and CPU resources.

https://github.com/resilience4j/resilience4j/blob/2b71b377edc659e56ea0df478c7fafbf3ff77347/resili

[2021-04-04 09:27] Ipuvi commented on #1327
Hi @RobWin,
I have raised PR. Please review and let me know if there is any issue.
https://github.com/resilience4j/resilience4j/pull/1392/files

[2021-04-05 18:43] pankajdighe opened #1393 "Using resiliency4j on top of the AWS SDK 2.0"
Resilience4j version:1.5.0

Java version: 11

Hello team, I would like to know if it is good practice to wrap the AWS SDK calls with Resiliency4j. Note that AWS SDK also provides the retry configuration. Can someone please share thoughts on this? I was thinking to disable default configuration provided by sdk and then wrap the calls with Resiliency4j.

[2021-04-05 19:12] laksnv opened #1394 "Circuit Breaker Feature Request: Use separate minimumNumberOfCalls for Failure and Slow call rate"
I am using Circuit Breaker to monitor failure rate of my downstream service. I'd like to also start monitoring slow call rate but using the same value for `minimumNumberOfCalls` for both failure rate & slow call rate results in a lot of false positives, especially during downstream service deployments. This happens because the downstream is a sharded service and shards move around to different hos

[2021-04-06 07:02] RobWin commented on #1393
Hi, I never used the AWS SDK.
I don't know anything about their Retry functionality. But in therory even if you use AWS SDK Retry, you can still use the CircuitBreaker of Resilience4j.

[2021-04-06 07:33] RobWin commented on #1394
Hi,
could you please explain why a different `minimumNumberOfCalls` for failure rate & slow call rate fixes your problem?
Could you please describe the scenario in more detail?

[2021-04-06 07:35] RobWin commented on #1391
Hi, thank you.
Would you like to create a PR?

[2021-04-06 07:50] shreeram-rout commented on #1048
How did you trigger the exception while running the application ?

[2021-04-06 08:09] spatanjali commented on #1048
The generic way of throwing the exception as shown here would do --> https://docs.oracle.com/javase/tutorial/essential/exceptions/throwing.html.

Make sure that the exception that is thrown is part of the parameter in the fallback method.

[2021-04-06 11:28] laksnv commented on #1394
I'm using Circuit Breaker against a sharded service (like on top of a database storage layer) where every storage node stores a portion of the entire database's records. If a bad storage node is identified (failure rate exceeds threshold), we distribute all the data stored by the faulty node to other healthy nodes and make the faulty storage node stop taking traffic. Service that calls this storag

[2021-04-06 12:11] laksnv commented on #1394
@RobWin, does ^ make sense and are you ok with the proposed change?

[2021-04-06 12:25] RobWin commented on #1394
Yes, thank you for the explanation.
How would you call the new property and how do you want to ensure backwards-compatibility?

[2021-04-06 12:43] laksnv commented on #1394
I propose the following changes:
- Add 2 new properties, `minimumNumberOfFailedCalls` and `minimumNumberOfSlowCalls`
- Deprecate existing property, `minimumNumberOfCalls`, and direct customers to use new ones
- Retain behaviour and value of `minimumNumberOfCalls` and `minimumNumberOfFailedCalls` to be same
- For backwards-compatibility, `minimumNumberOfSlowCalls` will hold same value as `minimumNu

[2021-04-06 12:46] RobWin commented on #1394
minimumNumberOfCalls means: "Minimum number of recorded calls". Regardless of whether the call failed or was successful.

[2021-04-06 15:47] Chr3is commented on #1253
@RobWin do you need more information?

[2021-04-06 16:27] LinShunKang commented on #1391
I modified the code of `CircuitBreakerBenchmark` and added `circuitBreakerWithSubscriber`, you can see [here](https://github.com/LinShunKang/resilience4j/commit/3a744518b403813c2fb7365f428aac19caba8e1c).
The following is a comparison of benchmark results before and after optimization:

* Before optimization:
[code]

* After optimization:

[code]

[2021-04-06 16:36] LinShunKang commented on #1391
@RobWin
Hi, I have submitted a [PR](https://github.com/resilience4j/resilience4j/pull/1395), please take a look.

[2021-04-07 06:01] bentindall opened #1396 "Add the ability to update an existing RateLimiter in RateLimiterRegistry"
I am currently using the RateLimiterRegistry (InMemoryRateLimiterRegistry) in my code to manage my ratelimiters. I'm using `rateLimiterRegistry.rateLimiter(final String name, final RateLimiterConfig config)` to fetch a ratelimiter which works well when creating a new ratelimiter however I can't see a way to update an existing ratelimiter in the registry, for example if I want to use `changeTimeout

[2021-04-07 06:23] woncho3 commented on #1039
Hi, I guess this one still exists on the latest 1.7.0

Resilience4j version: 1.7.0

Java version: 1.11

	@Test
	public void testResetAndHook() throws InterruptedException {
		CircuitBreakerConfig config = CircuitBreakerConfig.custom()
				.waitDurationInOpenState(Duration.ofSeconds(2))
				.automaticTransitionFromOpenToHalfOpenEnabled(true)
				.maxWaitDurationInHalfOpenState(Duration.ofSeconds(2)

[2021-04-07 07:17] RobWin commented on #1253
Can you create a proposal?

[2021-04-07 07:18] RobWin commented on #1391
Thx

[2021-04-07 07:26] RobWin commented on #1396
Hello,

the following code changes the current instance. There is no need to replace the RateLmiter in the RateLmiterRegistry after chaning the values.
If you always want to change `timeoutDuration` and `limitForPeriod` at once, we might need to introduce a new method which changes both in a single atomic action.

[code]

[2021-04-07 07:56] Chr3is commented on #1253
@RobWin Yeah I can look into it and create a MR when I have time for it 👍

[2021-04-07 10:14] bentindall commented on #1396
@RobWin thanks for the extremely fast reply. I've just tried what you suggested and it does seem to apply the change to the instance in the registry, so that's great and that fits my need.

I do have another question however about those values - is there the ability to change the `limitRefreshPeriod`? I couldn't see a changeLimitRefreshPeriod option, that would be handy as I'd like to be able to c

[2021-04-07 11:41] RobWin commented on #1396
Regarding `limitRefreshPeriod`.
Have a look at this issue: https://github.com/resilience4j/resilience4j/issues/1368

You can try to create a PR and see if it works, if you introduce an atomic method which can be used to change the whole RateLimiterConfig at run-time.

[2021-04-07 14:10] bentindall commented on #1396
Thanks @RobWin. I'll try to get it working and will raise a PR. Would you like me to raise a new issue for this?

[2021-04-08 14:18] torbaAnton commented on #1379
Hi, so if I have 2 different Thread Pool Bulkhead configurations
Like this:
      productService-getProduct:
      baseConfig: default
      maxThreadPoolSize: 9
      coreThreadPoolSize: 6
      queueCapacity: 5
    productService-createProduct:
      baseConfig: default
      maxThreadPoolSize: 7
      coreThreadPoolSize: 4
      queueCapacity: 3
And same configurations for TimeLimiter:
     pro

[2021-04-08 14:25] RobWin commented on #1379
In resilience4j 1.7.0 you can configure the scheduler, which is used by the TimeLimiter annotations as follows:

[code]

[2021-04-08 14:58] torbaAnton commented on #1379
I use approach with decorator
Decorators.DecorateSupplier<RESPONSE> decorateSupplier = Decorators.ofSupplier(() -> runAdapterByName(serviceType, request));
        String configurationKey = serviceType.getResilienceConfigurationKey();
        return decorateSupplier
                .withThreadPoolBulkhead(threadPoolBulkheadRegistry.bulkhead(configurationKey))
                .withTimeLimiter(timeL

[2021-04-09 07:30] RobWin commented on #1379
You can use the same ScheduledThreadPoolExecutor  for all TimeLimiters.
The I can't suggest a concrete configuration. That's something which must be monitored and tuned based on your workload.

[2021-04-09 12:00] #1361 closed

[2021-04-09 12:13] #1362 closed

[2021-04-09 12:13] #1316 closed

[2021-04-09 12:13] #1347 closed

[2021-04-09 12:14] #1369 closed

[2021-04-09 12:14] RobWin commented on #1387
Hi @walec51
Are you still interested to implement this feature?

[2021-04-09 12:15] RobWin commented on #1377
This is unusual, how do you measure that the circuitBreakerAroundAdvice is adding extra seconds?

[2021-04-09 21:50] sohamsadhu opened #1398 "Question: How to correctly use CircuitBreaker with Feign Client?"
Resilience4j version: 1.7.0
Java version: OpenJDK 11
spring-boot-starter-parent: 2.4.4
spring-cloud-dependencies: 2020.0.2

Below is a class that hooks to a `Eureka` registry as per YAML configs, and looks for a _nonexistent_ client fallback-test URL.

    @FeignClient(name = "fallback-test", configuration = TestFallbackClientLoggingConfiguration.class)
    public interface TestFallbackClient {

[2021-04-09 22:10] devdatto commented on #1377
Hi Rob, we were using a monitoring tool, AppDynamics for example to monitor the application which was using the library

[2021-04-12 08:05] buckelieg opened #1401 "Implement throttling with resilience4j"
Resilience4j version: latest

Java version: 14

My question is how to implement (configure) throttlig using resilience4j library.
I tried to use RateLimiter with next configuration:

[code]
but it does not prevent (ignore) subsequent method calls.
What I need to achieve is that my particular method cannot be invoken more that once in 10 seconds regardless of any possible exceptions.

Please, advic

[2021-04-12 21:27] VitaliyRysich commented on #590
Try to change
<spring-cloud.version>2020.0.2</spring-cloud.version>
to
<spring-cloud.version>2020.0.1</spring-cloud.version>

[2021-04-13 16:21] samr13 commented on #828
Can you explain how you disable circuit breaker for a endpoint?

[2021-04-13 16:26] samr13 commented on #828
@RobWin  It would be really good to have a property to always have the circuit closed - like disabling circuit breaker

[2021-04-16 01:51] #1398 closed

[2021-04-16 01:53] sohamsadhu commented on #1398
I am stupid and did not remove my ribbon and hystrix settings from YAML

[2021-04-16 15:57] alienintheheights commented on #750
Same issue. Trying to use this in an Apache Karaf OSGi module.

[2021-04-19 07:17] RobWin commented on #750
Hi, I think I need some support. Someone interested to fix it and create a PR?

[2021-04-19 07:41] RobWin commented on #1401
Sry, I don't understand your use case.
What do you want to achieve?
The method can be invoked more than once within 10 seconds, but exceptions should not be thrown?

[2021-04-19 08:45] ehimsi commented on #750
Hi All
A workaround  for OSGi based platforms - AEM and Karaf. If you are using maven-bundle-plugin, then use this in the pom -
`<plugin>
                <groupId>org.apache.felix</groupId>
                <artifactId>maven-bundle-plugin</artifactId>
                <extensions>true</extensions>
                <configuration>
                    <instructions>
                        <Embed-Direc

[2021-04-19 14:02] buckelieg commented on #1401
Hi, @RobWin.

Basically I want to allow executing particular method not more than once per 10 seconds.
So I have some event listener that listens to some source. Events can occur dencively: lets say 100 events per 1 second.
So we could have 100 events occurred in 1 second. And for all of those occurred events I want that event handler method invoked at most once. And next available event handler i

[2021-04-20 05:36] MALPI commented on #1393
Hey @pankajdighe from my point of view it's good to have your resilience configurations explicit and not rely on the defaults.
On the other hand you could also rely on the build in features of the `AWS SDK` and make things explicit there. In the end it's probably a matter of taste and the question of which features are available by default within the SDK.

[2021-04-20 07:52] cziegeler commented on #750
I've created a potential PR #1402
It changes the retention policy of the annotations to CLASS, so they are not needed at runtime anymore.
And it does not export the annotation package (core.lang) from the core bundle anymore.
I think this could work, but for sure needs more eyes for review

[2021-04-20 07:54] RobWin commented on #750
Thx. Did you try to verify it locally?
You could build the jar locally and check the generated MANIFEST.
But I guess you know it better then me ;)

[2021-04-20 10:01] cziegeler commented on #750
The manifest is "correct" and I can install the bundle and it resolves. Now, the tricky part is that with not exporting core.lang anymore other existing bundles currently importing that package do not resolve anymore. For example, if you use the new core bundle with an old resilience4j cache bundle, the cache bundle will not resolve. So it's an all or nothing approach, you would need to also use t

[2021-04-20 16:43] alienintheheights commented on #750
I was able to export my bundle with the following. Mostly needed to exclude these packages from the export. I also import everything as optional. Other bundles in our karaf environment are now able to use this one without any knowledge of resilience or vavr dependencies. Not an expert on this so if there's a better way, please let me know.

[code]

[2021-04-21 07:56] 97e57e opened #1403 "How to use @CircuitBreaker annotation in Interface default method"
Resilience4j version: 1.7.0

Java version: 11

i am using @CircuitBreaker annotation in interface like this:
[code]

and concrete class:
[code]

when i call CommandInterface's getData with argument 'fail', fallback method is now working
[code]

this is my CircuitBreaker config:
[code]

this is gradle dependency:
[code]

Would you advise me what should i do?
Thank you

[2021-04-21 08:40] RobWin commented on #1403
Hi,
if you are using our Spring Boot starter, please don't create your own CircuitBreakerRegistry bean otherwise nothing works anymore. Please configure your CircuitBreaker via the external config file.

I never tried to use the Annotatioon on Interfaces with default methods. No idea if it works ;/

[2021-04-21 09:08] 97e57e commented on #1403
@RobWin
Hi, Thank you for quick reply.

The problem was CommandImp class is not Spring Bean.

i tried changing CommandImp class to Spring Bean with @Component and it works!

But, i want use CircuitBreaker in normal object, because i use command pattern and create command object when user request

CircuitBreaker annotations cant be used on normal objects??

[2021-04-21 09:18] walec51 commented on #1387
@RobWin yes, I have read all your suggestions and I agree with them, I just didn't have the time to start working on this - maybe I'll find some on this weekend

[2021-04-21 09:42] qb-snehapdev commented on #789
@RobWin
 I was trying to use this actuator end points in my application. I could list the circuit breakers using GET /actuator/circuitbreakers end point. But POST /actuator/circuitbreakers/{name} is returning the following exception.

@handleNoHandlerFoundException method: Caused by:org.springframework.web.servlet.NoHandlerFoundException: No handler found for POST /actuator/circuitbreakers/omscore

[2021-04-21 10:36] RobWin commented on #1403
No, the Spring AOP Aspect only scans beans.

[2021-04-21 10:37] RobWin commented on #1403
No, I think Spring AOP only scans beans.

[2021-04-21 10:47] RobWin commented on #789
If I use our Spring Boot 2 demo it works:

`POST  http://localhost:9080/actuator/circuitbreakers/backendA`

Body:

[code]

[2021-04-21 12:00] 97e57e commented on #1403
@RobWin Thank you ! :)

[2021-04-21 13:31] mzeijen opened #1404 "An `The intervalFunction was configured twice` exception is thrown when overriding the `waitDuration` and enabling the exponential backoff via the Spring Boot properties using the Spring Boot module"
**Resilience4j version:** 1.7.0
**Java version:** 11
**Components:** Retry, Spring Boot 2

When using Resilience4j in Spring Boot to configure a Retry object with Spring properties, the IllegalStateException `The intervalFunction was configured twice which could result in an undesired state. Please use either intervalFunction or intervalBiFunction.` is thrown when the base configuration has a Retr

[2021-04-21 13:43] RobWin commented on #1401
Did you try to set `.timeoutDuration(Duration.ofSeconds(0))`?

[2021-04-21 13:55] qb-snehapdev commented on #789
Could you please share the maven dependency for that?

[2021-04-21 13:56] RobWin commented on #789
You don't need any additional dependency.
Which resilience4j are you using?

[2021-04-21 14:02] qb-snehapdev commented on #789
I am using the following dependency
        <dependency>
            <groupId>io.github.resilience4j</groupId>
            <artifactId>resilience4j-reactor</artifactId>
            <version>1.4.0</version>
        </dependency>

[2021-04-21 14:06] RobWin commented on #789
I think this feature was added in 1.5.0

[2021-04-21 14:21] qb-snehapdev commented on #789
Thank you for the update!

[2021-04-21 16:51] #1403 closed

[2021-04-21 18:18] qb-snehapdev commented on #789
I changed the pom version to 1.5.0. but this time the application start up is getting failed.

java.lang.IllegalStateException: Error processing condition on io.github.resilience4j.ratelimiter.autoconfigure.RateLimiterConfigurationOnMissingBean.rateLimiterEventsConsumerRegistry

[2021-04-21 18:26] RobWin commented on #789
Can I see you pom?

[2021-04-21 18:31] qb-snehapdev commented on #789
<dependency>
            <groupId>io.github.resilience4j</groupId>
            <artifactId>resilience4j-spring-boot2</artifactId>
            <version>1.5.0</version>
        </dependency>
        <dependency>
            <groupId>io.github.resilience4j</groupId>
            <artifactId>resilience4j-reactor</artifactId>
            <version>1.5.0</version>
        </dependency>
        <dependency

[2021-04-22 04:49] cziegeler commented on #750
Any feedback on the PR?
I think the PR is a correct solution, it has the following changes:
- change the retention policy to CLASS for the annotations in  resilience4j-core/src/main/java/io/github/resilience4j/core/lang - this should do no harm as these annotations are used by IDE and build tools
- resilience-core : do not export io.github.resilience4j.core.lang - again no harm as these are not ne

[2021-04-22 05:16] alienintheheights commented on #750
Related to this, I was able to get a bundle that includes the resilience4j jar working with other bundles in a Karaf container via the following Felix block in its pom.xml. I'm not an expert on OSGi so perhaps I've been a little too wide on the import side. But at least the other bundles are able to consume this without knowledge of these jars now.

[code]

[2021-04-22 06:18] RobWin commented on #1404
Thx. Would you also like to contribute a bugfix PR?

[2021-04-22 06:32] RobWin commented on #1357
Hi, sorry.
I totally missed this issue. I have a look at it.

[2021-04-22 07:18] mzeijen commented on #1404
I am sorry, I currently don't have the time to investigate this further and to try to fix it.

[2021-04-22 16:41] buckelieg commented on #1401
No I did not previously.
I tried and it worked like a charm.
I do not understand then why it matters - I was thinking that if timeout duration is less than refresh period then waiting threads just stop to wait and will not attempt to re-invoke method...

Thanks alot, @RobWin!!!

[2021-04-22 17:08] RobWin commented on #1401
Duration 0 means no thread is waiting to get a permission grant from the next time window, but are directly rejected.

[2021-04-23 11:46] 97e57e opened #1405 "give feedback when Exception occurred out of Mono/Flux"
Hi, i'm using resilience4j very well.

And i have a question.

While using resilience4j reactor, i couldn't get feedback when Exception occurred out of Mono/Flux context.

like this:
[code]
this code just throw exception, not resilience4j's exception

I don't know if it was intended.
but how about give feedback for user? use try ~ catch in ReactorCircuitBreakerAspectExt's handler method
![image](h

[2021-04-23 11:47] RobWin commented on #1405
You can throw exceptions in reactive code like this.
You must return `Mono.error`.

[2021-04-23 12:06] 97e57e commented on #1405
@RobWin
Thank you
I thought just it could happen if it was not  a Mono error.

[2021-04-23 12:07] #1405 closed

[2021-04-23 18:22] Camology opened #1406 "Trial/reporting feature"
Resilience4j version: 1.3.1

Java version: 1.8.0_281

Not so much an issue but more of a question, we are implementing circuitbreakers on a project and things are going great locally but before we use them in production were were wondering if there was a simple way to enable only the events of a circuitbreaker flipping and not the actual fallbacks/circuitbreaker flipping. We want to see what the e