[2019-03-22 12:45] RobWin commented on #322
Alright

[2019-03-22 16:13] voievodin commented on #354
@noroute there is a PR hanging around with the changes related to it :point_right: #355. It introduces tag based binders. Since it was created 2 weeks ago the naming wasn't aligned with this discussion. I've just aligned it to correspond to the thoughts you guys had here, but with a few differences:
[code]

I would argue that we need 3 state gauges (per state), the current approach seems nice to m

[2019-03-23 00:46] javadevmtl commented on #350
One way I guess it could be done is if a bunch of counters are pre generated for each node and each node gets a range and when it has exhausted it's range and goes back and gets more from the cache...

[2019-03-23 12:38] RobWin commented on #350
Do you want to implement rate limiting at client-side (source) or server-sude (sink)?

If you want to have rate limiting at server-side and have a rate limit per client, you could use an API Gateway like [Kong](https://konghq.com/solutions/gateway/).

[2019-03-23 13:03] RobWin commented on #350
Resilience4j-ratelimiter is better used at client-side. A client can also be another server.
If you just want to protect the sink server from overload, I still think that adaptive capacity management (or congestion control at apllication layet) is a better choice than a distributed rate limiter. Thats why we are working on an initial implementation of an adaptive bulkhead implementation.

[2019-03-23 13:04] RobWin commented on #350
I don't think that you should use Resilience4j to reimplement an API gateway you own.

[2019-03-23 14:02] RobWin commented on #350
Netflix already implemented it: https://github.com/Netflix/concurrency-limits

[2019-03-23 16:18] Fiazz commented on #348
Yes @RobWin ,Retry worked well for my expectations.

[2019-03-24 21:45] noroute commented on #354
@RobWin, @voievodin, @leonard84 The draft above includes all the naming discussions we had and has a sample implementation for CircuitBreaker in micrometer. If that looks fine to you (also style-wise) I can do the rest (other Meters plus direct prometheus and Dropwizard integration.

Note that in contrast to #355 this *is* breaking backward compatibility.

[2019-03-25 04:19] vamshikrishnamraju opened #369 "Circuit breaker retry's only in open state"
Hi

Can you give me code example where i can call retry a call to backend only in open state.

I have configured ringBufferSizeInClosedState has 10. So i am allow the call to fail 10 times and i want to retry from 10th time.

Thanks in advance

[2019-03-25 07:29] RobWin commented on #369
Hi,
why do you want to retry when the state is OPEN? All calls will be blocked anyway. I think it's lost CPU utilization.
If you don't want to lose calls, you could queue them and only consume them when the CircuitBreaker state changes back to HALF_OPEN and CLOSED.
If you use Spring Reactor or RxJava you could subsribe to a queue consumer as soon as the state changes back to HALF_OPEN and unsubscr

[2019-03-25 07:36] RobWin commented on #304
Not sure if it makes sense.
`waitDuration` is only used when you don't overwrite the `intervalFunction`.

[2019-03-25 07:36] RobWin commented on #304
I close the issue because it open for too long.

[2019-03-25 07:36] #304 closed

[2019-03-25 07:50] RobWin opened #370 "Component to queue tasks and consume only when CircuitBreaker is CLOSED or HALF_OPEN"
When I want to perform tasks asynchronously and isolate them from other tasks, I can use the bulkhead pattern and execute them on separate thread pools.
I can also use the CircuitBreaker pattern to protect the backend service which I want to invoke.
But tasks are also consumed when the CircuitBreaker is OPEN. But I don't want to waste CPU circles.

A new decorator would be nice which queues tasks,

[2019-03-25 08:09] RobWin commented on #146
We should at least start to implement a Bulkhead which uses a bounded queue and an adaptive thread pool.

[2019-03-25 10:30] RobWin commented on #354
The PR from @voievodin looks good to me. I think I will merge his PR soon.

[2019-03-25 13:39] vamshikrishnamraju commented on #369
Hi

Sorry i think i missed a point in my question. Actually i want to retry with back up url.

My requirment is when url1 is down then retry the same call with url2.

[2019-03-25 13:52] RobWin commented on #369
You can use `Try` to recover from any exception. Your recovery function can invoke another URL and even retry it several times.

[code]

Function `callURL1` can be decorated by a retry and function `callURL2` can be decorated by another retry.

[2019-03-25 14:04] vamshikrishnamraju commented on #369
Thanks again for quick reply.

Yes i tried the above code but in above code recovery is getting called from first failure itself but i want to configure the failure rate like only after 3 failures call the recovery.

[2019-03-25 14:20] RobWin commented on #369
`callURL1` should be decorated by a `Retry itself. When retry of `callURL1` exceeds, the last exceptions is thrown and catched by our recovery function. `callURL2` is also decorated by a retry.
In you recovery function you can check if it is a `CircuitBreakerOpenException` (if you really need to check it).

[2019-03-25 20:49] storozhukBM commented on #350
Totally agree with @RobWin on his thoughts.
It is better for your "elastic/cloud" distributed application to avoid any type of shared state by all means, especially if this state is shared across multiple nodes in your cluster.

For me adaptive capacity management looks like ideal solution in your case.
If it is not feasible/suitable for you for some reason, I'd recommend you to pre-calculate targ

[2019-03-25 20:54] storozhukBM commented on #305
Unfortunately we don't have any publicly available dashboard configuration for now.

[2019-03-25 20:58] storozhukBM commented on #201
Yep, we can provide external API to trigger back off, so our users can use any other type of analysis pluggable or written by hand.

[2019-03-25 21:32] noroute commented on #354
@RobWin The PR from @voievodin looks well structured so far. Note that it does require further changes in the spring-boot modules to be usable (since it introduces new metrics classes) and does *not* include the agreed-upon naming for the configured max buffer size und tag names. The tag names (`kind`) would also be inconsistent with `resilience4j-prometheus` which uses `call_result`.

PR #374 doe

[2019-03-26 11:19] vamshikrishnamraju commented on #369
Thanks theoretically i understood but if you can give me an code snippet that would be a great help.

[2019-03-26 11:20] RobWin commented on #369
How are your methods named?

[2019-03-26 11:37] vamshikrishnamraju commented on #369
delegate.invokeBackEnd(url1) and my backup is delegate.invokeBackEnd(url2).

CheckedFunction checkedFunction = CircuitBreaker.decorateSupplier(circuitBreaker, () ->delegate.invokeBackend(url1)) ;

Object obj =Try.of(checkedFunction).getOrNull();

If(obj ==null && circuitBreaker.getState().equal(Open)){
   delegate.invokeBackend(url2)
}

So is there any better way than what i am doing?

[2019-03-26 14:33] dannycohn commented on #348
Alas, I have not been able to try this myself yet.  I tried, but getting the snapshots working with my setup was proving complex.  I can try again in a couple days, or 🤞 that @Fiazz's feedback is enough to get 0.14.0 released 😄

[2019-03-27 04:00] vamshikrishnamraju opened #376 "Reslient Jersey Client"
It would be good to have reslient(circuitBreaker, retry) Jersey rest client which should support recovery.

If there is any library which is available. Please let me know

[2019-03-27 05:24] RobWin commented on #376
Should already be possible to secure jersey http calls

[2019-03-27 07:04] RobWin commented on #376
Who did you try it?

[2019-03-27 08:32] RobWin commented on #354
@voievodin I merged PR #355.
PR #375 also looks good to me. I've only some minor findings.
Could you also adapt Spring Boot and Spring Boot 2 to use tagged metrics?
I know it's not backward compatible. Maybe we can make it configurable so that the user can decide if he wants to stick with the old implementation. The tagged implementation would be the new default.

[2019-03-27 12:42] dharmeshjogadia commented on #258
Closes #258

[2019-03-27 15:54] RobWin commented on #369
If you use `resilience4j-all`, you can do it as follows:

[code]

[2019-03-27 17:14] jorgetovaradl opened #378 "ThreadPool Properties in Circuit Breaker"
Hello, currently I'm using **Hystrix** to achieve Resilience in various Spring Boot based Microservices. I want to migrate to **Resilence4j** but I don't see the corresponding Hystrix properties that we have currently working in production. Can you help me with this, **Threads and Timeouts are essential for us.**

[code]

[2019-03-27 22:20] voievodin commented on #354
Thank you.

sure.

[2019-03-28 07:26] danielrohe opened #381 "Count long running executions as failure"
Is it possible to count long running tasks (calls to other services) as failure in the circuit breaker. So that if a backend service encounters too many long running tasks the circuit breaker opens.

The long running task should not be cancelled and also not be executed in another thread because then I would have to manage the thread pool and in worst case the limiting factor would be the thread p

[2019-03-28 07:33] RobWin commented on #381
Hi,
you mean, the long running tasks finishes successfully, but only runs longer than a certain threshold and hence should count as a failure?

[2019-03-28 13:32] danielrohe commented on #381
Yes, that's what I have in mind.

The idea is that if the long running tasks finishes successfully after a certain threshold. This is a sign of service degradation and in the end should result in opening the circuit breaker if it happens too often.

[2019-03-28 13:42] RobWin commented on #381
That's not build in, but you measure latency your own and record a failure whenever its longer than a certain treshold.

But we are working on an Adaptive Bulkhead which implements an algorithm comparable to the congestion control algorithm TCP Vegas. The bulkhead would reduce the number of allowed concurrent calls when the latency increases too much or timeouts occur.

[2019-03-28 21:52] voievodin commented on #354
Here we go @RobWin https://github.com/resilience4j/resilience4j/pull/382

[2019-03-29 07:35] mkopylec opened #383 "Retry support for Reactor"
It would be nice to also have rerty support in reactor module.
I know that Reactor provides the retry API in Publishers but it would be nice to have one type of API for all resilience4j features. Now when I want to combine, let's say, circuit breaker and retry I need to use two kinds of APIs.

[2019-03-29 07:38] RobWin commented on #383
Hi, good idea.
We already added a `RetryTransformer` for RxJava2.
Would you like to add an `RetryOperator` for Spring Reactor?

[2019-03-29 07:47] RobWin opened #384 "CircuitBreaker record a failure when a certain result is returned"
`Retry` allows check the result of a call and retry a call when a configurable predicate is true.
It would be nice if the CircuitBreaker allows it as well.
`CircuitBreakerConfig` should allow to configure a result predicate.

[2019-03-29 07:52] #326 closed

[2019-03-29 07:52] RobWin commented on #313
What shall we do now? Close the issue?

[2019-03-29 08:22] mkopylec commented on #383
I tried but some knowledge of internal API and mechanism is needed to implement this.
I rather delegate this task to someone with better understanting of resiliencje4j

[2019-03-29 08:25] RobWin commented on #383
I think the hard part is to understand Spring Reactor  and how to implement an Operator.

When you look at `RetryTransformer`. It uses the features provided by RxJava2 to retry.
A `RetryOperator` for Spring Reactor could look similar. Just the features of Spring Reactor, but use Resilience4j to configure it and emit events.

[2019-03-29 13:31] johanhaleby commented on #336
Anything I can do to help?

[2019-03-29 22:51] PaulusGrandis commented on #331
Hello, I am having this exact problem, but I'm not clear on what @tdittmann did above to solve it.

It seems no matter what I do I can not get a TimeLimiter time out to trigger the Retry.  I can get it to trigger a Circuit Breaker error, but not the retry.

Any additional insight or thoughts would be appreciated!  Thanks!

[2019-03-29 23:01] RobWin commented on #331
What do you want to do and how did you try it?

[2019-03-29 23:15] RobWin commented on #331
Did you try `AsyncRetry.decorateCompletionStage`.

We currently move the functionality into `Retry` and deprecate AsyncRetry. But the implementation is similar.

[2019-03-30 00:00] PaulusGrandis commented on #331
I'm wondering how to get TimeLimiter to trigger a Retry.

For example, I would expect this to cause a Retry if the TimeLimiter expires:
`Callable callable = TimeLimiter.decorateFutureSupplier(TimeLimiter.of( Duration.ofMillis( 500 ) ), futureSupplier);
        callable = Retry.decorateCallable(retry, callable);`

When I do that same thing with the CircuitBreaker, it triggers the CircuitBreaker wit

[2019-03-30 07:46] RobWin commented on #331
How did you configure your Retry? Did you use Retry.ofDefaults()?

[2019-03-30 08:10] RobWin commented on #331
Ok, I found the issue. Looks like a compiler issue in TimeLimiter. It's not a Callable which is returned but a Callable which throws a TimeoutException. Strange that it compiles. I fix it in v0.1.40.

[2019-03-30 14:52] PaulusGrandis commented on #331
Awesome, thanks for your help and for looking into it!  It probably doesn't matter any more, but yes, I was just using `.ofDefaults()` for both the Retry and CircuitBreaker.  Thanks again.

[2019-03-30 16:14] Vincent-Zeng commented on #381
Hi. I think that the response time threshold above which the CircuitBreaker should trip open would be helpful to me, cause the client expect faster response.

[2019-04-01 11:44] davidkarlsen commented on #348
where are the updated docs? I'm giving this a spin now

[2019-04-01 11:46] RobWin commented on #348
We have to refactor it a little bit. Work is still ongoing so that the Retry AOP Aspect can also handle CompletionStage, RxJava and Reactor return types.

[2019-04-01 12:52] lespinsideg commented on #384
I really need this feature for my project. May I make a PR  for this?

[2019-04-01 12:53] RobWin commented on #384
That would be awesome.

[2019-04-01 14:32] jorgetovar commented on #378
Hi,
Thanks for the reply.
Right now we have been implemented the Circuit Breaker Pattern in a annotation based mode, but if we can achieve the same result with functional code there is not problem, can you give me a basic example, please?

[2019-04-01 14:53] RobWin commented on #331
Btw. in the meantime you can use
[code]

I will also add a
`retry.executeCheckedSupplier` method to reduce the overhead.

[2019-04-01 15:32] RobWin commented on #384
Maybe you can add a onResult hook which gets the result and the call duration.
You could use the hook to record an error when a call was successful but took too long. See issue #

[2019-04-01 15:33] RobWin commented on #381
See issue #384 for a possible solution.

[2019-04-01 15:33] noroute commented on #354
@voievodin Thanks for the new binders and actually doing the work. Much appreciated!

[2019-04-02 13:17] voievodin commented on #354
A pleasure to collaborate with you guys.
@RobWin do you think we can have this one released ?

[2019-04-02 13:23] Romeh commented on #383
@RobWin @mkopylec  i will start working on it this week

[2019-04-02 13:33] RobWin commented on #354
There are some open issues which must be solved first. At least the refactoring of our Spring AOP aspects is important.

[2019-04-02 14:04] nischit7 commented on #357
@RobWin ... any traction on this issue?

[2019-04-02 14:14] RobWin commented on #331
I reopen the issue, because it was a bug.

[2019-04-02 15:57] RobWin commented on #357
No sorry, we are busy with other issues and enhancements at the moment. I hope I can have a look at it tomorrow or on Friday

[2019-04-02 17:38] mkopylec commented on #383
Great, thank you.

[2019-04-03 06:37] #369 closed

[2019-04-03 07:02] RobWin commented on #354
While we are wroking on the last open issues.
@voievodin would you like to have a look at  https://github.com/resilience4j/resilience4j/pull/255
Maybe it's also interesting for you.

[2019-04-03 07:12] 123Haynes opened #391 "weave annotations at compile time if possible"
According to https://github.com/resilience4j/resilience4j/pull/377#discussion_r271603260  currently the annotations are being processed at runtime.
Since aspectj is already in being used in the codebase, it would be nice to switch to compile time weaving of the annotations.
It is faster and the compiler can check for errors with it.

[2019-04-03 07:13] RobWin commented on #391
Can you support on that issue?

[2019-04-03 07:25] 123Haynes commented on #391
@RobWin I don't have experience with it, but I can try.
From what I can see here: https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/CircuitBreakerAspect.java
It seems that currently spring aop is used, but with a support layer for aspectJ annotations.
I'll try to research what's needed switch to aspectj comple

[2019-04-03 07:30] 123Haynes commented on #391
https://github.com/dsyer/spring-boot-aspectj seems like a great resource for this.

[2019-04-03 08:06] 123Haynes commented on #391
another great resource is the hystrix javanica project which implements the `@HystrixCommand` https://github.com/Netflix/Hystrix/tree/master/hystrix-contrib/hystrix-javanica

[2019-04-03 10:50] #383 closed

[2019-04-03 10:52] #331 closed

[2019-04-03 10:57] RobWin commented on #250
Will be part of 0.14.0

[2019-04-03 10:57] #250 closed

[2019-04-03 10:59] RobWin commented on #307
Will be part of 0.14.0

[2019-04-03 10:59] #307 closed

[2019-04-03 11:01] RobWin commented on #258
Will be part of 0.14.0
We will support Mono/Flux (Reactor) and Observable/Single/Maybe/Completable/Flowable (RxJava2)

[2019-04-03 11:05] RobWin commented on #258
We are adding suport for Mono/Flux (Reactor) and Observable/Single/Maybe/Completable/Flowable in  @Retry, @Bulkhead and @RateLimiter as well.

[2019-04-03 11:11] RobWin commented on #262
In 0.140 the CircuitBreakerConfig allows to configure an onResult predicate.
You can use this predicate to check the response and record failures whenever the HttpStatus is 500.

[2019-04-03 11:13] RobWin commented on #262
I close this in favour of https://github.com/resilience4j/resilience4j/issues/384

[2019-04-03 11:13] #262 closed

[2019-04-03 11:13] RobWin commented on #384
@lespinsideg Are you already working on this issue?

[2019-04-03 11:15] #27 closed

[2019-04-03 11:15] #266 closed

[2019-04-03 11:16] #267 closed

[2019-04-03 11:17] RobWin commented on #270
Will be part of 0.14.0

[2019-04-03 11:17] #270 closed

[2019-04-03 11:22] RobWin commented on #269
I fix the bug in commit https://github.com/resilience4j/resilience4j/commit/6cc12382ce457b19270ce59af9506de304ac6bec

[2019-04-03 11:25] #269 closed

[2019-04-03 11:54] obfuscoder commented on #266
Sorry for not replying earlier ....

I'm sure there will be more suggestions from a broader audience. This is exactly the reason why we would rather ike you to make the step towards a stable version schema and introduce version 1.0.0.

Your last statement sounded like you wanted to incorporate all the new ideas and use cases which might inherently impact the current API and is bound to break our i

[2019-04-03 11:58] RobWin commented on #266
We avoid non-backward compatible changes of our external API.
We might only change an external API, if it is really a bug.

Currently we mainly add new features. There are still many things which we would like to add.

[2019-04-03 11:59] RobWin commented on #266
Sometimes we add new features like tags/labels for MicroMeter/Prometheus. But we keep the old implementation and deprecate it and just provide a second, improved implementation to our R4j users.

[2019-04-03 12:01] RobWin commented on #256
Closed in favor of #258
Will be part of 0.14.0

[2019-04-03 12:01] #256 closed

[2019-04-03 12:05] RobWin commented on #274
The enhancement idea is not clear to me. Could you please provide an example?

[2019-04-03 13:26] RobWin commented on #280
Created a PR. Should be part of 0.14.0 soon.

[2019-04-03 13:54] RobWin commented on #305
In 0.14.0 we added labels/tags to MicroMeter/Prometheus metrics.
This should simplify your dashboard configuration a lot.

[2019-04-03 13:57] RobWin commented on #313
I think we should create new methods and deprecate the old ones.

[2019-04-03 14:02] RobWin commented on #314
Would you like to create a PR @thekalinga
Are you using RxJava or Reactor?

[2019-04-03 14:07] mkopylec opened #395 "Result predicate in circuit breaker"
It would be nice to have something similar to `RetryConfig.Builder.retryOnResult(...)` in circuit breaker.

[2019-04-03 14:08] RobWin commented on #395
Closing because it's a duplicate of #384

[2019-04-03 14:08] #395 closed

[2019-04-03 14:11] storozhukBM commented on #314
One more time. I think that this feature is a bad idea. It can create situations where rate limit can be exceeded, if you relinquish permission that was acquired in previous refresh cycle.

[2019-04-03 14:12] storozhukBM commented on #314
Its proper implementation can cause more complications than benefits.

[2019-04-03 14:15] #320 closed

[2019-04-03 14:18] RobWin commented on #321
You need rate limiting only when the CircuitBreaker is HALF_OPEN?

[2019-04-03 15:25] RobWin commented on #336
Unfortunately @madgnome seems to be busy. Can you try to debug and find the bug?

[2019-04-03 16:25] #350 closed

[2019-04-03 18:22] PaulusGrandis opened #398 "Adding EventConsumer's to Registries"
Hello,

I've been using the CircuitBreakerRegistry and RetryRegistry to store and retrieve various configurations of the objects, which has been working great, but I was wondering...is there a way of configuring EventConsumers as part of that Registry configuration so that all new Retry/CircuitBreaker objects created from that Registry will come with the specified EventConsumers added by default,

[2019-04-03 19:55] RobWin commented on #398
Hi,
no unfortunately no way at the moment.
Could you please describe what you want to achieve?
Should all CircuitBreaker instances exactly get the same event consumer instance?

[2019-04-03 20:22] PaulusGrandis commented on #398
That's what I was thinking...just as I can give the Registries a default configuration for new Retries and CircuitBreakers, I think it would be helpful to be able to specify a default EventConsumer for the Registries, too, then everything that comes out of the Registry would have that same Configuration and EventConsumer.

Maybe even have the Config builder objects have the option for an EventCons

[2019-04-04 05:26] RobWin commented on #398
You can give it a try and add the possibility to the Config.

[2019-04-04 06:07] himanshumps opened #400 "NoSuchMethodError: rxjava2 and SubscriptionHelper.isCancelled() method not available"
Hi,

The isCancelled method has been removed since rxjava version 2.2.4. We are getting NoSuchMethodError when using resilience4j-rxjava2-0.13.2.jar file. The stack trace is:

[code]

[2019-04-04 06:29] RobWin commented on #400
Hi,
Should be fixed in 0.140 which is released soon.
You can already try 0.14.0-SNAPSHOT.

[2019-04-04 07:11] mkopylec opened #401 "Align micrometer XxxMetrics APIs to make them analogical to each other"
`CircuitBreakerMetrics` API is richer than `RetryMetrics`'s and `RateLimiterMetrics`'s.
I need to set metrics prefixes in all `Metrics` types.

[2019-04-04 07:13] RobWin commented on #401
The implementation has changed a lot in 0.14.0.

Please see https://github.com/resilience4j/resilience4j/blob/master/resilience4j-micrometer/src/main/java/io/github/resilience4j/micrometer/tagged/TaggedCircuitBreakerMetrics.java

and

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-micrometer/src/main/java/io/github/resilience4j/micrometer/tagged/TaggedRetryMetrics.java

and

[2019-04-04 07:17] mkopylec commented on #401
I'm using 0.13.2 version, I'll try upgrading it.

[2019-04-04 07:18] RobWin commented on #401
0.14.0 hasn't been released yet. But we release it soon.

[2019-04-04 07:21] mkopylec commented on #401
`CircuitBreakerMetrics` has more static constructors than `RetryMetrics` and `RateLimiterMetrics`

[2019-04-04 07:24] RobWin commented on #401
I see. Yes that has been fixed in 0.14.0. The old Metric classes are deprecated now.
We hurry to get the release out.

[2019-04-04 07:26] mkopylec commented on #401
Great, thanks.

[2019-04-04 07:26] #401 closed

[2019-04-04 09:33] himanshumps commented on #400
We are using corporate nexus repository and it doesn't have snapshots enabled.

[WARNING] The POM for io.github.resilience4j:resilience4j-circuitbreaker:jar:0.14.0-SNAPSHOT is missing, no dependency information available
[WARNING] The POM for io.github.resilience4j:resilience4j-ratelimiter:jar:0.14.0-SNAPSHOT is missing, no dependency information available
[WARNING] The POM for io.github.resilienc

[2019-04-04 09:34] RobWin commented on #400
We are using JCenter
http://resilience4j.github.io/resilience4j/#_snapshot_2

[2019-04-04 09:50] RobWin commented on #343
I created a PR -> https://github.com/resilience4j/resilience4j/pull/402
@leonard84  @hraab
Is that what you need?

[2019-04-04 10:11] RobWin commented on #343
I need to refacor it and fix the race condition.

[2019-04-04 10:30] himanshumps commented on #400
When are you planning to release 0.14.0 ?

[2019-04-04 10:31] RobWin commented on #400
I hope within the next days. There are some important PRs still in review.

[2019-04-04 10:47] RobWin commented on #343
ok, race condition should be fixed now.

[2019-04-04 11:01] RobWin commented on #343
Damn more work to do. I tell when we are done.

[2019-04-04 12:01] jameskennard opened #403 "Spring Boot Autoconfigure - MetricRepository vs MetricRegistry"
When using the spring-boot module the autoconfiguration classes `CircuitBreakerMetricsAutoConfiguration`, and `RateLimiterMetricsAutoConfiguration` both assume that if the Spring class `org.springframework.boot.actuate.metrics.repository.MetricRepository` is present then the Codahale class `com.codahale.metrics.MetricRegistry` will be present.

I have a Spring Boot application that contains the Me

[2019-04-04 12:06] RobWin commented on #403
Thx. Good catch.

[2019-04-04 12:07] RobWin commented on #403
Would you like to fix it and create a PR?
Should be a quick fix.

[2019-04-04 12:17] Romeh commented on #403
I will do it now !

[2019-04-04 12:25] Romeh commented on #403
@jameskennard  is it spring boot 1 application ?

[2019-04-04 12:29] RobWin commented on #403
Yes must be

[2019-04-04 12:31] Romeh commented on #403
Yes what i was thinking :)

[2019-04-04 12:54] RobWin commented on #403
Merged. Is part of upcoming 0.14.0

[2019-04-04 18:04] RobWin commented on #288
Merged. Will be part of 0.14.0

[2019-04-04 18:04] #288 closed

[2019-04-04 18:07] #403 closed

[2019-04-04 18:50] RobWin commented on #313
I think we pick `tryAcquirePermission`

[2019-04-04 22:31] voievodin commented on #354
Sure, will take a look this weekend

[2019-04-05 00:22] voievodin commented on #354
Have a [draft](https://github.com/resilience4j/resilience4j/compare/master...voievodin:elapsed-cb) =) Let's continue the discussion [here](https://github.com/resilience4j/resilience4j/pull/255#issuecomment-480106967)

[2019-04-05 01:44] lespinsideg opened #409 "Releasing plan for 0.14.0?"
Do you have any specific date for releasing 0.14.0? And is there any way that I can use  snapshot version of 0.14.0?

[2019-04-05 07:31] RobWin commented on #409
Yes, SNAPSHOT are available -> http://resilience4j.github.io/resilience4j/#_snapshot_2
But I saw feature branches are also deployed as SNAPSHOT. I've to fix that ASAP.

I would like to release 0.14.0 today.

[2019-04-05 09:34] RobWin commented on #409
0.14.0 was released

[2019-04-05 09:34] #409 closed

[2019-04-05 09:34] RobWin commented on #368
0.14.0 was released

[2019-04-05 09:34] #368 closed

[2019-04-05 09:35] RobWin commented on #354
0.14.0 was released

[2019-04-05 09:35] #354 closed

[2019-04-05 09:36] RobWin commented on #348
0.14.0 was released

[2019-04-05 09:36] #348 closed

[2019-04-05 09:36] RobWin commented on #400
0.14.0 was released

[2019-04-05 09:55] Romeh commented on #258
0.14.0 is released covering that , so closing it

[2019-04-05 09:55] #258 closed

[2019-04-05 09:59] Romeh commented on #400
@himanshumps can u please test it again to see if we can close this ticket ?

[2019-04-05 10:00] Romeh commented on #301
@sniff 0.14.0 is released , can u please test it out again ?

[2019-04-05 10:16] ToastShaman opened #411 "Spring Boot2 Bulkhead is not auto-configured"
Version: 0.14.0

The https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring-boot2/src/main/resources/META-INF/spring.factories is missing entries for the Bulkhead auto configuration classes.

[2019-04-05 10:22] RobWin commented on #411
Damn thx.
We missed to delete `@SpringBootApplication(scanBasePackages = "io.github.resilience4j"` from our test application.

[2019-04-05 11:15] Romeh commented on #411
will start working on it now

[2019-04-05 12:04] himanshumps commented on #400
I tested and it works with 0.14.0-SNAPSHOT

[2019-04-05 12:04] himanshumps commented on #400
I will check with 0.14.0 as well and update on the ticket

[2019-04-05 12:04] RobWin commented on #400
thx

[2019-04-05 12:21] Romeh commented on #280
@spooz  can please retest with 0.14.0 release ?

[2019-04-05 12:23] RobWin commented on #280
The new Implementation always unwraps the cause wrapped in `ExecutionException`.

[2019-04-05 13:38] JonJac opened #413 "Retryer event publisher using retryOnResult(...)"
Hi,

I'm trying to use retryOnResult(...) to retry when a server returns status code 5xx from a http request. I've implemented the retryer as a decorator. The following snippet setup the retryer:

[code]

The retryer is used like so:
[code]

My problem is that `retryer.getEventPublisher().onRetry(event -> logger.warn(event.toString()));` throws a nullpointer exception when a retry happens due to s

[2019-04-05 13:42] RobWin commented on #411
Release v0.14.1

[2019-04-05 13:54] RobWin commented on #413
Hi thanks for the kind words,

I think you found a bug in ´the usage of `RetryOnRetryEvent `
The [RetryEventPublisherTest](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-retry/src/test/java/io/github/resilience4j/retry/RetryEventPublisherTest.java) is missing to test it.

Can you use `retry.getEventPublisher().onError` or `retry.getEventPublisher().onSuccess` instead?

[2019-04-05 14:03] RobWin commented on #413
No wait. Which version are you using. I think it's fixed in version 0.14.1

[2019-04-05 14:08] RobWin commented on #413
Anyway better use onSuccess or onError.

[2019-04-05 14:10] JonJac commented on #413
I'm yet to find clear documentation on onSuccess and onError, but i specifically want to log why a retry was attempted. The do not trigger that to my understanding. Furthermore they have the same issue. with getLastThrowable().

[2019-04-05 14:18] JonJac commented on #413
The nullpointer exception in toString() was fixed. The bigger design issue is still there: How am i supposed to log what triggered the retry, when it happens because of .retryOnResult(). There is no information in the event.

[2019-04-05 14:23] RobWin commented on #413
True, you can only check if lastThrowable is null at the moment.

[2019-04-05 14:33] Romeh commented on #411
@ToastShaman  can u please retest and confirm ?

[2019-04-05 14:40] ToastShaman commented on #411
I can confirm it is now working as expected with v0.14.1

[2019-04-05 16:15] RobWin commented on #411
Thx

[2019-04-05 16:15] #411 closed

[2019-04-05 18:15] RobWin commented on #384
You can easily implement this feature with a simple decorator. Actually no need for a onResult predicate. The advantage is that you can have different onResult checks per decorated function.

[2019-04-07 15:41] lespinsideg commented on #384
@RobWin I'm working on this right now. I will make a PR soon!

[2019-04-08 04:16] himanshumps commented on #400
Validated and looks like it has been fixed with 0.14.1.

[2019-04-08 04:16] #400 closed

[2019-04-08 09:44] RobWin commented on #384
I'm not sure anymore  if we really need this.

In RetryConfig we added an option to configure a global resultPredicate.
CircuitBreaker, Retry should be protocol-agnostic. A global resultPredicate is almost never protocol-agnostic.

I actually prefer higher-order functions or chaining functions. If someone wants to be able to have a different resultPredicate per decorated function, he could easily

[2019-04-08 10:33] lespinsideg commented on #384
@RobWin I see. The code you wrote can cover my case. How do you think about #381 ?

[2019-04-08 12:35] RobWin commented on #384
I will ad a `FunctionUtils`.

You can than do:

Supplier<HttpResponse> supplier= () -> helloWorldService.returnResult();
Supplier<String> supplierWithRecovery = FunctionUtils.andThen(supplier, (result, ex) -> {
    if (result.getStatusCode() == 400) {
       throw new ClientException();
    } else if (result.getStatusCode() == 500) {
       throw new ServerException();
    });
String result = circ

[2019-04-08 12:42] RobWin commented on #384
Regarding #381:

I think we will add a `Timer` decorator which can be used to measure the response time of calls.
Additionally it will report call rates and number of successful, failed and total calls.
We will use Micrometer for it.

You can configure a 95th and 98th percentile threshold, and if the percentile is reached you can trigger an action. For example you can open a circuitBreaker or decr

[2019-04-08 12:45] RobWin commented on #381
I think we will add a `Timer` decorator which can be used to measure the response time of calls.
Additionally it will report call rates and number of successful, failed and total calls.
We will use Micrometer for it.

You can configure a 95th and 98th percentile threshold, and if a percentile threshold is reached you can trigger an action. For example you can open a circuitBreaker or decrease the

[2019-04-08 13:24] RobWin commented on #384
See: https://github.com/resilience4j/resilience4j/pull/415

[2019-04-08 13:25] RobWin commented on #384
[code]

[2019-04-08 14:59] leonard84 commented on #354
@voievodin / @RobWin it seems I haven't kept up with this as I should have but I don't quite agree with the decision to conflate the states for `resilience4j_circuitbreaker_state` from explicit tags to simple gauge values

    0 - CLOSED
    1 - OPEN
    2 - HALF_OPEN

While it is just a question of style when you look at a single instance. It makes a huge difference when working with multiple ins

[2019-04-08 15:18] RobWin commented on #354
I think that didn't change compared to the previous implementation.
But I see your point.

Can you use the comparison operation `==` to filter in the meantime?

Would you like to create a PR to fix it?

[2019-04-08 16:34] leonard84 commented on #354
I've created a proposal https://github.com/resilience4j/resilience4j/pull/416 what do you think?

/cc @voievodin

Still todo would be to update the docs and so on, which I would do once we decide to move forward with this.

[2019-04-09 07:33] drtrang commented on #310
The resilience4j-bom still not exist in latest version(0.14.1)

[2019-04-09 07:53] RobWin commented on #310
Yes, we are upgrading to Gradle 5 at the moment. I will have a look at it again and try to use new Gradle features.
https://github.com/gradle/gradle/blob/master/subprojects/dependency-management/preview-features.adoc#maven-bom-files-and-dependencymanagement

[2019-04-09 16:49] jguerra opened #417 "Allow fully closing a bulkhead"
BulkheadConfig.Builder currently guards against setting maxConcurrentCalls to 0. It would be useful to be able to completely close a bulkhead by setting maxConcurrentCalls to 0

[2019-04-11 06:53] dreamsshinu opened #418 "Spring Boot2 issue with circuit breaker"
Hi team.

I develop a simple  application  using resilence4j  with spring boot 2 and  maven, but when running application i got  runtime exception like
java.lang.IllegalStateException: Failed to introspect Class [io.github.resilience4j.bulkhead.autoconfigure.BulkheadAutoConfiguration] from ClassLoader [sun.misc.Launcher$AppClassLoader@659e0bfd].Could you please  help to resolve this issue ?
Is any

[2019-04-11 07:00] RobWin commented on #418
Hi,

please use the following for for Spring Boot 2.

[code]

[2019-04-11 07:01] RobWin commented on #418
There is a demo -> https://github.com/RobWin/resilience4j-spring-boot2-demo

[2019-04-11 07:06] dreamsshinu commented on #418
Hi Rob,i am used  same dependency only  but error not resolved during run time  This is run timeexception im a getting java.lang.IllegalStateException: Failed to introspect Class [io.github.resilience4j.bulkhead.autoconfigure.BulkheadAutoConfiguration] from ClassLoader [sun.misc.Launcher$AppClassLoader@659e0bfd].? and i exclude all other spring boot depdendency iam getting   i am getting run time

[2019-04-11 07:45] Romeh commented on #418
@dreamsshinu  do you have any Reactor dependencies in your project ?  do u have a github example of the your project where i can check it for u ?

[2019-04-11 13:12] dreamsshinu commented on #418
Yes i have added  following depedendency
	<dependency>
			<groupId>io.reactivex.rxjava2</groupId>
			<artifactId>rxjava</artifactId>
			<version>2.1.0</version>
		</dependency>

[2019-04-11 14:21] Romeh commented on #418
So you need to add as well RxJava2 resileience4j support to your project , can u please add the following dependence as well to ur project

[code]

And test again ?

[2019-04-11 15:51] nischit7 opened #419 "Improvement: Circuit breaker metrics support for clustered enviroment"
This is a request for adding a feature in resilience4j.
Currently the circuit breaker registry is in-memory only.
The metrics that gets captured is also in-memory.
In a continuous deployment world, we will have multi-node setup and containers gets created now and then. As of now, when one node trips the circuit, the other nodes are still unaware.
If a code deploy does happen, the circuit breaker w

[2019-04-11 17:26] Romeh commented on #419
hey @nischit7  ,

I think you can simply have event consumer for the metrics that can push the event or normalized version of the metrics events to your distributed store:
[code]
also you can resilience4j-prometheus or resilience4j-micrometer to export the metrics in you related dashboards.

Thx a lot,
Romeh

[2019-04-11 17:31] RobWin commented on #419
I actually think that the success/failure rates should not be distributed. It introduced too much latency if you do it synchronously.
Instead just listen to state transition event and sort the state in a distributed map per CircuitBreaker. Whenever the global state chances, just get the CircuitBreaker instance from the registry and use `transitionToOpenState` or `transitiontoCloseState`.

[2019-04-11 17:35] RobWin commented on #419
See distributed events in Hazelcast for example.
https://docs.hazelcast.org/docs/3.0/manual/html/ch02s08.html

[2019-04-11 20:43] dalexander01 opened #420 "Document default configurations some where"
Had to dig into the code just to understand the default config of things like CircuitBreaker. Would be nice if they were found in the readme or the user guide. Hysterix had a nice table with defaults in it's documentation.

[2019-04-12 01:18] nischit7 commented on #419
These options have been explored. If we try to set a event publisher or store some limited information in distributed cache... We have to now worry about not sending the change in distributed cache back to sender/creator. The process of transitiontoopenstate or other state transitions triggers event and again event publisher will be called in all nodes. It might go in a infinite loop. Although the

[2019-04-12 04:29] RobWin commented on #420
It's an open source project. Feel free to create a PR and optimize the documentation.

[2019-04-12 05:30] dreamsshinu commented on #418
Thanks For info......as  i seen  the latest  resilence spring boot  inbuilt with  spring boot 1.5.19  as  our micr services running on spring boot 2.1.4 so i  excluded and overwrite pls find below  pom file

		  <dependency>
    <groupId>io.github.resilience4j</groupId>
    <artifactId>resilience4j-spring-boot</artifactId>
    <version>0.14.1</version>
    <exclusions>
    	<exclusion>
    		<grou

[2019-04-12 06:07] RobWin commented on #418
Sry, but did you read what I wrote in my first answer?

[2019-04-12 06:41] #301 closed

[2019-04-12 06:43] RobWin commented on #417
Hi,

can you please explain when do you need it? Maybe a CircuitBreaker is better suited in front of a Bulkhead?

[2019-04-12 06:44] RobWin opened #421 "Upgade to Gradle 5.3.1"

[2019-04-12 06:48] #376 closed

[2019-04-12 10:05] dreamsshinu commented on #418
Thanks Rob,  i added  the depededency alredy  but it showing compilution issue org.springframework.web spring-web components not seen  in that depdedendency hiearchy.is need to any dependencies missing

[2019-04-12 10:08] RobWin commented on #419
Would you like to propose an API which allows to configurer another `CircuitBreaker.Metrics` implementation.

You could for example provide a RingBuffer implementation based on Hazelcast -> https://docs.hazelcast.org/docs/latest/manual/html-single/index.html#ringbuffer

[2019-04-12 10:24] RobWin commented on #418
You excluded a lot of dependencies, why?
If you use Spring Boot 2.1.4.RELEASE, everything should workd.

[2019-04-12 10:29] #421 closed

[2019-04-12 13:52] nischit7 commented on #419
@RobWin Thanks.. I will think of an approach first, yes hazelcast implementation is a worthy reference.

[2019-04-12 14:24] akos-csurai commented on #271
Would be more straightforward if the comment would says
/** @deprecated , use ArgumentMatchers instead!*/

[2019-04-13 09:22] 123Haynes opened #427 "Implement JPMS while still supporting java 8"
Currently, Java 8 is still being used in production by 85% of the projects according to this [survey](https://www.baeldung.com/java-in-2018), so resilience4j should probably keep java8 support for now.
But we also want to support the JPMS for projects that already use java 9+.
To do that we need to create the appropriate `module-info.java` files for each project and compile the `module-info.java`

[2019-04-13 09:26] #179 closed

[2019-04-14 16:19] mkopylec commented on #384
Throwing exception from CB is not a good option in my case, that's way I need global result predicate.
I need CB to count some results as failure but not to throw an exception in that case.
When a result predicate is configured CB should throw exception only when its state is open.

[2019-04-14 16:39] storozhukBM commented on #384
Can you please share with us the reasons why throwing exception is not
working for you? It will help a lot to understand your particular case and
assess its applicability to our broader audience.

On Sun, Apr 14, 2019 at 19:19 Mariusz Kopylec <notifications@github.com>
wrote:

[2019-04-14 16:41] RobWin commented on #384
He wants to process the result normally, but count it as a failure.

[2019-04-14 16:46] storozhukBM commented on #384
Hmm, I thought that such case is already covered by publicly exposed
”onError” method that could be called manually.

On Sun, Apr 14, 2019 at 19:41 Robert Winkler <notifications@github.com>
wrote:

[2019-04-14 16:47] RobWin commented on #384
But then one call is recorded twice. One success and one error. That's ugly as well.

[2019-04-14 16:48] RobWin commented on #384
He could implement is own custom decorator method instead of using ours. That's the simplest solution

[2019-04-14 17:07] storozhukBM commented on #384
Yes, I understand 😔 My thoughts on this case are simple; the library can't
handle all possible situations for you and remain usable & straightforward.
To help the user in such rare cases, we expose our low-level APIs:
”onSuccess”, ”onError”, ”isCallPermitted”. These methods designed and
exposed to the user as sufficient building blocks to implement any specific
behavior you want. So unless we unde

[2019-04-14 17:10] RobWin commented on #384
I totally agree

[2019-04-14 17:27] mkopylec commented on #384
Probably I can implement my own decorator but that would be in 90% a copy-pasted code.
I can also wrap your decorator with my own as well but IMO this should be encapsulated in the CB module.
You already have a global result predicate for retry, why not to have it also in CB?
I'm think not only me needs this feature (i'm not the creator of the issue).

[2019-04-15 13:52] dalexander01 commented on #420
Sure I'll try once I get the time.

[2019-04-16 06:34] #418 closed

[2019-04-16 08:01] dreamsshinu commented on #418
i excluded  for  getting latest spring boot dependency.How i can test this application

[2019-04-16 08:05] RobWin commented on #418
Which Spring Boot 2 version do you use?

[2019-04-16 09:30] dreamsshinu commented on #418
i am using the version available along with resilence  spring boot2....ie  version no 2.1.3,i  try to  override 2.1.4 but due to some issues stopped

[2019-04-17 16:58] rajeshkayarat opened #429 "Any update on 1.0.0 release?"
Hi,
I have seen in  https://github.com/resilience4j/resilience4j/issues/266 discussion on release of 1.0.
So is there any update on that?

[2019-04-17 17:24] RobWin commented on #429
There are still some PRs open which we would like to include before we release v1.0.0.
But backward compatibility is always our goal.

[2019-04-17 17:25] RobWin commented on #429
Resilience4j is already used in production systems.

[2019-04-17 17:38] rajeshkayarat commented on #429
Any time frame by when this is expected.We have internal processes which mandates OSS version needs to be atleast 1.0.0 for productive usage.

[2019-04-17 17:55] RobWin commented on #429
Even if we update to 1.0.0, it doesn't mean that our transitive dependency updates to 1.0.0 as well.

[2019-04-18 16:13] charlesardsilva opened #430 "Feature: Combine circuit breakers with TimeLimiter in Spring boot"
This is a request for adding a feature in resilience4j.
The project could have integration between "CircuitBreaker" and "TimeLimiter" using annotation in Spring Boot project.
Hystrix there is a configuration in @HystrixCommand that allows us to set timeout to desired operation.

I understood that is possible configure CircuitBreaker and TimeLimiter only using expression.

[2019-04-18 16:19] RobWin commented on #430
Yes we implemented a Threadpool based Bulkhead with a bounded queue which can easily combined with a TimeLimiter in the future.
The current Bulkhead uses Semaphores.
And our CircuitBreaker does not use any ThreadPool, because it's up to the user to decide, if he wants to use one or not.

[2019-04-18 16:31] charlesardsilva commented on #430
Hi @RobWin ,
I did not understand, so for now there is no option to use @CircuitBreaker+TimeLimter, this is planned for the future, I am right?.

Thanks for your attention.

[2019-04-18 16:42] RobWin commented on #430
Sure you can. Just use your own Executorservice or CompletableFuture.
But there is no TimeLimiter annotation yet.

[2019-04-18 16:43] RobWin commented on #430
But we can add a new TimeLimiter Annotation.

[2019-04-18 16:56] charlesardsilva commented on #430
For now I need more time to do it, but I don't have, when I am available in the next months and it have not been done yet, I can try doing it.
Thanks a lot!!!

[2019-04-18 17:36] RobWin commented on #430
Can you invoke `Future.get(5, TimrUnit.SECONDS)` on your Future?

[2019-04-20 00:42] kolapkardhaval opened #431 "Unable to use resilience with retrofit and rxjava"
I have the below code to use resilience4j with retrofit and rxjava:

new Retrofit.Builder()
                        .baseUrl(walletServerBaseUrl)
                        .addConverterFactory(JacksonConverterFactory.create())
                        .addCallAdapterFactory(new RxErrorHandlingCallAdapter())
						.addCallAdapterFactory(CircuitBreakerCallAdapter.of(circuitBreaker, (r) -> r.code() < 50

[2019-04-20 09:33] RobWin commented on #431
Hi thx.

[2019-04-20 11:00] RobWin commented on #431
As a workaround, if your client returns an Observable or Single, just add
```observable.lift(CircuitBreakerOperator.of(circuitBreaker))``` before you subscribe

[2019-04-23 16:22] #370 closed

[2019-04-24 11:20] RobWin commented on #268
It 0.15.0 you will be able to overwrite the default configuration and define base configurations as follows:

[code]

[2019-04-24 11:25] RobWin commented on #268
You can then do
[code]

We also add a shortcut for this.

`circuitBreakerRegistry.circuitBreaker("circuitBreaker", "group1");`

[2019-04-24 19:00] dimovelev opened #434 "Interested in a pull request with bulkhead full counter metric"
Hi,
I would like to have a counter that is incremented every time a (semaphore) bulkhead full exception is thrown. Would you be interested in integrating this if I create a pull request (probably an atomic long that gets incremented when acquire fails)?
Cheers
Dimo

[2019-04-24 19:19] RobWin commented on #434
I would suggest to use resilience4j-mqicrometer for that.
You can use our TaggedBulkheadMetrics and register an event handler to a bulkhead which consumes BulkheadOnCallRejectedEvents and increases the counter.

[2019-04-25 06:38] RobWin commented on #417
Will be part of v0.15.0

[2019-04-25 06:42] RobWin commented on #398
We added a feature to the upcoming v0.15.0 which you could use to solve it.
You can no add a listener to a registry and whenever a CircuitBreaker is created you can add an event listener to it.

[code]

[2019-04-25 06:42] RobWin commented on #398
Does that solve your needs?

[2019-04-25 06:53] anderseknert opened #435 "RetryHealthIndicator missing"
Any particular reason for that? Guessing it's hard to determine `UP|DOWN|UNKNOWN` based solely on retries, but the details are still valuable. Currently using a simple implementation of our own (see below), but would of course prefer to use something included.

[code]

[2019-04-25 06:56] RobWin commented on #435
Yes exactly. We don't want to determine the health status based on retries.
Retry metrics are available in the metrics endpoint.

[2019-04-25 06:58] RobWin commented on #435
We actually added it in our PR and then removed it again. 🙄

[2019-04-25 10:03] ceremo opened #437 "Reactive method with @CircuitBreaker doesn't take account errors on the assembly of the flux"
Hi,
I've found a difference of behaviour between the definition of a circuit breaker using annotation (@CircuitBreaker) or using CircuitBreakerOperator on reactive methods, when there is an error on the assembly of the flux with the circuit breaker annotated won't take account of this, and with the operator yes. This case works fine with the version 0.13, but this doesn't take account the errors e

[2019-04-25 11:11] Romeh commented on #437
Hey @ceremo   ,

can you please provide an more detailed example so we can use it for validation , like what type of errors ..ect ?

[2019-04-25 11:14] RobWin commented on #437
I guess a function which returns a `Flux` throws an exception instead of using `Flux.error`.
A developer bug?

[2019-04-25 11:30] ceremo commented on #437
That's it, with an Flux.error it works perfectly but I'm referring with a abnormal execution of the method returning an Exception instead of a Flux.

[2019-04-25 11:34] RobWin commented on #437
Yes that can happen, if the joinPoint throws an exception.

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/ReactorCircuitBreakerAspectExt.java

[2019-04-25 11:51] Romeh commented on #437
but then i guess that need to be tackled by the implementation itself as it means there is a development bug in the construction of the Flux which means it is not ready for subscription .

[2019-04-25 12:08] RobWin commented on #437
Yes, I think his suggestion is to be consistent in our decorators.

[2019-04-25 16:00] PaulusGrandis commented on #398
That looks like it would solve my needs, thanks so much!  Also, did you happen to add similar functionality to the `RetryRegistry`?  That would be helpful, too.  Thanks again.

[2019-04-25 16:25] RobWin commented on #398
Yes, it's available in every Registry

[2019-04-25 18:47] #280 closed

[2019-04-26 07:30] #154 closed

[2019-04-26 17:26] #434 closed

[2019-04-26 17:29] RobWin commented on #434
Why did you close the issue?

[2019-04-28 15:39] Macarse opened #439 "Add failure rate metric to circuit breaker"
Based on the conversation at https://github.com/RobWin/resilience4j-spring-boot2-demo/issues/2, add a failure rate metric to the circuit breaker.

[2019-04-28 18:23] #439 closed

[2019-04-29 19:03] Macarse commented on #429
@RobWin how often are you doing releases?

[2019-04-29 19:27] RobWin commented on #429
Once in a while :)
This is our roadmap for the next release.
https://github.com/resilience4j/resilience4j/projects/1

[2019-04-29 20:50] Macarse commented on #429
@RobWin I am interested in using https://github.com/resilience4j/resilience4j/pull/440 in prod, any chance you cut a version soon? :)

[2019-04-30 05:27] RobWin commented on #429
We could decrease the scope of 0.15.0 and move recovery methods for Spring to the next release.

[2019-04-30 06:40] mkopylec commented on #384
Any update on this?

[2019-04-30 06:59] #274 closed

[2019-04-30 07:08] RobWin commented on #413
Which information do you need to understand what triggered the retry?
Would you expect an exception like `RetryDueToResultException`

[2019-04-30 07:15] RobWin commented on #384
I thought about it and understand that it often doesn't make sense to throw an exception.
The client of your API might expect a result, even if it contains and error code, and not an exception.

Would you like to create a PR?
Please keep in mind that the Reactor, RxJava2, Ratpack operators must also be adapted?

[2019-04-30 20:52] JonJac commented on #413
The most pragmatic way would be that the event contained the result object. The .retryOnResult() method allows one to define predicates to be tested against the result object. **I should be able to tell exactly why a retry happened.** If i have the returned object, then i can run the predicate(s) against it and see what the retry cause is.

An alternative is that the user would provide a list of p

[2019-04-30 20:55] JonJac commented on #413
Concretely, in my case of retrying on http calls, the resulting object would provide important state such as the status code. I could make a general predicate like .getStatusCode() >= 500 and then print the exact status code. Its very interesting information.

[2019-05-01 05:50] RobWin commented on #413
Do you just want to log it with a logging framework? Or do you want to process the events and store information in another system?

[2019-05-01 20:24] JonJac commented on #413
I just want to log it with a logging framework in this concrete case.

[2019-05-02 05:17] RobWin commented on #268
@drmaas Would you like to adapt r4j-ratpack?

[2019-05-02 08:24] Romeh commented on #413
you can not just log it inside the result predicate itself  ?

[2019-05-02 08:25] RobWin commented on #413
Correct, that was also my idea.

[2019-05-02 10:26] anderseknert commented on #435
Thanks @RobWin. We don't currently expose other endpoints for metrics in our cluster and changing that would be too big of a change right now. We'll just continue with our home cooked indicator then, which is fine too if not as convenient.

[2019-05-02 10:39] RobWin commented on #435
Ok, sorry for the inconvenience.
But I think we don't want to add a HealthIndicator which is always UP.
I think it would be make sense when the HealthIndicator would be DOWN when `failedCallsWithRetryAttempt` is higher than a threshold.

[2019-05-02 10:50] anderseknert commented on #435
Yeah I can totally buy that. Thanks @RobWin 👍

[2019-05-02 10:50] #435 closed

[2019-05-02 16:51] Macarse commented on #429
@RobWin that would be very helpful. Thanks!

[2019-05-03 12:56] anderseknert commented on #430
Trying to piggyback on the timelimiter topic rather than creating a new issue here - is there any reason that the time limiter module is not imported by default for the [spring module](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/build.gradle)? I would expect that to be the given how it's called a core module.

[2019-05-04 20:53] RobWin commented on #430
Yes there are no additional Spring Boot features yet. First we need to create an Aspect which supports Reactor and RxJava as well. Shouldn't be too difficult, but nevertheless we need some time. A PR is welcome :)

[2019-05-05 14:38] JonJac commented on #413
Good point. That would be viable here.

However, if that the intended way then i see little purpose for the event system. Would still think its neater if the returned object is available in events.

[2019-05-05 15:13] RobWin commented on #413
The event system is used by use to connect monitoring systems (TSDB) like Prometheus, InfluxDB

[2019-05-06 16:01] drmaas commented on #268
@RobWin I can take a look - how quickly is this needed?

[2019-05-06 16:03] RobWin commented on #268
There are some nice new features. If you still use Ratpack, it could be useful for you as well.

[2019-05-06 16:05] drmaas commented on #268
Despite the slow pace of releases we are still using it :)

[2019-05-06 16:27] RobWin commented on #268
You can join slack again if you like, I can tell you what's new and interesting for Ratpack.

[2019-05-08 04:51] raghanag commented on #290
Hi @RobWin We are planning to use the library to wrap our external system calls with circuit breaker, currently, the config of the circuit breaker does not have the fallback method. And also could you please explain to me why do we need to decorate the service method instead of directly executing the supplier by using the executeSupplier. And is it always good practice to use the registry or is it

[2019-05-08 05:20] raghanag commented on #369
Hi, @RobWin Thanks for the example above.

1. Why do we need to use Retry or Retry Config if the circuit breaker can handle the number of calls it can try after a failure and for example in the above example, I see that the ringbuffersizeinclosedstate is 2, and there is not failureratethresold, does that meant after 2 calls either success or failure, the circuit breaker will use the 50% failure ra

[2019-05-08 05:48] RobWin commented on #290
Hi,
why did you add the question to this closed issue?

You don't have to necessarily decorate your service method. You can always just use `

`Result result = circuitBreaker.executeSupplier(() -> service.method(param));`

But when you decorate your service method, it allows you to add another decorator like `Retry`. If your service method fails, it will be automatically retried.
If you use `resil

[2019-05-08 05:49] RobWin commented on #290
Btw, if you use Spring Boot 2. Everything is much simpler.

[2019-05-08 06:07] RobWin commented on #369
1.) You don't have to use Retry, if you just want CircuitBreaker functionality.
But @vamshikrishnamraju asked the question: "Can you give me code example where I can retry a call automatically only when the CirucitBreaker is in OPEN state" and I answered it.

A CircuitBreakerConfig has default values:
[code]

The following just overwrites `ringBufferSizeInClosedState` and `ringBufferSizeInHalfOpen

[2019-05-08 06:22] RobWin commented on #369
In the next release you can use

[code]

The following code would use `recovery` with the paramater `IllegalArgumentException exception`, since `NumberFormatException` extends `IllegalArgumentException`

[2019-05-08 10:37] #309 closed

[2019-05-08 17:31] raghanag commented on #369
Thanks a Lot, @RobWin . But unfortunately, we are using the Spring not sprong boot with lots of Apache Camel as our integration framework. In that case, I believe I have to use the Try for the recovery or fallback methods right?

[2019-05-08 17:33] RobWin commented on #369
I guess so, but can you give me an example. It's a while ago since I used Apache Camel.

[2019-05-08 18:26] raghanag commented on #369
Thank you so much for responding, here is the example:

1. route in the route.xml, extProcessor is a registered bean in bean-definitions.xml
[code]
2. performExtCall method in extProcessor bean will use the producerTemplate to call the external web service like the below.
[code]
3. external Call Route mainly is an XML file, which uses cxf:rsClient and http-conf:conduit to call the web service, ple

[2019-05-09 11:05] RobWin commented on #429
We are almost done.

[2019-05-09 13:44] efenderbosch opened #450 "Automatically bind metrics for new CircuitBreaker from CircuitBreakerRegistry"
We are creating a custom ``CircuitBreakerConfig`` and ``CircuitBreakerRegistry``. When a new ``CircuitBreaker`` is created from the registry, metrics are not bound. If the ``CircuitBreakerConfig`` had a ``bindMetrics`` attribute the ``CircuitBreakerRegistry`` could automatically bind metrics before returning the new ``CircuitBreaker``.

This wasn't a big issue before because I could use code like

[2019-05-09 14:18] RobWin commented on #450
Hi,

thank you for using Resilience4j.
This is fixed in the upcoming release v0.15.0 for CircuitBreaker, Retry, Bulkhead and RateLimiter.

Please see:

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-micrometer/src/main/java/io/github/resilience4j/micrometer/tagged/TaggedCircuitBreakerMetrics.java#L140-L148

[2019-05-09 17:49] #268 closed

[2019-05-09 17:49] #398 closed

[2019-05-09 17:49] #273 closed

[2019-05-09 17:50] #282 closed

[2019-05-09 17:50] #343 closed

[2019-05-09 17:50] #291 closed

[2019-05-09 17:51] #298 closed

[2019-05-09 17:51] #313 closed

[2019-05-09 17:51] #417 closed

[2019-05-09 17:52] #327 closed

[2019-05-09 17:56] #195 closed

[2019-05-09 17:58] RobWin commented on #305
I prepared a Grafana dashboard using Prometheus.
https://github.com/resilience4j/resilience4j/blob/master/grafana_dashboard.json

Are you using resilience4j-micrometer?

[2019-05-09 17:58] #305 closed

[2019-05-09 18:08] RobWin commented on #311
How do we proceed?

[2019-05-09 18:12] RobWin commented on #314
How do we proceed?

[2019-05-09 18:13] #321 closed

[2019-05-09 18:15] RobWin commented on #336
I think the issue is related to #311

[2019-05-09 18:38] RobWin commented on #450
Feel free to close the issue, if it solves your problem.

[2019-05-09 21:44] madgnome commented on #336
I wasn't really clear in my explanation. Let me try again.

T1: 20 requests
T2: 30 requests

Shows the number of requests executed since the beginning.
At 0s we can execute 10 requests, after 1s we can execute 10 more (so we have 20 requests executed already), after another second (0+1+1) we ca execute 10 more and we are at 30 requests executed in 2s and a bit.

The test would take 3s if we needed

[2019-05-09 22:40] nischit7 commented on #357
@RobWin ... any luck on this issue?

[2019-05-10 04:22] madgnome commented on #311
I think we should modify rateLimit to rate limit on the subscription and change the implementation to be non blocking using `reservePermission`

I can raise a PR for it if we agree on the plan.

[2019-05-10 05:52] johanhaleby commented on #336
@madgnome Got it, thanks a lot for the explanation.

[2019-05-10 07:05] RobWin commented on #311
Yes, a PR would be awesome

[2019-05-10 07:15] raghanag opened #451 "CircuitBreakerRegistry Events, Configuration"
Hi All, Thanks for providing the great library. Could you please clarify the below issues.

1. When I try to use the below code, the getEventPublisher is simply not available as part of the CircuitBreakerRegistry object. May I know what I am missing or doing wrong.

[code]
I used the below code to create the circuitbreaker from customconfig and from registry.

[code]

2. Configuration properties f

[2019-05-10 07:28] RobWin commented on #451
Hi,

1.) I'm sry. It's our fault which we have to fix. Our documentation upload is not working properly. The documentation of 0.15.0 has overwritten the documentation of 0.14.1.
Our documentation must be uploaded to subfolders to be versioned.
The `registry.getEventPublisher` is a new feature of 0.15.0 which will be released soon.

2.) Yes, correct. `backends` is a reserved keywoard. The propertie

[2019-05-10 07:29] RobWin commented on #451
But 0.15.0 is has a lot of new features like shared configs for CircuitBreaker.
We really have to release it soon.

[2019-05-10 07:36] RobWin commented on #357
Since you are using flatMapt it bight be related to this issue, which is actually an issue in Reactor itself:

https://github.com/resilience4j/resilience4j/issues/361

I try to debug it.

[2019-05-10 08:42] RobWin commented on #357
Debugging this reactive chain is really challenging

[2019-05-10 09:56] RobWin commented on #357
First finding:

`Mono.onError` terminates with the specified error immediately after being subscribed to. What you actually want to simulate is that your backend call is failing. You should actually use

[code]

[2019-05-10 12:04] RobWin commented on #357
Yeah. I think I finally found the bug. That was a tough one.
Thank you for reporting it.

[2019-05-10 12:45] RobWin commented on #357
Would you like to retest it when 0.15.0-SNAPSHOT is available?

[2019-05-10 13:03] nischit7 commented on #357
@RobWin .... first of all kudos to you for fixing it!!!
The day I reported this bug, I did try to find the cause and fix it myself. It got over my head and just gave up.
I will check the latest, validate and let you know

[2019-05-10 15:00] #450 closed

[2019-05-11 06:45] RobWin commented on #427
Hi, would you like to give it a try?

[2019-05-12 18:42] raghanag commented on #451
Hi @RobWin Thanks for clarifying. Could you also please let me know how to decorate a method with arguments, I can only see the executeSupplier as part of the circuitbreaker. And also if I want to decorate the consumer, I am using the CircuitBreaker.decorateConsumer but I am not getting how to pass the 2nd argument which takes the only consumer, as I need to apply circuit breaker on top of the met

[2019-05-12 19:33] RobWin commented on #451
Which method do you want to protect? `performExtCall` or `Exchange exchange = producerTemplate.send`?

It's
[code]

[2019-05-13 21:59] raghanag commented on #451
Hi But the above method does not have the option to keep the fallback or recovery method right? How do we achieve that without decorating and not using Try. Can you please let us know.

[2019-05-14 04:23] RobWin commented on #451
Keep which fallback method? Your example did not use any fallback mechanism, or?

You can still just use try/catch or Try to catch the CircuitbreakerOpenException and invoke a fallback method in your ExternalProcessor.

[2019-05-14 11:36] RobWin commented on #361
This will be fixed in the next release.

[2019-05-16 09:29] RobWin commented on #311
I fixed this in an upcoming PR.
Will be solved in 0.15.0

[2019-05-16 12:38] #311 closed

[2019-05-16 12:38] #361 closed

[2019-05-16 12:39] #357 closed

[2019-05-16 12:41] RobWin commented on #361
This test is successful now

[code]

[2019-05-17 13:55] RobWin commented on #336
The behavior changes in 0.15.0 because of #311
The rate limiter will only rate limit subscriptions and not events anymore.
Your test should work as expected with the new upcoming release.

[2019-05-17 14:02] johanhaleby commented on #336
@RobWin What's the new behavior?

[2019-05-17 14:09] RobWin commented on #336
What you initially expected.
The [MonoRateLimiter](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-reactor/src/main/java/io/github/resilience4j/reactor/ratelimiter/operator/MonoRateLimiter.java#L41) tries to acquire a permission before it subscribes to the upstream `Flux`.

If the rate limiter rejects it, a `RequestNotPermitted` is forwarded to the downstream subscriber.
If t

[2019-05-17 14:53] johanhaleby commented on #336
@RobWin Thank you!

[2019-05-19 09:15] #451 closed

[2019-05-19 15:32] martin-tarjanyi opened #458 "Reactor context is unavailable when using circuit breaker"
Hi,

I discovered a potential bug in the reactor module. The reactor [context](https://projectreactor.io/docs/core/release/reference/index.html#context) becomes empty after the circuit breaker operator is added to the chain.

I've written two test cases to demonstrate the issue:
https://github.com/martin-tarjanyi/resilience4j-reactor-bug/blob/master/src/test/java/com/example/resilience4j/reactor/b

[2019-05-19 16:26] RobWin commented on #458
Thx. I have a look at it.

[2019-05-19 16:42] RobWin commented on #458
Thanks for your issue. I found the missing piece.

[2019-05-19 16:49] martin-tarjanyi commented on #458
You're insanely quick :)

Thanks. I really appreciate it.

[2019-05-19 16:51] RobWin commented on #458
You can try 0.16.0-SNAPSHOT as soon as it is available.

[2019-05-19 17:24] martin-tarjanyi commented on #458
Tested. Works as expected 👍

[2019-05-19 17:24] #458 closed

[2019-05-19 18:21] RobWin commented on #458
Thx again for reporting

[2019-05-20 17:22] johanhaleby commented on #336
@RobWin It still doesn't seem to work the way I would expect. From what I understand you should now catch the `RequestNotPermitted` exception and perform the backoff yourself. I've tried updating the example ([https://github.com/johanhaleby/resilience4j-ratelimiter-question](https://github.com/johanhaleby/resilience4j-ratelimiter-question)) with version 0.15.0 but as far as I can tell it's still t

[2019-05-20 18:27] RobWin commented on #336
Just to make sure there is no misunderstand.
Our RateLimiter is not an implementation of a leaky bucket algorithm which leaks out at a constant rate.
The RateLimiter allows 10 requests per second in your case and rejects every further call with a `RequestNotPermitted`.
Since reactive streams must be non-blocking, the `timeoutDuration` is not taken into account, but instead it's always 0.

I debug

[2019-05-21 07:14] RobWin commented on #336
Some further information.
The first time window (refresh period) starts when the RateLimiter is initialized, not when the first call asks for a permission.
Since your WireMock Stub does not simulate any delay, the test can fire requests very fast.
That means it's possible that a burst of 10 requests could be processed at the end of the first time window (refresh period). The measured total time wo

[2019-05-21 07:30] johanhaleby commented on #336
@RobWin Oh, that probably explains it. I think I get it now and it makes sense. Thanks a lot for taking the time to explain this, really appreciated. And thanks for all the work on resilience4j.

[2019-05-21 07:30] #336 closed

[2019-05-21 07:30] RobWin commented on #336
You can see this better when you increase the `limitRefreshPeriod` to 5 or 10 seconds.

When I use 5 seconds, the total measured time is: ~13 seconds (4+5+4)
When I use 10 seconds, the total measured time is: ~23 seconds (5 + 10 + 8)

[2019-05-21 07:32] RobWin commented on #336
Anyway a Leaky Bucket and a Sliding Window implementation could be interesting as well.

[2019-05-21 18:19] martin-tarjanyi commented on #336
The timeout seems to be a quite essential part of the rate limiter. In most of our use cases we don't want to reject calls, but wait instead until we have permission again. Wouldn't it be possible to implement the waiting in a non-blocking way in the reactor module?

For this use case with the current implementation you need to do some retry for the not permitted exception (like it's done in @joha

[2019-05-21 18:25] RobWin commented on #336
We could modify the rate limiter an test `	delaySubscription(Duration delay)`.
Not sure yet how it behaves.

[2019-05-22 01:41] srchen1987 opened #462 "io.github.resilience4j.circuitbreaker.CircuitBreaker is not thread-safe"
Dear all,I try it and find CircuitBreaker is not   thread-safe ,
I see the  CircuitBreaker source code :A CircuitBreaker instance is thread-safe can be used to decorate multiple requests.

my code
[code]
this code will print "call time 23"
change Executors.newFixedThreadPool(20); to Executors.newFixedThreadPool(1);
at this time print "call time 14"
Thank you for you time

[2019-05-22 07:35] RobWin commented on #462
Hello,

the CircuitBreaker is thread-safe as follows :
- The state of a CircuitBreaker is stored in a AtomicReference
- The CircuitBreaker uses atomic operations to update the state with side-effect-free functions.
- Updates to the RingBitSet (ring buffer) are synchronized.

That means atomicity should be guaranteed and only one thread is able to update the state or ring buffer at a point in time.

[2019-05-22 09:20] srchen1987 commented on #462
Thank you  RobWin  for your reply,I know your means,I know failureRateThreshold is percentage.
I have tried Bulkhead before ,But I don't want to control concurrency.
I still struggle with  "A CircuitBreaker instance is thread-safe can be used to decorate multiple requests.".
can you remove it ?

[2019-05-22 09:32] RobWin commented on #462
But a internal state of a CircuitBreaker is thread-safe and a CircuitBreaker MUST be used to decorate multiple functional calls. Otherwise it does not make sense at all.

The implementation of Polly is similar -> https://github.com/App-vNext/Polly/wiki/Circuit-Breaker#thread-safety-and-locking

[2019-05-22 09:36] RobWin commented on #419
This if worth a read -> https://github.com/App-vNext/Polly/issues/287

[2019-05-22 09:52] srchen1987 commented on #462
`a CircuitBreaker MUST be used to decorate multiple functional calls. Otherwise it does not make sense at all. `
I don't think so,My usage scenarios:
I can  use the TimeLimiter to implement timeout control.
function A(){
call B();
}
function B(){
//http://www.xxx.com/user/info.do
 request timeout 300ms.

}
when I call the B funtion 5% timeout ,I want to open the CircuitBreaker.Bug at this time 100

[2019-05-22 10:41] storozhukBM commented on #462
@RobWin thank you for answers above. I found them fully reasonable and descriptive. But maybe we encounter this problem because of our common knowledge of the low level circuit breaker API and architecture, that is not typically known for our users.
@srchen1987 thank you also for this question. I understand your problem and behavior that you want to achieve. Unfortunately, the thing that you are a

[2019-05-22 11:08] srchen1987 commented on #462
@RobWin @storozhukBM  Thanks again. Let me think about it .

[2019-05-22 12:23] RobWin commented on #431
@cpilsworth Would you like to have a look at this issue?

[2019-05-22 12:45] cpilsworth commented on #431
@RobWin sure, I'll take a look 👍

[2019-05-22 12:57] HLTan94 opened #463 "ApiType no longer works in @CircuitBreaker?"
As mentioned in #258, 0.14.0 release's @CircuitBreaker should have covered mono and flux type with the help of ApiType = WEBFLUX (https://github.com/resilience4j/resilience4j/commit/6b7078fc48933d893f598d4c962d94c91d99ddf1). However, I don't see it in 0.15.0 (https://github.com/resilience4j/resilience4j/blob/master/resilience4j-annotations/src/main/java/io/github/resilience4j/circuitbreaker/annota

[2019-05-22 13:01] RobWin commented on #463
You can just use the annotation. The Spring AOP Aspect discovers the return type automatically and decorates it.

https://resilience4j.readme.io/docs/getting-started-3#section-annotations

[2019-05-22 14:21] HLTan94 commented on #463
Ok, Thanks

[2019-05-22 19:38] Romeh commented on #463
can you please update us once u tested it again :) ?

[2019-05-23 02:40] srchen1987 commented on #462
@storozhukBM @RobWin
Thanks again，I just looked at the above answer，I knew
the thing that you are asking is not possible from a physics standpoint, because it demands the prediction of future events, which is not achievable.
because
In my case with 20 threads, circuit breaker gives me 20 permissions because no error happened at this given point of time and even after a first cycle some threads act

[2019-05-23 02:40] #462 closed

[2019-05-23 21:45] Macarse opened #464 "Defaults for Retry similar to Circuit Breaker in spring-boot"
With circuit breakers, I can define a default config and use a `baseConfig` per backend. Example:
[code]

but I can't do the same thing with Retry and my config looks like this:

[code]

What do you think of adding a `baseConfig` and `default` to Retry?

[2019-05-24 03:09] HLTan94 commented on #463
I tested and it works. However I have another question, from the [documentation ](https://resilience4j.github.io/resilience4j/#_circuitbreaker_14), it says that

Then, all access to the backend is blocked for a (configurable) time duration.

I tested and it's not that case, I can still see the method with @CircuitBreaker being invoked even though the circuit is open. I tried with this demo [projec

[2019-05-24 04:53] RobWin commented on #464
It's alreadt possible for retry.

[2019-05-24 06:46] RobWin commented on #463
I guess you should just increase the `waitInterval`.
Maybe the CircuitBreaker transitions to fast into HALF_OPEN and permits further calls to test that the backend is working again.

[2019-05-24 07:19] HLTan94 commented on #463
In demo project that I mentioned just now, it works (method with @CircuitBreaker no longer being invoked) after I increase the `waitInterval`. However, it doesnt work in the project that I am working on. The only difference that I spotted is the data type of mine is **Mono<XXX>** while demo project is just **String**. Could this be the reason why my method is still being invoked?

[2019-05-24 07:21] RobWin commented on #463
Yes, but thats ok. A method with a reactive return type like `Mono` must be invoked in order to be decorated.
It's a reactive type, but real bunsiness logic is only invoked when someone subscribes to Mono.

[2019-05-24 08:10] RobWin commented on #464
I updated the demo.
https://github.com/resilience4j/resilience4j-spring-boot2-demo/blob/master/src/main/resources/application.yml#L58-L72

[2019-05-24 08:11] #464 closed

[2019-05-24 09:34] HLTan94 commented on #463
FYI, I am trying to convert my code from `Spring MVC + Hystrix` to `Spring Webflux + Resilience4j`.

In my previous implementation, I have one service class to deal with external system. I implemented Hystrix in this service class so that when external system is down or keep returning me error, the circuit will open and stop spamming that external system.

Can Spring `Webflux + Resilience4j` behav

[2019-05-24 09:41] RobWin commented on #463
It's already like this. Your business logic is not invoked, when the CircuitBreaker is open.

The CircuitBreaker AOP Aspect wraps/decorates your method which returns a Mono.  When someone subscribes to it, the CircuitBreaker state is checked. If the CircuitBreaker is closed, the subscriber is allowed to subscribe to your Mono. If the CircuitBreaker is open, the CircuitBreaker rejects it and return

[2019-05-24 10:40] RobWin commented on #336
I've created a PR where I test a delay of a subscription.

@martin-tarjanyi

Please see: https://github.com/resilience4j/resilience4j/blob/0ab113cb7caa4c60a93e13dcc97d2461c0653569/resilience4j-reactor/src/main/java/io/github/resilience4j/reactor/ratelimiter/operator/MonoRateLimiter.java#L37-L47

[2019-05-24 11:25] RobWin commented on #336
That unfortunately means that the subscription happens on another thread, because I can't use `Schedulers.immediate()` . This  scheduler is not capable of time-based scheduling.

Is that something you would expect?  `Mono.delay` uses `Schedulers.parallel()` internally.

[2019-05-24 12:39] HLTan94 commented on #463
I understand that. However, that's not the case in my project. Below is the code that I have.

[code]

And here is the logs

2019-05-24 20:21:44.124 DEBUG [boilerplate-service,27ad24eb0788860c,27ad24eb0788860c,] 10340 --- [ctor-http-nio-3] c.a.w.b.a.s.a.GetAccountProfileService   : Called service method
2019-05-24 20:21:44.127 ERROR [boilerplate-service,27ad24eb0788860c,27ad24eb0788860c,] 10340 --

[2019-05-24 13:05] RobWin commented on #463
You are using Mono wrong.
You are invoking code outside of the stream.
You should read a little bit more about reactive programming.

[2019-05-24 13:10] RobWin commented on #463
You can't use it like a CompletableFuture.
You have to use `Mono.just` or invoke code inside of `Mono.fromCallable`.

[2019-05-24 13:52] Macarse opened #469 "registerHealthIndicator defined in CB default is not read by the backend cfg"
When using the following cfg:

[code]

`backendACircuitBreaker` is shown in the `/health` endpoint when it shouldn't.

To make it work, I ended up moving `registerHealthIndicator: false` to the backend cfg

[code]

and `backendACircuitBreaker` disappeared

[2019-05-24 13:56] Macarse commented on #464
@RobWin Thanks!

[2019-05-24 15:30] Macarse commented on #464
@RobWin I just found you can do empty maps with `{}`.
My config now looks like this:

[code]

[2019-05-24 15:50] RobWin commented on #464
You don't need empty backend definitions. Just delete them. They should be created dynamically.

[2019-05-24 20:38] martin-tarjanyi commented on #336
Awesome!

I don't see any issue with the thread handling, right now. I plan to give it a try with my code and see how it behaves over the weekend. I will share my findings here.

Thanks!

[2019-05-25 08:23] #463 closed

[2019-05-25 12:13] knvs97 opened #470 "Unable to Fetch Aggregated Data in Grafana Dashboard if multiple circuitBreaker's/Retry's/Bulkhead's/Instance's are present in the prometheus data"
Hi, There is a issue in querying prometheus in the Grafana dashboard template while aggregating the data based on multiple instances or multiple CircuitBreaker's | Retry's | BulkHead's. The issue is with the query command for prometheus in the Grafana dashboard. The equality condition was specified as **=** which implies string comparison instead of **=~** which evaluates the regex specified. Prom

[2019-05-25 12:41] #470 closed

[2019-05-28 17:36] Romeh commented on #437
@RobWin  should i update the aspects to do the same as our operators ?

[2019-05-28 17:44] Romeh commented on #469
i will cover this with the code changes i will do for another different issue : https://github.com/resilience4j/resilience4j/issues/437

[2019-05-28 19:07] Macarse opened #475 "Why can't waitDurationInHalfOpenState be 0?"
I am doing some integration tests and I just noticed the exception.
What's the reason behind not allowing the `waitDurationInHalfOpenState` to be 0?

[2019-05-28 19:21] Romeh commented on #475
why you would do that ?, it is by design default to 60 seconds , meanwhile for more information there is a nice article about circuit breaker in resilience4j by one of the library maintainers :https://dzone.com/articles/circuit-breaker-implementation-in-resilience4j

half open state should be enabled after some waiting time to start testing if the back-end is back to service or not , if u set it t

[2019-05-28 19:34] RobWin commented on #475
I guess you mean `waitDurationInOpenState`, or?
If you really don't want to wait before switch to half-open, you can set it to 1 millisecond or via code to even 1 nano second.

[2019-05-28 19:43] Macarse commented on #475
yep, sorry, `waitDurationInOpenState`. bad copy paste.

@Romeh is just for testing.

I guess my real issue is that I am not finding a way to push time in my spring-boot tests. I am trying to avoid adding sleep calls.

Any recommendation?

[2019-05-28 19:57] RobWin commented on #475
You have different options.
1) Inject the CircuitBreakerRegistry in you test, get the CircuitBreaker and do a transition manually to half-open
2) Use a CircuitBreakerRegistry Mock and CircuitBreaker Mock
3) Overwrite system clock

[2019-05-28 20:27] cpilsworth commented on #431
Retrofit picks the _first_ callAdapter that matches the response type, so multiple adapters will not be called on each request.  The [retrofit rxjava2 adapter](https://github.com/square/retrofit/tree/master/retrofit-adapters/rxjava2) is winning the selection and the resilience4j adapter doesn't get called apparently.

I think it might be necessary to decorate the retrofit rxjava2 adapter so it`lif

[2019-05-28 20:57] Macarse commented on #475
I ended up using `circuitBreaker.transitionToHalfOpenState()`. Thanks!

[2019-05-28 21:01] #475 closed

[2019-05-29 14:40] KingMob opened #476 "Why aren't there retrieval-only fns for registries?"
The registries overload the 1-arity String-only fns (e.g., `.retry`, `.circuitBreaker`) for not just lookup, but creation, if one is not available.

Is there a reason there's no lookup-only fn that will return error/false/null (or throw) if you ask for a name not in the registry? It would be a nice way to guard against typos.

[2019-05-29 14:50] RobWin commented on #476
Typos are not allowed ;)
Any good name for such a method?
`findCircuitbreaker`

[2019-05-29 15:25] KingMob commented on #476
Hmm, I guess I would personally go with `find` or `get`. That way it could be added to the `AbstractRegistry` and shared with the non-circuit-breaker registries. And it should return an `Optional`, I suppose?

I can make a PR later, if the above sounds good to you.

[2019-05-29 15:26] RobWin commented on #476
Let's use find and return an Optional

[2019-05-29 15:29] KingMob commented on #476
Sounds good. I'll try to get to it tonight, but it might have to wait til the weekend.

[2019-05-30 11:32] RobWin commented on #437
You can give it a try. I fear it's not possible.

[2019-05-30 13:42] KingMob commented on #476
Implemented by #478

[2019-05-30 13:42] #476 closed

[2019-05-30 14:01] Romeh commented on #437
it is not possible indeed as if there is an exception before we get to the return type:
`Object returnValue = proceedingJoinPoint.proceed(); `
 u will never know which reactive type u need to construct for the error :(

[2019-05-30 14:31] RobWin commented on #437
Yes that's what I thought

[2019-05-30 17:28] RobWin commented on #322
Merged

[2019-05-30 17:28] #322 closed

[2019-05-30 17:29] RobWin commented on #420
Done

[2019-05-30 17:29] #420 closed

[2019-05-31 05:50] HLTan94 opened #479 "@RateLimiter is not working"
I am trying to implement RateLimiter in my project. However, during my testing, I found out that it's not working. From my understanding, with these configurations, I should hit error after 5 calls.
[code]
However, I can still call that endpoint as many times as I wish after adding @RateLimiter to the method that I am invoking.

I modified _BackendAConnector.class_ in this [demo ](https://github.c

[2019-05-31 06:08] RobWin commented on #479
Hi sry,
It's a mistake in the documentation&demo.
Its confusing and will be adapted soon.

Currently it is:

[code]

[2019-05-31 07:09] HLTan94 commented on #479
Thanks RobWin. It works now. However, I cant seems to check ratelimiter's status by calling  actuator/health endpoint.

According to this [link](https://resilience4j.readme.io/docs/getting-started-3#section-annotations), we are supposed to see something like this by triggering actuator health endpoint but it's not showing.
[code]

[2019-05-31 07:16] HLTan94 commented on #479
Other than that, would we be able to see bulkhead's status through actuator health endpoint?

[2019-05-31 07:55] RobWin commented on #479
I would use the `/metrics` (or prometheus) endpoint to monitor the metrics of rateLimiters and bulkheads.
I acutally think that rateLimiter and bulkheads should not be part of the aggregrated health status as your application isn't down when a Bulkhead is full or a rate limit is exceeded.

[2019-05-31 08:06] HLTan94 commented on #479
I understand your points. Will test it using prometheus then. Thank you

[2019-05-31 08:06] #479 closed

[2019-05-31 10:52] AlexisCothenet opened #480 "Problem with circuit breaker in asynch mode"
Hi all.

I have some problems regarding the transition from half_open to close state when using asynch mode (using version 0.15.0).
Here is my code
[code]

[code]
Here is my scenario:
My application sends a message every 10 seconds, so that the method doRun(messageID) get called for each new message. The service , in a first time, returns no exception, so that the circuit is CLOSED.
[code]

Now, i

[2019-05-31 11:28] RobWin commented on #480
[code]

This code already executes your method asynchronously.
There is no need to use `Try.ofSupplier`

`Try.ofSupplier` does not work with CompletableFuture.
In order to recover from an exception, you must use `future.handle` or future`whenComplete`.

[2019-05-31 12:11] AlexisCothenet commented on #480
Hello @RobWin . Thanks for your comment. That explains why the recovery method was not called.
But i still see the problem regarding the state transition from half_open to closed. Would you have any idea what could be wrong ? Thank you.

[2019-05-31 13:00] RobWin commented on #480
You could debug the code and check that `circuitBreaker.onError` is called twice when the state is HALF_OPEN. Seems the `testRequestCounter` is 0, but some one one of the calls did not invoke `onError`.

[2019-05-31 15:25] #431 closed

[2019-05-31 15:40] RobWin commented on #480
This test works for me:

[code]

[code]

[2019-05-31 19:01] apottere commented on #431
@kolapkardhaval That PR should fix your issue, but keep in mind you need to register the resilience4j adapters _first_.  Your example would be:
[code]

[2019-05-31 19:45] efenderbosch opened #481 "How to create a rate limiter that refills at a specific time?"
Hubspot has an interesting API rate limit in that there's a per-second limit and a daily limit. I can make a compound rate limiter that checks a primary (secondly) and secondary (daily) rate limit, but the daily limit would be a rolling window. However, Hubspot resets the daily window at midnight in the timezone of the account, not a rolling window.

How can I do this?

Maybe after configuring it

[2019-06-01 07:38] RobWin commented on #481
Hi, do you want to mimic the rate limiting behaviour or do you implement a client of Hubspot?

[2019-06-01 23:40] efenderbosch commented on #481
Client. Multiple processes/threads will use the client at the same time, so we can't just use the rate limit info from the headers.

I guess we could now that I think about it.. We could take the rate limit info from the header and update the daily atomic long.

[2019-06-03 09:03] Romeh commented on #469
actually it is not bug , as it is by default enabled for your back-end, so when u have it in shared config set to false and still by default it is enabled into the specific back-end configuration  , your specific configuration will always win(has higher precedence) when it comes to the merge between both configuration .

So the only way to make it hidden as like what just did in your description ,

[2019-06-03 09:24] RobWin commented on #469
I don't agree. He has overwritten the default config. The backend-specific defaults don't overwrite the global defaults, when you use a base config.
It's a bug in our code.

[2019-06-03 11:59] Romeh commented on #469
Just want to clarify your response :) , so u r saying the user can not have specific configuration once he reference a base config for the same property ? i guess it was designed to be like shared global configuration with the possibility to the user to customize some of his configuration without forcing him to define/write whole configuration properties every time he needs something specific

Bec

[2019-06-03 12:00] Romeh commented on #469
it is not designed like that by the way , the merging logic between base config and backed-specific proeprites

[2019-06-03 13:56] Macarse commented on #469
@Romeh oh, so r4j has two configs to merge, overridden default + specific backend cfg (with original defaults as fall back if missing). Since specific backend cfg doesn't define `registerHealthIndicator`, it uses the original defaults which is `true`.

Can't the specific config use the overridden default as the fallback if `baseConfig` is defined?

[2019-06-03 15:17] Romeh commented on #469
@Macarse  yes that would work !

[2019-06-03 15:41] leonard84 commented on #310
@RobWin why not publish it manually, for the missing versions?

[2019-06-03 16:10] RobWin commented on #469
Yes, that should be the case, but doesn't work for `registerHealthIndicator` atm.

[2019-06-05 20:56] efenderbosch commented on #481
Never mind. They are dropping the daily limit.

[2019-06-05 20:56] #481 closed

[2019-06-06 08:17] davidmelia commented on #458
Hi @RobWin - do you know when this fix will be released as it affects Spring Security ReactiveSecurityContextHolder.getContext() which returns null after upgrade to from 14.1 to 15.0

Thanks

[2019-06-06 08:20] RobWin commented on #458
It's already fixed in `0.16.0-SNAPSHOT`. But it's not released.
I guess we create a new release soon.

[2019-06-07 07:01] AlexisCothenet commented on #480
Hello @RobWin .
Sorryi didn't have time yet to work upon it. Actually, if you change your test with:
[code]
and do not throw an exception for the service, you will see :
[code]

The problem seems to be to pass from HALF_OPEN TO CLOSE state...

[2019-06-07 07:12] RobWin commented on #480
I can't reproduce it. Do you mean the following test?

[code]

Result:

[code]

[2019-06-07 08:04] AlexisCothenet commented on #480
Hello @RobWin .
Sorryi didn't have time yet to work upon it. Actually, if you change your test with:
[code]
and do not throw an exception for the service, you will see :
[code]

The problem seems to be to pass from HALF_OPEN TO CLOSE state...

[2019-06-07 08:04] RobWin commented on #480
Same comment again by accident?

[2019-06-07 08:35] AlexisCothenet commented on #480
yes sorry :-)

[2019-06-07 10:02] RobWin commented on #480
Thanks, now I'm able to reproduce it

[2019-06-07 10:04] RobWin commented on #480
The problem is here https://github.com/resilience4j/resilience4j/blob/master/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/CircuitBreaker.java#L478
If you decorate a Runnable, the result is `null`.

[2019-06-07 10:55] RobWin commented on #480
Currently a `TimeLimiter` can only decorate a `Future<T>` or `CompletableFuture<T>` and converts it into a `Callable<T>`. You can't use it to decorate a `CompletionStage`.

You can do the following:

[code]

[2019-06-08 17:14] drmaas opened #486 "Add ratpack bulkhead configs"
See
https://github.com/resilience4j/resilience4j/pull/474
(https://github.com/resilience4j/resilience4j/commit/ec72266fe7e34cd4804972b1499bac17b871e2a2)

[2019-06-11 07:13] #486 closed

[2019-06-11 07:13] RobWin opened #488 "Micrometer support for ThreadPoolBulkhead"

[2019-06-11 07:26] #146 closed

[2019-06-11 12:01] Romeh opened #489 "Set the proper order of spring aspects to make thread pool spring aspect work properly"

[2019-06-11 15:07] dalexander01 opened #491 "Spring rate limiter configuration question"
Hope it's ok that I ask this question here. In the documentation it gives this as an example to configure rate limiters, using the label 'limiters' to identify configurations for different backends:

[code]

However, in the other module, instead of "limiters" they use "backends" to configure different configs for different backends or systems or whatever. This seems inconsistent. In the spring dem

[2019-06-11 15:17] RobWin commented on #491
Hi, yes its the right place to ask questions.

In 0.15.0 its `limiters`.
In 0.16.0 we changed `backends` and `limiters` to `instances`, but in a backward compatible way.

[2019-06-11 15:41] dalexander01 commented on #491
Awesome thanks for the clarification! Closing.

[2019-06-11 15:41] #491 closed

[2019-06-12 23:47] Romeh commented on #489
this is fixed and merged now for the next release

[2019-06-12 23:47] #489 closed

[2019-06-13 01:47] polarskie commented on #241
Hello. I found that in version 0.15.0, we still have it set to false by default. However, the automatic transition still works when this switch is off (i.e., set to false). Is this a bug?

[2019-06-13 06:32] RobWin commented on #241
Yes, `automaticTransitionFromOpenToHalfOpenEnabled` is still false by default. That didn't change in 0.15.0 and won't change in 0.16.0 as well.
I don't believe that automatic transition works when it `automaticTransitionFromOpenToHalfOpenEnabled` is false. Do you have a test project to reproduce it?

[2019-06-14 09:33] #480 closed

[2019-06-14 09:34] #469 closed

[2019-06-14 09:34] #325 closed

[2019-06-14 13:09] AlexisCothenet opened #497 "Problem with canceling future using TimeLimiter ?"
Hello,
I have a question regarding the TimeLimiter.
I simulate a service latency with a Thread.sleep as shown below with the proposed unit test.
There is a first method _runDecoratedFuture1()_ . In this method the future is decorated by a circuitbreaker and the whole is encapsulated in a TimeLimiter.
We can see that we call the recovery method but the service is not canceled since we have the mess

[2019-06-14 15:18] RobWin commented on #497
Please have a look at this blog post
https://www.nurkiewicz.com/2015/03/completablefuture-cant-be-interrupted.html?m=1

[2019-06-14 17:19] RobWin commented on #497
Or this one
https://crondev.blog/2017/01/23/timeouts-with-java-8-completablefuture-youre-probably-doing-it-wrong/

[2019-06-16 04:17] fitzoh opened #498 "It's not clear from the documentation how to set up exponential backoff"
The only reference to exponential backoff in the [main documentation](https://resilience4j.github.io/resilience4j) is in the Spring Boot configuration section.

The Retry documentation does not mention the existence of the `RetryConfig$Builder.intervalFunction` setter or the `IntervalFunction` interface/helper methods.

This makes it difficult to discover options other than a static wait time for

[2019-06-16 06:56] RobWin commented on #498
Thx, I update the documentation.
Where did you find the link to the documentation, because we have a new one. Seems I forgot to update the link somewhere.

[2019-06-16 11:14] fitzoh commented on #498
Unfortunately I think it was Google that gave me the old link.
One other suggestion would be to set the doc url as the project website in GitHub.

I think I went to the repo first, scanned through looking for usage instructions, scrolled back up looking for a link and didn't immediately see it (although I now see that a section exists) and bailed back to Google .

The first place I generally look

[2019-06-16 11:18] fitzoh commented on #498
It looks like you may be able to set up a redirect from GitHub pages as well: https://stackoverflow.com/a/32465659/1255840

[2019-06-17 11:17] RobWin commented on #498
I configured a redirect on GitPages and updated the docs -> https://resilience4j.readme.io/docs/retry#section-use-a-intervalfunction

[2019-06-17 11:17] #498 closed

[2019-06-17 12:46] #437 closed

[2019-06-17 13:01] #419 closed

[2019-06-17 13:49] masosky opened #499 "Decorate Method or Class using CIrcuitBreaker"
Hi,

Firstly, thanks for reading this question.
The question is simple, is there a way to decorate a java.lang.reflect.Method or a Class
`CircuitBreaker.decorateMethod() or CircuitBreaker.decorateClass`

I would love to do that in order to decorate all the methods of a Service.

Thank you very much

[2019-06-17 13:57] RobWin commented on #499
Hi,
do you use any framework like Spring Boot or something else?
For Spring Boot we have Spring AOP Aspects and Annotations to cover this.

[2019-06-17 14:09] masosky commented on #499
We use Google Guice Injection framework and we are trying to create an Interceptor for that.
Or maybe if there is a chance to use a simple annotation?

Thanks!

[2019-06-17 14:12] RobWin commented on #499
We don't have an implementation for Google Guice, but you can't use our Spring Boot AOP Aspect as an example.

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/CircuitBreakerAspect.java

[2019-06-17 14:19] masosky commented on #499
Ok, at the moment we cannot use Spring but maybe in the future.
I will try to do a PR including a MethodInvocation.

Thanks

[2019-06-17 14:30] masosky commented on #499
Amazing! Thanks a lot

[2019-06-17 19:06] drmaas opened #500 "Honor default external configs in ratpack apps"
@RobWin fyi

[2019-06-18 15:53] masosky opened #502 "ratpack not working with maven"
Hi,

I have tried to use resilience4j-ratpack with maven and I have found some issues.
I will try to enumerate the problems.

1. the dependency "resilience4j-ratpack" using maven contains an internal dependency "groovy-all" which scope is runtime and should be compile
2. If we follow the documentation [ratpack](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-documentation/src

[2019-06-18 17:45] febinrejoe opened #503 "TimeLimiter for methods returning void"
I am having to implement `TimeLimiter` for a method which has `void` return type, but I noticed that `TimeLimiter` only has `decorateFutureSupplier` which cannot take a method which returns `void`. Can you please let me know how this can be implemented?

My situation is that the method I am using from an external library and I cannot change its signature. So I will really appreciate any help on th

[2019-06-18 17:51] RobWin commented on #502
@drmaas Maybe you can implement a demo ratpack app to show the setup.
I update the new documentation on resilience4j.readme.io

[2019-06-18 19:49] hexmind commented on #503
Did you try with `Future<Void>`? Something like this:
[code]
[code]

[2019-06-18 23:38] kolapkardhaval opened #504 "Fallback for resilience in rxjava"
I would like to fallback on specific exceptions only. I have the below code:
Flowable.create(.......)
.compose(CircuitBreakerOperator.of(circuitBreaker))

I could not find a way in the documentation.

[2019-06-18 23:53] kolapkardhaval commented on #431
Thanks a lot everyone. This is very helpful. Appreciate it.

[2019-06-19 06:57] RobWin commented on #504
The CircuitBreaker (and Retry, Bulkhead, RateLimiter) itself does not provide any fallback mechanism.
In resilience4j-spring it's implemented in AOP aspects. In resilience4j-ratpack in method interceptors.
And if you use pure Reactor you use the `onErrorResume` operators to implement a fallback mechanism.

[2019-06-19 07:00] masosky commented on #502
Sure. I just created a repo here: [repo](https://github.com/masosky/resilience4j-ratpack-demo)

I enumerate the problems:
1. The code does not compile because we have to add these dependencies `
        <dependency>
            <groupId>io.ratpack</groupId>
            <artifactId>ratpack-core</artifactId>
            <version>1.6.1</version>
        </dependency>

        <dependency>

[2019-06-19 07:04] RobWin commented on #503
The TimeLimiter implementation is really simple. In the end the TimeLimiter only invokes `future.get()` with your specified `timeoutDuration`. The TimeLimiter can't cancel your Runnable if you haven't implemented the Runnable in a certain way.

The answer of @hexmind is correct.

[2019-06-19 07:07] RobWin commented on #502
Thank you, but I asked @drmaas to create a demo. He is the maintainer of resilience4j-ratpack :)
The demo of @drmaas should help you to understand how to set-up resilience4j-ratpack.

[2019-06-19 07:09] masosky commented on #502
Thank you!
If I can help with something just tell me.

Best,

Xavier

[2019-06-19 07:13] RobWin commented on #502
All of our modules don't introduce external transitive dependencies. All of our dependencies like Ratpack, Spring Boot, Reactor, RxJava2 are compileOnly/implementation dependencies.

Please see https://docs.gradle.org/current/userguide/java_library_plugin.html

[2019-06-19 07:14] RobWin commented on #502
But I agree, we have to update the documentation and make it more clear.

[2019-06-19 07:29] RobWin commented on #502
I actually think it's sufficient to add the `Resilience4jModule`. The module itself registers everything for your and you can configure your CircuitBreaker instances via a config file.

[code]

[2019-06-19 07:33] masosky commented on #502
I think I understand, but the problem in maven is when you just use a dependency you are expecting that the dependencies needed from this library are included.
I mean, if you want to upgrade the library you should upgrade manually all the others and this is not a good practice.

What do you think?

Thanks

[2019-06-19 07:35] masosky commented on #502
I cannot find the Guice methods. Do you have a project example?
Thank you

[2019-06-19 07:37] masosky commented on #502
Sorry I just saw you sent me a link right now. I will check the demo!

[2019-06-19 07:42] RobWin commented on #502
It's a little bit more complicated for a library. Resilince4j should support the least common denominator of a framework like Ratpack, Sprint Boot or Micronaut. We can't always update to the latest version of Ratpack if we would break compability with older versions. That means Resilience4j might have a dependency to an older Ratpack version (with good reasons) than you would like to use.
This cou

[2019-06-19 07:44] RobWin commented on #502
Since I don't know Ratpack very well, I just copied it from https://github.com/ratpack/example-ratpack-gradle-java-app.

[2019-06-19 07:50] masosky commented on #502
What I mean is the following.
Imagine I need the dependency "A" and dependency "A" needs to use "B" and "C"

In my pom.xml I want to add only "A"
I do not mind if the "B" and "C" versions are old.

The current problem is if I use `   <dependency>
            <groupId>io.github.resilience4j</groupId>
            <artifactId>resilience4j-ratpack</artifactId>
            <version>0.16.0</version>`
Th

[2019-06-19 07:53] RobWin commented on #502
I do understand what you mean. You don't care that the versions are old. Other users might care and think that the libary requires that certain version and won't work with newer version.

[2019-06-19 07:56] masosky commented on #502
Okay thanks, I understand now.
I will try with the updated documentation.

Thanks!

[2019-06-19 08:07] RobWin commented on #502
We have to wait for @drmaas
Unfortunately he lives in a different time zone.

[2019-06-19 09:00] masosky commented on #502
Do not worry.
I am not in a hurry

[2019-06-19 13:12] febinrejoe commented on #503
Thanks, I will give it a try and post back here. Also just to confirm TimeLimiter does not have an annotation for Spring Boot yet correct?

[2019-06-19 13:19] RobWin commented on #503
Correct. TimeLimiter currently only works for Futures. But Reactor/RxJava do have timeout operators for that use case.

[2019-06-19 14:08] febinrejoe commented on #503
Do you have an example with CircuitBreaker and TimeLimiter working together? I have seen an example, but not able to find now.

[2019-06-19 15:47] drmaas commented on #502
@masosky does this help? https://github.com/resilience4j/resilience4j/pull/501/files#diff-e619ac5a029c2b0217dbeb4ff992f2d3L17

[2019-06-19 16:33] hexmind commented on #503
[code]

[2019-06-19 17:43] febinrejoe commented on #503
With CircuitBreaker & TimeLimiter operating together, will timeouts `OPEN` the circuit?

[2019-06-19 18:11] RobWin commented on #503
Depends on the decorationorder and your configuration. In @hexmind example, yes.
But you could also ignore TimeoutExceptions

[2019-06-19 21:39] masosky commented on #502
Yeah, I think it will help.
Also if you use maven the groovy dependencies are not imported.

By the way, do you have a project example using maven?
If you need help do not hesitate to contact.

[2019-06-20 04:19] drmaas commented on #502
@masosky when using Java - I am curious about why the groovy dependencies are needed? They should only be needed for running tests.

I can look at putting together a sample app.

[2019-06-20 06:59] drmaas opened #506 "Resilience4j ratpack fails to run when dropwizard metrics in not on classpath"
The stacktrace isn't very helpful. It seems like MetricSet is being referenced even when metrics is disabled.

	at java.base/java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.base/java.lang.Class.privateGetDeclaredConstructors(Class.java:3138)
	at java.base/java.lang.Class.getDeclaredConstructors(Class.java:2358)
	at com.google.inject.spi.InjectionPoint.forConstructorOf(InjectionPoi

[2019-06-20 07:00] drmaas commented on #506
App.java:

[code]

[2019-06-20 07:00] drmaas commented on #506
build.gradle:

[code]

[2019-06-20 07:12] #500 closed

[2019-06-20 07:12] RobWin commented on #499
Can I close the issue, or do you have further questions?

[2019-06-20 07:13] RobWin commented on #503
CanI close the issue, or do you have further questions?

[2019-06-20 07:46] masosky commented on #502
Sorry, I think I was wrong. All the missing code was from original ratpack libraries.
I am not 100% sure but maybe it is like you said, we need them only in tests.

Thanks

[2019-06-20 14:05] febinrejoe commented on #503
Thanks for all the help, I am able to get my code working 👍

One last question, in the documentation for Spring Boot 2 (https://resilience4j.readme.io/docs/getting-started-3#section-configuration) there is a yaml property called `waitInterval`. What does this property signify or control?

[2019-06-20 14:15] RobWin commented on #503
Where do you see waitInterval?

[2019-06-20 14:38] febinrejoe commented on #503
Here,
![image](https://user-images.githubusercontent.com/35114111/59857759-33a22d80-933f-11e9-8791-713ec342cce8.png)

[2019-06-20 15:33] drmaas commented on #506
I think there is an issue, where a new metric registry is auto-created. Ratpack has it's own already, which we should be able to pass in to e.g. `BulkheadMetrics.of(...)`.

[2019-06-20 15:33] drmaas commented on #506
@RobWin I will take this one.

[2019-06-20 15:58] masosky commented on #502
But there are some injection problems when using the Resilience4JModule.
There are bindings that are not set

[2019-06-20 20:07] Romeh commented on #503
for point 1: this was typo , it was meant to be waitDurationInOpenState , it is updated now on the docs
for point 2 : after u add the r4j spring boot starter and the config in ur yaml file , you just inject CircuitBreakerRegistry bean in your spring managed service/component then get the target circuit breaker by its instance name :
`io.github.resilience4j.circuitbreaker.CircuitBreaker circuitBrea

[2019-06-20 22:30] drmaas commented on #506
Resolved in https://github.com/resilience4j/resilience4j/pull/507

[2019-06-21 12:55] febinrejoe commented on #503
Thanks for all the help. I am good to close this issue.

[2019-06-21 13:14] surovtsev commented on #343
"CircuitBreaker should only allow a certain number of test requests in HALF_OPEN and reject calls when maximum number is reached."

Is this means that after "ringBufferSizeInHalfOpenState" calls circuitbreaker will never do any call to external system and always be in HALF_OPEN state? After that Circuitbreaker will never change state to CLOSED.

[2019-06-21 13:21] RobWin commented on #343
No, after ringBufferSizeInHalfOpenState calls the failure rate is calculated and the state switches to open or closed.

[2019-06-21 13:41] #506 closed

[2019-06-21 13:46] #503 closed

[2019-06-21 14:18] batigoal82 opened #509 "Support for extending Micrometer tags"
I want to be able to extend the tags added to a gauge in the micrometer library.

But currently all classes responsible for metrics tags have a private constructor and thus cannot be easily extended.

* `TaggedRetryMetrics`
* `TaggedCirciutBreakerMetrics`
* `TaggedBulkheadMetrics`
* `TaggedRateLimiterMetrics`

Could you make the classes extendable or add a way I could provide the bean as in `Retry

[2019-06-21 14:28] RobWin commented on #509
Would you like to create a PR?

[2019-06-21 14:44] batigoal82 commented on #509
yes, I will create a PR.

[2019-06-21 15:44] vijaycse commented on #250
I could not get to it. Sorry, I am glad this is added

[2019-06-23 18:37] wreulicke opened #511 "Custom CircuitBreakerConfig is ignored if only set to `register-health-indicator=false` in Spring Boot 2"
Hi, Thank you for great library.

I cannot use custom settings from `@Configuration` with Spring Boot and Resilience4j 0.16.
We can only use `properties` or anything for settings of circuit breaker.
This is intended?
This condition is made by [initialization of CircuitBreakerRegistry](https://github.com/resilience4j/resilience4j/blob/438bf75c853567f54b7abda968028b15895105d5/resilience4j-spring/src

[2019-06-23 18:45] RobWin commented on #511
Hi,
Thank you.
I will create a test tomorrow to verify if it's a bug. I can't believe that this is not working. Strange.

Just to get an understanding. Why do you want to configure a CircuitBreaker in code instead of a properties file?

[2019-06-23 18:56] wreulicke commented on #511
@RobWin
Thanks to your quickly response!

I think `recordFailure` predicate often contains domain-specific logic.
So, I would like to place to `recordFailure` predicate near code using circuit breaker.

[2019-06-23 19:06] wreulicke commented on #511
And, we cannot set to `register-health-indicator=false` if we have everything config in code.

[2019-06-23 19:09] RobWin commented on #511
You could also configure the `recordFailure` predicate class in the config file.

[2019-06-23 19:16] wreulicke commented on #511
Thanks, I will rewrite to this one.

But, we cannot `registerHealthIndicator ` if use code config.
See below.

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring-boot2/src/main/java/io/github/resilience4j/circuitbreaker/autoconfigure/CircuitBreakerConfigurationOnMissingBean.java#L59

If we set false to registerHealthIndicator in properties, we cannot use code config.
Beca

[2019-06-24 08:39] RobWin commented on #504
Did it help you?

[2019-06-24 09:50] wreulicke commented on #511
I am rewriting now, but i faced to unavailable situation to rewrite into properties.

[code]

We cannot use settings if we want to use some bean in record failure predicate
But, we cannot use code config because I would like to set true to `registerHealthIndicator`
So, I cannot rewrite circuit breaker configuration into properties

[2019-06-24 10:00] wreulicke commented on #511
I hope a feature to inject bean into record failure predicate, but this is difficult by design.
I seem that initialization of CircuitBreaker should be without dependency of any framework.
ref: [here](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-framework-common/src/main/java/io/github/resilience4j/common/circuitbreaker/configuration/CircuitBreakerConfigurationProperties.ja

[2019-06-24 10:40] RobWin commented on #511
I see your point. I've to think about a smart solution.

What is the FailureDetector actually doing?
Maybe there is another solution instead of using a recordFailure predicate?

[2019-06-24 11:05] wreulicke commented on #511
I would like
My `FailureDetector` is simple, just check http response status in this case.
So, I add `static` modifier to the method of `FailureDetector` and I can rewrite in this case fortunately.

yes, there is another solution.
But, if I would like to check http response body to use some instance such as json parser, I have to rewrite logic like below.

[code]

[2019-06-24 11:18] RobWin commented on #511
Yes, that would have been my suggestion.
If you are using Spring's `RestTemplate` or `WebClient `, you can even overwrite the `ResponseErrorHandler`. See: https://www.baeldung.com/spring-rest-template-error-handling or https://www.callicoder.com/spring-5-reactive-webclient-webtestclient-examples/#handling-webclient-errors

[2019-06-24 11:22] wreulicke commented on #511
Thank you for your suggestion. But, I am using Elasticsearch Rest HighLevel Client.

I just close this issue because I place to settings in properties.

[2019-06-24 11:22] #511 closed

[2019-06-24 11:27] RobWin commented on #509
Do you want to add global tags, which should be added to every gauge or only a specific one?

[2019-06-24 13:18] mkopylec opened #513 "Cache module - micrometer and reactor support"
Hi, are there any plans to implement it?

[2019-06-24 13:33] RobWin commented on #513
No, not yet. Actually I don't know how many people use our `Cache` module.
Reactor has a cache operator in the reactor-addons repo -> https://github.com/reactor/reactor-addons/tree/master/reactor-extra/src/main/java/reactor/cache. But unfortunately no micrometer integration.

Would you like to create a PR?

[2019-06-24 14:25] dalexander01 opened #514 "Spring Retry with no exception [question]"
So I'm using a third party API that instead of throwing an exception when it times out or something goes wrong, it returns false. What would be the preferred way of adding a retry to this using the spring annotations?

I was thinking to possibly wrap the API call in another class that just returns an exception instead of false so that methods that use wrapper can annotate with retry as usual. Is t

[2019-06-24 14:34] RobWin commented on #514
That's one option, but could also configure a result predicate class in the properties file.

[2019-06-24 14:39] dalexander01 commented on #514
Ok cool. There isn't an example of doing result predicates in the spring portion in the user guide so I wasn't sure if it was only available using the functional API or not, or how to use it. Do you mind giving me a quick example?

[2019-06-24 14:57] RobWin commented on #514
Implement a Predicate like

[code]

and then configure it like:

[code]

[2019-06-24 14:58] dalexander01 commented on #514
Awesome thank you! That makes a lot of sense.

[2019-06-24 14:58] RobWin commented on #514
I actually think we should rename `resultPredicate` into `retryOnResultPredicate`

[2019-06-24 15:31] marcinziolo opened #515 "Spring Boot - Aspect ordering feature"
As from version 0.16.0 there is no possible to set proper aspect ordering.

If I want combine my own aspect(for example TimeoutAspect) with aspects provided by resilience4j I cannot do since this version was released.

Moreover current aspect ordering is not working properly.

So taking into consideration retry and circuit breaker. Retry has higher priority than circuit breaker so chain will be:`r

[2019-06-24 16:13] Romeh commented on #515
For why we have that order ?
We set implicit aspect order now as we have Thread pool bulkhead aspect support which is completely async through its managed thread pool so the aspect chaining would break without implicit order in place .

For Retry > Circuit breaker order ?
If you retry on failure before counting the error through your circuit breaker , your circuit breaker will be not properly func

[2019-06-24 16:24] RobWin commented on #515
I think we should fix the order of Bulkhead aspect and the others should be configurable.
You can add the  CallNotPermittedException (formerly CircuitBreakerOpenException) to the ignored exception list of the Retry configuration.

[2019-06-24 16:30] marcinziolo commented on #515
Ok thank you for the response.

If you retry on failure before counting the error through your circuit breaker , your circuit breaker will be not properly functioning as it should be (Open the circuit when ur target is not functioning properly).

For this we have two cases:
* `circuitbreaker(retry(target))`  - in this case if I know how it works(for example 5 failed retries only send one event to

[2019-06-24 17:14] johnnykwwang commented on #504
On a similar issue about `CircuitBreakerOperator`, how do we use the operator if the observable is of type<T>?

For example if we use the [RxApacheHttp](https://github.com/ReactiveX/RxApacheHttp) to make http calls with observable, then we have:

[code]

[code]

[2019-06-25 06:48] #514 closed

[2019-06-25 07:40] RobWin commented on #504
@johnnykwwang Yes, that's because RxApacheHttp uses RxJava1 and not RxJava2.

[2019-06-25 07:47] batigoal82 commented on #509
I would like to add specific ones.

[2019-06-25 07:55] RobWin commented on #509
Ok, is it a static value or a dynamic value which must be discovered at runtime?
I'm asking if it make sense to provide an option to configure static tags via the config file.

[2019-06-25 08:29] RobWin opened #518 "Support for Vavr Try and Either return types"

[2019-06-25 09:05] masosky commented on #502
Hi @drmaas,

Do you have any update about this?
Do you need help? I can contribute.

Thanks!

[2019-06-25 17:50] drmaas commented on #502
I will be pushing up a sample shortly. I also identified a bug (https://github.com/resilience4j/resilience4j/pull/521/files) that needs to be merged.

[2019-06-26 07:39] polarskie commented on #241
Sorry, it was my fault. I missed your words: "The CircuitBreaker already goes back from Open to HalfOpen when it processes a new request". Thank you very much for your great work~

[2019-06-26 15:37] drmaas opened #523 "Create ratpack demo"
WIP: https://github.com/drmaas/resilience4j-ratpack-demo

Depends on https://github.com/drmaas/resilience4j-ratpack-demo/issues/1

See also https://github.com/resilience4j/resilience4j/issues/502 for background context

[2019-06-27 06:31] RobWin commented on #502
@masosky You can already have a look at it. We transfer it soon into this repo.

https://github.com/drmaas/resilience4j-ratpack-demo

[2019-06-27 07:32] batigoal82 commented on #509
It is a dynamic value which is discovered at runtime. I like your idea regarding configurable static tags although I have a doubt that they would be used.

[2019-06-27 07:59] RobWin commented on #509
The beans `TaggedRetryMetrics` in `RetryMetricsAutoConfiguration` already use the annotation `ConditionalOnMissingBean`. Isn't it already possible to overwrite the bean (even without your PR)?

Could you use a `MeterFilter` to add a additional tag to certain metrics? See https://micrometer.io/docs/concepts#_transforming_metrics and https://docs.spring.io/spring-boot/docs/current/reference/html/pro

[2019-06-27 16:07] drmaas commented on #523
@RobWin take a look - I think it's ready.

[2019-06-27 16:08] drmaas commented on #502
@masosky this is ready to use. I verified the tests pass and that the metrics flow through to the grafana dashboard.

[2019-06-27 16:17] RobWin commented on #523
Can you request a transfer to Resilience4j?

[2019-06-27 17:15] drmaas commented on #523
@RobWin tried transferring -

[code]

[2019-06-27 17:28] RobWin commented on #523
I give you the rights later

[2019-06-27 18:16] RobWin commented on #523
You got an invitation. You can retry after accepting it

[2019-06-28 08:56] RobWin commented on #523
Thank you

[2019-06-28 08:56] #523 closed

[2019-06-28 08:58] #504 closed

[2019-06-28 08:58] #502 closed

[2019-06-28 08:58] #499 closed

[2019-06-28 08:58] RobWin commented on #497
Did it help you?
Can I close the issue?

[2019-06-28 09:15] AlexisCothenet commented on #497
Hello Robert.
Sorry, i didn't tested yet to create a future inside the completablefuture
but i will. I guess you can close it.
Thanks

On Fri, Jun 28, 2019 at 10:59 AM Robert Winkler <notifications@github.com>
wrote:

--

This e-mail message and any attachments to it are intended only for the
named recipients and may contain legally privileged and/or confidential
information. If you are not one of

[2019-06-28 10:55] #518 closed

[2019-07-01 11:46] masosky commented on #502
Hi,

Thanks! I will take a look now

[2019-07-02 21:31] JordanBallew opened #526 "Retry for functions with multiple arguments"
I am looking to decorate a BiFunction with a retry. I thought I saw an example of it when I was looking for something else, but my current searches are not finding anything. Would you happen to have an example of this somewhere?

[2019-07-03 12:24] Romeh commented on #526
can u please give an example of the BiFunction ? meanwhile u can do something like :

[code]
Let me know if it was what u r asking for ?

[2019-07-03 14:12] JordanBallew commented on #526
Thanks for the reply.

`myServiceCall2(arg1, arg2)` or
`myServiceCall3(arg1, arg2, arg3)`

All of the examples in the documentation use Supplier. I am just looking for examples of things more complex. Function was easy enough to figure out tho.

In your above example, for multi arg methods, is it best to just go straight to execute instead of using the decorators?

[2019-07-03 16:56] RobWin commented on #526
You can use almost always use Supplier to decorate your function/method with 2 or more arguments.
Just use `circuitBreaker.decorateSupplier(() -> class.myServiceCall3(arg1, arg2, arg3))`

[2019-07-03 18:30] JordanBallew commented on #526
That's exactly what I was looking for. Thanks.

From a design perspective, I'm curious why you chose to include `decorateFunction` when presumably you could use `decorateSupplier` for that as well?

[2019-07-03 19:21] RobWin commented on #526
When I started Resilience4j I wanted to add support for at least the basic Java8 functional interfaces. Bifunction was not part of it. Vavr has provides more functional interfaces for functions with arguments from 1 to 8. But I never needed them.

[2019-07-03 19:25] RobWin commented on #526
Feel free to close the issue, if the answer is fine for you.

[2019-07-03 19:25] JordanBallew commented on #526
Cool. Thanks for the insight, and thanks for the great library.

[2019-07-03 19:25] #526 closed

[2019-07-04 07:14] bentein opened #527 "Spring Boot - fallback not registering"
I'm running into a problem with circuit breakers and fallbacks in my Spring Boot project. I have the following method.

[code]

This is working as expected. If postForEntity() throws an exception, the fallback is invoked and the method returns null. If the fallback's signature is changed to something invalid, a NoSuchMethodFoundException will be thrown by resilience4j.

However, if I separate the

[2019-07-04 07:30] RobWin commented on #527
Hi,
no the problem is that due to the proxy-based nature of Spring’s AOP framework, protected methods are by definition not intercepted. As a consequence, you can use annotations to protect public methods only!
If you want to protect a private method, you have to use the functional-style.

[2019-07-04 08:03] bentein commented on #527
Even if I change the protection level of the method to public, the behaviour remains the same. Perhaps I will look at the functional style to see if that's a way to solve this as I'd rather keep the method private.

[2019-07-04 11:44] Romeh commented on #527
@bentein  for fallback you do not need to have it public , we check if it is private we make it accessible  for invocation then we set back to original access level after that through reflection ,

for fallback to be invoked , you need to add  just ONE extra target exception parameter to the fallback method to make it work , it is not optional , so the fallback method should has the same original

[2019-07-04 15:20] bentein commented on #527
@Romeh You're correct, the first example doesn't work. I'll admit I was writing the code from memory, but what I've said about this problem has been based on code I've ran multiple times trying to figure out the issue. As it stands, if I attach a fallback to a method that is invoked inside the object it's defined in, that fallback will not be registered whether the method is private or public.

[2019-07-04 15:58] RobWin commented on #527
Did you add the exception as a parameter to the fallback method?

[2019-07-04 16:05] RobWin commented on #527
Spring wraps your class in a proxy with the extra code added on the fly by the AOP aspect. So only methods called via the proxy (i.e from outside your class) will execute the extra code. Unfortunately if you call the method from inside your class, the extra code will not be executed.

[2019-07-04 16:10] RobWin commented on #527
If you really want to use a common, shared method either extract it into another service class or inject the CircuitBreakerRegistry, retrieve the correct instance and use Try.recover as shown in the readme.

[2019-07-05 08:45] MrRee1995 opened #528 "CircuitBreaker half-open status request limit, and the combination of CircuitBreaker and timelimiter causes black and white list to fail"
Hello, **User Guide** seems to mention **HALF_OPEN** allows a **configurable number of calls** to see if the backend is still unavailable or has become available again. But I can't find where this parameter is set, how can I use it to limit the request for a half-open state?
In addition, when CircuitBreaker and timelimiter are used together, because **ExecutionException** wraps an exception that I

[2019-07-05 10:02] plus2047 commented on #528
For the first question, it's in
[code]

[2019-07-05 11:00] MrRee1995 commented on #528
ringBufferSizeInHalfOpenState(number) means that only the number of requests will be executed in the half-open state? This should be different from ringBufferSizeInClosedState. I mean that in the half-open state, all requests should not be put into the protected method.

It's my custom exception, because the timelimiter timeout is dependent on Future.get (), so I need to wrap the return value of m

[2019-07-05 11:52] RobWin commented on #528
Yes, `ringBufferSizeInHalfOpenState(number)` configures the number of requests which will be executed in the half-open state.

[2019-07-05 11:56] MrRee1995 commented on #528
It is exactly what I want, thank you~

[2019-07-05 12:12] RobWin commented on #528
Yes, I think you are right. Our TimeLimiter should unwrap the ExecutionException and retrow the cause.

[2019-07-05 12:46] MrRee1995 commented on #528
OK, let me give it a try.

[2019-07-05 14:00] bentein commented on #527
@RobWin Thanks, that was both informative and helpful. Now I know how to achieve what I set out to do.

[2019-07-05 14:00] #527 closed

[2019-07-08 12:26] ceremo opened #530 "Conditionals of RxJava2AspectExt"
Hi,
This beans (RxJava2BulkheadAspectExt, RxJava2CircuitBreakerAspectExt, RxJava2RateLimiterAspectExt, RxJava2RetryAspectExt) are causing problems in our project because of we are using another library that has rxjava2 as a transitive dependency, and these beans are annotated with @Conditional(value = {RxJava2OnClasspathCondition.class}).

With this scenario, resilience4j is causing a classNotFoun

[2019-07-08 13:47] fvigotti opened #531 "proposal : Metrics in resilience4j-timelimiter"
Hi,
I see that there are no registry nor metrics for timelimiter which would be very useful  :) I want to leave my upvote if someone have time to implement it would be nice,  ( and the only advantage vs other methods in kotlin such as `withTimeout` )

[2019-07-08 14:05] fvigotti opened #532 "proposal: combination of modules"
I've just started using resilience4j today so I may be wrong on that.. but what to me seems missing and that I have had to implement myself right now is a combinatory class with multiple "resilient" interfaces to get the desired behaviour.. I mean , here we have a lot of classes but for a **real**
 scenario request, one usually need more than one of these combined..  ie  :
a external call to a api

[2019-07-08 15:27] hexmind commented on #532
Resilience4j promotes a decorator pattern for one or (especially) more resilience components. They are like layers. However because Java functional interfaces are first-class citizens for this library you can also compose your decorators using methods compose/andThen from Function class. Maybe `Decorators` class (example usage below) can meet your expectations? Fluent interface looks more readable

[2019-07-08 15:54] Romeh commented on #530
@ceremo

Thx for your reported issue , we will add more tuned conditioning in the next release to cover that case meanwhile is that transitive dependency is needed at run-time or you can exclude it (is it leaked transitive dependency )?

[2019-07-08 15:58] RobWin commented on #530
@ceremo Would you like to create a PR?

[2019-07-08 15:58] RobWin commented on #531
Would you like to create a PR?

[2019-07-08 16:00] Romeh commented on #530
@RobWin  i am preparing small PR for that now ;)

[2019-07-08 16:11] Romeh commented on #497
base into the reporting user comment , we can close it

[2019-07-08 16:11] #497 closed

[2019-07-08 16:25] fvigotti commented on #532
Yes this is somwehat what I had in mind, I have now seen that this example exists in the guide, but I thought that this Decorators interface was still missing because the package `resilience4j-all` isn't specified in docs nor in guide, I've seen that in maven but when importing..  who want it all ? maybe resilience4j-common or resilience4j-decorators if only contains that is a better name? anyway

[2019-07-08 16:25] #532 closed

[2019-07-08 18:34] RobWin commented on #532
Yes, I have to improve the documentation of resilience4j-all.

Resilience4j-kotlin is a very new module. If you feel that something is missing which simplifies the life of us developers, feel free to create a PR and add it.

[2019-07-09 06:58] ceremo commented on #530
We can't exclude rxjava2, we had to extend your configuration classes in order to add an additional condition, now with your fix @Romeh we can remove these.

Thxs.

[2019-07-09 07:52] fvigotti commented on #532
Hi I would love to have time to contribute but my life is sad and I'm always struggling with time scarcity .. also I'm not yet enough expert in kotlin/your library to be effective fast..

anyway I leave here something that I've found may help further development / users of your library

supper decorator for suspended function
[code]
But I'm sure that in idiomatic kotlin something better could be w

[2019-07-09 09:52] fvigotti commented on #532
one problem I'm facing now with this kind of style ( using decorator composition ) is  that I find hard to use inverse dependency injection with generics supplier, given that the Type of the decorated function must be known upfront ( even a weird decorator of decorator `suspend (suspend () -> R) -> suspend () -> R ` , to provide an injectable decorator/class to service classes cannot work because

[2019-07-09 14:38] RobWin commented on #532
I'm not sure that I can follow. I think I really need a code example to understand your problem.

[2019-07-09 14:38] RobWin commented on #532
Do you use Spring Boot or another framework?

[2019-07-09 15:26] fvigotti commented on #532
I use spring boot ( at least in this app ) , what I need in almost all of my service is a composition of retry, cicrcuitbreaker, timing, etc that can be used in conjunction  with various remote services call,
ie
[code]

what I don't like is
[code]
for each function for  each services which need them,  also  having to provide mocks with stub implementation of `retry,circuitbraker,timelimiter` for e

[2019-07-09 15:52] fvigotti opened #536 "guide enhance ( emphasize the implementation usage/differences between instance-aware and non instance-aware classes )"
Hi I've just started to use the library, after a fast read of the guide and having started playing with the library for my usecases , one thing has become clear... `CircuitBreaker` and `BulkHead` are different  from other classes :)
because usually one need to have multiple instances of CircuitBreaker for each remote service you communicate with ( ie if I talk with 3 remote api, and one api goes d

[2019-07-09 20:20] chrylis opened #537 "Spring Boot auto-configuration should use class conditions"
I'm wanting to use the Spring Boot 2 starter just to supply a `RetryRegistry` that's already set up with Micrometer. However, startup fails with `ClassNotFoundException` because I don't have Spring AOP/AspectJ added to my project.

The aspect support is useful but not always needed in a Boot project, and it should be wrapped in a nested class that is `@ConditionalOnClass(ProceedingJoinPoint.class)

[2019-07-09 20:51] chrylis opened #538 "Document or remove minimum interval for retry"
In testing a component that's supposed to retry a failed REST call onto a mock REST client, I set the retry interval to 1ms. This produced an exception at runtime saying that the minimum interval was 10ms. This isn't documented anywhere, and it seems like the sort of constraint that either shouldn't be enforced by the framework, or if it is, clearly documented in both Javadoc and the reference doc

[2019-07-10 06:32] RobWin commented on #538
Hi,
we can remove the constraint. Would you like to create a PR?

[2019-07-10 07:51] Romeh commented on #538
@RobWin  the needed PR got created for ur review

[2019-07-10 08:10] fvigotti commented on #536
another thing : It is ok to share the same (non-sharing-context object ) ie:  Retry ,  configuration between services if you are not using metrics, but if you are using metrics it's better to create multiple Retry/... configuration to have correct metrics associated with each named-instance ( this may be helpful for newbies to be written in the guide :) )

[2019-07-10 08:29] fvigotti commented on #532
Hi I want to add that at the end , because I've found that each host need a single instance of  circuitBreaker because of the instance-shared context which should/must be per-endpoint, but also because the various Retry object should be dedicated to a single endpoint ( not for the context this time but because the output-metrics can be per-endpoint referenced )

I've created  a class which take co

[2019-07-10 08:39] bugCreate opened #540 "resilience4j-spring-boot2 con't auto recognize config with IDEA"
when use resilience4j-spring-boot2:0.13.0,IDEA can associate resilience4j‘s configuration and recognize the config.but,when use resilience4j-spring-boot2:0.16.0,IDEA can't  associate and recognize.
pom
<dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
        <dependenc

[2019-07-10 09:07] RobWin commented on #536
A retry instance has a unique ID and metrics. You should create a unique retry instance for every protected service/backend. This gives you metrics for your protected service like how many failed retry attempts are recorded.

[2019-07-11 10:11] RobWin commented on #538
Merged

[2019-07-11 10:11] RobWin commented on #537
Thx, would you like to create a PR?

[2019-07-11 13:00] codyaray opened #541 "Request Collapsing"
One of the really interesting features of Hysterix was [Request Collapsing](https://github.com/Netflix/Hystrix/wiki/How-it-Works#request-collapsing).

Is that being considered for migration into resilience4j?

[2019-07-11 13:04] RobWin commented on #541
No, not yet.

[2019-07-15 10:26] wl1244hotmai opened #544 "CircuitBreaker will stuck in HALF_OPEN when the last request throw ignored exception"
When the last request during HALF_OPEN state throws exception which set ignored, the CircuitBreaker will stuck in HALF permanently. (we found this issue in our production environment using 0.15.0 version)

see code in :
io/github/resilience4j/circuitbreaker/internal/CircuitBreakerStateMachine.java

[code]
If the exception be ignored, the circuit breaker neither invoke the onError() method or execu

[2019-07-15 11:09] RobWin commented on #544
Thx, would you like to create a PR?

[2019-07-15 11:34] wl1244hotmai commented on #544
@RobWin plz help review: https://github.com/resilience4j/resilience4j/pull/545/commits

[2019-07-15 12:55] wl1244hotmai commented on #544
Maybe it works before v0.14.
see, before 0.14, circuit breaker always allow request in HALF_OPEN state.
https://github.com/resilience4j/resilience4j/blob/v0.14.0/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/internal/HalfOpenState.java  Line43

But after 0.15, circuit breaker permit request after ring buffer full

[2019-07-15 13:00] RobWin commented on #544
Yes, I guess  the critical bug was introduced in the last release

[2019-07-15 14:11] RobWin commented on #544
Merged. I will release it next week

[2019-07-15 17:34] dalexander01 opened #546 "Anyway to use Spring resilience annotations but configure resilience using springs config server?"
My team needs resilience configuration to be able to changed at runtime. To do this we could use Springs Cloud config server. Could we still use the Spring Resilience Annotations if we go this route?

[2019-07-15 23:45] wl1244hotmai commented on #544
You mean we will release 0.17.0 next week?

[2019-07-16 06:40] RobWin commented on #544
Yes

[2019-07-16 07:37] dlsrb6342 commented on #546
I'm using resilience4j with spring-cloud-config server as above.

`CircuitBreakerProperties` is updated by `ConfigurationPropertiesRebinder`. But `CircuitBreakerRegistry` is not updated.

I have to make CircuitBreakerRegistry bean with RefreshScope annotation.
CircuitBreakerRegistry bean code is same with `CircuitBreakerConfigurationOnMissingBean` except registering health indicator.
[code]

[2019-07-16 08:00] RobWin commented on #546
Would you like to contribute you changes?

[2019-07-16 14:41] dalexander01 commented on #546
@dlsrb6342 doing it this way, I guess you guys are not using the resilience annotations and are using the functional API instead?

[2019-07-16 14:45] RobWin commented on #546
It shouldn't make a difference

[2019-07-16 16:30] dlsrb6342 commented on #546
@dalexander01
Annotation works well with above code. As an example, check `CircuitBreakerAspect`.
https://github.com/resilience4j/resilience4j/blob/5dbf2d17fbfed6cbb9405243d71437904bfe40be/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/CircuitBreakerAspect.java#L118-L128

@RobWin
Yes I would like. But i don't think that above code is not a good solution.
`Abstrac

[2019-07-16 17:19] RobWin commented on #546
Just create a Work In Progress (WIP) PR which works for you and we review it.
Please be aware that the CircuitBreaker core module should be independent of Spring Boot classes, since it should be reusable for other frameworks as well.

[2019-07-17 01:08] dlsrb6342 commented on #546
OK. I'll submit PR soon.

[2019-07-18 21:49] codingL3gend opened #547 "Circuit Breaker buffer time interval handling"
is there any way to implement a time interval that the circuit breaker could use to evaluate request through the breaker over that interval to determine the failure rate threshold against as well. currently with this being a difference in resilience4j in comparison to Hystrix if the buffer size in the closed state was a value of 100 and say only 60 request came through the breaker in 5 mins and 30

[2019-07-18 22:53] RobWin commented on #547
Hu, thank you for your question.
I think there are 3 options

1) You could reduce the ring buffer size to a lower value so that the failure rate is calculated faster/earlier.

2) We implement a different CircuitBreaker strategy which uses a sliding time window.

3) We implement a different CircuitBreaker strategy which uses a weighted mean where older values contribute less.

[2019-07-18 22:54] RobWin commented on #547
4 option is of course that you keep Hystrix

[2019-07-19 14:45] codingL3gend commented on #547
@RobWin thanks for the reply, to your points mentioned we considered option 1 which is only slightly viable because it essentially will yield the same results. simply having the breaker setup to fail faster doesn't entirely address the issue since the tuning will have to be just right so that there are no preemptive moments of the breaker opening simply due to minor blips. of course with enough te

[2019-07-22 08:26] #538 closed

[2019-07-22 08:27] #544 closed

[2019-07-22 08:27] #530 closed

[2019-07-22 08:27] #515 closed

[2019-07-22 08:28] #528 closed

[2019-07-22 10:24] wl1244hotmai commented on #429
@RobWin will the next version of resilience4j is 1.0.0 after 0.17.0?
When will 1.0.0 release?

[2019-07-22 12:40] RobWin commented on #378
We do have a ThreadPool-based Bulkhead now -> https://resilience4j.readme.io/docs/bulkhead#section-create-and-configure-a-threadpoolbulkhead

The Annotation is:
 ` @Bulkhead(name = "backendC", type = Bulkhead.Type.THREADPOOL)`

You can configure Bulkheads in your Spring Boot config file -> https://resilience4j.readme.io/docs/getting-started-3#section-configuration

For example:

[code]

[2019-07-22 12:40] #378 closed

[2019-07-22 15:59] dalexander01 commented on #538
Hey quick question, since the constraint has been removed, what happens when the wait duration is 0?

[2019-07-22 16:00] RobWin commented on #538
The retry attempt is executed immediately

[2019-07-22 16:02] dalexander01 commented on #538
Ok makes sense.

[2019-07-23 21:10] chrylis commented on #537
Just getting back to some of this; does the new commit cover this, or are you still looking for a PR?

[2019-07-24 06:18] RobWin commented on #537
Yes, the PR covers it.

[2019-07-29 06:55] #537 closed

[2019-07-29 06:56] RobWin commented on #546
HI @dlsrb6342. did you find some time?

[2019-07-29 11:06] RobWin commented on #547
@codingL3gend Please be aware that you still need to tune a CircuitBreaker that uses a sliding time window implementation.
Polly as well as Hystrix require you to configure `minimumThroughput` or `requestVolumeThreshold` according to the request rate of your system. Otherwise the CircuitBreaker will not trip open even if all calls failed.
On the other side, the current CircuitBreaker implementatio

[2019-07-29 11:50] dlsrb6342 commented on #546
Hi @Robwin
I submit PR #550. Please check it.

[2019-07-29 16:45] codingL3gend commented on #547
I am aware of the tuning needed for Polly and Hystrix of course. The
minimum throughput combined with the sampling duration for Polly imo allows
for better tracking of failures and successes because it more efficiently
monitors if the system is really broken or if it perhaps was only
performing badly momentarily. The resilienc4j approach isn't bad it's just
the history of the failures that can tak

[2019-07-30 03:07] quaff opened #551 "Reserve initial state and provide restore operation"
`RateLimiter` and `Bulkhead` are allowed to change state, currently there is no way to restore the initial state.

[2019-07-30 06:25] RobWin commented on #547
Ok, you convinced me :)
I will implement a Sliding Time Window strategy.

[2019-07-30 16:42] codingL3gend commented on #547
@RobWin That's great news :-D. what occurred during our load test was the following: we were sending through above normal load and around a time when one of our backend services tends to peak in response times and produce failures in the breaker it was observed that the circuit breaker was handling these scenarios correctly. the backend systems peak would level out and then the circuit breaker whi

[2019-07-31 09:18] #541 closed

[2019-07-31 13:51] kkocel opened #552 "[question] Throw exception in Retry when max number of attempts occurs?"
I wonder if it's possible to throw an exception when max number of attempts is reached. I posted similar question on SO:
https://stackoverflow.com/questions/57243021/throw-exception-after-reaching-max-attempts-in-resilience4j-retry

[2019-07-31 14:05] RobWin commented on #552
Hi,
you can wrap your code and throw an exception when the HTTP code is not 200.

For example in Java code:

[code]

[2019-07-31 16:44] aakhilashaheen opened #553 "I'm trying to get call times and call rates for circuitbreakers exported to Grafana. I'm currently using Influxdb+micrometer. Is there a dashboard configuration for this available?"

[2019-07-31 18:17] RobWin commented on #553
No, only for Prometheus. But it should not be difficult to adapt it for influxdb.

[2019-07-31 18:17] RobWin commented on #553
https://github.com/resilience4j/resilience4j-spring-boot2-demo/blob/master/docker/dashboard.json

[2019-07-31 19:11] #553 closed

[2019-08-01 07:12] #552 closed

[2019-08-05 07:12] miere opened #554 "Make Vavr optional"
Hello there!

Resilience4j is quite a piece of software and I've really enjoyed its straightforward API and easy to read source code. Unfortunately, I wasn't capable to include it in one of my projects as it has serious footprint restrictions and Vavr as a dependency has been the major factor of its restriction.

After a bit of internal debate I'm leaning up to agree with that. As we mainly code i

[2019-08-05 07:18] RobWin commented on #554
Hi,

thank you for the kind words.
I think it's a good idea to make Vavr and optional dependency. But that needs some refactoring. We are currently working on an Sliding-Time-Window CircuitBreaker and adaptive ConcurrencyLimiter.
If you could help us to remove Vavr, it would be a great help.

[2019-08-05 14:53] dalexander01 opened #555 "How to handle spring @Async method?"
I have a @Async method that calls another 3rd party class method that returns Spring's ListenableFuture. To add a retry, do I just add the retry annotation to the @Async method or is there more involved?

[2019-08-05 15:04] RobWin commented on #555
`ListenableFuture` is not supported yet by our Aspect.
So yes, unfortunately there is more involed.

[2019-08-05 15:08] dalexander01 commented on #555
What are my options?

[2019-08-05 15:29] RobWin commented on #555
Could you wrap the class and convert ListenableFuture to CompletableFuture?

[2019-08-05 15:29] dalexander01 commented on #555
I'm thinking about creating a wrapper class method that returns CompletableFuture around the 3rd party class method that returns ListenableFuture. I can hook the CompletableFuture into the ListenableFuture as described here: https://dzone.com/articles/converting-listenablefutures

Then I could just add the retry annotation.

[2019-08-05 15:30] dalexander01 commented on #555
lol, we posted the same thing at the same time.

[2019-08-05 15:34] RobWin commented on #555
Instead of Async you could also use our ThreadPoolBulkhead annotation.

[2019-08-05 16:01] dalexander01 commented on #555
Is it necessary for me to change it for the purposes of adding retry, or are you just making a suggestion?

[2019-08-06 10:21] liangGTY commented on #201
hi, @RobWin  I would like to ask if there is any progress, when will it be released?

[2019-08-06 10:22] RobWin commented on #201
Yes, there is progress. But not sure when it's ready to be released.

[2019-08-07 12:28] RobWin commented on #547
First draft of a Sliding Time Window metric store is done.

The implementation backed by a sliding time window that aggregates only the calls made in the last N seconds.
The sliding time window is implemented with a circular array of N buckets.
If the time window size is 10 seconds, the circular array has always 10 buckets. Every bucket
stores the outcome of all calls which happen in a certain epo

[2019-08-09 07:03] MrRee1995 opened #557 "How to use resilience4j-spring-boot correctly"
For some reason I have to use resilience4j with `spring boot 1.5.3.RELEASE`, but there seems to be no guide to spring boot 1.x in [**_User Guide_**](https://resilience4j.readme.io/docs), so I introduced the following dependencies according to the[ **_spring boot 2.x guide_**](https://resilience4j.readme.io/docs/getting-started-3):
[code]
I started my application and got the following error：
[code]

[2019-08-09 10:05] Romeh commented on #557
Hey @MrRee1995 ,

if you have to work with spring boot 1 anyhow , i would advise you to switch to version 1.5.22.RELEASE and that should works just fine with the proposed setup , please be informed we do test and update the code base based into last releases of spring boot 1 and 2 as much we could !

So are your forced to work with for spring boot 1.5.3.RELEASE or u can upgrade it to latest spring

[2019-08-09 10:10] RobWin commented on #557
As a workaround you could add:

[code]

[2019-08-09 18:00] molakarajarao commented on #159
resilence4J fallback is not working

[2019-08-09 18:00] molakarajarao commented on #159
need some inputs please

[2019-08-09 18:03] molakarajarao commented on #159
i did http://localhost/applicationA/failure  then 500 error occurred.

then hit same URL again then io.github.resilience4j.circuitbreaker.CallNotPermittedException: CircuitBreaker 'backendA' is OPEN and does not permit further calls
then no fallback

[2019-08-09 19:04] RobWin commented on #159
Did you configure any fallback? How did you do it?

[2019-08-09 19:26] molakarajarao commented on #159
Yes RobWin i did

@Override
    @CircuitBreaker(name = "backendA", fallbackMethod = "fallback")
    public String failureWithFallback() {
        return failure();
    }

The first failure have @Override
    @Bulkhead(name = "backendA")
    public String failure() {
        throw new HttpServerErrorException(HttpStatus.INTERNAL_SERVER_ERROR, "This is a remote exception");
    }

[2019-08-09 19:28] molakarajarao commented on #159
Please let me know if configured wrongly or something i missed

[2019-08-09 19:29] RobWin commented on #159
How does your fallback method look like?

[2019-08-09 19:31] molakarajarao commented on #159
@Override
    @CircuitBreaker(name = "backendA", fallbackMethod = "fallback")
    public String failureWithFallback() {
        return failure();
    }

[2019-08-09 19:33] RobWin commented on #159
The annotation specifies a method called `fallback`. Where is this method?

[2019-08-10 07:14] hexmind commented on #551
Have you try to recreate `RateLimiter` and register again in` RateLimiterRegistry` using `replace` method?
Does it meet your expectations?

[2019-08-11 21:06] miere commented on #554
Sure. I’ll be back at home by the end of this week and I’ll look into it.
Is there any contribution guide where I can read more about coding
standards and design expectations so I can avoid common mistakes in my PR?

It’d be a pleasure to give something back to the community.

On Mon, 5 Aug 2019 at 5:19 pm, Robert Winkler <notifications@github.com>
wrote:

--
/* Miere L. Teixeira */

[2019-08-12 06:18] quaff commented on #551
@hexmind The config maybe fire-and-forget became unreachable.

[2019-08-12 10:12] RobWin commented on #554
Hi,

there are no special coding guidelines. In order to remove Vavr, we need a new resilience4j-vavr module with new classes like: VavrDecorators which contain the higher order functions of CircuitBreaker, Retry, RateLimiter, ...

Please be aware that we sometimes use Vavr internally. This logic must be replaced then. Enough tests should exist to verify that everything works afterwards.

[2019-08-12 10:16] RobWin commented on #551
You could store your Config in RateLimiterRegistry or BulkheadRegistry and retrieve the Config whenever you want to restore it.

For example:

`rateLimiterRegistry.addConfiguration("nameName", yourConfig);
`rateLimiterRegistry.getConfiguration("nameName");

[2019-08-12 11:01] miere commented on #554
Thanks for your prompt response, mate.
It sounds fairly reasonable.

Cheers

On Mon, Aug 12, 2019 at 8:12 PM Robert Winkler <notifications@github.com>
wrote:

--
/* Miere L. Teixeira */

[2019-08-12 12:43] evgri243 opened #558 "Spring Boot: Retry logic is never called when CircuitBreaker specifies a fallback"
## I'm submitting a ...
  - [x] bug report
  - [x] documentation issue
  - [ ] feature request

_Looking for a workaround?_ Check **Workaround** below.

## What is the current behaviour?

When you apply both `@Retry` and `@CircuitBreaker` annotations with fallbacks, retry logic is never called. Bellow is a slightly modified sample from the [Getting Started guide](https://resilience4j.readme.io/v0.

[2019-08-12 13:08] RobWin commented on #558
Hi,

thank you for this well-structured issue.
Your workaround is not a workaround. It's exactly how it was designed.

But you are right, we should add an example in our documentation to make it more clear.

If you use `@Retry` and `@CircuitBreaker` together, I would suggest you to add `CallNotPermittedException` to the list of ignored exceptions in your retry configuration. It prevents retry from

[2019-08-12 13:11] molakarajarao commented on #159
Hi RobWin - did you get a chance to look into it

[2019-08-12 13:17] harishmbm opened #559 "@CircuitBreaker annotation does not works with a @FeignClient annotation"
Hi,

I have created a FeignClient (using resilience4j-spring-boot2 and resilience4j-feign) as follows

[code]
And I have used the following properties in application.yml

[code]

The issue is that the `@CircuitBreaker` annotation have no impact when I keep it on my FeignClient. But if I create a normal Spring configuration like below, the circuit breaking operations works fine:

[code]

Is it a bu

[2019-08-12 13:19] RobWin commented on #159
Do you have an example repository where you can show that it doesn't work?

[2019-08-12 13:22] molakarajarao commented on #159
2019-08-12 09:19:35.143 ERROR 46585 --- [ctor-http-nio-2] a.w.r.e.AbstractErrorWebExceptionHandler : [e9525324] 500 Server Error for HTTP GET "/backendA/failure"

io.github.resilience4j.circuitbreaker.CallNotPermittedException: CircuitBreaker 'backendA' is OPEN and does not permit further calls
	at io.github.resilience4j.circuitbreaker.internal.CircuitBreakerStateMachine$OpenState.acquirePermissio

[2019-08-12 13:23] molakarajarao commented on #159
Whitelabel Error Page
This application has no configured error view, so you are seeing this as a fallback.

Mon Aug 12 09:22:33 EDT 2019
There was an unexpected error (type=Internal Server Error, status=500).
CircuitBreaker 'backendA' is OPEN and does not permit further calls

 after open the CircuitBreaker failure case , it should call fallback but it is not working

[2019-08-12 13:25] RobWin commented on #559
Hi,
the annotation can't be used together with Feign, at the moment..

You can only use Resilience4jFeign in your code. But you should inject the CircuitBreakerRegistry to retrieve a CircuitBreaker instance. That way you can still configure the CircuitBreakers in the Spring Boot application.yml file.

[2019-08-12 13:26] molakarajarao commented on #159
I took the source code from this url - https://github.com/silviobuss/resilience4j-spring-boot2-demo.git

I am trying to see fallback.

[2019-08-12 13:28] RobWin commented on #159
Ok,
then please invoke
`http://localhost:9080/backendA/fallback` instead of `http://localhost:9080/backendA/failure`

[2019-08-12 13:47] molakarajarao commented on #159
RobWin - I am learning resilence4J implementation part so just asking for some more information.

 http://localhost:9080/backendA/fallback -If i call manually the fallback how do i know really fallback is working or not?

what does the mean we can use this annotation.
@Override
    @CircuitBreaker(name = "backendA", fallbackMethod = "fallback")
    public String failureWithFallback() {
        ret

[2019-08-12 13:50] molakarajarao commented on #159
My guess is when this error is occurred, after sometime fallback  mechanism have to call automatically right.     io.github.resilience4j.circuitbreaker.CallNotPermittedException: CircuitBreaker 'backendA' is OPEN and does not permit further calls

[2019-08-12 13:52] RobWin commented on #159
This annotation protects the method `failureWithFallback` by a CircuitBreaker and defines a fallback method.
But the method `BackendAConnector.failureWithFallback` is only invoked by `BusinessAService.failureWithFallback` which is invoked by `BackendAController.failureWithFallback`. The BackendAController is a Spring Controller and listens on `@GetMapping("fallback")`.

Keep in mind this is just a

[2019-08-12 13:55] RobWin commented on #159
For example:

[code]

Then the enpoint `http://localhost:9080/backendA/failure` and see that the exception is recovered:

![image](https://user-images.githubusercontent.com/5815046/62870252-9ac5d800-bd19-11e9-8f09-ab1245cd8d65.png)

[2019-08-12 14:08] molakarajarao commented on #159
Thank you very much for quick response.

how about metrics generated through the grafana dashboards

the springboot configuration is all i can configure in properties.Please confirm

management.metrics.distribution.percentiles-histogram.http.server.requests: true
management.metrics.distribution.percentiles-histogram.resilience4j.circuitbreaker.calls: true

[2019-08-12 15:04] harishmbm commented on #559
Thanks for prompt response.

[2019-08-12 15:26] #555 closed

[2019-08-12 15:52] evgri243 commented on #558
@RobWin, Thank you.

But in the case of ignoring exception it won't call retry's fallback, that doesn't meet expectations.

As for an example or docs, it's needed. I googled the whole internet looking for a solution or ideas, but found nothing at all.  Looks like no one ever tried to do that... That's crazy. Maybe I'm bad at googling? Docs didn't helped me either to get that design.

Thankfully, m

[2019-08-12 16:00] RobWin commented on #558
The fallback mechanism via annotations is very new.
If you have further questions, just ask them here. You don't have to waste your time goggling or debugging :)

[2019-08-12 16:12] evgri243 commented on #558
Thank you. Short questions then.

There is an idea to create some custom HttpClient with some common implementation and then inject different settings to make call to different endpoints. Main idea is to make resilience4j config different by service too, but as far as I understand it's impossible to achieve with annotations.

Any ideas? Switch to Fluent API for that?

[2019-08-12 16:15] RobWin commented on #558
You mean, you want to create a BackendAClient, BackendBClient, .. and all of them use the custom HttpClient with different settings internally?

[2019-08-12 16:26] evgri243 commented on #558
Yes, like that. The whole logic is to keep all resilience logic in HttpClient for that and make it choose resilience config for its methods based on somehow supplied service name ("BackendA", "BackendB" and etc). Let's abstract and assume that it has only 4 methods: get(string uri), post(string uri, object body), put(string uri, object body), delete(string uri).

It's more like an abstract idea on

[2019-08-12 17:30] RobWin commented on #558
Yes, you are right. The annotations are not dynamic. They have a static service name. But you can achieve your goal with 1 decorator class for your HttpClient. That way the HttpClient is not mixed with resilience code.

[2019-08-13 05:23] dlsrb6342 commented on #558
@evgri243

By default, `CircuitBreakerAspect` is more higher order than `RateLimiterAspect`. I think If you set more higher order to `RateLimiterAspect`, it will work as you expected.
[code]

[2019-08-13 05:58] harishmbm opened #560 "Fallback for with Feign does not works"
Hi,

In continuation of my previous post https://github.com/resilience4j/resilience4j/issues/559 I am trying to register a fallback with my Feign client. I am referring the example mentioned [here](https://github.com/resilience4j/resilience4j/tree/master/resilience4j-feign). Following is my config code

[code]

Whenever there are any exceptions from the Feign, I expect to see the response as "fall

[2019-08-13 06:06] RobWin commented on #560
Hi,
a fallback must implement the interface `MyFeignClient`. Can you show me your Interface?

[2019-08-13 06:14] harishmbm commented on #560
Here it is

[code]

[2019-08-13 06:16] RobWin commented on #560
Why `@GetMapping`? Shouldn't it be `@RequestLine`?

[2019-08-13 06:20] harishmbm commented on #560
Hi RobWin,

The behaviour is same with `@RequestLine` as well. Can see the following exception in logs

[code]

[2019-08-13 06:26] RobWin commented on #560
@pwlan Do lamdas not work anymore as a fallback?

[2019-08-13 08:59] harishmbm commented on #559
Hi @RobWin

Since this is tagged as an enhancement now, any ideas when it can be available in the library?

[2019-08-13 09:00] RobWin commented on #559
No, would you like to contribute it?

[2019-08-13 09:06] harishmbm commented on #559
I fear as I do not have in depth knowledge of the library but still if I am able to write something then I will create a PR here. If you can give some basic ideas on how to achieve this in the library then it would be helpful.

[2019-08-13 09:14] RobWin commented on #559
I think first you have to understand how the `@FeignClient` works in Spring Cloud
And then we must somehow inject some functionality in it.

https://cloud.spring.io/spring-cloud-netflix/multi/multi_spring-cloud-feign.html

[2019-08-13 10:11] MrRee1995 commented on #557
It works, thanks

[2019-08-13 10:13] MrRee1995 commented on #557
I will temporarily use 1.5.3.RELEASE and then upgrade the version to springboot2 as soon as possible.Thanks

[2019-08-13 10:13] #557 closed

[2019-08-13 13:48] guru1306 opened #561 "Spring boot Resilience4j"
Hi All

I am using Retry annotation of Resilience4j in Spring Boot 1.5. My business logic is currently retried by using the Retry annotation. But I am not able to find a way to log that the retry is happening. This is achievable using the eventPublisher method in the retry object if we use the Retry object. But  Retry annotation doesn't seem to take the eventPublisher property from the configurati

[2019-08-13 14:12] Romeh commented on #561
@guru1306  can u please share an example of the configuration you have and which spring boot 1 version u are using ?

[2019-08-13 14:36] RobWin commented on #561
The metrics endpoint also gives insight how many retry attempts happened and how many succeeded or failed.

[2019-08-13 16:41] taer opened #562 "java.lang.IllegalStateException: Illegal state transition from CLOSED to HALF_OPEN"
In resilience4j-circuitbreaker version 0.16.0, we see this exception occasionally pop up. It's extremely rare.

The call is made like this:
`circuitBreaker.executeCompletionStage(() -> connection.async().hvals(key));`

The setup of the breaker is
[code]

[code]

The logs for those transitions as well as the error are:
[code]

[2019-08-13 16:48] guru1306 commented on #561
I am using Spring boot 1.5.10. I am using properties file.

Here is the property name.
[code]
[code]

[2019-08-13 16:53] guru1306 commented on #561
The use case is to log the below error message in the same thread.
"The method failed with exception. Hence waiting for x seconds and retrying for 1th attempt."

Is there a way to get the retry configured in the properties file and add the event publisher to it?

[2019-08-13 17:49] RobWin commented on #562
Thanks, I check this tomorrow

[2019-08-13 18:55] taer commented on #562
Just realized that I put the logs in the order splunk had them(reversed).   I just updated them in normal order

[2019-08-13 19:15] RobWin commented on #562
I miss a state transition in your logs from CLOSED to OPEN, before the exception happens. Did you maybe miss/overlook it in splunk?

[2019-08-13 19:47] taer commented on #562
That's all of it.  I see.
Closed -> open ->half_open -> closed -> half_open(the exception) -> closed -> open -> half_open -> closed

You did see my edit where I re-ordered it chronologically?

[2019-08-14 05:58] RobWin commented on #561
No, there is no way yet to configure event listeners via the properties file.
But the `RetryAutoConfiguration` configures an `EventConsumerRegistry?  and registers a circular event consumer which stores the last 100 events for every retry.

You can either look at the events in the Actuator Endpoint `/retries/events/{name}` or consume the event in your code.

The bean is called `retryEventConsumerR

[2019-08-14 06:45] RobWin commented on #381
The upcoming version of the CircuitBreaker will allow you to configure a duration threshold which will be used to check if a call will be considered as slow.
And you can configure a threshold in percentage which will be used to check if too many calls are slow.

For example:
slowCallDuration = 5s
slowCallRateThreshold = 75

If 75% or more calls take longer than 5s, the CircuitBreaker will transiti

[2019-08-14 06:53] RobWin commented on #547
The upcoming version of the CircuitBreaker will allow you to configure two different types of sliding windows. Either COUNT_BASED which records the last N calls or TIME_BASED which records the calls of the last N seconds.

The following configuration would be similar to the old ringbuffer-based implementation:
slidingWindowType = TIME_BASED
slidingWindowSize = 100
minimumNumberOfCalls = 100

The f

[2019-08-14 07:02] pwlan commented on #560
I will take a look.

[2019-08-14 08:10] pwlan commented on #560
@RobWin Ok, i can reproduce the bug. Could be an easy fix.

`fallbackMethod.setAccessible(true);`

@harishmbm Thanks for the feedback!

[2019-08-14 08:13] RobWin commented on #562
I assume it was a race condition where two threads tried to transition from OPEN to HALF_OPEN at the same time.
Should be fixed with this commit -> https://github.com/resilience4j/resilience4j/pull/556/commits/3729f3bd773694465aed58a7b386d082ca4c0c52

[2019-08-14 08:24] harishmbm commented on #560
@pwlan Thanks for confirming it. I also tried to apply the fix (at runtime) in `io.github.resilience4j.feign.DefaultFallbackHandler` and the fix works. What is the next release cycle for this fix?

[2019-08-14 10:00] harishmbm opened #563 "Error response returned by the server is ignored by resilience4j"
Hi

I am using the resilience4j with Feign client for communication with another server (lets say it is running on localhost:8090 with 1 exposed endpoint i.e. /sample). I am testing a case when I want to record only specific exceptions from the underlying http client library. So following is my config:

[code]

Now when the /sample endpoint returns a response with http status 400, which is a valid

[2019-08-14 10:05] RobWin commented on #563
The CircuitBreaker only reacts on exceptions. If Feign throws an exception when the server returns a 400, the exceptions is recorded, unless you ignore it. But it's the duty of your code to catch the exception and return something useful.
Does your application act as a proxy and want to forward the message to the client?

[2019-08-14 10:21] harishmbm commented on #563
We are into microservice architecture and some of our services are a proxy and some others show their own message. So we do want to retain the error messages returned by other services to show the actual message to the very first caller i.e from where the request started originally.

[2019-08-14 10:28] RobWin commented on #563
Resilience4j does not prevent you from doing it. I think you just have to look at Feign error handling.

[2019-08-14 10:39] harishmbm commented on #563
Ok thanks for help. Also, can you explain how the `ignoreExceptions` and `recordExceptions` works together. Can you validate my following understanding and respond if they are correct or incorrect:

1. ignoreExceptions: It will ignore **only** those exceptions which are listed against this property. All the other exceptions (along with the ones mentioned in recordExceptions) will be recorded and c

[2019-08-14 11:42] RobWin commented on #563
2) `recordExceptions`: Configures a list of classes that are recorded as a failure and thus increase the failure rate. Any exception matching or inheriting from one of the list should count as a failure, unless ignored via `ignoreExceptions`.
*All other exceptions are not recorded*, which means they are ignored and do not count as success. or failure. If you add an exception to `recordExceptions`

[2019-08-14 13:15] molakarajarao commented on #159
Hi Robwin- need some inputs.

how do i read the values from application.properties instead of YAML? please share example if you have. Thanks
resilience4j.circuitbreaker:
  circuitBreakerAspectOrder: 400
  configs:
    default:
      ringBufferSizeInClosedState: 100
      ringBufferSizeInHalfOpenState: 10
      waitDurationInOpenState: 10s
      failureRateThreshold: 60
      eventConsumerBufferSiz

[2019-08-14 15:02] taer commented on #562
Awesome. Would it be possible to get this cut into a 17.0.1 release?

[2019-08-14 16:27] pulkitmehra opened #565 "Pass Threadlocal across "@Bulkhead" annotation"
Hi team,

We are trying to migrate from Hystrix to Resiliency4j. We have context value set in ThreadLocal. Whenever we go across `@Bulkhead` annotation the ThreadLocal is empty

[code]

In Hystrix we were copying thread local using `HystrixConcurrencyStrategy` . Do we have anything equivalent in Resiliency4j. If not, please suggest any other approach.

[2019-08-14 18:09] RobWin commented on #565
Hi, there is no equivalent yet.
May I ask what is stored in the threadLocal?

You could use Reactor and Context which is supported. https://projectreactor.io/docs/core/release/reference/#context

[2019-08-14 19:10] pulkitmehra commented on #565
We have some business entities that is stored in ThreadLocal. Unfortunately, we are using SpringBoot2 and do not support reactive paradigm.

What is the best way of tacking this?  If you tell us approach we can contribute the solution to Resiliency4j.

[2019-08-14 19:46] RobWin commented on #565
You can't forward them as a parameter of the method signature?

[2019-08-14 19:48] RobWin commented on #565
Do you need to run the code in a thread pool? Can you use the semaphore-based bulkhead?

[2019-08-14 19:59] pulkitmehra commented on #565
that will pollute our signatures with unnecessary parameters.So not this option.

We don't want to limit the team or restrict them.

We can do something similar to `HystrixConcurrencyStrategy` in class `FixedThreadPoolBulkhead`

[2019-08-15 06:24] RobWin commented on #159
Please open new issues when you have questions. Don't reuse this issue for all your questions. It's difficult for others to search for answers then.

[2019-08-15 06:46] RobWin commented on #554
Just tell me, if you need some help.

[2019-08-15 11:30] harishmbm opened #568 "CircuitBreaker: How to treat exceptions as a success"
Hi,

I have the following setup:

1. A 3rd party service (runs on localhost:8090/sample) and it always returns bad request (400).
[code]
2. In my main application where I am using circuit breaker, I am using RestTemplate to communicate it with the 3rd party service. I have ignored `org.springframework.web.client.HttpClientErrorException` from the circuit breaker.
3. The circuit breaker annotation

[2019-08-15 11:46] RobWin commented on #568
An ignored exceptions is NOT recorded as a successful call, it's totally ignored by the circuitbreaker.
The endpoint must return a 200 so that the call is recorded as a successful call.

[2019-08-15 11:51] harishmbm commented on #568
But it is not necessary for an endpoint to return 200 to show that it is running properly. If any endpoint is returning 400 (valid case if the request fails validation error) that means also that the endpoint is working, right?

[2019-08-15 11:58] RobWin commented on #568
Resilience4j is protocol and framework agnostic. That means it doesn't know anything about the protocol or framework you use. Exceptions are either treated as failures or ignored. There is no option yet to treat an exception as a success. It's an interesting use case and could be added to Resilience4j.
But for now the user of Resilience4j must handle the exception and convert it into a `ResponseEn

[2019-08-15 12:06] RobWin commented on #568
But I like the idea to add something like
[code]

[2019-08-15 12:13] RobWin commented on #568
In your case you can change your code to

[code]

And adapt the restTemplate error handler -> https://www.baeldung.com/spring-rest-template-error-handling

[code]

[2019-08-15 12:17] harishmbm commented on #568
Ok thanks for the code, I'll test it.

But there is definitely one bug i.e in HALF_OPEN state if 50% of calls fails (as defined by property failureRateThreshold), provided if they all are 4xx, then the circuit never closes back even if the 3rd party service is up and running and the only option to make our main endpoint work again is to restart the server.

[2019-08-15 12:24] RobWin commented on #568
I think you didn't get my answer or you didn't read it.

Ignored exceptions are totally ignroed. Let's say you have a Client which calls a remote service, but the client also validates the input and throws an exception. The validation exception should be ignored by the CircuitBreaker. That's when you should add an exception to the list of ignored exceptions.

But if the remote service returns a re

[2019-08-15 12:37] harishmbm commented on #568
Hi @RobWin,

`Ignored exceptions are totally ignored by the CircuitBreaker. They are neither counted as success nor failure.` I totally agreed here. What I wanted to say is if the circuit is in HALF_OPEN state and the remote service gives those errors which are ignored then the state of CircuitBreaker should not change. Now if 50% of such `ignored` exceptions have been thrown and after that if a v

[2019-08-15 12:45] RobWin commented on #568
Which version are you using?
I think you are talking about a bug that was fixed in `0.17.0` -> https://github.com/resilience4j/resilience4j/issues/544

[2019-08-15 12:49] harishmbm commented on #568
Yes it looks same and I am using the following versions:

[code]

[2019-08-15 12:50] RobWin commented on #568
Let me check. There is a unit test which verifies the functionality.

[2019-08-15 13:01] RobWin commented on #568
This sentence is not clear to me

I added another unit tests where the CircuitBreaker is in HALF_OPEN state.
Then I throw 4 times an ignored exception and the CircuitBreaker still allows further 4 calls. Nothing is blocked. When I execute 4 successful calls, the CircuitBreaker transitions back to CLOSED.

[2019-08-15 13:06] RobWin commented on #568
Your method `callOtherService` has a fallback method specified.
`@CircuitBreaker(name = "callOtherService", fallbackMethod = "errorExternal")`

https://github.com/harishmbm/resilience4j-springboot/blob/master/src/main/java/com/resilience4j/service/Resilience4jService.java

[2019-08-15 13:12] harishmbm commented on #568
By that statement I meant that in HALF_OPEN state if the remote service still gives an error which is `ignored` then the circuit breaker behaves as OPEN (health endpoint still says HALF_OPEN) and does not makes any calls to remote service. I said 50% because in my case this situation is happening after 2 calls because I had set `ringBufferSizeInHalfOpenState: 2`

[2019-08-15 13:16] harishmbm commented on #568
Yes it have a fallback. Will it make any difference in HALF_OPEN state?

[2019-08-15 13:29] RobWin commented on #568
No, I was confused for a moment. The fallback does not change anything in HALF_OPEN state.

I'm not able reproduce it with https://github.com/resilience4j/resilience4j-spring-boot2-demo

I invoked `http://localhost:9080/backendA/failure` 5 times and waited until the state is HALF_OPEN.
Then I invoked `http://localhost:9080/backendA/ignore` 5 times and checked `http://localhost:9080/actuator/health

[2019-08-15 13:32] RobWin commented on #568
Could you update `resilience4j-feign` to `0.17.`
The old version `0.16.0` might pull in the old version as a transitive dependency.

[2019-08-15 13:36] harishmbm commented on #568
Ok sure I will update the library version and post the test result here tonight.

[2019-08-15 14:03] Romeh commented on #565
I am not in favor to add support of Thread Local management to the bulkhead as its own issues are far more than its own advantages and it can easily go wrong in multi threading executions if no proper management and cleanup in place.

[2019-08-15 16:54] harishmbm commented on #568
@RobWin Yes, I just verified that this issue is fixed in resilience4j-feign:0.17.0. Thanks for help.

[2019-08-15 16:55] RobWin commented on #568
No problem. Still I think we will add a new property to add exceptions which should be treated as a success.

[2019-08-15 17:10] harishmbm commented on #568
Yes that would be helpful.

[2019-08-15 18:24] guru1306 commented on #561
Thanks for the response. My requirement is to print it in the same thread before retrying the method.

[2019-08-15 18:24] #561 closed

[2019-08-16 01:21] molakarajarao opened #570 "need some inputs for reading application.properties instead of YAML"
Please provide some inputs.

how do i read the values from application.properties instead of YAML? please share example if you have. Thanks
resilience4j.circuitbreaker:
  circuitBreakerAspectOrder: 400
  configs:
    default:
      ringBufferSizeInClosedState: 100
      ringBufferSizeInHalfOpenState: 10
      waitDurationInOpenState: 10s
      failureRateThreshold: 60
      eventConsumerBufferSize

[2019-08-16 03:51] harishmbm commented on #570
Properties are separated by tabs in yml. Under the same level you can combine properties for eg

[code]
Can be translated as
[code]
I hope this is what you are looking for.

[2019-08-16 05:33] dlsrb6342 opened #571 "HealthIndicator with registry"
### Enhancement
Currently, in resilience4j-spring-boot2, `HealthIndicator` is made with each `CircuitBreaker` or `RateLimiter`.

If make `HealthIndicator` with Registry, it doesn't need to add `HealthIndicator` Singleton on each time `CircuitBreaker` is created.
We can just return with `CircuitBreakerRegistry.getAllCircuitBreakers()`.
[code]

With [`CompositeHealthIndicatorConfiguration`](https://

[2019-08-16 06:11] RobWin commented on #571
Yes, true. Would you like to create a PR? But please also have a look at `RateLimiterHealthIndicator`
We can also use `@Conditional(value = {HealthIndicator.class})` to make the beans optional.
But we should also add `@Conditional(value = {Endpoint.class})` to the custom Actuator endpoints then.

[2019-08-16 06:22] RobWin commented on #570
Please close the issue if the comment helped you.

[2019-08-16 06:25] dlsrb6342 commented on #571
Ok I'll submit PR soon.
And one more thing, only CircuitBreaker and RateLimiter have `HealIndicator`.
Bulkhead or Retry doesn't need it?

[2019-08-16 06:34] RobWin commented on #571
Yes, all components provide useful metrics under `/actuator/metrics`.
Bulkhead and Retry do not have any state that can report that the application is unhealthy. I don't even think that the RateLimiterHealthIndicator makes much sense. You don't want to shut down your application if a rate limit is temporary exceeded or a Bulkhead is temporary full.
I would only make sense if a rate limit is consta

[2019-08-16 07:13] dlsrb6342 commented on #571
Then,, I think HealthIndicator doesn't need at all components. For unhealthy reporting, metrics is more suitable. what do you think remove `HealthIndicator` and just report with metrics?

And about [your commit](https://github.com/resilience4j/resilience4j/commit/f6d8c43200610487e3b62458b07f65d868603e30), it cannot resolve error. Remove `HealthIndicatorRegistry` in 'CircuitBreakerConfigurationOnMi

[2019-08-16 07:20] RobWin commented on #571
Yes, but don't think we can remove the health indicators anymore because of backward compatibility reasons.

Not clear what you mean?

[2019-08-16 07:25] dlsrb6342 commented on #571
Ok.

`HealthIndicatorRegistry` class is in spring-boot-actuator.  So if I don't have spring-boot-actuator in classpath, it will throw `ClassNotFoundException` like my upper comment.

[2019-08-16 07:26] RobWin commented on #571
I see. Yes, please create a PR if you can help.

[2019-08-16 08:27] dlsrb6342 commented on #571
Ok. I'll make HealthIndicator with Registry.

[2019-08-16 08:44] RobWin commented on #563
Closed in favor of #568

[2019-08-16 08:44] #563 closed

[2019-08-16 13:12] molakarajarao commented on #570
I am bit confused.please clarify.

Here is one example for YAML

resilience4j.circuitbreaker:
    configs:
        default:
            registerHealthIndicator: true
            ringBufferSizeInClosedState: 1
            automaticTransitionFromOpenToHalfOpenEnabled: true
            waitDurationInOpenState: 2s
            ringBufferSizeInHalfOpenState: 2
            failureRateThreshold: 2

[2019-08-16 13:54] molakarajarao opened #575 "circuitbreaker is called but have an issue"
Hi All,

I have configured circuitbreaker and fallback, when i have an 500 INTERNAL_SERVER_ERROR  circuitbreaker is called to fallback but i checked metrics there is no information OPEN status gets increased.

name="getshippinginfo",state="closed",} 1.0
resilience4j_circuitbreaker_state{application="ClassA",name="getshippinginfo",state="open",} 0.0
resilience4j_circuitbreaker_state{application="Cl

[2019-08-16 14:18] RobWin commented on #575
Please use markdown to format your issues.

[2019-08-16 14:55] molakarajarao commented on #575
I don't see CircuitBreaker OPEN status in metrics.The failed status 500 done morethan 50 times.

But the report shows is same as below.
name="getshippinginfo",state="closed",} 1.0
resilience4j_circuitbreaker_state{application="ClassA",name="getshippinginfo",state="open",} 0.0
resilience4j_circuitbreaker_state{application="ClassA",name="getshippinginfo",state="forced_open",} 0.0
resilience4j_circui

[2019-08-16 15:48] RobWin commented on #575
Does your method throw any exception? I can't see it in your code snippet.

[2019-08-16 16:28] molakarajarao commented on #575
Hi RobWin-
fallback() - method throws the INTERNAL_SERVER_ERROR 500 error.
// same method signature applied to fallback
@circuitbreaker(name ="getshippinginfo", fallbackMethod = "fallback")
public String fallback() {
serviceResponse.setStatusCode(HttpStatus.INTERNAL_SERVER_ERROR.value());
serviceResponse.setErrorResponse(errorResponse);
serviceResponse.setRequestObject(request);
ServiceCircuitBrea

[2019-08-17 01:43] miere commented on #554
Hello Robert.

I'm sorry I couldn't make it last week as I've been appallingly weak and
sick. It still should take a couple of days to recover (according to the
Doctor). I'm really keen to do that though, I'll look into that as soon as
I feel a bit better.

Cheers

On Thu, Aug 15, 2019 at 4:46 PM Robert Winkler <notifications@github.com>
wrote:

--
/* Miere L. Teixeira */

[2019-08-17 06:56] RobWin commented on #554
No hurry. Get well soon.

[2019-08-17 07:01] RobWin commented on #575
Please format your  code snippets with markdown. https://guides.github.com/features/mastering-markdown/

Do you have an example project? It's difficult to understand what you are actually doing. Did you have a look at our Spring Boot2 demo?

[2019-08-17 07:04] RobWin commented on #575
Please be aware that due to Spring AOP proxy based concept, you can't add an annotation to a method which is internally invoked my another method. For example the annotation of `fallback` doesn't work if you call the method inside of the `success` method.  The annotation only works if you invoke `fallback` from outside of the class.

[2019-08-17 10:37] harishmbm commented on #559
Hi @RobWin,

I am able to achieve the desired functionality here. With this we won't need to write configuration for feign clients. Now they will be able to pick the configuration from the application.yml similar as any normal Service class.

Can you please add me as a contributor so that I can create a pull request here. After thorough review you can merge it.

[2019-08-17 10:47] RobWin commented on #559
You can create already PR by forking the project

[2019-08-17 11:45] jabrena opened #577 "How to log a Retry behavior?"
Hi,

I am testing the library and I would like to know how to log a Retry behavior:

Example:

[code]

I would like that if Retry need to execute the supplier, I could register the action in some way.

How to do it?

Many thanks in advance

Juan Antonio

[2019-08-17 11:50] RobWin commented on #577
All components like Retry, CircuitBreaker, RateLimiter provide an event publisher where you can subscribe to and consume events.

[2019-08-17 11:51] RobWin commented on #577
[code]
Retry has a similar functionality.

[2019-08-17 11:54] RobWin commented on #577
https://resilience4j.readme.io/docs/retry#section-consume-emitted-registryevents

[2019-08-17 11:55] jabrena commented on #577
Many thanks @RobWin

Nice library!

I continue with the library review :)

Cheers

[2019-08-17 11:55] #577 closed

[2019-08-17 12:45] zacharo opened #578 "Webflux: Bulkhead with timeout using AbstractQueuedSynchronizer and therefore is blocking?"
Wanted to use the Bulkhead/Bulkhead operator in a Spring WebFlux project and after browsing through implementation it does seem that the Bulkhead operator is using the `AbstractQueuedSynchronizer`. Is that correct in the WebFlux reactive environment?

Use-case: having a memory-intensive computation and more-or-less-sparse-request rate, that can however 'spike up' potentially. Thus I would like to

[2019-08-17 14:18] harishmbm commented on #559
Submitted the PR [here](https://github.com/resilience4j/resilience4j/pull/579)

[2019-08-17 14:43] harishmbm commented on #568
@RobWin thanks for the fix. Can you please tell me when are you going to release a new version of all libraries? I would really like to see at least https://github.com/resilience4j/resilience4j/pull/579 and https://github.com/resilience4j/resilience4j/pull/576 in the latest release.

[2019-08-17 14:53] RobWin commented on #578
Hi,
our advice is to use a Bulkhead with maxWaitDuration 0 when used in the reactive context. Unfortunately the Java Semaphore does not return the wait time until a thread gets a permit so that we can wait in a non blocking way. We might need to implement our own Semaphore. The RateLimiter operator is already capable to delay in a non blocking way until the thread is permitted.

[2019-08-17 14:55] RobWin commented on #578
How long does the request run? Could you retry with a back off interval if the request is not permitted to run?

[2019-08-17 14:56] RobWin commented on #578
Maybe the RateLimiter can help as well. For example only allow 5 requests per second.

[2019-08-17 20:04] harishmbm commented on #429
Hi @RobWin we have almost finalised to use this library in our production system and we are also keen to know when 1.0.0 will be released. We are eying if the following 2 issues can be included in this version i.e. https://github.com/resilience4j/resilience4j/issues/559 and https://github.com/resilience4j/resilience4j/issues/560

[2019-08-18 10:20] dlsrb6342 commented on #571
@RobWin
I think new HealthIndicator response will be different with old one.  Is this ok?
New one will aggregate all circuitBreaker health in `details`.

[code]

[2019-08-19 02:07] molakarajarao commented on #575
Hi RobWin - Here is my actual code, I took Spring Boot2 demo example and did similar way implemented in my class. i have to call "return fallback()"  inside success method because it throws 500 error there. please check below code and let me know your suggestions.

@Override
	public CoreServiceResponse<ShippingInfoRequest, ShippingInfoResponse> success() throws
         Exception {
		long startTim

[2019-08-19 06:25] RobWin commented on #575
Hi,

I don't even know where to start.
What is the purpose of your fallback method? A fallback method should never throw an exception or fail. A fallback method should recover an exception and return something useful to the client.

Besides that the method does not throw any exception, but returns a response with status code 500. The CircuitBreaker only counts exceptions as a failure.

Why do you

[2019-08-19 06:43] RobWin commented on #571
Non backwards compatible changes are always not good. We must have good reasons to do it. But I think it's good if people can use the Resilience4j Spring Boot Starter without having to use Spring Actuator. If this change makes it easier for us to make it possible, we should do it.

Can we rename `circuitBreaker` to `circuitBreakers`? It would match the response from endpoint `/actuator/circuitbrea

[2019-08-19 06:43] #570 closed

[2019-08-19 07:08] dlsrb6342 commented on #571
Good. I'll submit PR soon.

Ok I'll change it

[2019-08-19 07:08] RobWin commented on #571
Thanks for your contributions.

[2019-08-19 07:29] keltik85 opened #580 "Example for "Supplier with Result Handling""
I am desperately trying to get the [example with result handling](https://resilience4j.readme.io/docs/examples) running. (CTRL+f, type "supplierWithResultHandling") I even have cloned the repo and searched through the [CircuitBreakerTest.java](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-circuitbreaker/src/test/java/io/github/resilience4j/circuitbreaker/CircuitBreakerTest.

[2019-08-19 08:35] RobWin commented on #580
Hi,
`SupplierUtils` helps you to throw an exception when your HttpClient returns a HttpResponse with 4xx or 5xx status code. But if you control the code of `BackendService`  which uses the HttpClient internally, you could directly throw exceptions instead of using  `SupplierUtils`.

It's not an issue with Resiliencej4.

[2019-08-19 08:53] #580 closed

[2019-08-19 09:02] keltik85 commented on #580
Now i got these errors:

1. `No candidates found for method call result.getStatusCode().`
2. `Unhandled exception: java.lang.Exception`

Are the examples in the docs actually supposed to work idempotent or is the user expected to work them out through some other source?

[2019-08-19 09:08] RobWin commented on #580
This example is pseudo code, since there are thousands of different HTTP libraries and all have different exceptions and response classes.

[2019-08-19 09:47] keltik85 commented on #580
The code example does not work as advertised and its my job to figure it out. Thanks.

[2019-08-19 11:18] zacharo commented on #578
Thanks for very quick reply and for suggestions. The `retryBackoff` might indeed be a sufficient workarround for this case. The requests `should` be optimistically processed in matter of seconds.

I would like to suggest adding description or mention of this behaviour to the Bulkhead documentation somewhere -- adding the Bulkhead timeout seems potentially dangerous for reactive application.

Pleas

[2019-08-19 11:33] RobWin commented on #578
Yes, we can add it to the documentation as well. Currently it's only part of the JavaDoc of `BulkheadConfig.maxWaitDuration`:

[code]

[2019-08-19 11:46] RobWin commented on #578
Closing the issue, because I think it's not possible to implement a Semaphore which allows a thread to wait in a non blocking way. A Semaphore can't know when another thread releases a permit.
I think a leaky bucket algorithm (traffic shaping) could be useful for you.

[2019-08-19 11:46] #578 closed

[2019-08-19 19:19] Russ36363 opened #581 "Resilience4j-rxjava2 doesn't report CircuitBreaker success metrics post 0.15.0 upgrade"
With the 0.15.0 upgrade, we have noticed that success events are no longer reported for our RxJava2 circuits.

0.14.1 code:
[code]

Result of above code: A Success event is given every time onNext() is called, and a failure event everytime onError() is called.

But now, after upgrading to 0.15.0, the code transforms as such:
[code]
Results: Only onError() events are recorded by the event Publisher

[2019-08-20 07:10] RobWin commented on #554
You could use this branch as a start:
https://github.com/resilience4j/resilience4j/tree/issue-554-optional-vavr

[2019-08-21 12:20] dodg3this opened #584 "CircuitBreakerRegistry always returns circuit breaker with default config on passing just name as an argument"
Here is the code:

[code]

The circuit breaker returned here should have been configured with `testCircuitBreakerConfig`. However, it always returns a circuit breaker with defaultConfig.

As per the interface description

[code]

When I looked at the `InMemoryCircuitBreakerRegistry` implementation, it always creates a circuit breaker with defaultConfig. Here is the relevant piece of code:

[code]

[2019-08-21 13:30] RobWin commented on #584
Hi,
thanksfor trying out Resilience4j.
You are using the CircuitBreakerRegistry incorrect.

First of all: What are you trying to achieve? Do you want to set a new default configuration or add a configuration which can be shared by just some CircuitBreaker instances?

You can overwrite the default configuration as follows:

[code]

You can add a shared config to a Registry (which also has a default

[2019-08-21 13:38] chas678 opened #585 "spring boot2 circuitbreaker documentation - example YAML config missing ignoreExceptions"
"IgnoreExceptions" configuration is not mentioned in the spring boot 2 manual pages: https://resilience4j.readme.io/docs/getting-started-3
Is there yaml/properties settings that can configure which exceptions are ignored by the circuitbreaker as documented here: https://resilience4j.readme.io/docs/circuitbreaker

[2019-08-21 13:41] RobWin commented on #585
Hi,
yes ignoreExceptions is available in Spring Boot.
You can have a look at the Spring Boot 2 demo:

https://github.com/resilience4j/resilience4j-spring-boot2-demo/blob/master/src/main/resources/application.yml

[2019-08-21 13:43] RobWin commented on #585
I added it to the Spring Boot docs.

[2019-08-21 13:53] RobWin commented on #581
Hi,
there was a major refactoring in RxJava2 and Reactor Operators which was necessary due to the following issues  #361 , #311, #357.

But still there should be a CircuitBreakerOnSuccessEvent per successful subscription, means when `onComplete` is invoked on Flux and Mono.

[2019-08-21 19:57] dodg3this commented on #584
Hi Robwin,

Thanks for the reply.

We have a few client libraries that use resilience4j fir circuit breaking. These clients are used in an application where we want to publish the metrics using micrometer.

Since the TaggedCircuitBreakerMetrics needs circuitBreakerRegistry to be passed, I was figuring out a way to use circuitBreaker in the client while the app still has the reference to that circu

[2019-08-22 05:00] RobWin commented on #584
You don't have to create all CircuitBreaker instances before you create a TaggedCircuitBreakerMetrics instance. Metrics are also added when you create a CircuitBreaker at a later point in time

[2019-08-22 05:09] #575 closed

[2019-08-22 05:10] #585 closed

[2019-08-22 12:00] dodg3this commented on #584
Understood. Thanks for the help!

[2019-08-22 12:44] #584 closed

[2019-08-24 22:40] codingL3gend commented on #547
@RobWin  thanks for this update. sorry it took me some time to respond to this thread. how often does the bucket drop request or update itself when no more calls are being executed through the breaker? such as if the array bucket size is full for the sliding window time i.e 10, and then no more request execute through the breaker for it to drop/kick n-1 request from the breaker; when will it adjus

[2019-08-25 12:52] kkgulati opened #588 "registering Events using Spring Boot"
checking upon if its possible to configure/register the events ( for example circuit breaker events) when using the Resiliency4j Spring boot 2 lib. If yes, could it be configured using the yaml/prop files.

[2019-08-25 18:48] jabrena opened #589 "Circuit breaker: evaluate response as a failure"
Hi,

I was checking the options for Circuit Breaker:
https://resilience4j.readme.io/docs/circuitbreaker

But I didn´t see the possibility to evaluate a successful response as a failure. This possibility is available for another behaviour Retry:
https://resilience4j.readme.io/docs/retry

[code]

Do you think that it is possible to add something similar in this behaviour?

Many thanks in advance.

J

[2019-08-26 01:06] harishmbm commented on #589
The simplest way is to throw an exception from your client (for the successful response you want to mark as failure) and put that exception in record exception list of circuit breaker.

[2019-08-26 06:14] RobWin commented on #589
Hi,
no, not yet.
I close this issue, because it's a duplicate of https://github.com/resilience4j/resilience4j/issues/384
Please have a look at the discussion.

[2019-08-26 06:14] #589 closed

[2019-08-26 06:19] RobWin commented on #589
We created a [SupplierUtils](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-core/src/main/java/io/github/resilience4j/core/SupplierUtils.java) which helps you in situations where you can't modify the client code.

[code]