[2015-12-08 21:32] mariuszs opened #2 "Why this code needs recovering?"
[code]

Execution result:

[code]

[2015-12-09 05:49] RobWin commented on #2
Hallo,

 Thx. I have a look at it.

[2015-12-09 05:55] RobWin commented on #2
Its a bug :) that happens if you have many negative test cases to test the retry functionality but forgot to write a positive test cases :)

[2015-12-09 06:01] RobWin commented on #2
Yes, there is a break missing in
https://github.com/RobWin/javaslang-circuitbreaker/blob/master/src/main/java/io/github/robwin/retry/Retry.java#L63

Supplier should work.

[2015-12-09 06:13] RobWin commented on #2
I also update Javaslang to v2.0 as soon AS it is released

[2015-12-09 06:45] mariuszs commented on #2
Thanks, good job!

[2015-12-09 08:17] RobWin commented on #2
Should be fixed now. I added tests.

I will release v0.2.0 as soon as Javaslang v2.0 has been released.

[2015-12-10 18:58] RobWin commented on #2
Btw I love your catch-exception lib :)

[2015-12-22 14:40] flozano opened #3 "Log and listener for transitions"
It would be great if CircuitBreaker could log the transitions that it makes. Having a listener for the transition changes would help a lot also, in order to hook specific actions for specific state changes.

[2015-12-22 14:51] flozano commented on #3
Maybe it's better if I explain with detail my use-case:

I have written a wrapper for my cache abstraction layer that uses circuit-breaker to deal with network issues between my memcached servers and my java components.

In order to keep consistency of the cache, when the CB transitions from HALF_CLOSED to CLOSED I need to flush the underlying cache, because the cache will be in stale state. Now I

[2015-12-22 15:33] RobWin commented on #3
Hi,
good idea. Do you think you can create a PR?
I'm busy with Javaslang and Swagger2markup atm.

[2015-12-24 14:07] RobWin commented on #3
I have a better idea. A callback register method would be sufficient where clients can register a Consumer function which is triggered when the state changes.

[2015-12-24 14:08] RobWin commented on #3
But basically it's the same implementation

[2015-12-24 14:21] RobWin commented on #3
I started to implement it

[2015-12-30 11:18] RobWin commented on #3
See https://github.com/RobWin/javaslang-circuitbreaker#add-a-custom-event-listener

[2016-01-05 11:38] RobWin commented on #2
I've released v0.1.7 which fixes this issue.

[2016-01-05 11:38] #2 closed

[2016-01-05 11:38] RobWin commented on #3
I've released v0.1.7 which implements this issue.

[2016-01-05 11:38] #3 closed

[2016-01-21 18:13] flozano commented on #3
I am sorry, I don't have properly configured the github notices filtering in my email, and I missed your comments. Thanks a lot for taking care of the issue, and congrats for this great tool.

[2016-01-21 18:29] RobWin commented on #3
Np. Thx for the kind words :)

[2016-02-09 16:36] flozano opened #6 "Absolute number of failures instead of rate?"
failureRateThreshold is a percentage. I'd like the circuit-breaker to be triggered immediately after the first failure... Could it be possible to have an absolute value for the failures, rater than a rate?

[2016-02-09 16:39] flozano commented on #6
(version 0.2 had the very useful `maxFailures`)

[2016-02-09 17:27] RobWin commented on #6
Hi, the new Version does not support it anymore, because it the previous solution not good when the backend system is just unreliable for a short time and not down. You can either use the old version or you could set `ringBufferSizeInHalfOpenState(1)` and `ringBufferSizeInClosedState(1)` .
The previous `maxFailures=3` could be `ringBufferSizeInHalfOpenState(3)` and `ringBufferSizeInClosedState(3)`

[2016-02-09 17:29] flozano commented on #6
OK, thanks for the explanation!

[2016-02-09 17:35] RobWin commented on #6
You are welcome

[2016-02-25 16:56] RobWin opened #7 "Write benchmark for RingBitSet and optimize peformance"

[2016-04-07 08:27] flozano commented on #6
I'm sorry for reopening, but I think there is something wrong...

In order to get same behaviour as in previous `maxFailures(N)`, I have to do `.ringBufferSizeInHalfOpenState(1).ringBufferSizeInClosedState(N)`, and not include `failureRateThreshold(100)`.

This passes:
[code]

whereas this (following your instructions above) doesn't:
[code]

[2016-04-07 10:11] RobWin commented on #6
Thx. You are right. Right now the CB changes to OPEN state when the failure rate is above (>) the threshold, but it should be above or equal (>=).

[2016-04-07 10:39] flozano commented on #6
ah! so with 99 it will work as I expect :+1:

[2016-04-07 10:42] RobWin commented on #6
But I will change that behavior in the next version.
Your behavior is more intuitive.

[2016-04-07 14:32] RobWin commented on #6
I published a `0.5.0-SNAPSHOT` if you want to test the version.

[2016-04-22 06:42] RobWin commented on #6
0.5.0 has been released

[2016-04-22 06:42] #6 closed

[2016-06-12 06:14] jhalterman commented on #7
Hi @RobWin - For a reference on this issue, I recently added a circuit breaker impl to [Failsafe](https://github.com/jhalterman/failsafe) that uses a similar bitset approach to tracking failures. Positive and negative (success/failure) cardinality is updated as the bitset is changed, so it doesn't never needs to be recomputed and should perform pretty good. Have a look:

https://github.com/jhalter

[2016-06-12 07:11] RobWin commented on #7
Thx. I have a look at it.

[2016-07-01 16:57] tomfitzhenry opened #10 "Reorder arguments in decorator methods"
I have a few decorator methods that have various behaviours including rate limiting, timing, and of course, circuit breaking! I apply these in a chain, as per the decorator pattern.

`CircuitBreaker.decorateSupplier` has a type signature `Supplier<T> decorateSupplier(Supplier<T> supplier, CircuitBreaker circuitBreaker)`, so chaining multiple decorator methods looks like:

[code]

Notice that the C

[2016-07-02 06:19] RobWin commented on #10
Hi,
indeed. Looks much better that way.

If you use the library, I would love to get your GitHub Star.

[2016-11-22 11:32] RobWin commented on #10
@tomfitzhenry Did you publish your RateLimiter somewhere?

[2016-11-22 12:16] storozhukBM commented on #10
@RobWin @tomfitzhenry I've request limits implementation inspired by your library [here ](https://github.com/storozhukBM/requestlimit). But it is on early stages.
There is:
* Contracts and interfaces similar to your javaslang-circuitbreaker library
* Stupid simple implementation of request limiter
* 100% tests coverage

To make it fully usable I plan to add:
* Add full javadoc
* Write README
* Cre

[2016-11-22 12:17] RobWin commented on #10
I added the new signatures and deprecated the old signatures in the upcoming v0.7.0

[2016-11-22 12:18] RobWin commented on #10
Would you like to contribute such a feature to javaslang-circuitbreaker?

[2016-11-22 12:26] RobWin opened #12 "Implement a Rate Limiter"
Rate limiters are used to restrict the rate at which a backend is allowed to be accessed.

[2016-11-22 12:28] #10 closed

[2016-11-22 12:33] RobWin opened #13 "CircuitBreaker should publish events as an event stream and clients should be able to subscribe"
A CircuitBreaker should store (a configurage number of) handled exceptions so that you can retrieve the list of exceptions which have triggered the CB.
This helps in cases where you have to analyze some error.

[2016-11-22 12:35] storozhukBM commented on #10
@tomfitzhenry Yep. I've already look through this and several other implementations. And have overall understanding of pros and cons of different algorithms. But I don't sure that such feature should be added to javaslang-circuitbreaker because it is already concise and beautiful single responsibility library.
On my current project I've created abstraction called `Gateway`. Every API call is proxi

[2016-11-22 12:44] storozhukBM commented on #12
Didn't notice this issue. So repost my question here.
I've already look through [this](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/RateLimiter.java) and several other implementations. And have overall understanding of pros and cons of different algorithms. But I don't sure that such feature should be added to javaslang-circuitbreaker because it is alread

[2016-11-22 12:45] RobWin commented on #10
Let's move the discussion to #12. Could you copy your comment into this issue?
Besides that, @tomfitzhenry is not the maintainer, but it's me :)

If a RateLimiter implementation is lightweight in the sense that we don't need any other 3rd party libraries, we can add it to javaslang-circuitbreaker. A RateLimiter is also some sort of CircuitBreaker. A RateLimiter can forbid further calls, if a rate

[2016-11-22 12:48] RobWin commented on #12
@tomfitzhenry is not the maintainer, but it's me :)

If a RateLimiter implementation is lightweight in the sense that we don't need any other 3rd party libraries, we can add it to javaslang-circuitbreaker. A RateLimiter is also some sort of CircuitBreaker. A RateLimiter can forbid further calls, if a rate limit has exceeded.

The retry functionality is also not 100% related to CircuitBreakers.

[2016-11-22 12:53] storozhukBM commented on #12
@RobWin OK. I've got it. It'd be a pleasure to make a contribution to your project. I'll make a fork and create a pull request.

[2016-11-22 15:12] RobWin commented on #12
@storozhukBM That's great. Just put your code into a package called `ratelimiter`.

[2016-11-22 19:29] storozhukBM opened #14 "Get rid of code duplication in @Deprecated decorator methods."
We can basically call new methods inside @Deprecated

[2016-11-22 20:23] RobWin commented on #14
Yes indeed. If fix that tomorrow. Thx

[2016-11-23 07:41] RobWin commented on #12
@storozhukBM If you like, you can join our Gitter channel: https://gitter.im/javaslang/javaslang-circuitbreaker

[2016-11-23 15:14] RobWin commented on #14
Fixed

[2016-11-23 15:14] #14 closed

[2016-11-23 16:51] storozhukBM opened #15 "Write benchmark for CircularFifoBuffer and possibly optimise it"
Hi, @RobWin

I've highly optimised and fully tested analog of your `CircularFifoBuffer` in my other project.
So if don't mind I'd be happy to contribute it to this project via pull request after rate limiter implementation.
Just assign this issue on me.

[2016-11-23 18:04] RobWin commented on #15
Hi,

every contribution is great. Feel free to optimize the implementation.

[2016-11-24 12:07] RobWin commented on #13
I think I refactor this again. The CircuitBreaker should not store exceptions itself, but publish events (event stream) which contain the exception.
A system which is interested in these exceptions (events) can subscribe to the event and store the exception in a CircularBuffer itself. The CircuitBreaker is lightweight again and extendable. I think I introduce RxJava to make the CircuitBreaker an O

[2016-11-24 14:30] storozhukBM commented on #13
Hi @RobWin
Please consider usage of [ReactiveStreams](https://github.com/reactive-streams/reactive-streams-jvm/tree/v1.0.0) specification. With this interfaces the implementation will be meter of choice for library users [RxJava, Akka, Reactor...]. It also will be compatible with Java9's [Flow](http://gee.cs.oswego.edu/dl/jsr166/dist/docs/java/util/concurrent/Flow.html)

[2016-11-24 14:32] RobWin commented on #13
Yes, I will just add `org.reactivestreams:reactive-streams:1.0.0` as a compile dependency

[2016-11-26 15:12] emmanueltouzery opened #17 "try tests: how come the sleep time is zero?"
i'm trying to improve the retry tests but it seems for them the waiting time between retries is zero although we call "ofDefaults" which should mean a sleep time of 500ms. I can't find the piece of magic which overrides this sleep time for the tests?

[2016-11-26 15:49] RobWin commented on #17
Hi,

thx for contributing. It would be nice if you would like to improve the retry functionality. Maybe by introducing a delay which back offs exponentially instead of a fixed delay between delays.

[2016-11-26 15:49] RobWin commented on #17
I have a look at the tests.

[2016-11-26 15:58] emmanueltouzery commented on #17
yes!! I exactly want to add a setBackoffFunction(Function<Duration,Duration>) :-)

[2016-11-26 15:58] emmanueltouzery commented on #17
and as a first step I want to improve the tests so it's possible to asset how much time was slept. I'm almost done on that but confused because the tests don't sleep at all :-) sleep time = 0.

[2016-11-26 17:10] RobWin commented on #17
Might be a bug

[2016-11-26 17:28] emmanueltouzery commented on #17
FYI my approach is to make it possible to use another function instead of Thread.sleep, that function has a counter (and doesn't sleep) and that way we can assert how long the sleep last.

Some bits:

    private static Try.CheckedConsumer<Long> sleepFunction = Thread::sleep;

    RetryContext.testsSetSleepFunction(sleep -> sleptTime += sleep);

    assertThat(sleptTime).isEqualTo(RetryContext.DEF

[2016-11-27 15:06] emmanueltouzery commented on #17
right. now that i sat down again and looked a it again and saw it immediately...

            this.waitDuration = waitDuration.getSeconds() * 1000;

set a sleep time of 500ms (the default!!!) and getSeconds() will return 0, and you don't sleep at all, it only works at the second resolution. I'll fix that through my PR as well, coming soon!

[2016-11-27 15:06] #17 closed

[2016-11-30 08:40] #13 closed

[2016-12-02 09:39] emmanueltouzery opened #22 "Modularize project into separate Gradle modules"
at this point I use only the retry feature of circuitbreaker, but with 0.7 circuitbreaker now also pulls in for instance rxjava and other things which I don't need for such a small functionality as the retry feature.

Do you think maybe it would make sense to split the retry feature in its own artifact that the main circuitbreaker library would depend upon, so that it would be possible to depend o

[2016-12-02 09:49] RobWin commented on #22
Hi,
yes that makes sense. I will modularize the project into separate Gradle modules soon.

[2016-12-02 09:52] emmanueltouzery commented on #22
right and so there'll be several separate maven artifacts to depend on?

[2016-12-02 10:34] RobWin commented on #22
yes

[2016-12-04 09:38] storozhukBM opened #25 "Integrate RateLimiter with RxJava to publish events"

[2016-12-05 18:19] #12 closed

[2016-12-07 09:49] RobWin opened #27 "Create a new Tracing decorator"
API sketch:

[code]

A TraceEvent contains the trace ID, create time, the processing duration of the trace and a custom list of tags.

A client can consume the trace event stream and store events in InfluxDB, ElasticSearch.

We should have a look at the OpenTracing API (https://github.com/opentracing/opentracing-java)

@storozhukBM What do you thing about it?

[2016-12-07 13:15] storozhukBM commented on #27
I think this is great idea overall. I'd suggest to think about custom `trace ID` generators in advance. Maybe have a look at https://aws.amazon.com/xray/ also.

[2016-12-07 20:10] RobWin commented on #22
Sry, but I have to tell you that the next version of Retry has been refactored and requires RxJava as well. If you just need the old version of Retry, I would suggest you to copy the old classes.

[2016-12-08 05:14] emmanueltouzery commented on #22
Thank you for the heads up!  By curiosity, may i ask what rxjava brings to the table for retry? Does ot only help the implementation, or does it add user-visible features?

If it doesn't bring user-visible features that are handy, i'll probably look for (or worst-case create) a tiny no-dependency library for retrying. I already stumbled on retry4j.

[2016-12-08 05:37] RobWin commented on #22
Retry (like CircuitBreaker or RateLimiter) emits an events when it has to retry a function. It's a success event when a retry was successful and a error event when even all retries have failed. The event contains a timestamp, number of retry attempts, the last exception and a logical name of your decorated function. You can either log the events, or push retry statistics to an InfluxDb or do whate

[2016-12-08 05:37] RobWin commented on #22
https://github.com/nurkiewicz/async-retry/blob/master/README.md

[2016-12-08 06:48] emmanueltouzery commented on #22
thanks for the answer & the tips! this retry event is really something useful. I'll think it over. closing this now i then guess.

[2016-12-08 06:48] #22 closed

[2016-12-08 07:23] RobWin commented on #22
Thx.

[2016-12-08 21:38] storozhukBM commented on #15
Seems that i've screwed up with naming and all related commits weren't linked to this issue. Done in scope of https://github.com/RobWin/javaslang-circuitbreaker/pull/29.

[2016-12-08 21:39] #15 closed

[2016-12-13 17:50] #7 closed

[2016-12-14 11:25] flozano opened #33 "Ability to 'force' opening of a circuit breaker"
It would be great if a developer can force the transition to OPEN to happen whenever desired.

The use-case I have is a failing backend service that is connected from several nodes. If a node detects a failure in this backend service, in order to minimize potential inconsistency with other nodes it's best if this node can advice all other nodes to move to OPEN on their own circuit-breaker instance

[2016-12-14 19:43] RobWin commented on #33
Good idea. We can add that, but please check the new API. The CircuitBreakerEventListener does not exist anymore. The CircuitBreaker emits an event stream now which you can subscribe to and handle it this StateTransitionEvents.

[2016-12-14 23:14] flozano commented on #33
ah, seems simple enough, I will check :) in any case I guess the request still applies...

[2016-12-20 19:47] storozhukBM commented on #25
Merged with master

[2016-12-20 19:47] #25 closed

[2016-12-28 10:52] apischan opened #35 "Integration with Spring Reactor"
Is there any way to use this library with Spring Reactor? If no is there any plans to integrate it?

[2016-12-28 11:43] RobWin commented on #35
Hi,

What exactly so you want to do?
You can either convert RxJava to Spring Reactor streams by using reactor-adapter.
If you need a Spring Reactor Operator, I plan to create one. See https://github.com/reactor/reactor-addons/issues/48

[2016-12-28 11:43] RobWin commented on #35
Btw if you like this librar, we would love to get your GitHub Star.

[2016-12-28 15:56] apischan commented on #35
Yes thank you! Have sense))
p.s. Starred :+1:

[2016-12-29 14:37] #35 closed

[2017-01-01 20:45] noorulhaq opened #36 "How to set timeout to limit operation execution time?"
Hi,
I am unable to find a way to set timeout in circuitbreaker configuration to time bound operation execution like we have in Hystrix.

[2017-01-02 09:17] RobWin commented on #36
Hi,
thx for evaluating this library. If you like this library, we would love to get your GitHub Star.

I assume you mean the configuration option `execution.isolation.thread.timeoutInMilliseconds` of Hystrix?
Bulk Heading (execution isolation) is not in the scope of this library. The library let you choose if you want to execute your business logic sync or async. You can choose if you want to use

[2017-01-02 11:20] RobWin commented on #33
Would you like to contribute this feature?

[2017-01-02 15:02] noorulhaq commented on #36
Yes, you are right about setting timeout at protocol level, but unfortunately this is not always possible, especially when you are using third partly libraries. Also, the usecase may not always be a network call.
Having said that if we have timeout option in circuit breaker than it can short circuit the call to time taking operation, which is not possible if I use timeout of RxJava.

[2017-01-02 15:16] RobWin commented on #36
Why does RxJava `timeout` not work for you?
Do you want to execute your bussiness logic sync or async?

[2017-01-02 15:21] noorulhaq commented on #36
Timeout will not work in same manner as circuit breaker. The operation for which you set timeout in RxJava  will always take exection time equal to timeout. It does fail fast like curcuit breaker.

[2017-01-02 15:29] RobWin commented on #36
You could write your own Higher order function which wraps your Supplier function

[code]

Atm is not compilable, I will check the snippet tomorrow.

[2017-01-02 16:04] RobWin commented on #36
You can combine RxJava's timeout operator with the Javaslang-CircuitBreaker's RxJava operator. See Readme.

[2017-01-02 16:36] noorulhaq commented on #36
Last option seems apealing. I will get back on it once confirmed.

[2017-01-02 18:12] RobWin commented on #36
Please tell me, if it works for you.

[2017-01-03 12:55] RobWin commented on #33
I've implemented it now.
In the upcoming version you can force state transitions like this:

`circuitBreaker.transitionToOpenState();`

[2017-01-05 09:37] RobWin opened #38 "Monitor not permitted calls when the state is OPEN"
A CirucitBreaker should record calls which are not permitted when the CircuitBreaker is OPEN and should allow to monitor the metric via `CircuitBreaker.Metrics`.

[2017-01-05 12:09] #38 closed

[2017-01-05 12:12] #33 closed

[2017-01-05 12:13] #36 closed

[2017-01-05 16:23] storozhukBM opened #39 "Save previous RingBitSet values during state transition from HALF_OPEN to CLOSED"

[2017-01-06 12:53] #39 closed

[2017-01-10 10:09] RobWin opened #41 "Registry should have a method which returns a list of all managed CircuitBreaker"

[2017-01-11 12:32] RobWin opened #42 "New registry to manage instances of EventConsumers"
Requirement:
An application has to create an EventConsumer per CircuitBreaker instance to store the last 10 events of each CircuitBreaker.
The application has to store the EventConsumer in some sort of registry so that an EventConsumer can be retrieve in another code section.

See https://github.com/RobWin/javaslang-circuitbreaker-demo and Spring Boot HealthIndicator and Spring Boot Actuator Monit

[2017-01-11 12:35] #42 closed

[2017-01-11 12:35] #41 closed

[2017-01-23 03:20] mniebla opened #43 "Decorate a method which returns a CompletableFuture"
In the docs the section on working with `CompletableFuture` looks like

[code]

Doesn't seem like there is a straightforward to work with existing asynchronous code that may already return `CompletableFuture`, for example lets say I wanted to use a circuit-breaker on something that implements:

[code]

Would the recommended way to do this be:
  1. wrapping the client call in a `Supplier`
  2. impl

[2017-01-23 07:54] RobWin commented on #43
Hi, thx for evaluating this library. If you like this library, we would love to get your GitHub Star.

I guess `Client.get()`  is not lazy, but runs the the businees logic as soon as you invoke `Client.get()`?
I will add a new method `decorateCompletableFuture` to the `CircuitBreaker`.

[code]

You can use it as follows:

[code]

Kind regards,
Robert

[2017-01-23 08:05] RobWin commented on #43
I hope this works for you.

[2017-01-24 09:45] goldobin commented on #43
Hi! Have recently made the same thing in my fork of this library. You can find commit [here](https://github.com/goldobin/javaslang-circuitbreaker/commit/a2925788d77c37ca7a8d56a9634e593e4be71f91). This commit also contains implementation of AsyncRetry addressing retries with completion stage. Probably it would help as well.

[2017-01-24 09:59] RobWin commented on #43
Hi,

very nice. Your solution is better than mine.
We would be happy, if you would like to contribute it.
Just create a PR, but please change the version
👍

[2017-02-22 01:10] david-t-daniel opened #47 "OSGI support"
It would be great if osgi support was able to be added.  There is a bndtools gradle plugin that may be able to add the correct exports https://github.com/bndtools/bnd/blob/master/biz.aQute.bnd.gradle/README.md#gradle-plugin-for-workspace-builds

[2017-02-22 07:11] RobWin commented on #47
Hi,
good idea. If you have experience wit this plugin, would you like to create a PR and add this?

[2017-02-22 10:22] david-t-daniel commented on #47
I will give it a try but it may take a couple weeks since I have never used Gradle and have lots to do now. Still it is probably not a pressing issue as I am the first to ask for it. Thank you

[2017-02-22 14:36] RobWin commented on #47
Thx, no hurry :)

[2017-03-01 23:43] danieldietrich opened #48 "Rename javaslang-curcuitbreaker"
Hi Robert,
we already talked about it. Like the `spring-` prefix `javaslang-` indicates that a library belongs to the Javaslang organization. The same applies to package names.

I know that the renaming is a little bit of effort but there is already too much confusion.

It would be nice if this could be done until the next release.

Cheers,

Daniel

[2017-03-02 07:22] RobWin commented on #48
Yes, it's planned.
But we are quite busy at work atm.

[2017-03-02 09:11] RobWin opened #49 "Add execute methods to CircuitBreaker and Decorators builder."
Add execute defaults methods to the CircuitBreaker and execute methods to the Decorators builder. This makes it easier to decorate and call a function at once.
[code]
or
[code]

[2017-03-04 16:37] #43 closed

[2017-03-04 16:37] #49 closed

[2017-03-08 23:20] sean-brandt opened #51 "Reactive Streams and/or Spring Project Reactor Support"
It would be ideal if the project depended only an implementation of reactive streams:

https://github.com/reactive-streams/reactive-streams-jvm/

As opposed to a specific implementation there in. Otherwise support for Spring's Project Reactor would be advantageous as well.

[2017-03-09 09:46] storozhukBM commented on #51
Hi @sean-brandt,

This is a great idea. We've already thought about it too. Currently we have modularization project in progress. After its finish whole library will be separated into smaller modules (like `ratelimiter`, `circuitbreaker`, `retry` etc.) and we will be able to add Project Reactor support as a separate module.

As for now it should be easy to integrate javaslang-circuitbreaker with P

[2017-03-09 17:24] RobWin commented on #51
Hi,

the issue is that the CircuitBreaker is a hot stream and we needed a good and working processor implementation. ReactiveStreams does not provide implementations, but only the Interfaces.

[2017-03-09 20:29] sean-brandt commented on #51
Makes sense, on both accounts, but I've not seen anything that would prevent providing an abstract implementation of io.github.robwin.circuitbreaker.CircuitBreaker that then delegated to the appropriate publisher implementation ( rxjava or project reactor ), perhaps discovered via java service lookup to minimize dependencies.

[2017-03-10 11:19] RobWin commented on #51
Would you like to create a PR?

[2017-03-15 22:48] cpilsworth commented on #47
Created a PR with some very basic changes to add OSGi manifest headers. Just need to know if the some dependencies can be considered _optional_... see #56

[2017-03-18 08:04] cpilsworth commented on #47
@david-t-daniel take a look at the linked PR for this issue and see if it does what you need.

[2017-03-18 12:20] david-t-daniel commented on #47
I will do that this weekend.  Thank you very much for putting in the effort on this.

[2017-03-24 09:58] storozhukBM opened #61 "Permissions aren't available from the first cycle in AtomicRateLimiter"

[2017-03-24 10:55] #61 closed

[2017-03-24 10:57] storozhukBM opened #63 "Add upper limit to SemaphoreBasedRateLimiter"

[2017-03-24 10:59] #63 closed

[2017-03-25 17:22] RobWin commented on #48
Done

[2017-03-25 17:22] #48 closed

[2017-03-25 19:31] danieldietrich commented on #48
Great name!

[2017-03-26 09:09] RobWin opened #67 "Create a new Timeout decorator"
The decorator should throw a TimeoutException when a decorated (sync) call does not respond within the time window.

[2017-03-26 09:09] RobWin opened #68 "Create a new bulkhead decorator"

[2017-03-27 07:34] RobWin opened #70 "Add a Spring-Boot-Starter"

[2017-03-27 09:47] goldobin opened #71 "Add a Prometheus metrics adapter"
Integration can be done in the form of additional module with direct dependency on io.prometheus:simpleclient

[2017-03-27 09:54] storozhukBM opened #72 "Create Dropwizard Metrics integration module"

[2017-03-28 07:50] RobWin commented on #70
Use Server-Sent-Events to publish CircuitBreaker events

[2017-03-28 14:20] drmaas opened #74 "Host ratpack integration module"
Hi,

I created https://github.com/drmaas/ratpack-resilience4j, and was wondering if you're interested in hosting it here. I see you have a number of other integrations. It provides method interceptors for circuit breaking methods that return promises (and completion stage, observable, flowable, and normal values), and operators to circuit break and retry promises reactively.

Ratpack is a reactive

[2017-03-28 14:28] RobWin commented on #74
Hi,

thx. It sounds interesting. I have a look at it.
If you like Resilience4j, we would love to get your GitHub star.

[2017-03-28 14:29] RobWin commented on #74
Btw. we are also working on a Dropziward Metrics integration module.
If you also work on it, we would love to get your contributions.

[2017-03-28 14:31] RobWin commented on #74
Would you like to create a PR for your resilience4j-ratpack module?

[2017-03-28 16:02] drmaas commented on #74
I can do a PR.

My project is using groovy/spock for testing - I'm assuming you're ok with that. It has made testing much easier for me.

Also am looking to see if I can, or if I can find someone, to work on the dropwizard metrics piece.

[2017-03-28 21:21] goldobin commented on #71
Draft implementation can be found [here](8d2f96d52368f220a7101dff433c72688c8d518f).

[2017-03-29 07:27] RobWin commented on #71
Nice. Could you please add some tests?

[2017-03-29 20:10] drmaas commented on #72
@storozhukBM @RobWin is this being actively worked on? If not there are people in our org who want to work on it.

[2017-03-29 20:10] drmaas commented on #72
See #74 for reference

[2017-03-29 20:11] drmaas commented on #74
@RobWin can you assign to me

[2017-03-29 20:13] fromanator commented on #72
I work with @drmaas and would be happy to help with integrating dropwizard for metrics.

[2017-03-29 20:36] storozhukBM commented on #72
Hi guys, I'm also interested in this issue, but haven't started work yet (quite busy at work atm). So if you have time it would be great.

[2017-03-29 21:05] storozhukBM commented on #72
The only thing I've done so far is draft API design.
My plan was to create factory methods that can basically wrap our `io.github.resilience4j.circuitbreaker.CircuitBreaker.Metrics` or `io.github.resilience4j.ratelimiter.RateLimiter.Metrics` into dropwizard gauges.

API example
[code]

Maybe you guys have other ideas?

[2017-03-30 01:13] drmaas commented on #72
LGTM

The above would just need to execute after all circuitbreakers/ratelimiters are created.

[2017-03-30 01:15] drmaas opened #77 "Create retry registry"
It would be similar to the circuitbreaker registry. This would be useful for apps that use multiple retries at different places in the app, so that retries don't need to be manually injected or instantiated and passed in function arguments.

[2017-03-30 05:19] RobWin commented on #77
Would you like to create a PR?

[2017-03-30 05:25] RobWin commented on #72
I think we habe two use cases.

1) Use Dropwizard Metrics to publish the metrics of the CircuitBreaker, Retry, RateLimiter.
2) Create a Metrics decorator for Counter and Timer to measure the Response time of functions and the number of invocations

`Supplier<String> = Metrics.decorateSupplier(counter, () -> ...)`

[2017-03-30 06:40] RobWin opened #79 "Separate addons from core project"
Should we separate the addon modules from the core project and move them into an own repo?

[2017-03-30 06:44] RobWin commented on #72
I create a new metrics branch. I created an initial resilience4j-metrics module for Dropwizard metrics and moved the Stopwatch class into a new resilience4j-core module.
@storozhukBM @drmaas Would you like to review it?

[2017-03-30 06:45] RobWin commented on #71
@goldobin Could you create a PR. It simplifies the review process.

[2017-03-30 08:30] goldobin commented on #71
Yes. I will do this as soon as I complete tests

[2017-03-31 07:25] RobWin commented on #71
What about renaming `CircuitBreakerExports` to `CircuitBreakerCollector`?
RateLimiterExports as well?
What do you think?

[2017-03-31 07:28] goldobin commented on #71
I have followed the name convention of Prometheus exporters. You can see them here: https://github.com/prometheus/client_java/tree/master/simpleclient_hotspot/src/main/java/io/prometheus/client/hotspot

So probably for people who was used Prometheus  (like me ;) ) before those names would look more familiar.

[2017-03-31 08:05] RobWin commented on #72
@fromanator Do you want to go on with the task and add your code into the resilience4j-metrics module?

[2017-03-31 08:06] RobWin commented on #79
@goldobin @storozhukBM @cpilsworth @drmaas What do you think?

[2017-03-31 08:24] goldobin commented on #79
I think in general it is a good idea. Probably after reaching some critical mass of addons.

[2017-03-31 08:25] storozhukBM commented on #79
I don't think it is necessary. Such separation can bring some confusion for newcomers and also decrease popularity of the library by spreading out likes, link posts and references.
A lot of projects live all their modules together: [metrics](https://github.com/dropwizard/metrics), [hibernate](https://github.com/hibernate/hibernate-orm)...

[2017-03-31 08:28] storozhukBM commented on #79
Also GitHub has all necessary tools to manage such projects. We can use separate projects and labels for core modules and 'addons'

[2017-03-31 08:33] goldobin commented on #79
One negative point of separation is that as addons will live their own lives it will be much harder to support them and get them in sink with the latest core modules changes. For me, it is the same case as we discussed before modularisation: make one repo or make different for each module.

[2017-03-31 08:41] RobWin commented on #79
Ok. Then let's go on and only split them when we begin to struggle.

[2017-03-31 09:44] cpilsworth commented on #79
One benefit of splitting the add-ons would be allowing support for different versions of associated libraries (e.g. spring-boot, ratpack, retrofit) without tying releases to the main project.

For example, resilience4j-retrofit depends on retrofit 2.1.0 at the moment.  Let's say that retrofit 3.0.0 introduces some breaking API changes.  We may want to release the module independently to core frame

[2017-03-31 10:56] RobWin commented on #79
Good objections

[2017-03-31 18:53] RobWin commented on #74
Could you please add a README so that users know how to use it?

[2017-04-01 02:24] drmaas commented on #77
Will work on it.

[2017-04-01 03:07] drmaas commented on #79
Good points from all sides. Integrations are the key to adoption in my opinion. I agree that this should be addressed if/when the integrations start to make core changes difficult, for example, if a core changes requires changes to 8 integration modules. If you had separate repositories then core could change independently. The downside would be a confusing versioning scheme across all integration

[2017-04-01 03:19] drmaas commented on #74
Sure.

[2017-04-01 05:52] #74 closed

[2017-04-01 05:54] #77 closed

[2017-04-01 05:54] RobWin commented on #77
Thx

[2017-04-01 06:32] RobWin opened #85 "Grafana dashboard example"
@goldobin Do you have a screenshot of your Prometheus dashboard (in Grafana for example)?

[2017-04-02 13:19] RobWin commented on #77
@drmaas If you plan to contribute more, we can invite you to our Team Slack channel?

[2017-04-02 14:07] goldobin commented on #85
Hi, not yet. Planning to make it next week.

[2017-04-03 01:40] drmaas commented on #77
Sounds good!

[2017-04-03 06:20] RobWin commented on #77
Which email alias should I use to invite you? You can also join the old gitter channel and send a direct message

[2017-04-03 07:30] RobWin commented on #72
I pushed a PR which can be used as an initial draft.
Current API looks as follows

[code]

[2017-04-03 07:32] RobWin commented on #72
Should we create a separate resilience4j-circuitbreaker-metrics and resilience4j-ratelimiter-metrics module?
Otherwise it would mean that a Dropwizard user must pull both transitive modules (circuitbreaker, ratelimiter).

[2017-04-03 07:56] goldobin commented on #72
It there something in gradle like [optional dependencies in maven](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html)? I'm not 100% sure if it is applicable here.

[2017-04-03 07:56] RobWin commented on #72
Yes, Spring has a gradle plugin which supports optional dependencies

[2017-04-03 08:05] goldobin commented on #72
Probably it can solve this issue. Because if, for example, project uses CircuitBreaker -- this dependency already present. It is uncommon that people will use CB using transitive dependency through metrics module.

[2017-04-03 08:22] RobWin commented on #72
https://blog.gradle.org/introducing-compile-only-dependencies

[2017-04-03 14:11] drmaas commented on #77
you can use drmaas at gmail dot com

[2017-04-03 14:13] RobWin commented on #77
Invited

[2017-04-03 14:52] fromanator commented on #72
@RobWin I can start working on this issue this week. Also to your issue around transitive dependencies (ratelimiter and circuitbreaker), in Gradle 3.4.1 they introduced some new dependecy configuration: https://docs.gradle.org/current/userguide/java_library_plugin.html

So we could probably get away with listing circuitbreaker and ratelimiter as `implementation` dependencies.

[2017-04-03 15:17] RobWin commented on #72
I created a CircuitBreakerMetrics class. If you like you can review it and implement one for RateLimiter and Retry.

[2017-04-03 18:15] fromanator commented on #72
@RobWin working on it right now, so far what you have for the circuit breaker metrics looks great.

[2017-04-03 18:35] storozhukBM commented on #72
Hi @fromanator It seems that we have been working on the same issue. I've already implemented RateLimiterMetrics and currently working on spring boot integration of this metrics.
Sorry for inconvenience.

[2017-04-03 18:48] fromanator commented on #72
That's alright, I can move onto adding Metrics to Retry and exposing them via dropwizard in the metrics module.

[2017-04-03 18:53] storozhukBM opened #89 "Support Rate Limiter in Spring Boot Starter"

[2017-04-04 06:44] drmaas opened #90 "Think about making rxjava and javaslang optional"
It might make sense to move the rx stuff and javaslang wrappers into separate modules so people not using them will not have to consume them. Thoughts?

[2017-04-04 06:45] drmaas opened #91 "Ratpack support for retry method interceptor"
Just like `@CircuitBreaker` and `@RateLimiter`.

[2017-04-04 06:45] drmaas commented on #91
@RobWin you can assign this to me, I have something in progress.

[2017-04-04 06:48] RobWin commented on #90
This was discussed in #51.
The issue is that the CircuitBreaker, RateLimiter and Retry emit a hot stream of events and we needed a good and working ReactiveStreams processor implementation. ReactiveStreams does not provide implementations, but only Interfaces.
But we could use the ServiceLoader to load an implementation at runtime. Users could choose to use RxJava or Spring Reactor.

We use Javasl

[2017-04-04 14:31] drmaas commented on #90
Good to know, I was not aware javaslang was used so heavily.

I was reading about https://github.com/jhalterman/failsafe and saw they had 0 dependencies and some other builder patterns for specifying and reacting to circuitbreaker and retry events.

[2017-04-04 14:40] RobWin commented on #90
Yes, my design decision was not to implement thousands of event listener callback methods for all event types, but instead emit a stream of events which a client can subscribe to and handle the events on a scheduler of his choice..

[2017-04-04 14:44] RobWin commented on #90
My second design decision was to implement a library which is suitable for "functional programming"  and Javaslang was my long-term bet. Javaslang has no dependencies. So it should not be too heavyweight. It also reduces the barrier for users to apply functional programming.

[2017-04-04 14:46] RobWin commented on #90
FailSafe is the option for users who do not want to use Functional Programming (Javaslang) or Reactive Streams. But I think both programming styles are the future of programming.

[2017-04-04 15:16] drmaas commented on #90
👍  Thanks for the explanation. I think it would be helpful to capture those intentions and design decisions in the README or the website.

[2017-04-06 22:19] drmaas opened #95 "Fix CompletionStage handling support for Ratpack annotations"
* Retry
* CircuitBreaker
* RateLimiter

For each, since CompletionStage is not lazy, once `invocation.proceed()` is called, the future will execute, whether it is desired or not.

A better approach will be to switch on `invocation.getMethod().getReturnType()`, and then decide how to proceed for each return type.

Specifically for `CompletionStage`, it will be useful to only invoke the method if it

[2017-04-06 22:21] drmaas opened #96 "Support Observable and Flowable for Ratpack Retry and RateLimiter annotations"
Currently only `CircuitBreaker` annotations support Flowable and Observable. Retry and RateLimiter should also support Flowable and Observable.

[2017-04-07 15:29] drmaas commented on #95
@RobWin you can assign to me

[2017-04-07 15:42] RobWin commented on #95
👍

[2017-04-07 15:42] #91 closed

[2017-04-09 20:22] cpilsworth opened #97 "Add support for rate limiting to the retrofit module"
The initial functionality contained only circuit breaking, support for rate limiting should be added in a similar fashion.

[2017-04-11 06:07] #95 closed

[2017-04-11 06:07] #97 closed

[2017-04-11 15:47] drmaas opened #100 "Create RateLimiterOperator for Rxjava"

[2017-04-12 07:20] RobWin commented on #97
@cpilsworth Do you want to join our Slack channel?

[2017-04-12 14:37] cpilsworth commented on #97
ok, sure

[2017-04-13 06:25] drmaas commented on #100
@RobWin I think this can be closed due to #101 being merged

[2017-04-13 06:26] drmaas opened #102 "Create Retry Transformer for Rxjava2"
@RobWin I started on this, mind assigning to me?

[2017-04-13 06:33] #100 closed

[2017-04-14 03:08] drmaas commented on #96
Depends on #102

[2017-04-15 04:24] drmaas commented on #102
@RobWin This can be closed

[2017-04-17 14:37] drmaas commented on #96
@RobWin can be closed

[2017-04-17 14:46] #96 closed

[2017-04-19 17:50] #102 closed

[2017-04-20 04:02] drmaas opened #105 "Add ratpack ratelimiter handler"
This will allow using a rate limiter on any/all url endpoints defined in a ratpack server.

[2017-04-20 06:46] #105 closed

[2017-04-20 19:44] storozhukBM opened #109 "RatelimiterTransformerSpec fails randomly on CI"
Failed build https://travis-ci.org/resilience4j/resilience4j/builds/224090228

[2017-04-20 19:44] storozhukBM commented on #109
@drmaas can you take a look

[2017-04-21 03:03] drmaas commented on #109
Yep. Potentially can look into using something like https://github.com/jhalterman/concurrentunit.

[2017-04-21 21:39] #109 closed

[2017-04-26 15:19] arthupka commented on #51
I'd love to see this being implemented, because we are considering to use this library in our new product components. We are going to use reactor and want to keep the footprint as low as possible. Therefore, having both libraries on the classpath would be a disadvantage.
Once I got some hands on with this, I would love to contribute to make this happen.

Is there any status on the decomposing work

[2017-04-26 17:12] storozhukBM commented on #51
Hi @arthupka,
We've finished decomposition already but rxJava is still implementation we use.
Of course we'd appreciate you contribution of this refactoring.
Currently we're working on documentation polishing for 0.9.0 release.
I think after 0.9.0 release we can work on this `service lookup` implementation.

[2017-04-27 06:34] RobWin commented on #51
We could either use Java's ServiceLoader to load a concrete implementation of a ReactiveStream ` Processor` or we could implement it similar to Spring Boot's [`OnClassCondition`](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/condition/OnClassCondition.java).  We could check if RxJava or Reactor is on the cl

[2017-04-28 07:24] RobWin commented on #68
See PR #114

[2017-05-02 08:54] xaviarias opened #115 "Cannot find artifacts in Maven Central"
Hi, I am looking for `resilience4j` in Maven central but the only result I find is `ratpack-resilience4j`.

I used to have a dependency on `javaslang-circuitbreaker`. How can I use `resilience4j` from my Maven project?

And another question, is it planned to migrate Resilience4j to Vavr?

Thanks for this great project !

[2017-05-02 08:59] storozhukBM commented on #115
Hi @xaviarias,

You can't find it because we haven't released it yet.
Currently we're working on documentation and BulkHead component.
So I think we will release 0.9.0 version with new name next week.

[2017-05-02 09:01] RobWin commented on #115
Yes, we plan to migrate to Vavr as soon as a new version is released.

[2017-05-02 09:25] RobWin commented on #115
I open the issue so that other users can see the current state.

[2017-05-04 18:20] storozhukBM opened #117 "Zero allocation rate for CircuitBreaker"
Hi team,

I've made small experimental branch (zero_allocation_rate_for_CB) with some performance improvements.
My changes basically give us zero allocation rate in case when CircuitBreaker has no event subscribers, with a sacrifice of CircuitBreaker API changes.
[Benchmarks comparison](https://github.com/resilience4j/resilience4j/compare/dd0e3bd...f90f37e?&diff=split&name=f90f37e#diff-938c28ed2f4

[2017-05-04 18:25] storozhukBM commented on #72
Hi @fromanator,
Have you made any progress on this?
Just let me know maybe I can help or pick it up.

[2017-05-04 18:27] storozhukBM commented on #68
I think we can close it. @RobWin please confirm.

[2017-05-04 18:34] storozhukBM commented on #85
Seems we can close it.

[2017-05-04 18:34] #85 closed

[2017-05-04 18:35] #68 closed

[2017-05-05 06:43] RobWin commented on #117
Hi @storozhukBM,
good questions. In general I'm not a fan of APIs which use `int` or `long` for time values. You never know if it is s, ms or ns. I really prefer the new Java8 Date/Time API.
The second change eliminates the use of the Supplier interface and lamda expressions. You can read many articles about Java8 Lambda Expression GC (e.g. https://www.infoq.com/articles/Java-8-Lambdas-A-Peek-Unde

[2017-05-05 08:11] storozhukBM commented on #117
`lambda expressions are highly optimized (in the compiler)`
Yes, that is the case for lambdas that aren't capturing the scope. Example:
[code]
Such lambdas never allocate. But it is not our case because we capture:
[code]
in this case we capture `this`, `duration` and `throwable`.
So simple Supplier elimination in `CircuitBreakerStateMachine` drop allocation rate from `150 MB/sec` to `90 MB/sec`.

[2017-05-05 08:14] storozhukBM commented on #117
Most of the time our users don't use `onError` and `onSuccess` methods directly so it shouldn't degrade their user experience.

[2017-05-05 22:06] gibffe commented on #117
I took a quick look at the branch - I can see value in using both primitives and complex types. I guess it is a tricky balance.

We're planning on pushing a cumulative ~3k tps per jvm across a bunch of circuit breakers - I would, quite selfishly, not think twice about Duration being replaced by a primitive type. From my perspective it serves little purpose beyond creating additional GC pressure.

[2017-05-06 07:36] storozhukBM commented on #117
Hi @gibffe,
Thank you for your code review. I've replied on your comments.
I'm completely agree with your statement that in such a low level code we can sacrifice purity of API a little bit.

[2017-05-06 10:40] RobWin commented on #117
Ok. Then lets change it to long then.

[2017-05-08 16:36] storozhukBM commented on #89
Merged

[2017-05-08 16:36] #89 closed

[2017-05-08 16:43] storozhukBM commented on #117
Merged

[2017-05-08 16:43] #117 closed

[2017-05-08 21:08] storozhukBM commented on #72
@RobWin
I've added Spring Boot Autoconfig for RateLimiter metrics in PR #121 so after merge I think we can close this one.

[2017-05-09 01:53] drmaas commented on #90
Closing, as this does not seem to align with project design principles.

[2017-05-09 01:53] #90 closed

[2017-05-09 05:47] drmaas opened #122 "Add autoconfiguration for dropwizard and prometheus metrics in ratpack"
@RobWin pls assign to me, I have some stuff in flight.

[2017-05-09 06:14] #70 closed

[2017-05-09 06:15] drmaas opened #123 "Autobuild circuitbreaker, retry, ratelimiter registry from properties"
This would build the registries if yaml, properties, env vars, system props, etc were provided. Would work similarly to the spring boot property support.

@RobWin you can assign this to me as well.

[2017-05-09 06:42] RobWin commented on #71
@goldobin Do you think it also makes sense to add a `Metrics` interface to the Prometheus module which allows to measure the performance of  functions?
Similar to our Dropziward version: https://github.com/resilience4j/resilience4j/blob/master/resilience4j-metrics/src/main/java/io/github/resilience4j/metrics/Metrics.java

[2017-05-09 07:47] goldobin commented on #71
@RobWin Makes sense. Will work on it.

[2017-05-09 07:52] RobWin commented on #71
I reopen the issue, ok?

[2017-05-09 07:56] goldobin commented on #71
Yes, sure

[2017-05-10 05:39] #122 closed

[2017-05-10 18:01] drmaas opened #126 "Create ratpack circuitbreaker, ratelimiter sse event streams"
Create a handler for circuitbreaker, ratelimiter, and retry that will render the latest events sent.

In the module config, this should be configurable so we can turn it on or off.

Use the spring boot endpoints as a reference.

[2017-05-11 10:10] RobWin commented on #72
I refactor the Metrics interface.

[2017-05-11 10:37] RobWin commented on #71
I refactored the Metrics interface and renamed it to Timer. Please see PR: https://github.com/resilience4j/resilience4j/pull/127

[2017-05-11 11:01] RobWin opened #128 "Migrate Javaslang to Vavr"
Vavr 0.9.0 has been release which matches Javaslang 3.0.0

compile 'io.vavr:vavr:0.9.0'

[2017-05-11 11:05] RobWin opened #129 "Update RxJava to 2.1.0"

[2017-05-11 14:39] #129 closed

[2017-05-11 14:39] #128 closed

[2017-05-11 22:05] storozhukBM commented on #72
Refactoring is finished. Closing issue.

[2017-05-11 22:05] #72 closed

[2017-05-12 09:13] RobWin opened #134 "Add Bulkhead to Decorators class"

[2017-05-12 09:22] RobWin opened #135 "Support decoration/execution of CompletionStage in Ratelimiter"
Please see CircuitBreaker or Bulkhead implementation.

[2017-05-12 09:40] #134 closed

[2017-05-14 19:14] storozhukBM commented on #135
Merged

[2017-05-14 19:14] #135 closed

[2017-05-16 10:18] RobWin commented on #115
Done.
The libraries are available now.

[2017-05-16 10:18] #115 closed

[2017-05-16 10:20] RobWin commented on #27
@drmaas @goldobin @cpilsworth What do you think about this.

[2017-05-16 19:54] jkwatson opened #137 "Document thread-safety of resilience4j primitives"
Even if it's "everything is totally thread safe", it would be good to document that fact.  In particular, knowing if a `Retry` can be used for multiple requests, or if a new one needs to be created per request would be very helpful.

[2017-05-16 21:48] cpilsworth commented on #27
I don't know much about OpenTracing, but from what I see there is a hierarchical relationship between tracers.

Do you imagine something like:
[code]

I wonder what the api would look like as functions are composed.  Lets say `backendService.doSomething` called `backendService.doSomethingElse`.  We could use `Tracing` to decorate the call to `backendService.doSomethingElse` inside `backendService.

[2017-05-17 04:58] RobWin commented on #137
Hi,
good point.
We should so that.

[2017-05-17 06:06] drmaas commented on #123
In progress.

[2017-05-17 09:18] RobWin commented on #137
CircuitBreaker, RateLimiter and Bulkhead can be used for multiple requests and can be shared, because they are thread-safe.
Retry is indeed an exceptional case. We should try to change that.
Right now, you need a new Retry instance for every request.

[2017-05-17 14:28] jkwatson commented on #137
Thanks for the info. That's what I guessed from reading through the source. Thanks for adding the documentation!

[2017-05-17 14:29] RobWin commented on #137
I almost have an implementation which fixes this design flaw.
A Retry can then be shared and used for multiple requests. I create a PR soon.

[2017-05-17 14:50] RobWin commented on #137
@storozhukBM Please review my changes.
@jkwatson If you like you can also have a look at it.

[2017-05-18 06:43] kai33 opened #139 "Support failure rate threshold < 1?"
Hi Resilience4j team,

I was trying the library, it's great and provides exactly what I need.
Just that in the circuit breaker config, it has a limit that `failureRateThreshold must be between 1 and 100`.

May I know is there any historical reason that it can't be < 1 (still > 0)?
Because I have a use case which is really sensitive to the failure rate (like 0.05%)

[2017-05-18 06:58] RobWin commented on #139
Hi @kai33
Thx for evaluating Resilience4j. If you like it, we would love to get your GitHub star :)
Indeed, we never thought that someone would need such a sensitive failure rate. How did you configure your `ringBufferSizeInClosedState`? You need a size of 2000 so that 0.05% makes sense. 1 failed call out of 2000 would change the CircuitBreaker state to OPEN.

We could change that in the next rele

[2017-05-18 07:06] kai33 commented on #139
Thank you! starred :+1:
Yes it'll require a larger ringbuffer size

[2017-05-19 09:55] storozhukBM opened #140 "Zero allocation rate for Timer, Retry and allocation config for RateLimiter."
It is possible to achieve zero allocation rate for `Timer`, `Retry` components.
For `RateLimiter` our default is `AtomicRateLimiter` which is not garbage free but doesn't require additional `Thread` for state management. `SemaphoreBasedRateLimiter` is garbage free and I think we can add `RateLimiterConfig` option of what to use by default.

I'll create prototype branch where we can explore all thi

[2017-05-19 10:16] storozhukBM opened #141 "Allow explicit ordering for CircuitBreaker and RateLimiter aspects in SpringBoot starter"

[2017-05-19 12:58] RobWin commented on #137
Done. The SNAPSHOT version 0.9.1 and the next release will allow to reuse a Retry instance.

[2017-05-20 11:50] #123 closed

[2017-05-22 02:22] drmaas opened #145 "Add timeout capabilities to circuit breakers"
Currently circuit breakers are error-based. It would be great if we could specify a circuitbreaker that would open in the present of an error OR if the length of execution of the operation exceeds its configured threshold.

This would work similarly to what Hystrix does. https://github.com/Netflix/Hystrix/wiki/Configuration#execution.isolation.thread.timeoutInMilliseconds.

Hystrix provides a coup

[2017-05-22 11:32] RobWin commented on #145
We are discussing about the implementation of a TimeLimiter decorator in PR #142

[2017-05-23 03:11] drmaas commented on #145
Cool, closing.

[2017-05-23 03:11] #145 closed

[2017-05-23 08:00] RobWin commented on #67
See disucssion in PR: https://github.com/resilience4j/resilience4j/pull/142

[2017-05-23 13:16] storozhukBM opened #146 "Implement managed ExecutorService with integration of resilience4j features."
We can create our own implementation of ExecutorService which will integrate all our features: CircuitBreaker, RateLimiter, Retry, Bulkhead, Timeout...
And also will be easy monitor-able and convinient to use.
And I want also implement "Thread injection" algorithm described in this paper and also here.
This will give us ability to maximize ExecutorService throughput with minimal resources possible

[2017-05-23 13:18] storozhukBM commented on #67
For now we can leave in `Timeout` only decorators for `java.util.concurrent.Future` and `Future` supplier. This decorators still will be convinient to use with any type that implements` Future` interface and there are whole bunch of them almost in any async library or framework:

1.1. CompletableFuture (from JDK)
1.2. AsyncResult (from Spring)
1.3. Promise (from Netty)
1.4. HttpRequestFutureTask (

[2017-05-24 00:09] maarek commented on #146
Have you seen this ExecutorService?

[](http://belliottsmith.com/injector/)
[](https://github.com/belliottsmith/injector)

[2017-05-24 05:50] RobWin commented on #146
@maarek Are you interested to contribute more? If yes, I can invite you to our Slack channel

[2017-05-24 15:41] maarek commented on #146
@RobWin  Sure, time permitting.

[2017-05-25 04:47] drmaas commented on #126
Tasks:
- [ ] Circuitbreaker events
- [ ] Ratelimiter events
- [ ] Retry events
- [ ] configure each endpoint (enable/disable, path, event buffer size)

[2017-05-25 14:22] maarek commented on #146
@RobWin You can invite me at the email github@lostgateway.com.

[2017-05-29 06:36] RobWin opened #148 "Create an event dispatcher/handler"
Create an event dispatcher/handler which subscribes to an event stream and which provides callback methods like:

`circuitBreaker.getEventHandler().onError(CircuitBreakerOnErrorEvent event -> ....);`
`circuitBreaker.getEventHandler().onSuccess(CircuitBreakerOnSuccessEvent event -> ....);`
`circuitBreaker.getEventHandler().onStateTransition(CircuitBreakerOnStateTransitionEvent event -> ....);`

We

[2017-05-29 06:39] RobWin commented on #51
@storozhukBM Do you have any preference?

[2017-05-31 04:27] #126 closed

[2017-05-31 13:02] RobWin commented on #148
implemented

[2017-05-31 13:02] #148 closed

[2017-05-31 13:20] #139 closed

[2017-06-02 06:39] RobWin commented on #51
I remove RxJava2 and create Adapters for RxJava2 and Spring Reactor.

[2017-06-06 14:24] RobWin commented on #51
v0.10.0 does not need RxJava2 anymore. We added event stream converters/adapters for RxJava2 and Spring Reactor

[2017-06-06 14:24] #51 closed

[2017-06-07 07:19] #67 closed

[2017-06-07 07:19] #137 closed

[2017-06-19 23:03] drmaas opened #153 "Fixed CircuitBreakerTransformer error messaging"
See https://github.com/resilience4j/resilience4j/blob/45d274088aa8af8e29c34b6b8dfd39c0e27dafe9/resilience4j-ratpack/src/main/java/io/github/resilience4j/ratpack/circuitbreaker/CircuitBreakerTransformer.java#L93 as an example.

[2017-06-19 23:07] drmaas opened #154 "Provide fallback for specific exception types for ratpack applications"
Something like
[code]

[2017-07-27 14:22] #153 closed

[2017-08-21 07:11] vietj opened #156 "Add ref in Vert.x Awesome"
Hi,

this projects seems to integrate with Vert.x, it would be great to reference in Vert.x Awesome page : https://github.com/vert-x3/vertx-awesome

[2017-08-21 07:17] RobWin commented on #156
Hi @vietj,
Vert.x integration is not mature yet. It just provides a way to decorate a Vert.x Future with a CircuitBreaker.
Retry/Bulkhead/RateLimiter is not supported yet. I think it's too early.

[2017-08-30 09:14] clasnake opened #157 "Use ring bit buffer to store whether previous execution exceeds the time limit"
Currently, the TimeLimiter uses a Timeout duration to determine whether an execution should be considered TIMEOUT and go to fallback logic.
Is it possible to use a ring bit buffer to store this information as well and change the state of the circuit breaker to OPEN when the TIMEOUT ratio exceeds some threshold? Just as the current solution for ERROR ratio in the circuit breaker.

[2017-08-30 09:37] RobWin commented on #154
Hi,
any progress ? :)

[2017-08-30 09:43] RobWin commented on #157
Hi,

do I understand you correctly.
You want to change the circuit breaker to OPEN when too many requests time out?

You could wrap you function with a TimeLimiter and then with a CircuitBreaker.

[code]

A TimeoutException counts as an ERROR then

[2017-08-30 09:48] clasnake commented on #157
Thank you for your reply. This is exactly what I need.

[2017-08-30 09:50] clasnake opened #158 "Missing guide for TimeLimiter on http://resilience4j.github.io/resilience4j/"
Hello,
Seems we still lack the tutorial for TimeLimiter on the site http://resilience4j.github.io/resilience4j/.
Any plan to enrich that?

[2017-08-30 09:51] RobWin commented on #158
Yes, we should do that :)

[2017-08-30 09:52] RobWin commented on #157
Btw, when you use Swagger, you should have a look at https://github.com/Swagger2Markup/swagger2markup ;)

[2017-08-30 10:01] clasnake commented on #157
Oh this is interesting! I'll take a look and give it a try in my recent work.

[2017-08-30 10:03] clasnake commented on #157
@RobWin So to check my understanding, Hystrix's timeout only works when we choose the ThreadPool approach, but it does not work correctly if we choose the SEMAPHORE one. If what I need is to treat those TIMEOUTs as errors in order to trip the circuitbreaker, this solution works even though we are executing commands in the caller's thread here using resilience4j. Is that right?
Thanks.

[2017-08-30 10:56] RobWin commented on #157
No, right now it's only possible to time out Futures or CompletableFutures. You can't time out a call in the same thread.

[2017-08-30 11:01] storozhukBM commented on #157
Hi @clasnake,

It will work even if you're executing your **Callable** within the same thread, but you should make sure that your **Future** implementation handles `get(long timeout, TimeUnit unit)` and `cancel(boolean mayInterruptIfRunning)` method properly.

Resilience4j relies on these methods to perform **timeout** and **interruption**.

[2017-08-30 13:48] clasnake commented on #157
@RobWin @storozhukBM Gotcha. Thanks.

[2017-08-30 13:48] #157 closed

[2017-08-30 17:27] drmaas opened #159 "Allow circuitbreakers to be enabled and disabled via CircuitBreakerConfig"
This would be helpful for being able to bypass a circuitbreaker without making code changes. We could then just make config changes to drive the behavior.

@RobWin thoughts?

[2017-08-30 20:19] RobWin commented on #159
Sounds reasonable.

[2017-08-30 20:19] RobWin commented on #159
But the circuitbreaker is immutable at the moment.

[2017-08-30 21:11] fromanator commented on #159
Another option would be to add a new `CircuitBreakerState` that are either stuck open or closed, aka a terminal state. It could be triggered manually, something like `CircuitBreaker.transitionToStuckOpenState()` and `CircuitBreaker.transitionToStuckClosedState()`. To get out of either of these stuck states you would have to manually reset the FSM e.g. `CircuitBreaker.transitionToClosedState()`

[2017-08-31 07:07] RobWin commented on #156
Done.

[2017-08-31 07:07] #156 closed

[2017-08-31 07:08] RobWin commented on #141
Any idea how to solve it?

[2017-08-31 07:10] RobWin commented on #146
@storozhukBM @maarek Do you have to time to add this feature?

[2017-08-31 07:28] RobWin commented on #159
I like the idea of having a `NoOpState` and `circuitBreaker.transitionToNoOpState()`.
But is that suitable for you @drmaas. Instead of changing the config of a CircuitBreaker, your application could react on events and call `circuitBreaker.transitionToNoOpState()`, when required.

[2017-08-31 08:54] storozhukBM commented on #141
We have 2 options here:
1) We can strictly define aspects order using **org.springframework.core.annotation.Order** annotation.
2) Or we can make it user definable via additional custom annotation.

Personally I'd use  strictly defined order where RateLimiter should be applied first and CircuitBreaker second.
This will lead to the following sequence:
`ProtectedOperation -> CircuitBreaker -> RateLi

[2017-08-31 09:00] storozhukBM commented on #146
Currently I'm waiting for some real use case scenario in my practice, in order to proof my design thoughts with real examples. If you or other users have some use cases, please describe them below and we'll take them into account during desing.

[2017-08-31 14:39] drmaas commented on #159
@RobWin I think that is workable.

To play out the scenario, let's say we want to disable a circuitbreaker for an external api call. We change the config, and the app restarts based on that and picks up the new config. Our app will need startup logic for each circuitbreaker to transition it to the NoOp state if we disabled it, otherwise we just create it as before.

[2017-08-31 15:20] RobWin commented on #159
No, no config change required. We/You could provide a HTTP-based management endpoint to disable and enable CircuitBreakers. The endpoint invokes the corresponding transition method. That way you can change it at runtime without a restart.

[2017-08-31 15:49] fromanator commented on #159
@RobWin I was thinking it would be useful to have a state where the circuit breaker is basically not there or stuck open.

For example you may want to completely disable the circuit breaker, and in the case of the ratpack implementation do not use the recovery function, this could be the `NoOp` state.

However you may also want to have a circuit breaker stuck open, but have it still execute the re

[2017-09-01 10:42] RobWin commented on #159
You mean when the CircuitBreaker is in StuckOpen, it never switches back to HalfOpen?
And NoOp means that the CircuitBreaker neither changes the state nor tracks execution result statistics?

[2017-09-01 16:21] fromanator commented on #159
Yeah that's what I was thinking, transitioning in/out of these states would be manually done. Having these states would allow for manual intervention for support roles, now that I think of it the NoOp state is a little silly, I think a StuckClosed would be better.

Case for StuckOpen:
For example you can preemptively set a circuit breaker to StuckOpen if it's a call to an external service that wil

[2017-09-03 06:58] RobWin commented on #159
Yes, that would be an awesome feature. Do you have time to create a PR?

[2017-09-03 14:37] fromanator commented on #159
I will start working on it after the long weekend.

[2017-09-04 07:29] RobWin commented on #159
:+1:
If you have questions, I can invite you to our Slack channel.

[2017-09-04 15:12] matejuh opened #160 "CircuitBreakerTransformer invalid exception message"
Groovy String is used:
`new CircuitBreakerOpenException("CircuitBreaker ${circuitBreaker.name} is open")`

[2017-09-04 15:17] matejuh commented on #160
Already fixed in not released code: https://github.com/resilience4j/resilience4j/commit/83ffdafc73995a96e3be34a79bb6424d926e3452

[2017-09-04 15:17] #160 closed

[2017-09-05 06:41] RobWin commented on #160
Yes, we have to release a new version soon.

[2017-09-13 07:42] matejuh commented on #160
Do you have any ETA? It would be useful for us also for JMX monitoring...

[2017-09-14 06:34] RobWin commented on #160
No, not yet.
I'm waiting for a PR for this issue: #159

[2017-09-15 06:56] RobWin opened #161 "Spring Boot Prometheus AutoConfiguration is not working"
Adding only this two dependencies

[code]

results in the next message after starting:

[code]

[2017-09-15 07:47] RobWin commented on #161
@ciberado Could you please try `0.10.1-SNAPSHOT`.

[2017-09-15 08:05] RobWin commented on #160
I think I can release a 0.10.1 soon. We can include the PR in 0.11.0

[2017-09-15 09:51] matejuh commented on #160
Thanks! That would be great and help us a lot... Please do it!

[2017-09-15 10:48] RobWin commented on #160
Just waiting for #161

[2017-09-17 10:54] ciberado commented on #161
Works like a charm. Thanks!

[2017-09-17 10:59] RobWin commented on #161
Thx, I release a new version tomorrow.

[2017-09-18 06:12] RobWin opened #162 "Support for MicroMeter"
Micrometer provides a simple facade over the instrumentation clients for the most popular monitoring systems, allowing you to instrument your JVM-based application code without vendor lock-in. Think SLF4J, but for metrics.

http://micrometer.io/

[2017-09-18 06:44] RobWin commented on #161
I've released v0.10.1

[2017-09-18 06:44] #161 closed

[2017-09-18 06:44] RobWin commented on #160
I've released v0.10.1

[2017-09-20 19:16] storozhukBM commented on #158
Hi @clasnake,
Please checkout new documentation added in https://github.com/resilience4j/resilience4j/pull/152

[2017-09-20 19:16] #158 closed

[2017-09-20 19:17] storozhukBM commented on #141
@RobWin any thoughts on it?

[2017-09-21 06:46] RobWin commented on #141
The Aspects could implement the `Ordered` and we could inject `CircuitBreakerProperties` or `RateLimiterProperties` and make the order configurable?

[2017-09-24 08:25] clasnake commented on #158
Perfect!

[2017-09-29 14:11] eleduardo opened #164 "Extend circuit breaker metrics to report the state"
The metrics that the circuit breaker reports are good but it seems that an overall metric to report state and specially if the circuit breaker is open is needed. The reason for this is that it simplifies the ability to add monitors on different backed systems (Kapacitor, DataDog, etc). The additions are very simple as can be seen here

https://github.com/resilience4j/resilience4j/pull/163

[2017-09-29 14:49] storozhukBM commented on #164
Hi @eleduardo,

Thank you for this issue and contribution.

Actually, right now you can easily identify that `CircuitBreaker` switched to `OPEN` state by `NumberOfNotPermittedCalls` metric. It is only increased when the `CircuitBreaker` state is `OPEN`.

As for #163 changes. I'm afraid that this metric can be really misleading. If your `metrics reporting period` is bigger then `CircuitBreakerConfi

[2017-09-29 16:50] RobWin commented on #164
hi @eleduardo, do you use a framework like Spring Boot, Vertx or Dropwizard which provide health endpoints? Our Spring Boot starter adds the state information of all circuitbreakers to the health endpoint.
Do you use a metric/monitoring system which polls the metrics or do you push metrics to a system like InfluxDB? if you push metrics, you could just consume state transition events and push thr s

[2017-09-29 16:56] RobWin commented on #164
Our prometheus exporter also publishes states. See http://resilience4j.github.io/resilience4j/#_introduction_6 and dashboard example. If we add states to Dropwizard Metrics as well, we should try to implement it similar.

[2017-09-29 18:07] eleduardo commented on #164
@RobWin  got it, I can change the PR to report the status per state. Unfortunately dropwizard metrics/codahale (as of now) does not support tags/labels so I would basically add 3 new metrics state_open, state_closed, state_halfopen. This would be the closest.

@storozhukBM As for missing the state on flapping this is a valid concern but for some type of alerting/visualization it seems a lot of ove

[2017-09-29 19:18] RobWin commented on #164
Yes, please adapt your PR. Thank you for contributing!

[2017-09-29 20:56] eleduardo commented on #164
Please let me know if the PR looks ok or what other changes you would like. Thanks!

[2017-10-01 18:16] RobWin commented on #164
Do you think it would be more useful to report all states as one Integer gauge? 0 = Closed,
1=half_open, 2 open? We plan to add new states (stuckOpen and stuckClosed). A different gauge for each state could be too much.
#159

[2017-10-02 12:55] eleduardo commented on #164
@RobWin  Yes, that makes sense. I will update the PR.

[2017-10-06 21:44] storozhukBM commented on #141
Merged to master. Will be included to the next release.

[2017-10-06 21:45] #141 closed

[2017-10-06 21:48] storozhukBM commented on #71
Hey guys, do we still working on this issue?

[2017-10-06 21:49] storozhukBM commented on #164
Merged to master. Will be included to the next release.

[2017-10-06 21:51] #164 closed

[2017-10-07 07:22] goldobin commented on #71
Hey. It is finished. I think we can close it.

[2017-10-07 07:23] #71 closed

[2017-10-16 02:22] quaff opened #168 "Decouple vavr dependence"
People like as less dependences as possible, and vavr is not widely used, I think vavr supports should separate into addons such as resilience4j-circuitbreaker-vavr or resilience4j-vavr.

[2017-10-16 09:44] storozhukBM commented on #168
Hi @quaff,
This issue was already discussed some time ago within https://github.com/resilience4j/resilience4j/issues/90.
If you some new arguments or thoughts about it, please feel free do bring them up.

[2017-10-16 20:33] gibffe opened #171 "bulkhead ratelimit"
So we've had our rx bulkhead operator in production for a while - so far so good.

An interesting use case came about recently - certain events on the platform (cache flushes, service restarts, etc) lead to a gate rush scenarios, were we're very quickly ramping up traffic in a certain direction. Bulkhead does it's job, but for a short period of time, a downstream service is overwhelmed with reques

[2017-10-17 07:30] storozhukBM commented on #171
Hi @gibffe
So you want to allow short term spikes on bulkhead? or maybe I don't fully get your idea 😄

[2017-10-17 07:34] RobWin commented on #159
@fromanator Did you have time to work on this issue?

[2017-10-17 07:39] RobWin commented on #171
Couldn't this be solved by using a CircuitBreaker and/or RateLimiter? This would help a downstream service to get healthy again.

[2017-10-17 08:25] jansyk13 opened #172 "Retry bugdet implementation"
It would be cool to implement retry budget policy for retries, current retry policy can cause retry hell. We would like to use it for retrying requests to our downstream services. I know that combination of retry and circuit breaker could have similar effects. Example of the policy is described here https://finagle.github.io/blog/2016/02/08/retry-budgets/ and in their guide there is more informati

[2017-10-17 08:28] RobWin commented on #172
Hi, interesting idea. Indeed, a retry bugdet solves a different issue than a circuit breaker. Feel free to prepare a PR.

[2017-10-17 08:43] storozhukBM commented on #172
Great idea @jansyk13, looking forward for it.

[2017-10-18 00:32] gibffe commented on #171
I'll look into the rate limiter a bit more. Ty ;)

[2017-10-18 00:32] gibffe commented on #171
@storozhukBM The opposite - prevent spikes. I'll look into using rate limiter.

[2017-10-18 09:39] storozhukBM commented on #171
Great if you have any questions, I'll be happy to help.

[2017-10-18 09:39] #171 closed

[2017-11-04 00:25] gibffe commented on #172
Any eta on rx operator for this ? :) Love the idea.

[2017-11-04 20:29] jansyk13 commented on #172
@gibffe still in a process of figuring out, how it should work...
My proposition:
* use RingBitSet (implemented in r4j)
* 3 params: (ring size, % of allowed retries, max # retries per execution)
* onFinishedExecution - mark false in set(both success and failure), maybe mark false could be only onSuccess
* onFailureExecution - check if retry is allowed and if yes proceed and mark true in set(in cas

[2017-11-05 15:42] storozhukBM commented on #172
I'd user RateLimiter for it.

[2017-11-05 15:43] storozhukBM commented on #172
Where you can retry but not faster then N times per sec or per minute...

[2017-11-05 19:46] gibffe commented on #172
I'd rather configure this in terms of % not tps (as in finagle example).
Coupling retry budget to tps is not ideal imo.

On Nov 5, 2017 7:43 AM, "Bogdan Storozhuk" <notifications@github.com> wrote:

Where you can retry but not faster then N times per sec or per minute...

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/resil

[2017-11-17 19:04] efenderbosch opened #174 "Possible to create a dynamic rate limiter?"
Some APIs have strict limits. However, we need to put a rate limit on API calls to servers of unknown CPU/RAM. We can probably write a plugin to get stats reported back to us, and scale the rate limit up/down, but then we need to modify the existing ``RateLimiter``. ``RateLimiterConfig`` doesn't have any mutator methods.

Could setters be added for ``timeoutDuration``,  ``limitRefreshPeriod`` and

[2017-11-17 19:26] storozhukBM commented on #174
Hi @efenderbosh,
Yes, it is possible. In fact I’ve already thought about few times, but haven’t found any real use case in my project, so decided to wait for some, before making any changes. Could you please describe your use case in details? I’m interested in such things: what params you want to change dynamically, only limits per cycle or limit refresh period also? How your program will make dec

[2017-11-17 20:18] efenderbosch commented on #174
We've been using the old ``io.github.robwin`` ``CircuitBreaker`` and ``RateLimiter`` classes for a while, but we've always used them when connecting to an API that has specific limits, like SendGrid or Shopify.

We're creating new multi-tenant integrations that connect to APIs that don't have built in rate limits. We also won't necessarily know the size/capacity of the server that will be serving

[2017-11-20 09:54] storozhukBM commented on #174
@efenderbosch I think it should be enough. I'll think about possible solutions and will come back after few days.

[2017-11-22 12:41] danielimre opened #175 "Add support for Maybe and Completable"
RxJava2 support should include operators for `io.reactivex.Maybe` and `io.reactivex.Completable`
Now, the only workaround I found is converting them to `Observable` and use the appropriate operators.

[2017-11-22 12:41] RobWin commented on #175
Hi,

would you like to create a PR?

[2017-11-26 15:39] storozhukBM commented on #174
Sorry closed by accident.

[2017-11-26 16:01] storozhukBM commented on #174
Hi @efenderbosch ,
Please checkout PR #177. I've added few methods for `RateLimiter` that should satisfy your use cases. If such API is OK for you, I'll add similar functionality to bulkhead component and it will be delivered in scope of the next release.

[2017-11-26 16:03] storozhukBM commented on #168
No updates here. I'll close the issue. But if you have some new arguments, please open new one.

[2017-11-26 16:03] #168 closed

[2017-11-26 16:04] storozhukBM commented on #172
@jansyk13 do you have any updates or new thoughts on it?

[2017-11-26 16:06] storozhukBM commented on #159
@fromanator , @drmaas
Do you have any updates on this issue?

[2017-11-26 16:07] storozhukBM commented on #79
Closing this issue for now.

[2017-11-26 16:07] #79 closed

[2017-11-27 13:30] efenderbosch commented on #174
Looks good to me. Thanks!

[2017-11-27 13:37] storozhukBM commented on #174
Great, thank you.

[2017-11-27 15:37] storozhukBM commented on #174
merged to master

[2017-11-27 15:37] #174 closed

[2017-11-27 16:28] gbrehmer opened #178 "Spring Boot 2.0 Support"
I know Spring Boot 2 is not released yet, but most of the changes are already fixed (2.0.0.M6)
e.g. Endpoint configuration has changed significantly (AbstractEndpoint not available anymore). To support both versions, e.g. @ConditionalOnClass is required for configuration

[2017-11-27 16:34] RobWin commented on #178
Would you like to contribute the changes?

[2017-11-28 07:28] RobWin opened #179 "Java 9 Modules Support"

[2017-12-05 08:00] danielimre commented on #175
@RobWin , created a PR for bulkhead: #180
Please check if I've got it right and will do the rest.

[2017-12-08 13:37] yuppie-flu opened #182 "Bug: Circuit breaker Dropwizard metrics show only first state values"
Circuit breaker Dropwizard metrics show correct values only if circuit breaker state does not change.
After the change of state, metrics in metric registry still show old values of the first state, not current values.

# Steps to reproduce:
1. Register metric in Dropwizard registry with
[code]
1. Change state of the circuit breaker

Small reproducer example: https://github.com/yuppie-flu/circuit-b

[2017-12-08 13:52] storozhukBM commented on #182
Hi @yuppie-flu,
Thank you for this bug report. Unfortunately I will have limited internet availability fir the next 3 days, so I won’t be able to reproduce and fix it.
I hope it can wait till monday.
Have a nice day.

[2017-12-08 18:04] RobWin commented on #182
Thx. We have a look at it.

[2017-12-10 16:52] gibffe commented on #159
👍 Configuring CB as disabled (indefinitely) or programmatically forcing it to stay open (or closed) would come in handy. Any update on this ? :)

[2017-12-10 17:17] storozhukBM commented on #159
I think I can implement this as a part of our dynamic configuration. We add methods for CB to siwtch it ON and OFF

[2017-12-11 10:35] storozhukBM commented on #182
Hi @yuppie-flu,
Fix is already in master.
Hopefully it is not so critical for you and we can finish our work on `0.11.0` branch.
We target that release on Friday (Dec 15).
Is it OK for you?

[2017-12-11 15:47] yuppie-flu commented on #182
Thank you for quick fix and nice library.
It's totally ok for me, looking forward to 0.11.0 release

[2017-12-12 08:43] #182 closed

[2017-12-14 20:28] RobWin commented on #175
Merged

[2017-12-14 20:28] #175 closed

[2017-12-15 08:47] storozhukBM commented on #182
Hi @yuppie-flu,
FYI 0.11.0 is live, so you can try this bug fix.

[2017-12-15 08:47] storozhukBM commented on #174
Hi @efenderbosch,
FYI 0.11.0 is live, so you can try this dynamic config.

[2018-01-04 13:12] rLitto opened #186 "Feature:allow full reset of circuit breakers"
Use case:
Integration testing (example: Spring with circuitbreaker registry bean) with application-shared circuit breaker.
The circuit breakers have a state change method, but they keep memory of the calls, so to reset the circuit breaker I am still forced to wait for the waitInterval and cannot use transitionToClosedState, because the circuit breaker would close again after only 1 test

[2018-01-04 18:15] RobWin commented on #186
Hi,

would you like to contribute that feature?

[2018-01-04 19:23] storozhukBM commented on #186
Also I'm not fully convinced that such feature is necessary. For integration tests you can actually use mocks or spy objects. Also you can implement `CircuitBreaker` interface that will delegate its methods to underlying CircuitBreaker and recreate it when necessary.

[2018-01-04 20:32] rLitto commented on #186
Hi!
@RobWin I have actually created a fork and made some changes. I am undecided if I should create a new Event, because it is a particular case, instead of sending a `CircuitBreakerOnStateTransitionEvent`
@storozhukBM I can understand the doubts, because allowing reset is a use case that should be considered throughly.
I see the feature similar to a cache evict on demand.
But your suggestion is n

[2018-01-04 20:42] storozhukBM commented on #186
@rLitto OK, now I'm convinced 😄
And I think this reset should have separate Event.

[2018-01-05 12:50] markusheer commented on #47
Hi

I tried to use Resilience4j in Apache Felix (Adobe Experience Manager). Activation of the bundles works but during runtime there is a class loading issue in io.github.resilience4j.circuitbreaker because the io.github.resilience4j.core package is not defined in Import-Package.

This is because in publishing.gradle the io.github.resilience4j package is excluded in the Import-Package section.

A

[2018-01-05 13:11] RobWin commented on #47
Thx. Fixed it.
Could you please test `0.11.1-SNAPSHOT` when the build is complete.

[2018-01-05 13:24] markusheer commented on #47
That was fast. Tested via local build from master and it works.

[2018-01-05 13:26] RobWin commented on #47
Thx 👍

[2018-01-08 10:54] rLitto commented on #159
I am thinking of picking this pull request.
To recap:

- It should be nice to support circuit breaker forcing open/closed by transitioning to new states, those states being:

    - StuckOpen - won't transition after wait timeout
    - StuckClosed - won't transition after failures

Should still onFailure/onSuccess transition out of those states?
What function calls should un-stuck the circuit?

The

[2018-01-08 11:08] storozhukBM commented on #159
I'd make it as simple as possible: no transitions in disabled state, no tracking of request success...
As for the API, I think previously mentioned names are good:
`CircuitBreaker.transitionToStuckOpenState()` and `CircuitBreaker.transitionToStuckClosedState()`

[2018-01-08 11:23] RobWin commented on #159
I agree. No tracking of request results.

[2018-01-08 11:54] rLitto commented on #159
And no publishing of events, too?

[2018-01-08 12:03] RobWin commented on #159
Yes

[2018-01-09 09:30] RobWin opened #189 "Feature: Add more rx operators"
Add support for Maybe and Completable.

[2018-01-12 08:50] jansyk13 commented on #172
I have prepared PR, https://github.com/resilience4j/resilience4j/pull/192

Could you please review it? @storozhukBM @RobWin @gibffe

[2018-01-12 08:51] RobWin commented on #172
Yes thanks.
As soon as I have some time.

[2018-01-14 16:40] prafullkotecha opened #193 "User Guide: Formatting is messing up the section 4.2.9 (Event Monitoring)"
User Guide: Formatting is messing up the section 4.2.9 (Event Monitoring)
See attached screenshot:
<img width="980" alt="screen shot 2018-01-14 at 11 38 45 am" src="https://user-images.githubusercontent.com/563146/34918370-af873da2-f91f-11e7-91e4-a6ef184fa8e8.png">

[2018-01-14 16:54] RobWin commented on #193
Thx

[2018-01-17 08:44] RobWin opened #195 "Feature: Function decorator for event stream processing"
We need a decorator which enables us to monitor function results and process error (or success) event streams in real-time. The decorator should not add additional logic (like a CircuitBreaker or RateLimiter) to a function. It should only add the ability add event consumers for success or error events.

We want to use the capabilities of RxJava or Spring Reactor to asynchronously process events, f

[2018-01-17 09:00] pwlan opened #196 "Create resilience4j module for feign"
Hi,

the idea is to create a new module for the feign framework (https://github.com/OpenFeign/feign).
It should be similar to resilience4j-retrofit or https://github.com/OpenFeign/feign/tree/master/hystrix.

[2018-01-18 10:27] RobWin commented on #196
Good idea :)

[2018-01-18 10:37] RobWin commented on #193
Fixed in PR #190
I publish the docs soon,

[2018-01-18 10:37] #193 closed

[2018-01-18 22:24] mattca opened #197 "Feature: circuit breaker option to trigger event transition from open to half open after time passes"
I have a use case using the circuit breaker, where I require executing some code on state transition from open to half open. I can consume state transition events for this, but for the state transition event to be fired, there has to actually be a call via the circuit breaker. I.e. the state transition event will not be triggered automatically after the wait duration in open state.

My current wor

[2018-01-19 08:50] RobWin commented on #197
Hi @mattca
Thanks for opening a feature request. I spoke with @rLitto about it.
The current implementation was a design choice. We wanted a solution which works "always". When you use a monitoring thread, there is always the danger that the thread starves or dies. One monitoring thread for each CircuitBreaker instance could also create too many monitoring threads. But I see your point and I'm open

[2018-01-19 08:55] RobWin commented on #197
We could design an actor-based system where CircuitBreaker instance send state transition events to a monitoring actor which manages all circuitbreaker instances.
The monitoring actor can trigger state transitions when the wait duration has elapsed.

[2018-01-19 21:22] mattca commented on #197
Hi @RobWin
Thanks for the reply, can see why that design decision was made. I have checked out the code, can have a think about your idea.

[2018-01-20 18:31] RobWin commented on #197
If you want to discuss it, I can't invite you to our slack channel. I just  need your email address.

[2018-01-20 20:34] mattca commented on #197
sure: matthewccarey at gmail dot com

[2018-01-21 20:54] storozhukBM commented on #196
@pwlan would you like to contribute and maintain such module?

[2018-01-21 20:58] storozhukBM commented on #195
Great idea. Partially this use case can be covered by simple monitoring libraries like Dropwizard Metrics. But implementation that is using our event stream facilities will have real advantages over simple monitoring.

[2018-01-21 20:59] storozhukBM commented on #189
Link #198

[2018-01-21 21:02] storozhukBM commented on #47
@RobWin should we make 0.11.1 release or wait for 0.12.0 ?

[2018-01-22 16:53] pwlan commented on #196
Sure, i thought you would never ask ;) I will go through some design ideas with RobWin this week and hopefully start a PR soon.

[2018-02-04 12:09] schosin commented on #178
Just as a heads-up, Spring Boot 2 also replaced Dropwizard with Micrometer. This might have an effect on resilience4j-metrics.

Looking forward to Spring Boot 2 support.

[2018-02-06 12:43] RobWin opened #201 "Adaptive capacity management (RateLimiter + BulkHead) decorator"
See concept: https://www.youtube.com/watch?v=m64SWl9bfvk

[2018-02-06 21:34] rogerschlachter opened #203 "Allow custom exception handler for Circuit Breaker with Spring Boot"
Correct me if I'm wrong, but it looks like by using the Spring Boot starter, there's not a convenient way to give a CircuitBreaker a custom exception handler.

It seems like making a small change like I've done in this PR would allow users to get the builder and add a custom exception handler.

https://github.com/resilience4j/resilience4j/pull/202

Maybe there's a better way?  But it would be nice

[2018-02-07 10:45] storozhukBM commented on #203
Merged with #202

[2018-02-07 10:45] #203 closed

[2018-02-11 16:52] storozhukBM commented on #201
## Implementation thoughts.

As Jon Moore mentioned in his talk we will can increased latency as implicit indication for adaptive concurrency adjustments.

#### Adaptive capacity management prerequisites
1. You should have a system with relatively stable response latency, because we will use latency measures to adapt concurrency limits.
2. To configure you system properly you should figure out two

[2018-02-12 22:44] drmaas opened #204 "Decouple resilience4j-ratpack from required prometheus dependencies"
This should be possible if we move the `*Exports` objects to be created by providers (factories) instead of `@Provides`.

That way prometheus becomes optional, if the`*Exports` are used.

Currently everything works, but I am required to pull in resilience4j-prometheus, even if I'm not using prometheus.

[2018-02-13 06:16] RobWin commented on #204
Yes, do you create a PR?

[2018-02-13 15:15] storozhukBM commented on #201
@RobWin if you don't have any concerns I'll proceed with implementation.

[2018-02-13 15:44] RobWin commented on #201
Can we implement this with a streaming library like reactor?
We consume events from our existing RateLimiter or Bulkhead and reconfigure them at runtime?

[2018-02-13 15:49] storozhukBM commented on #201
Yes, I think it is possible, but such implementation will have some performance drawbacks and will create runtime dependency from streaming library.

[2018-02-13 15:50] RobWin commented on #201
I'm looking forward to your implementation :+1:

[2018-02-15 15:32] fromanator commented on #159
Sorry for falling off the face of the earth for this, thanks for doing the work @rLitto it looks like we can close this now too?

[2018-02-15 16:22] rLitto commented on #159
yes I think we can :)

[2018-02-16 10:21] #159 closed

[2018-02-16 10:21] storozhukBM commented on #159
Great job @rLitto

[2018-02-20 12:21] cpilsworth opened #207 "Update to latest Retrofit version (2.1 > 2.3)"
The current implementation of the relies on Retrofit 2.1 rather that the latest 2.3 version.

There is a change in the interface to the [CallAdapter.Factory::get](https://github.com/square/retrofit/blob/master/retrofit/src/main/java/retrofit2/CallAdapter.java#L68) class, which means that it's not possible to be compatible with both.

[2018-02-20 13:41] storozhukBM commented on #207
Merged

[2018-02-20 13:41] #207 closed

[2018-02-20 18:30] cpilsworth commented on #207
Thanks for merging!

[2018-02-22 07:16] RobWin opened #209 "Add Reactor support for circuit breaker, bulkhead and rate limiter"

[2018-02-22 07:16] RobWin commented on #209
See PR https://github.com/resilience4j/resilience4j/pull/205

[2018-02-22 19:53] drmaas commented on #204
@RobWin I have not had a chance to do a PR, if there is someone else in the community that can take this up near-term that would be awesome!

[2018-02-27 00:28] michael-barker commented on #35
Will this be in 0.12.0?

[2018-03-13 09:46] #189 closed

[2018-03-13 09:46] #47 closed

[2018-03-13 09:47] #162 closed

[2018-03-13 09:48] #186 closed

[2018-03-13 09:48] #209 closed

[2018-03-15 00:56] madgnome opened #212 "reactor.core.Exceptions$BubblingException thrown if exception is thrown in subscribe"
This code should emit a `CircuitBreakerOpenException` instead we get a `reactor.core.Exceptions$BubblingException`

[code]

( found by https://stackoverflow.com/questions/49276946/resilience4j-how-to-handle-errors-when-using-a-circuit-breaker-in-a-spring-webfl )

[2018-03-16 14:04] #212 closed

[2018-03-19 21:30] HarishaAkasapu commented on #178
Seeing this issue after SpringBoot2 migration, any plans to address this?

[2018-03-20 08:00] RobWin commented on #178
I started working on it.
Please see https://github.com/RobWin/resilience4j-spring-boot2-demo.
Add the dependencies as follows
[code]

[2018-03-20 08:14] RobWin opened #215 "Feature: Add ignoreExceptions() and recordExceptions() to CircuitBreakerConfig.Builder"
The method `recordFailure` allows to configure a predicate which checks if an exception should be recorded. But sometimes this is too cumbersome.
An alternative could be

[code]

[2018-03-20 20:03] HarishaAkasapu commented on #178
Thanks, will look into.

[2018-03-21 14:41] rLitto commented on #215
Two points:

- The names seem to imply exceptions, but the `recordFailure` accepts a `Predicate<Throwable>` so I will go for a `Throwable...` varargs
- Should the `recordFailure` and the `recordExceptions` & `ignoreExceptions` be mutually exclusive, or should they be allowed to co-exist? If the latter, which has higher priority? Should we generate another predicate and put them in `and` condition?

[2018-03-23 10:19] rLitto opened #218 "CircuitBreakerConfig builder broken pattern: does not create multiple configs"
The builder pattern inside the CircuitBreakerConfig is broken, because it uses always the same object instead of building it on the fly on the `build()` call. This test fails:

[code]

[2018-03-27 20:00] storozhukBM commented on #201
Graphs from the first integration test
## First
![measurement_01](https://user-images.githubusercontent.com/3532750/37991405-bb11709a-3211-11e8-8a93-5773a5079cc4.png)
---
## Second
![measurements_04](https://user-images.githubusercontent.com/3532750/37991430-cb1be48e-3211-11e8-8c19-607f852d8e8e.png)

The main idea is working. Now I'll polish the implementation and make additional performance and i

[2018-04-04 12:25] srinivasa1225 commented on #179
@RobWin : Trying to include resilience4j with springboot2 but getting the bean error .java.lang.NoClassDefFoundError: org/springframework/boot/actuate/endpoint/AbstractEndpoint..This is the error i am getting

[2018-04-04 12:25] srinivasa1225 commented on #179
Can you please help me in resolving the issue

[2018-04-05 18:04] ndugger opened #222 "[resilience4j-ratpack] Documentation is misleading, incomplete, or invalid"
While attempting to implement the resilience4j-ratpack package into my ratpack application, I am encountering a few issues regarding the [documentation](http://resilience4j.github.io/resilience4j/#_ratpack_starter)

### 1. The first of which is the following line of code from the [basic usage](http://resilience4j.github.io/resilience4j/#_basic_usage):
[code]
The error I get from that can be seen b

[2018-04-05 18:11] RobWin commented on #222
Thx. I have a look at it. The upgrade to the latest Ratpack version might have broken something.

See docs for a Retry introduction:

http://resilience4j.github.io/resilience4j/#_retry

[2018-04-06 06:00] #218 closed

[2018-04-06 06:00] #215 closed

[2018-04-06 06:01] #197 closed

[2018-04-06 06:16] RobWin commented on #222
Regarding point 2)
Our resilience4j-ratpack module has a compileOnly dependency to resilience4j-metrics or resilience4j-prometheus.
I guess you've enabled metrics in your config. If that's the case you have to add resilience4j-metrics as a compile dependency to your application.

[2018-04-06 12:40] rLitto opened #223 "[resilience-retry] support for retryExceptions and ignoreExceptions in RetryConfig builder"
Similar to enhancement for [CircuitBreaker issue 215](https://github.com/resilience4j/resilience4j/issues/215) as requested by @RobWin

[2018-04-06 13:24] #223 closed

[2018-04-06 14:06] ndugger commented on #222
@RobWin I did not enable metrics in my config. I pasted my config above; I'm only attempting to use the retry functionality. That being said, I will try to add the metrics package to my compile dependencies and see what happens.

I don't have time at the moment to spin up a minimal example for point 1; all I can tell you is that passing in the class to `install` gave me an error, whereas passing i

[2018-04-06 14:10] RobWin commented on #222
Ok.
Since it's an open source project, you can always fix the documentation and contribute something back to the community.

[2018-04-06 14:13] ndugger commented on #222
I added the metrics package to my compile dependencies, but now I'm getting a new exception:
[code]

I think resilience4j needs to remove its dependencies on all these packages if the consumer isn't even interested in using metrics, because I'm not adding *another* package to help resolve this exception only to just have them bloat my jar because I'm not using them.

[2018-04-06 15:30] RobWin commented on #222
Would you like to fix it if you are experienced with Ratpack and Guice?

[2018-04-09 05:00] srinivasa1225 commented on #179
Yes..but using some old version of spring boot.now the issue has been
resolved.Thanks for ur quick reply.

On Apr 5, 2018 12:19 AM, "Robert Winkler" <notifications@github.com> wrote:

[2018-04-12 06:30] #204 closed

[2018-04-12 06:31] RobWin commented on #222
@drmaas Created a PR and fixed the issue. A new `0.13.0-SNAPSHOT` should be created soon by TravisCI.

[2018-04-13 13:00] olayinkasf opened #228 "[resilience4j-retry] Events not published on every failed try"
I think it would be better if an event is published after every failed try. Why?

In a scenario where more than one type of exception is thrown, I would like to know where this exceptions occur so that I can at least attempt to fix them. Right now, event is only published at the end of the retry and only the last exception is accessible.

[2018-04-15 12:40] RobWin commented on #228
Hi,

we made the design decision so that the monitoring system is not overwhelmed by too many retry events if a remote system is down. If you want to log all exceptions, you could catch the exception of your service, log it and rethrow the exception.
Would this be sufficient for you?

[2018-04-15 17:14] olayinkasf commented on #228
Catching the exception and rethrowing seems reasonable however I doubt too many retry events would be overwhelming to the publisher. The publisher can still choose to not register for these events therefore avoiding the load. I personally would prefer to not write a try catch throw every time I use the retry when I can simple register for the retry events.

[2018-04-17 07:29] olayinkasf commented on #228
A list of exceptions might consume too much memory in case of having too many retries but publishing an event on every retry could replace the need for a list of events and can help monitor (while in progress) how well a resilience call is performing. I'd be glad to create a PR @RobWin

[2018-04-17 07:42] RobWin commented on #228
Feel free to create a PR. We are an open community.
But we should keep in mind that the change might not be backward compatible.
Maybe we need a config switch.

[2018-04-18 09:32] radekkaminski commented on #178
How to apply the CircuitBreaker to Flux in this version ? CircuitBreakerOperator seems to be deleted...

[2018-04-18 09:34] RobWin commented on #178
Please have a look at the demo on github. There us a link some comments above.
I guess you need resilience4j-reactor as a compile dependency.

[2018-04-18 09:38] radekkaminski commented on #178
got it - thanks

[2018-04-18 09:43] radekkaminski commented on #178
I can't connect Prometheus cause the simpleclient_spring_boot is dependant on Spring Boot 1.x - Does anyone know if there is an alternative ?

[2018-04-18 09:44] RobWin commented on #178
Spring Boot2 uses MicroMeter which supports Prometheus out of the box.

[2018-04-18 09:47] RobWin commented on #178
https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#production-ready-metrics-export-prometheus

[2018-04-20 21:02] jarpz commented on #179
@RobWin do you know when version 0.13.0 is going to release?

[2018-04-20 21:08] RobWin commented on #179
Because of spring boot 2 or java9 support?

[2018-04-26 10:30] srinivasa1225 commented on #179
When can we expect the resilience4j 0.13 release

On Apr 21, 2018 7:08 AM, "Robert Winkler" <notifications@github.com> wrote:

Because of spring boot 2 or java9 support?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/resilience4j/resilience4j/issues/179#issuecomment-383223009>,
or mute the thread
<https://github.com/notification

[2018-04-27 19:49] michael-barker commented on #178
Any estimate when 0.13.0 will be released?  Looking forward to Spring Boot 2 support and some of the changes to Reactor support.

[2018-05-04 14:30] Mobe91 opened #230 "[resilience4j-retry] allow unlimited retry"
In some situation it would be nice to have unlimited retries e.g. when a service needs to perform some actions at startup but might need to wait for other services to be started before it can proceed.

This could be integrated into the existing API by allowing `RetryConfig.custom().maxAttempts(-1).build()`.

[2018-05-08 06:45] Mobe91 commented on #230
There are many cases in which you do not have control about services that you use and I think, polling is the only option in such cases.

[2018-05-08 06:47] RobWin commented on #230
Ok, instead of writing a loop yourself, you would like to use features of Retry like exponential backoff?
If that's the case, would you like to create a PR?

[2018-05-24 08:52] vy opened #232 "[resilience4j-ratelimiter] Avoid blocking calls in RateLimiter reactive operators"
Reactive `resilience4j-ratelimiter` operators are blocking the execution thread under the hood. This spoils the entire async architecture that you carefully crafted up until that point. (Imagine unintentionally blocking Netty I/O threads.) [Even though I am not 100% sure if this indeed the culprit,] see the following snippet from `io.github.resilience4j.reactor.ratelimiter.operator.RateLimiterSubs

[2018-05-24 14:39] RobWin commented on #178
Yes, the plan was to support it. But I didn't have time to implement it.
Would you like to create a PR?

[2018-05-24 16:32] michael-barker commented on #178
Sure :)

[2018-05-24 19:43] storozhukBM commented on #232
Yep. It is possible but such change will require small api changes in RateLimiter interface.

[2018-05-25 01:16] michael-barker commented on #178
How do I get an invite to the Slack channel?

[2018-05-25 09:37] RobWin commented on #178
I need you email address. But then you would have to contribute even more PRs :) if that's your plan, I would love to invite you.

[2018-05-25 11:19] michael-barker commented on #178
michael.barker.84 at gmail.  Thanks!

[2018-05-26 23:17] storozhukBM commented on #232
Hi @vy
I've made non-blocking API for a RateLimiter in #234
Shortly it will be merged to master and we will be able to proceed with reactive operators changes.
If you're interested, you can help me with PR 😄
But anyway sooner or later we'll make this changes too.

[2018-05-31 21:10] madgnome commented on #232
The ratelimiter operator publish on a separate thread by default (and you can specify your own) so it wouldn't block netty i/o threads.

[2018-06-01 09:02] storozhukBM commented on #232
@madgnome  yes, you're absolutely right. For now we've only provided a low level API for non-blocking permission reservation, that users can potentially use. I think it is enough to close this issue.

[2018-06-01 09:02] #232 closed

[2018-06-05 05:19] edudar opened #235 "TimeLimiter as rx operator"
Timeouts and time limiters are essential for resiliency and one of the primary reasons we use Hystrix in the first place. `TimeLimiterOperator`s are really missing in `-rxjava2` and `-reactor` packages.

[2018-06-05 06:51] RobWin commented on #235
Hi,

the RxJava and Reactor timeout operator is not sufficient for you?

http://reactivex.io/documentation/operators/timeout.html and https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#timeout-java.time.Duration-

[2018-06-05 22:22] edudar commented on #235
I can't say whether it's sufficient as a whole or not but I can make it work in some cases for sure. Same as I can make it with `debounce` and `retry`, for example, yet there are convenient operators for them wired into the whole resilience system. With only time limiter missing there, it feels inconsistent but if that's a design decision, fine.

[2018-06-11 09:27] Vity01 commented on #178
Guys, could you already please release it? I need it immediately :-). I noticed it's in the git repo already.

[2018-06-12 17:01] drmaas opened #237 "[resilience4j-ratpack] Integrate use of recordFailurePredicate in configs"
Currently the ratpack configs do not allow the configuration of `recordFailurePredicate`. This should be added to `io.github.resilience4j.ratpack.circuitbreaker.CircuitBreakerConfig` in 2 ways:

1) as a predicate in the same way as in `io.github.resilience4j.circuitbreaker.CircuitBreakerConfig`. Default to `(exception) -> true`
2) as a list of classes that should be recorded as omitted (will NOT c

[2018-06-12 17:20] vijaycse commented on #178
Same here. Badly need the RecordFailurePredicates, RecordException and IgnoreException.

Can anyone tell me when its due?

[2018-06-12 17:41] rLitto commented on #178
In review, hopefully tomorrow we could release

On Tue, 12 Jun 2018, 18:20 Vijay Ram, <notifications@github.com> wrote:

[2018-06-13 13:29] amityatagiri commented on #237
@RobWin When is the release planned for this?

[2018-06-13 13:42] RobWin commented on #237
I don't have a date yet.

[2018-06-14 17:12] drmaas opened #239 "[resilience4j-ratpack] should provide an externally configurable recordFailurePredicateClass"
This should be a fqdn string that can be instantiated as a `Predicate<Throwable>`. It will need to require a no-args constructor is available.

The predicate capability in `CircuitBreakerTransformer` will be removed, and the configured predicate will be honored.

[2018-06-15 06:31] #239 closed

[2018-06-18 11:38] RobWin commented on #228
v0.13.0 has been released

[2018-06-18 11:38] #228 closed

[2018-06-18 11:39] RobWin commented on #178
v0.13.0 has been released

[2018-06-18 11:39] #178 closed

[2018-06-18 11:42] Vity01 commented on #178
:clap: Thank you.

[2018-06-18 12:09] Vity01 opened #241 "Spring Boot support - CircuitBreakerConfigurationProperties does not support to set `automaticTransitionFromOpenToHalfOpenEnabled` property"
Version `0.13.0` does not support to set `automaticTransitionFromOpenToHalfOpenEnabled` property (via `io.github.resilience4j.circuitbreaker.configure.CircuitBreakerConfigurationProperties.BackendProperties`)
Also - I noticed the value `automaticTransitionFromOpenToHalfOpenEnabled` is set `false` as default.
Does it mean that CircuitBreaker never goes back from Open to HalfOpen again?

[2018-06-18 12:31] RobWin commented on #241
Hi,
automaticTransitionFromOpenToHalfOpenEnabled is `false`, because it's a new feature and if we would set it to`true`, it might confuse users of older versions.
The CircuitBreaker already goes back from Open to HalfOpen when it processes a new request.
Automatic transition is realized as a background thread which changes the state back to HalfOpen after the wait time duration has elapsed.

[2018-06-18 12:33] Vity01 commented on #241
Ok, thanks for clarification.

[2018-06-18 21:42] vijaycse commented on #178
@RobWin @Vity01  is the version released 0.13.1-SNAPSHOT or 0.13.1? I get 409 if i use 0.13.1 but snapshot works fine but not sure if snapshot is correct.

[2018-06-18 22:06] rLitto commented on #178
0.13.0

[2018-06-22 00:24] michael-barker opened #242 "Meters are duplicated when applying common tags with Spring Boot 2 auto-configuration"
Using the example from the the [Spring Boot docs](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-metrics-getting-started) to register common tags it appears that meters are duplicated, a meter with no tags an a meter with the common tags.

Using the [JVM MeterBinders](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-

[2018-06-29 00:45] ccrolf opened #245 "CircuitBreakerSubscriber for Reactor doesn't count successes when using Mono/Flux.toFuture()"
Example (in Kotlin):
[code]

This is cause CircuitBreakerSubscriber only counts success in `onComplete()`, which is not necessarily called when using `toFuture()`.

See docs: https://projectreactor.io/docs/core/snapshot/api/reactor/core/publisher/Mono.html#toFuture--
Precise wording is "completing on onNext _or_ onComplete"

Temporary work-around is to wrap the Mono in `executeCompletionStage()`:

[2018-07-06 08:20] #242 closed

[2018-07-13 22:48] edudar opened #247 "TimeLimiter brings rxjava2 dependency"
I don't see any code in `io.github.resilience4j.timelimiter` that would require `rxjava2` dependency but it's in `compile` configuration nevertheless. This also means it's exposed as transitive one further down the road.

[2018-07-13 23:23] edudar commented on #247
Opened https://github.com/resilience4j/resilience4j/pull/248

[2018-07-14 05:58] #247 closed

[2018-07-19 06:37] RobWin commented on #245
Hi, sry for the delay.
Do you mean `breaker.metrics.numberOfSuccessfulCalls == 1` fails in the first code snippet?

[2018-07-19 06:38] #222 closed

[2018-08-01 00:09] berrueta opened #249 "[Spring Boot2] CircuitBreakerMetricsAutoConfiguration scans CircuitBreakerRegistry eagerly and does not bind metrics for circuit breakers registered after the bean is created"
Spring Boot2 `CircuitBreakerMetricsAutoConfiguration` calls `CircuitBreakerMetrics.ofCircuitBreakerRegistry`, which immediately calls `circuitBreakerRegistry.getAllCircuitBreakers()`. Therefore it only binds metrics for circuit breakers that have already been registered against the `CircuitBreakerRegistry` at the time the `CircuitBreakerMetrics` bean is instantiated.

For applications that create

[2018-08-01 06:26] nmvijay opened #250 "Spring Boot Auto Configure for Bulkhead"
I could not find SpringBoot autoconfigurer for Blukhead similar to Ratelimiter and CircuitBreaker, is that planned for next releases?

[2018-08-01 06:53] RobWin commented on #250
Not yet. Would you like to create a PR?

[2018-08-01 06:54] RobWin commented on #249
Thx. Would you like to create a PR?

[2018-08-01 08:17] berrueta commented on #249
Yes, I will raise a PR.
Do you have a CLA for this project?

[2018-08-03 20:49] jorgebo10 opened #251 "Push circuit breaker metrics to new relic"
Is this possible to push metrics to new relic?

[2018-08-06 10:43] RobWin commented on #251
Hi,
yes, should be possible. We support [Micrometer ](http://micrometer.io/) and Micrometer has built-in support for New Relic.

[2018-08-06 10:54] #251 closed

[2018-08-12 01:34] gazza94 opened #252 "Bulkhead Documentation Missing the Header"
The documentation at http://resilience4j.github.io/resilience4j/ seems to not have rendered the Bulkhead header correctly. (It's rendered as `=== Bulkhead` instead of an actual header.)

![resilience4j-bulk-head-docs](https://user-images.githubusercontent.com/5061320/43997603-8c4c3fd2-9e23-11e8-9337-028c641a65ac.jpg)

I had a quick look at the asciidocs but I couldn't see anything obvious, sorry.

[2018-08-16 21:34] storozhukBM commented on #252
Hi @gazza94
Thank you for pointing out this issue.
Sorry for such a delay in response. I've made some fixes, so documentation will be OK after the next release.

[2018-08-16 21:34] #252 closed

[2018-08-18 23:51] berrueta commented on #249
Closed by #254

[2018-08-18 23:51] #249 closed

[2018-08-22 12:12] jpayne97 opened #256 "Spring Boot 2 and @CircuitBreaker with name not loading config"
Based on: https://github.com/RobWin/resilience4j-spring-boot-demo#spring-aop

When I add the annotation to either a class or method, I would expect the circuit breaker to be applied per the documentation.  Spring Boot 2 and webflux.  It only works if I set it up from the registry and properties.  Does the annotation only support the equivalent of CircuitBreaker.ofDefaults("name") ?
[code]

[2018-08-23 07:04] RobWin commented on #256
Hi,

the Spring Aspect creates a CircuitBreaker instance and checks if you have configured the CircuitBreaker in your properties/yaml file.
See : https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/CircuitBreakerAspect.java#L68

[2018-08-23 11:38] jpayne97 commented on #256
I have it setup in yaml file.  Does it not support adding it to Mono or Flux yet?

[2018-08-30 18:34] ryanjbaxter opened #257 "[Question] Fallback When Using Project Reactor and Circuit Breaker Is Open"
Hi, I am wondering what the best practice is for implementing a fallback when a Circuit Breaker is open when using Project Reactor.  Here is what I have come up with.

[code]

The problem with wrapping `httpbin.delay(seconds).transform(CircuitBreakerOperator.of(cb))` in a `Try` is that it just returns a `Mono` (`Flux` would have the same problem).  The exception wont be thrown until the `Mono` is

[2018-08-30 23:17] madgnome commented on #257
The reactive way is the way you showed

[code]

`delayRecovery` will be executed but this method should build a stream only, the stream will be subscribed only on error. If you really don't want delayRecovery to be called at all you could wrap it in a `defer()`

[code]

[2018-08-30 23:25] ryanjbaxter commented on #257
Ah I should use `onErrorResume` thanks.

Just one minor correction is anyone else comes across this
[code]

[2018-08-30 23:25] #257 closed

[2018-08-30 23:46] storozhukBM commented on #257
Thanks for you help @madgnome

[2018-08-31 00:02] ryanjbaxter opened #258 "Support The Use Of @CircuitBreaker On Methods That Return A Mono Or Flux"
Say I have this simple class in a Spring Boot 2 app

[code]

I am finding that even if the `delay` method times out (the`WebClient` request takes longer than 3 seconds) that the `httpbin` circuit breaker does not could that as a failure.  This makes sense as the method actually completed successfully in returning the `Mono<Map>`.  So should the `@CircuitBreaker` annotation not be used with methods

[2018-09-04 14:59] Romeh opened #259 "Can we add response predicate to the retry config as well ?"
Hey All ,
Small question , can we add a support to have a response predicate of the retry logic beside the exceptions ? like retry if the response of a service call or a specific method output , as some cases we need to retry if we get specific response or status , not only having exceptions being thrown ,  if we need to explicitly throw an exception to retry based into the response result validat

[2018-09-04 18:53] ryanjbaxter commented on #258
@madgnome not sure if you have any thoughts on this one as well

[2018-09-04 20:44] madgnome commented on #258
Yeah unfortunately this annotation doesn't work when using a reactive type for the reason you mentioned. Could you raise an issue? Thanks

[2018-09-04 20:45] ryanjbaxter commented on #258
Can we just repurpose this one?

[2018-09-04 21:17] madgnome commented on #258
Sure

[2018-09-05 00:16] ryanjbaxter commented on #258
I edited the title, if someone wants to remove the question label and mark it as an enhancement that would be great

[2018-09-05 13:14] Romeh commented on #259
@storozhukBM  I agree with you that it is not a general truth , but doing retry on response predicate for me is part of business logic and not an exceptional action , as for exceptional action it means a showstopper and you need to break which can be for example if you kept retrying and failed at the end to fulfill the successful end condition .

Some example of what i mean from similar libraries

[2018-09-12 21:06] storozhukBM commented on #256
@jpayne97 I think your question is related to #258

[2018-09-12 21:10] storozhukBM commented on #245
Hi @ccrolf
Thanks to the @madgnome effort this issue seems to be resolved.
Maybe @RobWin can release snapshot version for you to try. Anyway this fix will be a part of the next release v0.13.2

[2018-09-13 13:09] himanshumps opened #261 "Rxjava 1.2"
Does resilence4j work with rxjava 1.2.

If yes, what are the dependencies needed other than circuit-breaker core library ?

[2018-09-14 04:16] srinivasa1225 opened #262 "Resilience4j with spring webflux"
Hi,

There is some issue in implementing the resilience4j with spring webflux.using 0.13.1 version

Regards,
Srinivasa

[2018-09-14 04:18] srinivasa1225 commented on #262
in case of server errors resilience 4j is not recognising as the server encountered the issue. it is taking it as success.os in failed cases also circuit-breaker is not opened.can you please let me know how to implement it for webflux

[2018-09-20 19:47] danielimre opened #263 "RxJava2 Bulkhead operator might release too much permit"
`io.github.resilience4j.bulkhead.operator.BulkheadOperator` might release two permits in case a `Single<Iterable>` or `Maybe<Iterable>` is flatmapped into an `Observable` with `take`.
It should always release one permit no matter how much dispose or terminal event is triggered.

[2018-09-20 19:48] RobWin commented on #263
Would you like to create a PR?

[2018-09-21 10:36] #263 closed

[2018-09-25 06:51] obfuscoder opened #266 "How mature is this library?"
We are considering using this library. However, the version number makes us wonder how mature this library actually is? If this project is following SEMVER, there is no guarantee whether the next minor version will have the same interfaces or introduce major breaking changes.

Can you provide us with some kind of roadmap where this project is headed and when to expect the first stable version?

[2018-09-25 09:43] storozhukBM commented on #266
Hi @obfuscoder,
Thanks for paying attention to our library.
As a library maintainer I want to assure you that all interfaces of core components are stable and there will be no backwards incompatible changes within 0.x.x versions. As for add-ons we will do our best effort to keep them also backward compatible, almost all of them are more then 1 year old and are widely used within our own projects.

[2018-09-25 13:05] himanshumps opened #267 "Rxjava 2.x and Flowable"
I have two methods A and B, both of them returning Flowable of String. I want the circuit-breaker such that if method A returns Flowable.error, it should invoke method B and return the result from that

Any suggestions on how this can be achieved?

[2018-09-25 13:06] himanshumps commented on #261
I do not think that rxjava 1.2 is supported. Am I right?

[2018-09-25 13:07] RobWin commented on #261
Hi sry for being late. Really busy at the moment. No we only support RxJava 2 and Spring Reactor.

[2018-09-25 13:08] RobWin commented on #267
Please see: https://github.com/resilience4j/resilience4j/issues/257

[2018-09-25 14:32] himanshumps commented on #261
Thanks for the information. Closing the question.

[2018-09-25 14:32] #261 closed

[2018-09-25 21:52] madgnome commented on #267
If you just want to have method B called when there's an error in method A, you don't need a circuit breaker:

[code]

if you want to have a circuit breaker around methodA and switch to method B only if the circuit is open you can do:

[code]

(I'm not familiar with RxJava 2 exact api so not sure it compiles but you should get the idea)

[2018-09-26 16:35] leonard84 opened #268 "CircuitBreaker configuration groups"
I'd like to be able to define a common configuration for a group of circuit breakers.

Scenario: I have _n_ backends that are independent of each other and should have their own circuit breakers. However, they should have the same config.

It could be configured simliar to the existing [config](https://resilience4j.github.io/resilience4j/#_configuration):
[code]

And using it could look like `circ

[2018-09-27 20:03] storozhukBM commented on #268
Hi @leonard84,
Thank you for you feedback and for using our library.

In general we recomend our users to configure circuit breakers and rate limiters specificaly for each type of backend they are working with. It leads to better system fault tolerance and faster prevention of error propagation in your cluster. Idealy you should use metrics about througput and latency from production cluster for c

[2018-09-27 20:05] storozhukBM commented on #267
Hi @himanshumps,
Were that comments help-full?

[2018-09-27 20:12] storozhukBM commented on #262
Hi @srinivasa1225,
We had one bug similar to your description, but it was reproducible only with successes #260
Maybe you can provide some test, code snippet or detailed steps that can help to reproduce this bug, because now it is not very clear.

[2018-09-29 17:27] gedl opened #269 "CircuitBreaker.decorateCompletionStage throws exception if circuit open"
calling `CircuitBreaker.decorateCompletionStage` is throwing an exception if the CB is open.

Exhibit A:
[code]

Exhibit B:
[code]

if main() is defined as follows:
[code]

Calling any of the versions 100 times will open the circuit. However, the 101st execution of Exhibit A will bubble up a `CircuitBreakerOpenException` while exhibit B will call `recover()`

I would expect both to behave the same

[2018-09-29 19:03] storozhukBM commented on #269
By design `CircuitBreaker.decorateCompletionStage` and `CircuitBreaker.decorateSupplier` behave a differently.
`CircuitBreaker.decorateSupplier` directly throws `CircuitBreakerOpenException`.
`CircuitBreaker.decorateCompletionStage` uses `CompletableFuture.completeExceptionally` to propagate exceptional state.
That is why you should use `CircuitBreaker.decorateCompletionStage` with futures if you

[2018-10-02 20:50] zack-johnson opened #270 "Bulkhead annotation"
We are trying to use resilience4j instead of Hystrix however with Javanica adding the circuit breaker annotation gave us Circuit Breaker + Bulkhead.  Right now I am using ```@CircuitBreaker``` and doing the Bulkhead in application code.  Could I put ```@Bulkhead``` up for consideration as an enhancement?

Thanks for all your work on this library.

[2018-10-03 12:30] RobWin commented on #270
Hi, would you like to contribute it? Otherwise I can only suggest not to use too many annotations but do it functional-style by stacking decorators.

[2018-10-03 14:26] loicmathieu opened #271 "Usage of Mockito deprecated Matchers"
Some tests uses the deprecated org.mockito.Matchers class that will be certainly removed in the next version of Mockito.

The fix is really straightforward : using ArgumentMatchers instead.

I have already do the changes and everything is still OK.
I can open a PR for this.

[2018-10-03 19:58] storozhukBM commented on #271
Merged. Thank you again.

[2018-10-03 19:59] #271 closed

[2018-10-03 20:01] storozhukBM commented on #269
Not closing it for now. I'll add required documentation update.

[2018-10-04 09:16] loicmathieu commented on #230
Hello,
I can take care of this one if wanted. I already take a look and this should be simple to implements.

But implementing an infinite retry will lead to an infinite loop ... is it something we really want to implements ? At least I can add a warning on the documentation ...

[2018-10-04 09:28] loicmathieu commented on #230
I'm agree with this: too error prone.

[2018-10-05 01:16] srinivasa1225 commented on #262
Thanks for your quick reply.The scenario is as below :

1. We are interacting with the downstream system using Spring webflux Webclient.
2. The expectation is that resilience 4j opens the circuit breaker, if the down stream system is down or response time out(500 http code) .
3. But in actual,  it is not opening the circuit  breaker as expected.
4. When we analysed the code, observed that resilien

[2018-10-08 09:45] mmanciop opened #273 "Support purging Rate limiters, Circuit breakers and Bulkheads from repositories"
Repositories automate easily the "get or create" logic for rate limiters, circuit breakers and bulkheads. However, when used to create dynamically objects, they lend the hosting applications to DoS by malicious actors.

For example, assume the use of rate limiters in a reverse proxy app, and assume that for each request routed to `/a/<UUID>/b/**`, a new rate limiter is created via the repository f

[2018-10-08 09:48] mmanciop commented on #273
To work around this issue, in particular with in-memory repositories, one fundamentally has to copy&paste the repo logic based on ConcurrentMaps to give access to the [ConcurrentMap#remove](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentMap.html#remove-java.lang.Object-java.lang.Object-) method.

[2018-10-08 10:16] RobWin commented on #262
Yes, our CircuitBreaker reacts only on exceptions. If you want that something triggers the CircuitBreaker, you must throw an exception. For example, a `WebApplicationException` should trigger the CircuitBreaker.

[2018-10-08 11:33] mmanciop commented on #273
Hi, that is a pretty cool idea that would even avoid churn of rate limiter and other options, although it might make for somewhat complex logic and counter-intuitive configs: if N are the allowed requests per unit of time, N+1 would be effectively let through.

[2018-10-08 22:28] IagoSilvaLima opened #274 "Enable circuit depending on the parameters passed to the method."
Would you like to enable the circuit depending on the parameters? For example, it may be that the external service url I am trying to contact is passed by parameter, so I should monitor the faults depending on the parameter passed, this happens for example when using the retrofit, I dynamically pass the url to the face that executes the request.

[2018-10-15 13:37] Romeh commented on #259
Dears ,

I have the added the implementation in my fork for your review as being mentioned above with the commit id ,

Basically the DSL for retry config will be extended to support response predicate for sync and Async retry if any defined :

Example:
// Create a Retry with default configuration
`final RetryConfig retryConfig = RetryConfig<String>custom().retryOnResult(s->s.contains("NoRetry")).m

[2018-10-17 09:33] RobWin commented on #259
Thanks, I have a look as soon as I have some time.

[2018-10-19 04:24] kennymacleod opened #278 "Reactor CircuitBreakerOperator doesn't play nice with Mono.timeout"
I have the following unit test which combines the `Mono.timeout` operator with a `CircuitBreakerOperator`:

    @Test
    public void circuitBreaker() throws Exception {
        final CircuitBreaker circuitBreaker = CircuitBreaker.ofDefaults("foo");

        while (true) {
            StepVerifier.create(Mono.error(new MyException("foo"))
                            .timeout(Duration.ofMillis(5))

[2018-10-22 13:04] nbulteau opened #279 "Enable to get HALF_OPEN state"
Documentation says that you pass from OPEN state to HALF_OPEN after "waitDurationInOpenState" milliseconds ... Is it correct ?

`
@Test
fun testCircuitBreaker() {
        // Given
        val sms = SMS("+33645677801", listOf("+33645677802"), "a message")

        // When
        var circuitBreaker = circuitBreakerRegistry.circuitBreaker("backendSms")
        var stateBefore = circuitBreaker.state

[2018-10-22 13:47] #279 closed

[2018-10-22 13:48] nbulteau commented on #279
HALF_OPEN need a one more call

[2018-10-23 13:53] spooz opened #280 "Wrapped exceptions and ignoreExceptions feature"
Hi,
We're using TimeLimiter and Spring Boot add-on. Unfortunately, when exception is thrown during the execution of action using executorService, its wrapped in java.util.concurrent.ExecutionException:

[code]

and then:

[code]

The code called in decoratedCallable:

[code]
tests for throwable and not its root-cause, thus ignoreExceptions is not validated properly.
Do you have any suggestions to

[2018-10-24 03:43] storozhukBM commented on #280
Hi @spooz,
It definitely looks like a bug.
But at least there should be workaround: you can use [record failure customisation feature](http://resilience4j.github.io/resilience4j/#_customize_the_exception_handler) to provide your own throwable predicate. In this predicate you can unwrap exception and check it properly.

[2018-10-24 03:53] storozhukBM commented on #278
Hi @kennymacleod ,
Yep, it looks like unexpected behaviour for me. Maybe @madgnome can make a quick comment on this. Otherwise I'll investigate this issue a little bit later.

[2018-10-24 03:57] storozhukBM commented on #274
Hi @IagoSilvaLima ,
For such type of functionality you can use `CircuitBreakerRegistry` to dynamically discover and use CircuitBreaker.

[2018-10-24 04:06] storozhukBM commented on #273
As an alternative we can make an `protected` accessor to the map so you can inherit from `InMemoryCircuitBreakerRegistry` and not copy&paste?
@mmanciop @RobWin what do you think?

[2018-10-24 04:32] madgnome commented on #278
I think it's a reactor problem more than a problem with CircuitBreakerOperator since I can reproduce without using resilience4j

[code]

Do you mind create an issue on https://github.com/reactor/reactor-core ? Thanks

[2018-10-24 07:10] mmanciop commented on #273
I think the protected accessor would work nicely :-)

[2018-10-27 12:09] vijaycse commented on #250
@RobWin @storozhukBM I  would like to add this feature. I will create a PR soon.

[2018-10-31 09:20] yannxia opened #282 "CircuitBreakerRegistry registed CircuitBreaker can't not update"
if want to update a CircuitBreaker in CircuitBreakerRegistry, not good way to done it...

[code]

maybe add a fouces replace method

[2018-11-05 09:43] RobWin commented on #250
That would be awesome. Thx

[2018-11-07 14:21] hcf opened #283 "InMemoryBulkheadRegistry calling bulkheadConfigSupplier nedlessly"
When using `BulkheadRegistry.bulkhead("name", supplier);` the supplier is being called every time, even though a Bulkhead is already registered with the given name, and the result of the supplier is never used. This should be avoided.

[2018-11-09 11:55] RobWin commented on #283
Thx

[2018-11-09 15:48] hcf commented on #266
Any updates regarding releasing 0.13.2? Would really appreciate if #284 could be added to this release, as we are going live with resilience4j in the coming weeks.

[2018-11-09 16:16] storozhukBM commented on #266
Hi @hcf and @obfuscoder,
During last month we had a few more improvements that will be released with **0.13.2** including #284.
With a help of @RobWin I've clarified the release procedure which I'm planning to document also.
I'm going to release **0.13.2** version between 15 and 18  of November. Hopefully it is OK for you.

Regarding 1.0.0 version:
I think we can make one week after **0.13.2**, I'

[2018-11-18 10:10] storozhukBM commented on #266
Hi @hcf and @obfuscoder,
0.13.2 released

[2018-11-23 05:01] dberrueta-atlassian opened #286 "Spring Boot emits warnings about invalid actuator endpoint name"
When using the Spring Boot 2.x starter, the application emits two warnings on startup:

`o.s.boot.actuate.endpoint.EndpointId     : Endpoint ID 'circuitbreaker-events' contains invalid characters, please migrate to a valid format.`
`o.s.boot.actuate.endpoint.EndpointId     : Endpoint ID 'ratelimiter-events' contains invalid characters, please migrate to a valid format.
`

I am not sure yet what th

[2018-11-26 17:20] checketts opened #288 "Improve Kotlin support via Nullability annotations"
Kotlin supports nullable types as a first class citizen. Adding nullability annotations to methods and annotations improves the null checking and also streamlines Kotlin support.

Without these annotations Kotlin treats returned values as an unknown (aka platform) type.

Example of similiar change I did with Micrometer: https://github.com/micrometer-metrics/micrometer/pull/310

Would a PR adding t

[2018-11-26 17:30] storozhukBM commented on #288
This is a great idea @checketts
If you want to contribute such PR it will be more than welcome.

[2018-11-28 01:03] yannxia opened #290 "CircuitBreaker Inconsistency"
first to trigger CircuitBreaker OPEN，must full of ringBufferSizeInClosedState， but next unnecessary。

[2018-11-28 05:21] #290 closed

[2018-11-28 08:05] yannxia commented on #290
@RobWin  not AutomaticTransitionFromOpenToHalfOpen.

when you first time trigger CircuitBreaker be `OPEN`， you must wait `ringBufferSizeInClosedState` times error, for example:

[code]

call some `error` url,  all call will fail, but when you fail `16th` calls, it's  CircuitBreaker still `CLOSE`, must be full of `ringBufferSizeInClosedState` , when `31th` calls, it's CircuitBreaker will be 'OPEN'。

[2018-11-28 08:27] #278 closed, assigned to nobody

[2018-11-28 08:33] RobWin commented on #280
@storozhukBM Why do you think it's a bug?
I think the CircuitBreaker should not check the root cause of an exception (automatically).

[2018-11-28 08:36] RobWin commented on #280
@spooz You can define your own FailurePredicate like this:

[code]

[2018-11-28 09:54] berrueta commented on #286
The warning was introduced here: https://github.com/spring-projects/spring-boot/issues/14840

[2018-11-28 18:03] checketts opened #291 "Allow overriding Spring Beans"
In the Spring `CircuitBreakerConfiguration` and `RateLimiterConfiguration` the `@Bean` methods should also be annotated with `@ConditionalOnMissingBean` so the user can replace that bean with one of their own instance.

[2018-11-29 01:26] d-strickland opened #292 "0.* version?"
Hi, I'm thinking of using Resilience4j in a project, and I'm wondering whether I should be concerned that the latest version is pre-1.0.0. Are there any missing features, planned changes to the API, or anything like that that I need to be aware of? Thanks in advance.

[2018-11-29 05:20] storozhukBM commented on #292
Hi @d-strickland,
We consider to create 1.0.0 release based upon 0.13.2
The API is fairly stable and no changes are planned for now

[2018-11-29 05:33] #140 closed

[2018-11-29 05:47] RobWin commented on #290
Yes it is fails / ring size if the ring buffer is full

[2018-11-29 06:02] RobWin commented on #290
If you are interested, please have a look at https://github.com/resilience4j/resilience4j/blob/master/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/internal/RingBitSet.java

[2018-11-29 06:08] RobWin commented on #292
It's not 1.0.0 yet, because Resilience4j is not feature complete. We still want to add some features in our Spring Boot 2 module.

But all core R4j modules like CircuitBreaker, Retry, RateLimiter, Bulkhead are production ready and used in large scale systems.

[2018-11-29 06:09] RobWin commented on #292
In general we try to avoid any not backward compatible changes to APIs.

[2018-11-29 17:08] d-strickland commented on #292
Makes sense, thank you. I also just found #266 (whoops).

[2018-11-29 17:08] #292 closed

[2018-11-29 22:36] hrosenbe opened #294 "Clarify usage of CircuitBreaker with Reactor"
I am evaluating resilience4j for use in a project in which we using Reactor 3.  I think that I am misunderstanding how the CircuitBreaker works, but I cannot find any clarity in the documentation.

Here is a simple test case (written in Groovy using Spock):

[code]

What I expected was that the circuitBreaker would drop the exception, adding the error bit to the ring buffer, and continue operation

[2018-11-30 06:58] marknorkin commented on #294
Hello, @hrosenbe. I'm not a contributor to r4j, however I've found interesting your ticket, particularly I would like to ask you, the reasoning of mixing CircuitBreaker with Flux/Mono from Reactor, from what I know Flux and Mono already has built in support on what to do in case of exceptional situations i.e. [doOnError, onErrorResume, retry etc. ](https://projectreactor.io/docs/core/release/api/r

[2018-11-30 13:05] hrosenbe commented on #294
I realized that the example that I gave does not do what I intended.  Rather than calling onError on the circuitBreaker for the first element, it is just passing a RuntimeException in onNext. However, I created a different test case with a generated Flux that has the intended behavior, and the exception is still passed on by the circuitBreaker.  So it would be helpful to have a better description

[2018-11-30 13:09] hrosenbe commented on #294
@marknorkin It likely is possible to get the behavior I want with a combination of onError operators on a Flux, and I am looking into that as well.  However the resilience4j circuitBreaker appeared to have exactly the behavior that I wanted to implement, and so is worth exploring.

[2018-11-30 13:58] RobWin commented on #294
Hi,
you must use `Flux.error` to simulate an exception.
Please have a look at our tests: [FluxCircuitBreakerTest](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-reactor/src/test/java/io/github/resilience4j/reactor/circuitbreaker/operator/FluxCircuitBreakerTest.java)

[2018-11-30 14:04] RobWin commented on #294
A CircuitBreaker always passes the original exception when the CircuitBreaker is not open.

[2018-11-30 14:08] hrosenbe commented on #294
@RobWin Thanks for the info.  This answers my question.

[2018-11-30 14:08] #294 closed

[2018-11-30 14:08] RobWin commented on #294
I updated my comment. I hope it's clearer now.

[2018-11-30 19:58] dkozh opened #295 "Registred CircuitBreakerHealthIndicator are not showing in the health endpoint"
With spring boot 1.5.17, the registered CircuitBreakerHealthIndicator are not showing up in the health endpoint. I am using default health endpoint and by the time it's initialized the circuit health indicators are not created yet and thus are missing.

Currently I had workaround by using custom health endpoint and dynamically retrieving all health indicators from app context, which works.

Did I

[2018-11-30 21:08] RobWin commented on #295
Hi, did you configure your Circuitbreakers in your properties file?

[2018-11-30 21:18] dkozh commented on #295
I have the following:
``
resilience4j.circuitbreaker.backends.accountsAdapter.register-health-indicator=true
resilience4j.circuitbreaker.backends.accountsAdapter.ring-buffer-size-in-closed-state=5
resilience4j.circuitbreaker.backends.accountsAdapter.ring-buffer-size-in-half-open-state=3
``

[2018-12-02 14:53] ndhilliprasad commented on #262
@srinivasa1225 if you are interested

[code]

[2018-12-05 19:12] dkozh opened #298 "Ability to override defaults in CircuitBreakerConfig"
This would be helpful for being able to set global defaults for every circuit breaker. In this case no need to provide endless configuration for services that have same settings but different from current implemented defaults.

@RobWin, @storozhukBM  thoughts?

[2018-12-05 19:18] RobWin commented on #298
It's already possible by using the Registry.

[code]

[2018-12-05 19:38] dkozh commented on #298
I saw that. What about CircuitBreakerProperties that have not specified all their configuration? They would fall back to current implementation of defaults, unless custom post processor is added to reset them.

Any better way?

[2018-12-07 14:42] rangarajl opened #299 "Dynamic Circuit Configurations"
Is it possible to override the circuit configurations at run time ; hystrix provides this ability in terms of dynamic configurations - can the same be done here?

[2018-12-10 11:06] Romeh commented on #258
Small question , if we add response check in circuit breaker logic , would not cover all possible types for us including reactive types as you can check ur response to detect failure cases if no exceptions is thrown ?

Or just having custom logic in bodyToMono to check if mono map is empty throw an exception ?

[2018-12-10 11:53] RobWin commented on #258
Could you please rephrase your question? I'm not sure If I understood your question correctly.

[2018-12-10 13:35] Romeh commented on #258
I meant to support reactive types that could be returned despite there was an error in calling external API for example instead of exceptions :
1- if we add response check of the service call in circuit breaker failure detection we could cover that need by doing so and maybe other future response types
2- Or we should relay on the developer to add the right mapping for possible cases via bodyToMon

[2018-12-10 14:54] ryanjbaxter commented on #258
Can you provide an example of what you are suggesting?

[2018-12-10 16:59] Romeh commented on #258
For point 2 i meant :
[code]

For Point 1 , I meant to add response predicate or checker part of circuit breaker configuration like the one we have on Retry configuration   , example from retry :
[code]

[2018-12-11 00:56] ryanjbaxter commented on #258
I dont see how this fixes the problem, the method is still going to return a Mono or Flux and has no idea whether that will resolve without an error or not.

[2018-12-11 09:16] berrueta commented on #286
Sorry for the delay. I wanted to experiment a bit to try to minimise the impact of the change.

Please see PR #300 .

[2018-12-11 13:40] Romeh commented on #258
Yeah I know , the issue throwing exceptions throw reactive web client will be transformed into MonoError Or FluxError so the throwable predicate will not be triggered in that case as there is return value at the end from this call (MonoError or FluxError which is Flux or Mono at the end)

I guess if he move out the circuit breaker configuration one level up where he will subscribe on Mono being re

[2018-12-11 23:49] sfitts opened #301 "RxJava 2.2.4 broke operator implementations"
Release [2.2.4](https://github.com/ReactiveX/RxJava/releases/tag/v2.2.4) of RxJava removed `SubscriptionHelper.isCancelled` which is currently used by the operator implementations.  Honestly I'm tempted to log this as an RxJava bug since this kind of breaking change in a patch release is unfriendly.  However, the class in question is internal, so...

Anyway, until this is fixed moving beyond 2.2.3

[2018-12-12 07:15] danielimre commented on #301
While making `BulkheadSubscriber`, `CircuitBreakerSubscriber` and `RateLimiterSubscriber` work both with former and latest RxJava is simple, I found that 2.2.4 also broke `RetryTransformer` which needs to be redesigned if we want to support both versions of RxJava. The problem is with `SubscriptionArbiter` as its constructor has changed.
Looking at the implementation of e.g. `Observable#retry` and

[2018-12-13 06:34] rashidi commented on #295
Sorry, I spoke too soon. I got it work with

`resilience4j.circuitbreaker.backends.backendA.register-health-indicator=true`

[2018-12-13 12:53] #286 closed

[2018-12-13 12:54] RobWin commented on #299
No sry, not possible yet.

[2018-12-13 13:02] RobWin commented on #298
CircuitBreaker that have not specified all their configuration fall back to the global defaults of the CircuitBreakerRegistry config.

In Spring (Boot) applications you can't overwrite the global defaults of a CircuitBreakerRegistry at the moment. Would you like to create a PR to allow this?

[2018-12-13 13:02] RobWin commented on #295
thx  :+1:

[2018-12-13 13:05] RobWin commented on #295
Health Indiciators should be registered by default.
See https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring/src/main/java/io/github/resilience4j/circuitbreaker/configure/CircuitBreakerConfigurationProperties.java#L126

[2018-12-14 16:16] dkozh commented on #298
Sure, i will have PR on weekends.

[2018-12-14 16:37] Romeh commented on #258
@RobWin  , @ryanjbaxter
I have added the support to the webflux reactive types in the circuit breaker annotation AOP as shown the code the snippet below .
the ApiType will decide which flow to use the default one or the webFlux flow in the aspect implementation.

the integration test in spring boot2 is updated to test the same in CircuitBreakerAutoConfigurationTest in my branch .

Do we want to su

[2018-12-14 17:15] dkozh commented on #295
After spending more time on this, there are few things to note:
For spring boot 1.5, in order to see all the health indicators of circuit breaker the security and sensitivity should be disabled (unless that health endpoint is secure).
`management.security.enabled=false
endpoints.health.sensitive=false`

Otherwise custom health endpoint is needed to see them always in secured/unsecured mode (that's

[2018-12-14 17:15] #295 closed

[2018-12-18 13:59] hepin1989 opened #304 "add waitDuration to RetryConfig"
add a getter method for initial value.

[2018-12-19 03:48] TaurusXi opened #305 "[question] grafana daskboard config"
I'm integrating with Prometheus monitoring, but how do I integrate to show the success of all CircuitBreakers in one piece as the example from user guide?
My configuration: irate (resilience 4j_circuitbreaker_calls {instance="$instance", application="$application"} [1m])
my daskboard is like this:
![image](https://user-images.githubusercontent.com/7374555/50197763-88122380-0383-11e9-87a2-2291973a1

[2018-12-19 07:45] typekpb commented on #196
any updates on this one? the contribution would be probably done in the https://github.com/OpenFeign/feign right?

[2018-12-19 07:47] typekpb commented on #266
Any updates on this?

Seems original plans didn't work that well, right?

[2018-12-19 11:32] typekpb commented on #196
OK, just noticed, it has been already done :) ignore my last comment, please

[2018-12-19 12:04] typekpb commented on #196
Started to play around with the implementation. Currently blocked by the missing `resilience4j-feign` in the snapshot repo: http://oss.jfrog.org/oss-snapshot-local/io/github/resilience4j/

@storozhukBM Is there a chance to change the project version to whatever you plan to release next (probably `0.14.0-SNAPSHOT`) and push to upstream snapshots maven repo?

[2018-12-19 12:07] RobWin commented on #179
There is a Spring Boot2 module

[2018-12-19 16:13] typekpb commented on #196
Sure, thanks a lot!

On Wed, Dec 19, 2018, 16:24 Bogdan Storozhuk <notifications@github.com
wrote:

[2018-12-19 20:34] squarepegg commented on #179
Ahh, thanks. I was looking at the demo which is tied to Spring Boot 1.

[2018-12-20 06:20] storozhukBM commented on #196
@typekpb Snapshot deployed. Have a nice day)

[2018-12-20 07:12] typekpb commented on #196
Thanks!

On Thu, Dec 20, 2018, 07:20 Bogdan Storozhuk <notifications@github.com
wrote:

[2018-12-20 10:38] sachinb4u opened #306 "User Guide : Formatting for bulkhead is misplaced"
Bulkhead section formating is broken, it should be next section

http://resilience4j.github.io/resilience4j/#_introduction_4

![image](https://user-images.githubusercontent.com/2748549/50279947-30ea7c80-0471-11e9-8ac4-22f4f30a5a0b.png)

[2018-12-21 15:25] vwallden opened #307 "Bulkhead Support in Prometheus"
Monitoring bulkhead state is critical, and it would be great if the Prometheus Metrics Integration project supported exposing the amount of available calls, which is already tracked in Bulkhead.Metrics. Currently only metrics for RateLimiters and CircuitBreakers are supported for Prometheus.

It also occurs to me that a helpful additional metric for bulkheads might be the amount of rejected attemp

[2018-12-21 16:18] RobWin commented on #307
Yes, Feel free to create a PR

[2018-12-21 17:36] vwallden commented on #307
Will do.

[2018-12-28 14:03] 123Haynes opened #309 "[question] Spring AOP and recovery function?"
Hello,

I'm currently trying to migrate a spring boot project that's using hystrix to resilience4j.
Currently I'm using this simple hystrix command:
[code]

In the docs, I saw that ratpack users can use
[code]
 to call a recovery function.
How can I achieve something similar with Spring AOP?
Looks like the Spring AOP annotation currently only supports setting a name.

[2018-12-30 21:51] BenEfrati opened #310 "resilience4j-bom is missing from Maven central"
Hi,
The resilience4j-bom not exists in maven central https://search.maven.org/
From release notes:

Thanks,
Ben

[2019-01-01 08:22] thekalinga opened #311 "Rate limiting implementation for reactor is broken"
Please ignore this completey, Just look at below comment as it makes more sense than this

~~Rate limiter is supposed to protect a resource against unexpected number of calls like lets say number of times an external API can called/sec~~

~~Meaning, we guard the actual calls, not the results from external call~~

~~In our current Reactor implementation (I assume the same is true for RxJava2 aswell

[2019-01-01 09:09] thekalinga commented on #311
Looks like I'm wrong about half of my analysis. i.e about rate limiting subscription

Looks like the current implementation of `ResilienceBaseSubscriber#isCallPermitted()` is a blocking operation. So all the calls(+ threads) if any of the threads use the same rate limiter will be blocked (blocking thread is not a good idea to begin with) when rate limiter does not have enough tokens to issue

Also

[2019-01-01 12:57] storozhukBM commented on #311
Hi @thekalinga,
Thank you for bringing up this conversation. I think we should wait for @madgnome for comment.
If I get your ideas right it should be possible to construct your solution on top of [Metrics.getAvailablePermissions](https://github.com/resilience4j/resilience4j/blob/85107d7acf062e56d74c9b65fcc3288e95f01f85/resilience4j-ratelimiter/src/main/java/io/github/resilience4j/ratelimiter/RateL

[2019-01-01 13:08] thekalinga commented on #311
@storozhukBM I'm attempting to modify exiting source to see if I can make the changes alone because

1. I'm not quite certain about why hooks always check for `wasPermitGranted`
2. The a lot of code is common across rate limiter, bulkhead & circuit breaker

I'm attempting to modify it now. Will share an update if I make any progress

[2019-01-01 13:32] storozhukBM commented on #311
Sure, thanks.

[2019-01-01 15:22] thekalinga opened #313 "Rename Bulkhead#isCallPermitted to match its behaviour"
Currently, the method `Bulkhead#isCallPermitted` is named like a sideeffect free operation, all `isX` are generally considered to be sideeffect free. Tho the documentation states it attempts to acquire a permit, the method name is not named appropriately

A better name would be `Bulkhead#reservePermit` along the lines of `RateLimiter#reservePermission`

[2019-01-01 15:26] thekalinga opened #314 "Allow users to relinquish permit in RateLimiter"
Currently we only have a way to reserve permit using `RateLimiter#reservePermission`. There are usecases in non blocking reactive streams, where by the time we acquire the permit (after a delay), the original stream might have been cancelled

In this case, we need to relinquish the permit back to the rate limiter so that someone else can make use of this permit

[2019-01-01 18:30] storozhukBM commented on #313
Great finding, @thekalinga. I think you're absolutely right about it, of-course we can't rename or change the behaviour of current method to preserve the backward compatibility. Possible solution can be to introduce two new methods with appropriate names, deprecate old one with reference to new methods and replace usages of old method at least inside our library. Possible names could be `tryToRese

[2019-01-01 18:47] storozhukBM commented on #314
Thank you @thekalinga, for this issue.
Unfortunately permission relinquish is not such a simple feature. Acquired permission inside rate limiter is bounded to refresh time slot and should have possibility to return only before next permissions refill.
If I understand your issue right, such case is more of exeptional than usual behavior. In general it's better avoid such complication of behaviour t

[2019-01-01 18:53] storozhukBM commented on #310
Hi @BenEfrati,
Yes, you're right. We've noticed that also. It seems to be an issue with our Binrtay publishing plugin, and it is not reproducible during snapshot publishing, so it's pretty hard to debug. During next release I'll try to update plugin version and use some debug logs to troubleshoot that. If you have some other suggestions please let me know.

[2019-01-02 10:43] sachinb4u opened #315 "resilience4j-spring OSGi bundle does not get resolved to get it's dependent bundles"
I am trying to use `CircuitBreakerAspect` from `resilience4j-spring` in OSGi code. When I try to resolve the my bundle which uses this package, it's not able to get the dependent bundles due to unresolved package requirement. As it's not exported from `resilience4j-circuitbreaker` library.

When `resilience4j-spring` OSGi bundle is resolved through Bndtools eclipse plugin, it gives below resolutio

[2019-01-02 11:17] sachinb4u commented on #315
Created a PR #316 to fix the above issue.

[2019-01-03 10:30] thekalinga commented on #314
I am not sure I fully understand this part

Here is my understanding. The rate limiter uses leaky bucket algorithm. It continues to add more token permits at regular interval. If there are unused to tokens from last addition, we dont reset to any max value. The permit addition is cumulative without any cap.

If, the above is true, we can simply increment the permitCount atomically

Can you plz cla

[2019-01-03 10:40] thekalinga commented on #313
@storozhukBM Since the library is not yet `1.0.0`, API changes should be alright, dont you agree?

[2019-01-04 09:13] #315 closed

[2019-01-07 03:46] FDU-SE-LAB opened #318 "Your project resilience4j/resilience4j is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-12 10:20] henry1992007 opened #320 "waitDurationInHalfOpenState?"
Any idea of creating property waitDurationInHalfOpenState?

the case I ran into is that, I need to stay in HalfOpen state for a certain duration to make sure that the backend service is stable before transiting to Close state. Thanks very much

[2019-01-14 03:47] madgnome commented on #311
It seems that you are mixing 2 different concerns in the same issue and labelling everything broken.

## Blocking threads ##

As you have mentioned `RateLimiterSubscriber#isCallPermitted` is a blocking operation.

This is not the most efficient solution but this is not wrong and it is compliant with the reactive stream specification since publishers are not blocked (thanks to `publishOn()` usage).

[2019-01-14 05:34] henry1992007 opened #321 "is it possible to trigger rate limiting when circuit breaker is not closed?"
i need to apply a rate limiter and a circuit breaker on a backend call, where the rate limiter is active only when the breaker is not CLOSED,  is it possible? Thanks.

[2019-01-14 11:53] Romeh commented on #258
@RobWin , @ryanjbaxter  any news guys about the above ?

[2019-01-14 12:01] RobWin commented on #258
Sry, I'm really busy at the moment.
@ryanjbaxter @storozhukBM Do you have time to review it?

[2019-01-14 15:09] ryanjbaxter commented on #258
I am not too familiar with how the underpinnings of Resilience4J work more of a consumer at this point, but I can take a look to see if I see anything obvious

[2019-01-17 08:49] gmariotti opened #322 "Support suspending functions"
Hi team, AFAIK, the current decorator functions don't support Kotlin suspending functions. I'd like to contribute with a `resilence4j-kotlin` module, where these small cases are handled. Would you be interested in it?

[2019-01-17 15:14] emaas commented on #241
This however is an issue as it's not configurable

[2019-01-19 14:40] thesmith opened #324 "Advice: Migrating from Hystrix to Resilience4j"
Sorry, I couldn't find a community mailing list or anything.

I'm sharing a question I asked on StackOverflow with hope that it gets some traction.

I took on a project over the holidays that converts a project from Hystrix to Resilience4j and would really appreciate some help on how best to wrap asynchronous calls to retain the good parts of Hystrix.

https://stackoverflow.com/questions/54238932/

[2019-01-20 12:38] storozhukBM commented on #324
Hi Ben,

Thank you for this question. I think there is no direct replacement of HystrixCommand in Resilience4j.
The most similar thing would be `CircuitBreaker.decorateCompletionStage`([link](https://github.com/resilience4j/resilience4j/blob/807fee0e0d53c8980f8bf8966cb20c7418391e04/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/CircuitBreaker.java#L423)) or `Circui

[2019-01-20 12:44] storozhukBM commented on #322
Hi @gmariotti
Yes, I think such module would be a nice addition to our library.

[2019-01-20 12:52] storozhukBM commented on #313
I won't put our users into situation where they need to fix their totally working code, because we have decided to clean up some API. Backward compatibility is top priority here, it won't be changed unless there is some nasty bug or security vulnerability.
Method deprecation and new API variant should be a good compromise on such situation.

[2019-01-20 12:56] storozhukBM commented on #321
Hi @henry1992007
You can change order of permission checks by changing order of CircuitBreaker and RateLimiter decorators you apply.

[2019-01-20 13:00] storozhukBM commented on #320
For now you can change rig buffer size of half-opened circuit breaker by adjusting `ringBufferSizeInHalfOpenState` param. This should work in your case if you have somewhat stable throughout.

[2019-01-22 07:58] chrylis opened #325 "Decoration as instance methods?"
Right now, if I want to immediately execute a `Supplier` and get a result back, I can call `retry.executeSupplier(supplier)`, which is straightforward and idiomatic. However, decorating the `Supplier` requires an awkward static call instead of the usual dot operator (and also can't be used as a method handle). Would it be manageable to include `default <T> Supplier<T> decorate(Supplier<T>)` and fr

[2019-01-22 08:01] chrylis opened #326 "Simpler method naming?"
As of 0.13.1, there are a number of methods in `Retry` (and elsewhere) that are straightforward unambiguous overloads, such as the various `execute` and `decorate` methods. Since there is no risk of collision among these methods, I suggest that the API would be simpler to navigate if these were simply overloaded with the same name: `execute(Supplier)`, `execute(Runnable)`, and so on.

[2019-01-22 09:51] jonbaine opened #327 "Lazy CircuitBreaker register for prometheus exports results into IllegalArgumentException"
Hi all,

On the migration of a Hystrix app to resilence4j, I found a problem when trying to perform a lazy creation and registering of a circuit breaker into prometheus exports. The application is modular and the idea is that the resiliency module create and registers a new circuit break and registering on the fly.

The Circuitbreaker works ok, but the CollectorRegistry fails when trying to regist

[2019-01-22 11:55] RobWin commented on #325
Hi,
can you provide an example?
Right now you can do
`String result = circuitBreaker.executeSupplier(backendService::doSomething);`

or

`String result = circuitBreaker.executeSupplier(() -> backendService.doSomething());`

Isn't that what you need?

[2019-01-22 12:04] RobWin commented on #327
Yes, you are right. At the moment it's not possible to register elements on the fly.
Maybe cou could register multiple collectors with different prefixes.

`CollectorRegistry.defaultRegistry; ):
this.collectorRegistry.register(CircuitBreakerExports.ofCircuitBreaker("resilience4j_circuitbreaker_" + myCircuitBreaker.getName(), myCircuitBreaker));`

[2019-01-23 09:23] chrylis commented on #326
What are the cases that were a problem? (I know that type inference improved significantly from 8 to 9, and you may be wanting to maintain backward compatibility, but I'm not aware off the top of my head of collision cases.)

[2019-01-23 13:12] simone-romei-hybris opened #329 "Metrics type problem"
Hi,
I'm using resilience4j with "Dropwizard Metrics" as follow:
`
final MetricRegistry collectorRegistry = new MetricRegistry();
collectorRegistry.registerAll(RateLimiterMetrics.ofRateLimiter(rateLimiter));
...
JmxReporter.forRegistry(collectorRegistry).inDomain("resilience4j").build().start();
`
The metrics for the rate-limiter are available in MBean but it's impossible to generate graph on it (I

[2019-01-23 15:00] Romeh commented on #258
@storozhukBM can you please check if we can merge it? , @ryanjbaxter  thankfully did code review for the pull request .

Thx a lot,

[2019-01-28 07:31] #306 closed

[2019-01-29 12:55] tdittmann opened #331 "[question] Retry on Timeout?"
Is it possible to retry a call when a timeout occurs? At the moment I use TimeLimiter, CircuitBreaker, Retry and Bulkhead like this:

`ExecutorService executorService = Executors.newSingleThreadExecutor();
Supplier<Future<T>> futureSupplier = () -> executorService.submit(pCallable);

Callable<T> callable = TimeLimiter.decorateFutureSupplier(timeLimiter, futureSupplier);
callable = CircuitBreaker.d

[2019-01-30 16:48] cschockaert opened #332 "Bulkhead reactor operator does not release semaphore on cancel"
I had a problem when doing some benchmarks with mono + bulkhead operator, and i terminated the bench in a state where semaphore used by bulkhead was never released.

i wrote a simple test demonstrating the issue:

[code]

This test is failing :

[code]

[2019-01-30 16:58] cschockaert commented on #332
seems that implementation of io.github.resilience4j.reactor.ResilienceBaseSubscriber#hookOnCancel is not done in bulkhead operator

[2019-01-30 20:10] chrylis commented on #325
I can do that. Do you have style and test guidelines?

[2019-01-31 08:34] tdittmann commented on #331
I separated retry and then it worked. So first i put a callable into retry-mechanism and in this callable i use the other things.

[2019-02-01 08:53] mrzeszotarski opened #334 "CircuitBreaker doesn't stop execution of Mono made from Runnable"
Let's consider case when we have to convert Runnable to Mono which should be protected with CircuitBreaker. As documentation said I used `transform(CircuitBreakerOperator.of(circuitBreaker))` operator on created `Mono`. I've written test to simulate if circuitBreaker in open state will stop execution of source runnable (code snippet below). Test passed but in logs I saw logged "execution should no

[2019-02-01 09:46] RobWin commented on #334
Hi, thx for creating an issue.

I tried the following tests which are working as expected.

[code]

[code]

Seems `StepVerifier.withVirtualTime(() -> Mono.fromCallable(callable())` behaves different?

[2019-02-01 09:53] RobWin commented on #325
No, but you can have a look at other tests.

[2019-02-01 09:54] RobWin commented on #241
Would you like to create a PR?

[2019-02-01 09:58] RobWin commented on #309
Hi, sry I was very busy the last weeks and months.

It's not possible at the moment to defice a recovery function via annotations.
At the moment the calling side (client) has to decide how to recover from an exception.

[2019-02-01 10:00] #332 closed

[2019-02-01 10:57] RobWin commented on #326
Yes, it works. I don't rembember why It didn't work when I started the project :(

[code]

Would you like to create a PR?
What do you think @storozhukBM. Should we add new methods?

[2019-02-06 09:30] mrzeszotarski commented on #334
I've figured out that issue is because of implementation of method `Mono.fromRunnable` from `reactor-core` library. I've created issue in `reactor-core` project https://github.com/reactor/reactor-core/issues/1503. It will be fixed with new version of `reactor-core`. After this fix above test is passing.

[2019-02-06 09:34] RobWin commented on #334
Awesome thx. Happy that it's not a Resilience4j bug 😉

[2019-02-07 00:51] sankar22222 commented on #309
Robwin i can contribute to the Source code Can you create a PR and add me to private channel

[2019-02-08 09:19] RobWin commented on #309
You have to create a PR your own.

[2019-02-08 10:37] storozhukBM commented on #326
@RobWin @chrylis  great finding. Yes we definitely can add such methods.

@chrylis do you wan't to prepare such PR?

[2019-02-08 10:47] johanhaleby opened #336 "Need help understanding why rate limiter doesn't behave like I think it should?"
Hi,

I'm using resilience4j and the rate-limiting module together with Spring project reactor. The code I have looks essentially like this:

[code]

I've tried creating a test case in which I'd like to verify that the rate limiter actually limits the requests per second to 10. The test case looks like this:

[code]

But this fails with:

[code]

I don't really understand why the test is only takin

[2019-02-11 15:24] emaas commented on #241
I would love to. However, i cannot build the project because it has many version conflicts in it's dependencies that have not been resolved

[2019-02-11 16:01] emaas commented on #241
I have added pull request: #337
Hopefully this would fix it. However again. There are a lot of version conflicts so i cannot test it locally.

[2019-02-14 08:29] johanhaleby commented on #336
Not sure, but could this actually be a bug?

[2019-02-14 12:52] ivansenic opened #338 "SpringBoot 2 auto-configuration fails when not specifying all properties"
SpringBoot version: `2.1.2.RELEASE`
resilience4j version: `0.13.2`

When starting the application with following:

[code]

I get exception:

[code]

The `io.github.resilience4j.circuitbreaker.autoconfigure.CircuitBreakerProperties` really defines the `@NotNull` javax validations for the mentioned fields in the `BackendProperties` inner class.

Funny enough your `resilience4j-spring-boot2-demo` wor

[2019-02-18 12:13] favetelinguis opened #340 "Test not behaving as expected"
What is wrong with the following test? Im expecting it to fail since cb2 should be in open state. However it looks like nothing is working since all CircuitBreakers are in Closed state? I guess this is something wrong with my understanding but maybe a test like this should be in the docs?

[code]

[2019-02-18 19:36] normandesjr commented on #331
@tdittmann  How did you make it? I tried something like the code bellow, but still not working.

`
 Callable<List<Beer>> retryCallable = Retry.decorateCallable(retry, () -> remote.find("abc"));
 Callable<List<Beer>> chainedCallable = CircuitBreaker.decorateCallable(circuitBreaker, retryCallable);

 ExecutorService executorService = Executors.newSingleThreadExecutor();
 Supplier<Future<List<Beer>>>

[2019-02-18 20:02] RobWin commented on #340
If the size of the CircuitBreaker Ring buffer is two, you must at least measure 2 calls before the failure threshold is calculated.

[2019-02-18 20:32] favetelinguis commented on #340
So if I have a buffer of 100 and a failure rate of 1 it would still take 100 failing calls to open the circuit breaker?

[2019-02-18 20:52] RobWin commented on #340
Yes, otherwise you can calculate a failure rate. Imagine you would calculate after the first failed call. You would have a failure rate of 100% even if the next 99 calls are successful.
If you want to calculate faster, you have to reduce the ring buffer.

[2019-02-19 04:28] favetelinguis commented on #340
Ok. But IF you check The code im doing mono.block 2 times but still no open circuit breaker? Is there something else im missing?

[2019-02-20 11:12] ViveKapoor opened #341 "missing failure RATE."
This is a brilliant library but as ring bit buffer in used which is working on the basis of number of requests and then reset buffer...so on. But there is no functionality to failure rate (like * failed requests per day). is it possible with the current implementation?

[2019-02-22 08:42] RobWin commented on #341
No, but there are is a micrometer integration which allows you to send metrics to Prometheus or Influx DB.
There you can do whatever you need.

[2019-02-22 10:16] hraab opened #343 "Behavior in half_open state"
My primary use case is to open the circuit when backend timeouts occur.

When I use a time limiter chained with a circuit breaker (like in examples) I found that the behavior in HALF_OPEN state is not as I would exptect. When HALF_OPEN, all subsequent requests will go to the backend (and time out) until the circuit breaker switches to OPEN again. I would expect that only 1 request (or configurable

[2019-02-23 01:39] jlaber commented on #338
resilience4j.circuitbreaker.backends.mybackend.ring-buffer-size-in-half-open-state=5
should be:
resilience4j.circuitbreaker.backends.mybackend.ringBufferSizeInHalfOpenState=5

If you don't use the dash separators, it should work.

[2019-02-25 08:01] ivansenic commented on #338
Hi @jlaber,

This is not fixing the issue, as simply it's not related. Spring Boot 2 supports [relaxed bindings](https://github.com/spring-projects/spring-boot/wiki/Relaxed-Binding-2.0) and the kebab case format of properties is even recommended.

The debugging shows that validation target is `CircuitBreakerProperties` with properties for one backend. You can see that properties I am mapping are c

[2019-02-25 08:13] RobWin commented on #338
Hi,

thanks for your analysis. I agree the `@NotNull` annotations not needed. Would you like to create a PR and remove them?

[2019-02-25 08:14] RobWin commented on #338
Sry for answering late. My project keeps me busy.

[2019-02-25 08:17] ivansenic commented on #338
Yea sure, I can do it..

[2019-02-25 08:23] RobWin commented on #343
Hi, thanks for using Resilience4j.

Yes, you missed to read the [implementation details](http://resilience4j.github.io/resilience4j/#_implementation_details) :)
Resilience4j uses a ring bit buffer to evaluate the failure rate in the HALF_OPEN state. The size of the ring buffer is configurable.  You can configure it to 1, but I would not advice to do so. Imagine you have a backend with multiple ins

[2019-02-25 08:24] #341 closed

[2019-02-25 08:25] RobWin commented on #340
Can I close the issue?

[2019-02-25 08:25] #334 closed

[2019-02-25 08:30] RobWin opened #344 "Expose bulkhead max allowed concurrent calls metric"
See PR #342

[2019-02-25 08:33] RobWin opened #345 "Add support for enableAutomaticTransitionFromOpenToHalfOpen in the spring"
See PR #337

[2019-02-25 09:26] bojanv55 opened #347 "How to close circuit in run-time?"
We are using resilience4j for sending messages to AMQP broker. Situation that we encountered is that one circuit was open, and since we stopped sending messages for this circuit, it stayed open forever in production. This created problem for alerting, since there is now constantly 1 open circuit forever, and it will not close, since there will be no more messages passing through it.

Is it possibl

[2019-02-25 09:32] RobWin commented on #347
Hi,

thanks for using Resilience4j,
Yes, you can either close a circuit breaker "manually".
You have two options

1. Enable automatic transition from OPEN to HALF_OPEN state once the waitDurationInOpenState has passed.   --> `circuitbreakerConfig.enableAutomaticTransitionFromOpenToHalfOpen()`
2. Create a health check indicator which sends a message in a certain interval in order to check the healt

[2019-02-25 11:14] hraab commented on #343
Hi Robert, thanks for your answer.

I set the ring buffer size for HALF_OPEN to 1 (for testing). The problem is: Before the circuit breaker gets a failure, the timeout must occur. The timeout is the "failure" to which the circuit breaker reacts (going from HALF_OPEN to OPEN again). During this period of time all requests will go to the not responding backend (and time out as well).

[2019-02-25 11:43] RobWin commented on #343
Ok, I got your point.
That's true. The CircuitBreaker does not reject any further calls yet, when all of the configured probing request have been initiated. That would be an interesting new feature which should be configurable. But it would require to track initiated requests when in HALF_OPEN state.

Would you like to create a PR? But you would have to dip into the internals of the CircuitBreaker

[2019-02-25 12:30] davidkarlsen opened #348 "feature: spring-boot2 support for retry"
It would be nice to have spring-boot2-iness for the retry functionality:
* autoconfig
* configure retry-settings through yaml
* apply in code as annotation + aspect like for @CircuitBreaker

[2019-02-25 12:37] RobWin commented on #348
Would you like to create a PR?

[2019-02-25 15:07] hraab commented on #343
Cannot promise anything. I'll have look into the code.

[2019-02-25 21:09] gavlyukovskiy commented on #326
@RobWin @chrylis please don't mix `execute(Supplier<T> supplier)` and `execute(Callable<T> callable)`, it will cause `Ambiguous method call` compiler error in user code with  lambda expression.

[2019-02-26 05:28] RobWin commented on #326
Aah thx. Now I remember why it didn't work in the first place.

[2019-02-26 20:33] awalland commented on #196
is there any timeframe when a non-snapshot artifact of this module will be released? i'd love to use it but i can't use snapshot versions.

thanks!

[2019-02-26 21:38] trajano opened #349 "Is there a starter package that works with spring-cloud-gateway"
It would be nice to have a starter dependency so I can do something like adding the following gradle dependency to enable resilience4j

    implementation 'org.springframework.cloud:spring-cloud-starter-netflix-hystrix'

[2019-02-27 15:10] RobWin commented on #349
Hi,
no, there is only a Spring Boot Starter, but none for spring-cloud-gateway.
As far as I know there is an issue in the spring cloud project itself where they try to integrate resilience4j.

https://github.com/spring-cloud/spring-cloud-gateway/issues/658

[2019-02-27 18:44] javadevmtl opened #350 "Distributed rate limiter?"
Hi, unless I missed it. Will there be support to back the rate limiter by a distributed cache? Usually for fault tolerance, performance etc... We deploy at least 2 APIs side by side... So somehow the rate limiter would have to know between the API instances the count?

[2019-02-28 10:51] 0xf10413 opened #351 "CircuitBreaker AutoTransitionner prevents JVM shutdown"
Hello,

I found what looks like a bug when using the AutoTransitionner. Take this code:
[code]

If you follow that program in the debugger, you can see that a running thread prevents the JVM shutdown. My guess is that this is a consequence of the AutoTransitionner ExecutorService, which is started but never shutdown. We'd need to call shutdown+awaitTermination or (probably better) shutdownNow to c

[2019-02-28 11:05] RobWin commented on #351
Hi
thx for reporting. Would you like to create a bugfix?

[2019-02-28 13:48] 0xf10413 commented on #351
Hi !
Sorry, i'm still not fully familiar with Java to know how to perform that. I thought of maybe adding a static shutdown function somewhere in the interface (ugly), or to add one AutoTransitionner per circuitbreaker and make the ExecutorService disappear with the circuitbreaker.
Unfortunately, just losing the reference to the executor service is not enough to close it...
I googled the AutoClosa

[2019-03-05 21:15] mumukiller commented on #351
I'm not sure that AutoClosable can help, as it should be triggered by some event (e.g. in case of spring boot autoconfiguration it can be method which is marked as @PreDestroy)

For manual CircuitBreaker management some method should be executed in order to prepare shutdown procedure.

So i suppose there should be separate method shutdown() in CircuitBreaker interface

Still there is a question re

[2019-03-06 12:00] guidoos opened #352 "Spring Boot 2 Actuator endpoint ids invalid since Spring Boot 2.1.0"
See this issue: https://github.com/spring-projects/spring-boot/issues/14840.

`.` and `-` are prohibited characters in actuator endpoint ids since Spring Boot 2.1.0. When using resilience4j-spring-boot2, two warnings are printed:

[code]

These warnings will become errors once Spring Boot 2.2 is released.

[2019-03-06 22:35] noroute opened #354 "Proposal: resilience4j-micrometer integration should use tags"
# Context
Micrometer regards dimensions as a first-class citizen of time series and advises to not include them in the time series name (see https://micrometer.io/docs/concepts#_meters).

resilience4j-micrometer adds the name of CircuitBreakers (or Bulkheads, Retries and RateLimits for that matter) to the metric time series. This leads to limitations for querying (e.g. "find me all the open circui

[2019-03-06 22:37] storozhukBM commented on #351
Fixed. Will be released as part of 0.14.0

[2019-03-06 22:41] storozhukBM commented on #336
Hi @johanhaleby
For me it also looks like a bug. Maybe @madgnome can clarify.

[2019-03-07 03:50] madgnome commented on #336
It shouldn't take 3s but 2:

Given 30 requests with 10 requests max by second
T0: 10 requests
T1: 20 requests
T2: 30 requests

I need to investigate more to see why we are 600ms short.

[2019-03-07 06:14] johanhaleby commented on #336
@madgnome Thanks for your answer. Although I have to say that I still don't quite get it.

Given that limitForPeriod is 10 and limitRefreshPeriod is 1s I would assume this (given that the number of requests are not accumulative):

T0: 10 requests
T1: 10 requests
T2: 10 requests

How come T1 actually allows 20 requests when "limitForPeriod" is 10? Or maybe I'm miss-reading you? Either way I don't s

[2019-03-07 07:49] RobWin commented on #354
Thx for this well structured issue :1st_place_medal:
I totally agree.  But as you said it's a backward incompatible change and the resilience4j-prometheus module should get a new major version, if we do semantic versioning.
We could start to give every module it's own version? Or should we start to separate add-on modules from the main project? But then the release process would be really cumberso

[2019-03-07 07:51] RobWin commented on #352
Thx for creating an issue.

Should be fixed in the latest snapshot version.

Please see: https://github.com/resilience4j/resilience4j/pull/300

The new version should be released soon.

[2019-03-07 14:32] Romeh commented on #348
@RobWin  I am working on adding Sync retry spring-boot2-iness  support , once it is done locally i will create PR for it also a possible question if we want to support the Async retry ?

[2019-03-07 16:40] noroute commented on #354
I just stumbled upon the docs for [Spring Boot](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-documentation/src/docs/asciidoc/addon_guides/springboot.adoc)/[Spring Boot 2](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-documentation/src/docs/asciidoc/addon_guides/springboot2.adoc) integration and they have examples that look *almost exactly* like what

[2019-03-11 04:41] nischit7 opened #357 "More than one circuit breaker for same backend results in "Operator called default onErrorDropped""
First of all, this is not a straight forward issue.
It can occur under specific conditions.

I do have a business requirement where I have to define 2 circuit breakers config for the same downstream API. This back end is very unstable and a specific endpoint is error prone. Hence we are having 2 different circuit breaker level to abort further class.

From the below test case, we have a requiremen

[2019-03-11 11:08] Romeh commented on #348
@RobWin  @davidkarlsen  https://github.com/resilience4j/resilience4j/pull/358 a pull request has been created , can u please check it out and would be appreciated to do some reviews there as well :)

[2019-03-12 11:58] noroute commented on #354
Ok, after looking a bit more it seems like `resilience4j-prometheus` takes the "dimensions as tags" approach but `resilience4j-micrometer` does *not*. The examples with Spring Boot all use `resilience4j-prometheus` while Micrometer is the official Spring Boot metrics adapter starting with Boot 2.0. Which means that direct prometheus and micrometer integrations behave inconsistently.

What's the wa

[2019-03-12 12:39] RobWin commented on #354
If we follow the metric and label conventions of Prometheus, we should even rename our metrics.

In our case the namespace is:  `resilience4j_circuitbreaker` or `resilience4j_ratelimiter`.

In our case the metric name should be: `successful_calls`, `failed_calls`, `buffered_calls` or `state`.

Combined: `resilience4j_circuitbreaker_successful_calls`

In our case labels could be: `name=<circuitBrea

[2019-03-12 12:57] RobWin commented on #354
I think we should agree on a naming convention and fix both `resilience4j-prometheus` and tagged `resilience4j-micrometer` so that the output looks similar.

[2019-03-12 17:32] leonard84 commented on #354
Hm, I don't quite agree in the example you quote they use `http_requests_total` and not `http_requests_successful`, the success/status_code is just a tag and not a metric itself.
The same would apply to the resilience4j metrics, e.g. `resilience4j_circuitbreaker_calls{name=<circuitBreakerName>, state=<successful|failed|buffered>}`

General tags should not be added by a library, as that is normally

[2019-03-12 21:30] noroute commented on #354
@leonard84 is right. Dimensions of a metric (success/failure/id/etc.) should be rendered as label. Including dimensions in the name makes discovery of dimensions impossible.

In all cases I know, application identity is added by infrastructure (e.g. Prometheus relabeling) and does not need to be included by the app unless it has special knowledge about that identity.

With some further looking int

[2019-03-13 07:50] RobWin commented on #354
@leonard84  @noroute
Yes, you are right. The call results `successfull | failed | not_permitted` are comparable to HTTP status codes 200, 500 or 401/403 of http_requests and should be labels/tags.

But I actually think that `buffered` and `buffered_max` are metrics by their own. They are not call results and thus not dimensions of the metric `resilience4j_circuitbreaker_calls`.
`buffered` is the s

[2019-03-13 09:49] noroute commented on #354
@RobWin Oh, thanks for the clarification. I didn't get the intricacies of buffers, yet. Is there documentation about that or do I have to look into the code?

# What CircuitBreaker metrics mean (interpretation)
Let me try to recap how this works (CircuitBreaker only):
* `successful/failed/not_permitted` are all call results (and thus dimensions of *calls*)
* `buffered_max` is the *size* of the rin

[2019-03-13 09:50] RobWin commented on #354
We document some implementation details here: http://resilience4j.github.io/resilience4j/#_circuitbreaker_11

[2019-03-13 09:55] RobWin commented on #354
If I would be picky, I would say that `not_permitted` is also no call result.
If the CircuitBreaker is OPEN it does not permit any calls, because calls are blocked.
That means: Not permitted calls are only measured when the CircuitBreaker is OPEN. As soon as it transitions back to CLOSED, the number of permitted calls are resetted.

[2019-03-13 10:02] RobWin commented on #354
To answer your question regarding the consequences.
1.) I think it would be good to "fix" and align the metrics output if r4j-micrometer and r4j-prometheus. Even if it is a non-backward compatible change.
2.) Yes, we should adapt all other metrics to the same style.

[2019-03-13 10:11] RobWin commented on #354
I still don't get why metric names should be inside of labels:

For example
[code]

vs
``
resilience4j_circuitbreaker_buffered_calls{name="foo"} 2.0
resilience4j_circuitbreaker_max_buffered_calls{name="foo"} 10.0
[code]

[2019-03-13 10:34] leonard84 commented on #354
What I noticed is that a `gauge` metric is used both for calls and state, which is incorrect IMHO. Calls should be a counter, since they always increase, state is a gauge since it toggle between 0 and 1.
This would also imply that not_permitted wouldn't be reset.

[2019-03-13 12:11] RobWin commented on #354
No, number of calls don't increase. The only increase up to the size of the ring buffer. Gauge is fine for successful and failed calls.

[2019-03-13 13:56] davidkarlsen commented on #348
Looks like this was merged. Could you do a release too?

[2019-03-13 13:58] leonard84 commented on #354
Then it would make sense, to add counter metrics for statistics as well. E.g. I want to see the total error rate for 24h. This doesn't work for gauges.

https://micrometer.io/docs/concepts#_gauges

[2019-03-13 14:41] RobWin commented on #354
[CircuitBreaker metrics](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/internal/CircuitBreakerMetrics.java) report the current values of the internal [RingBitSet](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/internal/

[2019-03-13 14:49] RobWin commented on #354
Or you could use a Dropwizard Metrics decorator which does that for you.  But I think there no MicroMeter alternative yet.

You could decorate your call and get counters for successful calls, failed calls and even timings.

[code]

[2019-03-13 15:23] RobWin commented on #354
I updated my last two comments, don't read them in EMails ;)

[2019-03-13 16:17] leonard84 commented on #354
@RobWin I never meant that CircuitBreaker should keep a counter for all calls. What you described with the EventPublisher is close to what I had in mind. The only difference is that it should use tags instead of custom names and it should also pick up added CircuitBreakers.

[2019-03-13 16:18] RobWin commented on #354
I just wanted to explain why a CB has no other counter metrics.

[2019-03-13 17:08] RobWin commented on #350
No, we don't have a distributed cache for rate limiters.

[2019-03-13 17:09] RobWin commented on #347
Did it help? Can we close the issue?

[2019-03-13 19:13] javadevmtl commented on #350
Is it something worth looking at? Thanks

[2019-03-13 20:40] noroute commented on #354
I agree that keeping current and max separate is the way it's done in Prometheus as they represent two different concepts (configured max vs. current fill). I would change the name to help discovery, though:

[code]

I would also change the `name` tag to `cb` to clarify that represents an identifier.

[code]

I'll do a draft PR for Micrometer CircuitBreaker so we can see it in action, but I probab

[2019-03-13 21:31] adik993 opened #359 "[Retry RxJava] Support for retryOnResult method and Completable, Maybe types missing"
Current implementation of retry for RxJava is missing support for the `RetryConfig.Builder.retryOnResult`.

It also lacks the support for `Completable` and `Maybe` reactive types.

[2019-03-14 02:53] lespinsideg opened #360 "Proposal: add Name annotation for using multiple circuit breakers in a method"
`Name` annotation that can be applied to a parameter would be helpful for using multiple circuit breakers or rate limiters in one method. If you are interested in this feature, I can make a PR for this.

[code]

[2019-03-14 07:44] RobWin commented on #360
Hi,

can you provide an example where you need multiple circuit breakers in one method?
One CircuitBreaker per bankCode? Why?

[2019-03-14 07:57] RobWin commented on #350
@storozhukBM Correct me if I'm wrong, but my opinion is that Rate Limiters should be fast and not decrease response times and throughput.
A distributed cache introduces a lot of complexity and latency when caches must be synchronized or replicated.
I think the disadvantage is bigger than the advantage.

Maybe you need a centralized ratelimiter inside of aload balancer or proxy instead.

[2019-03-14 08:00] RobWin commented on #357
Thanks for using Resilience4j.
I hope I can have a look at your issue soon. There some other PRs which require my attention at the moment. please be patient with me ;)

[2019-03-14 08:06] #340 closed

[2019-03-14 08:06] #347 closed

[2019-03-14 08:29] RobWin commented on #320
Why can't you just increase the time `waitDurationInOpenState`?

[2019-03-14 09:04] RobWin commented on #354
No, I don't have any objections anymore. Only two remarks.

`resilience4j_circuitbreaker_buffered_calls_max` could be confusing. It could be understood as the maximum value ever measured. But this value is constant and never increases or increases.
I would really call it `resilience4j_circuitbreaker_max_buffered_calls`.

I would also not use abbreviations as label names. Let's call it `circuitbrea

[2019-03-14 12:02] lespinsideg commented on #360
Since it is hard to communicate with multiple banks, I use a proxy service that is connected to multiple banks with private network and provides translation between different bank protocols. So I don't need to make a method for each bank but need a circuit breaker per bank.

[2019-03-14 12:07] RobWin commented on #360
The Proxy decides based on the bankCode parameter which bank protocol adapter should be used? Is every bank-specific adapter implemented in a different class/component? Could you add the `@CircuitBreaker` annotation to the bank-specific class/component?

[2019-03-14 12:28] lespinsideg commented on #360
The proxy is not in my system. It is a paid service and is the only way that I can transfer money to bank account. So I don't have any bank-specific methods or classes.

[2019-03-14 12:38] RobWin commented on #360
Ok, I see your point.
The idea with a `@Name parameter is interesting`, but seems to be an edge case.
Your solution could be to inject the `CircuitBreakerRegistry`.
Then in your method:

[code]

[2019-03-14 12:55] lespinsideg commented on #360
I am using similar code you suggested. I was wondering whether I can handle it with CircuitBreakerAspect. If you think it is an edge case, I will consider to write own my aspect and annotation in my system. Thank you :)

[2019-03-14 12:57] RobWin commented on #360
You are welcome

[2019-03-14 12:57] #360 closed

[2019-03-14 13:40] Romeh commented on #301
@danielimre  i guess this will be covered by https://github.com/resilience4j/resilience4j/pull/356

[2019-03-14 14:13] leonard84 commented on #354
`resilience4j_circuitbreaker_buffered_calls_max` is that value based on a config? If that is the case we might name it accordingly, e.g. `tomcat_threads_config_max_threads`, to make it clear that it is not an observation but a constant value.

[2019-03-14 14:18] RobWin commented on #354
Yes it's the max ring buffer value based on a config

[2019-03-14 15:25] leonard84 opened #361 "CircuitBreaker does not prevent execution of upstream Mono if flatMap is used"
### Expected behavior
Both tests `simple`, `withMap`, and `withFlatMap` behave the same.

### Actual behavior
In `simple` and `withMap` `getNext()` is called twice (as expected) and `withFlatMap` `getNext()` is called four times.

Log for `simple`/`withMap` test
[code]

Log for `withFlatMap` test
[code]

### Steps to reproduce
[code]
### Versions
* resilience4j 0.13.2
* reactor: 3.2.6.Final

Possi

[2019-03-15 10:24] RobWin commented on #361
Thx. I have a look at it

[2019-03-15 10:41] RobWin commented on #361
I have to investigate `MonoFlatMap.subscribe`.

[2019-03-15 10:45] RobWin commented on #361
Seems `MonoFlatMap.subscribe` -> `FluxFlatMap.trySubscribeScalarMap` directly calls the `Callable`

[2019-03-15 10:50] RobWin commented on #361
Whereas `MonoMapFuseable.subscribe` and `MonoCallable.subscribe` just subscribes our `CircuitBreakerSubscriber`

[2019-03-15 10:51] RobWin commented on #361
Not sure if it's a feature or a bug in `MonoFlatMap` :/

[2019-03-15 11:00] leonard84 commented on #361
Yeah it goes down the rabbit hole. There is another issue with https://github.com/reactor/reactor-core/issues/1559 which won't be fixed and has an non intuitive workaround.  I'm not sure if calling `subscribe()` upstream before checking the `acquireCallPermit()` is the best way to go forward, some implementations already perform actions if `subscribe()` is called and don't care about a cancellatio

[2019-03-15 11:06] RobWin commented on #361
I've updated my comment above which should make it more clear.

[2019-03-15 11:40] RobWin commented on #361
Do you have an example of such an operator which performs actions when subscribe is called?

[2019-03-15 12:40] leonard84 commented on #361
Well you run into problems if you are adapting non-reactive APIs to reactor.

First we tried

`Mono.fromCompletionStage(webTarget.request().rx().get())`

but that is just wrapping a hot `CompletionStage` into a Mono, next we tried

`Mono.defer( () -> Mono.fromCompletionStage(webTarget.request().rx().get()))`

but that didn't work as well, since the supplier is invoked in `subscribe` which triggers

[2019-03-15 16:53] leonard84 commented on #343
I also assumed, that `HALF_OPEN` would work with a reduced number of permitted calls instead of behaving like `OPEN` with a potentially smaller buffer size.

[2019-03-15 17:09] RobWin commented on #343
Like `CLOSED` with a smaller buffer size.

[2019-03-16 08:43] dharmeshjogadia commented on #196
Hi @storozhukBM

When can we expect `0.14.0-SNAPSHOT` release? I'd like to experiment with my services.
thanks.

[2019-03-18 09:27] #349 closed

[2019-03-19 13:05] davidkarlsen commented on #348
@RobWin should this be closed now? Is there anything else missing?

[2019-03-20 13:38] RobWin commented on #348
@davidkarlsen Did you have time to check if the SNAPSHOT version is working for you or is anything missing?

[2019-03-20 14:17] davidkarlsen commented on #348
I never tested it but can give it a spin. Do you push out snapshots anywhere?

[2019-03-20 14:32] RobWin commented on #348
Yes, http://resilience4j.github.io/resilience4j/#_gradle

[2019-03-21 09:38] bjab commented on #295
For me issue is, that `EndpointAutoConfiguration` is called before `CircuitBreakerAutoConfiguration`, so `healthIndicators` does know nothing about circuit breakers health indicators.
I had to define dependency myself:
`@Configuration
public class ResilienceDependsOnBeanFactoryPostProcessor implements BeanFactoryPostProcessor {

    @Override
    public void postProcessBeanFactory(ConfigurableList

[2019-03-21 12:32] bjab opened #368 "[spring-boot] CircuitBreakerAutoConfiguration is called after Health endpoint configuration"
Issue is, that `EndpointAutoConfiguration` is called before `CircuitBreakerAutoConfiguration`, so `healthIndicators` does know nothing about circuit breakers health indicators.
I had to define dependency myself (see https://stackoverflow.com/a/31708034/344141):

[code]

Spring boot 1.5
resilience4j 0.13.2

_Originally posted by @bjab in https://github.com/resilience4j/resilience4j/issues/295#issue

[2019-03-21 12:39] RobWin commented on #368
Hi thx.
Thanks strange, because it works with Spring Boot 2. There is a test which verifies it.

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring-boot2/src/test/java/io/github/resilience4j/circuitbreaker/CircuitBreakerAutoConfigurationTest.java#L105

But indeed a Spring Boot 1 test is missing:

https://github.com/resilience4j/resilience4j/blob/master/resilience4j-spring

[2019-03-21 12:43] RobWin commented on #368
I think we have to add a `@AutoConfigureBefore(EndpointAutoConfiguration .class)` to `CircuitBreakerAutoConfiguration`.
Woud you like to create a PR and a test?

[2019-03-21 12:55] dannycohn commented on #348
I'd like to try out the snapshot to evaluate retry annotations. I don't see a recent snapshot in the snapshot repo.  Am I missing something?

[2019-03-21 12:59] RobWin commented on #348
No you are right. I've to check it.

[2019-03-21 13:08] dannycohn commented on #348
Thanks @RobWin. Looking forward to trying it out. We're getting ready to implement resilience4j. Do you have any guess on when you might issue a release? I'm wondering if I'lll have to go fight to get approval to use a SNAPSHOT or if  you'll have a release before we start integration on our end.

[2019-03-21 14:52] RobWin commented on #348
It's working again.
Please see: https://oss.jfrog.org/artifactory/oss-snapshot-local/io/github/resilience4j/resilience4j-spring-boot2/0.14.0-SNAPSHOT/

[2019-03-21 20:37] jwcarman commented on #350
In lieu of some form of shared state for your rate limiters, what is the suggested approach for implementing rate limiting in an elastic/cloud environment?  Using a single load balancer or proxy would create a single point of failure, so I don't think that's going to work for a lot of use cases.

[2019-03-21 21:20] RobWin commented on #350
There is no answer for the implementation if our current rate limiter.
But a better solution than rate limiters with a shared statr could be adaptive capacity management.
See https://github.com/resilience4j/resilience4j/issues/201 and please have a look at the awesome talk.

[2019-03-21 21:22] RobWin commented on #201
Can we progress with this?

[2019-03-22 02:21] Fiazz commented on #348
Thanks @Robwin. Will try it out.

[2019-03-22 09:21] #241 closed

[2019-03-22 09:25] #196 closed

[2019-03-22 09:26] #345 closed

[2019-03-22 09:27] #344 closed

[2019-03-22 09:27] #351 closed

[2019-03-22 09:28] #359 closed

[2019-03-22 09:29] #338 closed

[2019-03-22 09:30] RobWin commented on #348
I can release 0.14.0 as soon as it is working for you as expected.

[2019-03-22 09:40] RobWin commented on #368
Would you like to test the 0.14.0-SNAPSHOT version to check if your issue is fixed?

[2019-03-22 09:40] #352 closed

[2019-03-22 09:41] RobWin commented on #352
Closed as it is a duplicate

[2019-03-22 09:41] #329 closed

[2019-03-22 09:42] RobWin commented on #325
Any progress? :)

[2019-03-22 09:44] RobWin commented on #322
Any progress on this issue?

[2019-03-22 09:45] RobWin commented on #321
Did it work for you? Can I close the issue?

[2019-03-22 11:30] RobWin commented on #201
I think the multiplicative-decrease factor and additive-increase value should also be configurable.

[2019-03-22 11:36] RobWin commented on #201
AIMD requires a signal of congestion. Most frequently, response time outs or bad response times serves as the signal.
Do you think it also makes to check the content of successful responses if the server signals that the client should back off?

[2019-03-22 12:17] RobWin commented on #305
We are currently refactoring it so that it is easer using Prometheus.

[2019-03-22 12:17] #324 closed

[2019-03-22 12:35] gmariotti commented on #322
Hi @RobWin, my MR is still blocked by the Gradle version, that is why I didn't do any more work on it

[2019-03-22 12:38] RobWin commented on #322
I think we should try to update gradle and all of this plugins.
I think the last time I tried it, I just had troubles with `gradle-git` which we use to deploy to GitHub Pages.
We should be able to fix it.

[2019-03-22 12:40] RobWin commented on #322
I give gradle  5.3 a try.

[2019-03-22 12:44] gmariotti commented on #322
5.3 might be too new for some plugins, if it doesn't work, 4.10.3 might be a good enough starting point